[2020-08-04 06:44] prp commented on #713
@jxyang do you get an error message, or is the file `/testt.txt` just missing? Is the file system unmounted cleanly? Does adding `fflush` make a difference? Is this a regression introduced by #697?

[2020-08-04 09:04] hukoyu commented on #715
@shaikshavali1  can you investigate this and add your finding here.

[2020-08-04 09:09] hukoyu commented on #715
@prp here is the test run history of fallocate05 test.
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=28158&resultId=100077&contributionId=ms.vss-test-web.test-result-history&_a=contribution

fallocate05 test was enabled 7 days ago with this PR https://github.com/lsds/sgx-lkl/pull/675

[2020-08-04 09:15] wintersteiger commented on #210
I think so, yes. I'm not sure what the SGX limit is and what happens if someone tries to run with more than that.

[2020-08-04 09:20] prp commented on #210
OE has a hard limit of 32 TCS (see [here](https://github.com/openenclave/openenclave/blob/0199244b6b7340d2cfb4af02990542f514e72cdc/include/openenclave/bits/sgx/sgxproperties.h#L29)). I'm closing this issue, as increasing the default OE limit is not an SGX-LKL issue.

[2020-08-04 09:20] #210 closed, assigned to nobody

[2020-08-04 09:43] wintersteiger commented on #714
This number is part of the attested config, i.e. it can't possibly depend on the host, because that would be unpredictable for anyone who wants to verify a quote later. I don't think we need a default that is in any way optimal; users can easily change this (in the config), so IMHO the default of 1 is perfectly fine.

I don't think it's a requirement for the host to actually start up exactly as ma

[2020-08-04 09:58] prp commented on #714
I think that a default of 1 is a bad idea, as most users will leave this unchanged, and then be surprised that the performance of their application is very poor.

As long as a user understands about the host environment where their SGX-LKL instance runs, they will know what the number of CPU cores is. This would mean that they can predict the enclave_config. If a user is uncomfortable with that, t

[2020-08-04 10:37] wintersteiger commented on #714
If a user doesn't understand that their application is multi-threaded... :-)

They may not know what type of VM their container is launched on, especially when their containers are launched as part of higher level workflows. I think it's best to always have them fix a number that works for them.

You read my statement back to front. We can fix the number of TCSs to a large number, but have the hos

[2020-08-04 10:41] SeanTAllen commented on #179
Closed by #710.

[2020-08-04 10:41] #179 closed, assigned to nobody

[2020-08-04 11:13] davidchisnall commented on #297
Note: The title of this issue is incorrect.  `access_ok` returns a boolean value: 0 for failure, non-zero (1 by convention) for failure.

[2020-08-04 12:02] prp commented on #714
I don't think that there is a way around this: if a user wants to have good performance, and they want the number of ethreads to be an attested setting, they need to know the VM type that they will run on.

Ok, but this means that the number of ethreads is no longer an attested setting? Since it determines the actual concurrency inside the enclave, this would come with security implications.

We s

[2020-08-04 12:10] wintersteiger commented on #714
Yes, that's right, num_tcs would be an upper bound (currently num_tcs == num_ethreads).

Actually, do we want the number of ethreads be an attested setting? This depends entirely on the malicious host and they can start as little or many ethreads they want. We don't have any way to enforce that in the enclave, do we?

[2020-08-04 12:28] SeanTAllen commented on #236
This also fails for user `operator`.

[2020-08-04 12:46] prp commented on #714
I think that we can check the number of ethreads, as they all need to enter the enclave at the start. Since each should occupy a separate TCS, the enclave can distinguish them and fail if it doesn't get the expected number. Obviously the enclave cannot check if they are executing concurrently, but it gets an upper bound on the level of concurrency that is possible.

I am worried about attacks in w

[2020-08-04 12:51] SeanTAllen commented on #236
perms look like 777 on /tmp

yet I have to be root to not get a EACCES error when I try to stat /tmp.

S_IR*
S_IW*
S_IX*

are all set for USR, GRP, OTH when I examine st_mode.

uid: 0 grp: 0 on /tmp

[2020-08-04 12:54] prp commented on #236
How do you change the user? Are you sure that this is happening correctly?

[2020-08-04 12:56] SeanTAllen commented on #236
user nobody with id of 65534 is found.

[2020-08-04 12:57] wintersteiger commented on #714
That's a good idea, we could use that upper bound to enforce the maximum (num_tcs).

What would happen if multiple malicious host-threads share one TCS so that the enclave can't detect them? Is there any way for them to trigger enclave behavior that a single thread can't trigger?

[2020-08-04 12:59] SeanTAllen commented on #236
@prp this is the code and it isn't triggering the failure:

[code]

[2020-08-04 13:46] shaikshavali1 commented on #715
@prp

**Summary**:
1.tst_fill_fs() created 14 files in the error scenario.
2.cleanup() delete a fixed number of files i.e., 13 files. Hence, one file has still remained in the "mntpoint".

**Analysis in detail:**
I tried to reproduce the issue locally but the issue is not reproduced.
**Observation**:
This test case invokes "tst_fill_fs"  which creates 'n' number of files with random size to fill e

[2020-08-04 13:51] SeanTAllen commented on #236
The tests pass if you set "/" to 777. currently, it is set to 700.

[2020-08-04 14:03] davidchisnall commented on #236
What are the permissions on the /tmp mountpoint directory before the tmp filesystem is mounted?

[2020-08-04 14:37] SeanTAllen commented on #236
A large amount of things that would be 0755 on a "normal" linux install are 0700 with sgx-lkl. I'm not sure the reasoning there, but its the cause of our nobody test failures.

The minimum that / needs to be for non-root users to have access to "/tmp" is 0755.

[2020-08-04 14:38] SeanTAllen commented on #236
@prp any idea why we are mounting / as 0700?

[2020-08-04 16:10] jxyang commented on #713
There is a crash, caused likely by line `fprintf(f, "tttttt\n");`. In addition, "helloworld.txt" is not updated in spite of line `fprintf(f, "blah.....");`.

[2020-08-04 16:43] prp commented on #236
That is a good question.

[2020-08-04 17:35] SeanTAllen commented on #236
@prp this fix for this issue is to change to 755. I don't know of any harm from that. Although there might be.

Would you be in favor of switching?

[2020-08-04 22:03] prp commented on #686
@davidchisnall @vtikoo What I observe is that when `thread_destroy_host()` is called, the thread that is being destroyed (tid=47 in this run) still shows enclave futex calls (see below). A futex_wait() will then add deallocated memory to the futex queue, which eventually leads to a cycle in the queue when the memory is allocated again. This causes the hang when the lthread scheduler traverses the

[2020-08-04 22:10] vtikoo commented on #184
I had attempted to do this in #403 , but that caused the environment parsing in `lkl_start_init` to fail. Around here - https://github.com/lsds/sgx-lkl/blob/oe_port/src/lkl/setup.c#L1375

[2020-08-04 22:15] mikbras commented on #98
The cryptsetup dependency has been removed and replaced with vicsetup.

See https://github.com/lsds/sgx-lkl/pull/697 for details.

[2020-08-04 22:15] #98 closed, assigned to mikbras

[2020-08-04 22:51] vtikoo commented on #686
@prp David had mentioned a similar issue, where its possible that the [LKL scheduler can call sem down on an exited process](https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/threads.c#L175). That may be the source of the futex wait on deallocated memory.

[2020-08-05 06:24] prp commented on #686
Here is a trace with LKL_DEBUG that shows the `sem_down()` call after `thread_destroy_host()`:
[code]

So the bug is caused by how `thread_destroy_host()` is invoked [here](https://github.com/lsds/lkl/blob/698c97c0e6331350d0976043c6e0d17a5621ed84/arch/lkl/kernel/threads.c#L82) and the fact that `__switch_to` then still calls `sem_down()`.

@davidchisnall, since you wrote this code as part of the `

[2020-08-05 06:31] prp commented on #198
Since I cannot reproduce this issue and #686 seems to be caused by a new code path specific to the clone support, I am closing this issue. Let's reopen it if we encounter this again.

[2020-08-05 06:31] #198 closed, assigned to prp, vtikoo

[2020-08-05 07:11] davidchisnall commented on #184
This getenv calls are a bit unfortunate. They shouldn’t actually be getenv calls at all, they should be querying flags in the confit structure, which should be set from environment variables outside. We shouldn’t be passing the SGX-LKL control environment variables to userspace at all.

[2020-08-05 07:29] davidchisnall commented on #686
I did some debugging of this yesterday and we discussed it in the planning meeting. #719 adds use after free checking that can trigger this reliably.

[2020-08-05 07:33] prp commented on #686
I can trigger this reliably as above by running the clone test from [here](https://github.com/lsds/sgx-lkl/issues/686#issue-667553809) on my machine.

[2020-08-05 07:59] davidchisnall commented on #686
The checking in that pr causes the crash to happen on the first use after free, not at some point in the future.  The root cause appears to be related to rescheduling the dead task here:

https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/threads.c#L219

[2020-08-05 12:36] SeanTAllen commented on #236
@hukoyu I have a fix for this. Where can I find all the tests that were modified to work around this? I want to have those changes be part of the PR.

[2020-08-05 15:36] SeanTAllen commented on #236
These are the changes that were made to ltp related to this issue:

https://github.com/lsds/ltp/issues/14

[2020-08-05 16:38] prp commented on #598
I presume that this was closed by accident?

[2020-08-05 18:06] #236 closed, assigned to SeanTAllen

[2020-08-05 18:28] #686 closed, assigned to SeanTAllen, prp, vtikoo

[2020-08-05 20:50] prp commented on #531
I've reactivated the tests in #728. If this passes, we can close this issue.

[2020-08-05 23:27] paulcallen commented on #559
@prp
Here is a call stack of this failing
[code]

[2020-08-05 23:56] paulcallen opened #730 "sgxlkl_print_backtrace is calling wrong deallocator for freeing symbols"
`sgxlkl_print_backtrace` is calling `oe_free` to deallocate symbols. This is wrong. It should be calling `oe_backtrace_symbols_free`. This function does not call oe_free, rather `oe_allocator_free`, but we should use `oe_backtrace_symbols_free` anyway incase implementation changes.
This sometimes causes ltreads to not get dumped when a panic in sgx-lkl happens in the test pipeline so we do not get

[2020-08-06 00:25] jxyang commented on #714
We have done threat analysis on TCS on OE side. There wasn't clear conclusion on how a malicious host could exploit that, with D.o.S. out of scope.

I'd prefer not to have num_tcs in the attested settings. It's hard for me to see how changing the tcs# could make the enclave application more or less secure.

[2020-08-06 01:21] Arslan8 opened #732 "Segfault and PANIC inside LKL Enclave"
Hi,
While doing genration based fuzzing on existing SGX programs, we found that SGX-LKL encalve does not do proper checking on the following fields:

- #0  0x00007fe0005c93d2 in lkl_virtio_console_add (console=0x0)
- args->shm->enc_dev_config
- args->shm->timer_dev_mem
- args->shm->virtio_blk_dev_mem
- args->shm->virtio_blk_dev_names
- args->shm->env
- args->shm->virtio_swiotlb

The fuzzer works o

[2020-08-06 09:06] prp commented on #531
Fixed by #697 (see #728).

[2020-08-06 09:06] #531 closed, assigned to mikbras

[2020-08-06 10:18] prp opened #733 "Segfault during SGX-LKL shutdown"
I observed the following failure during a CI run of `kernel-syscalls-mmap-mmap11-(nonrelease)-(run-hw)-(8-ethreads)`:
[code]
This happens to one of the ethreads, after 6 of the 8 ethreads have already exited the enclave. Note that the signal handler cannot retrieve the tid anymore.

I suspect that the test here is irrelevant, and this is rather a rare race condition/memory corruption during shutdo

[2020-08-06 11:48] SeanTAllen commented on #733
perhaps of interest. the draft PR for setting PROT_NONE when unmapping memory causes a large number of core and ltp tests to fail on shutdown. Might be related: https://github.com/lsds/sgx-lkl/pull/720

https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1705&view=results

[2020-08-06 12:15] prp commented on #733
Interesting. All of the segfaults for #720 happen in SW mode. Do you have a gdb stack trace of the segfaults in #720? It may be easy to fix.

[2020-08-06 12:20] SeanTAllen commented on #733
Here's one:

[code]

I'm checking to see if other tests look similar.

[2020-08-06 12:22] SeanTAllen commented on #733
@prp I checked the stack trace for 8 different failing LTP tests. They are all the same.

[2020-08-06 12:26] SeanTAllen commented on #733
My guess @prp from looking at a little code is that we have this in console_task:

[code]

and I suspect that after the shutdown check, we are starting the shutdown while we are trying to still use the queue. But I don't know this part of the code at all, so that is pure conjecture at this point. I believe you are more familiar with the virtio code and its interactions.

Do you have any insights?

[2020-08-06 12:29] prp commented on #733
I think you're right. By the way, this appears a duplicate of https://github.com/lsds/sgx-lkl/issues/158.

[2020-08-06 14:03] vamsikrishna935 opened #734 "[Tests] fallocate system call is failing on /tmp filesystem."
Testcase : fallocate01

Logs:
[code]

[2020-08-06 15:25] vamsikrishna935 opened #736 "[Tests] /tmp filesystem does not have xattr or user xattr support"
Testcase: lgetxattr02
[code]

[2020-08-06 15:48] shaikshavali1 opened #737 "mprotect system call not setting the errno if it fails"
Original Test case:
The original test case performs below operation.
 sub-test1: Invoke mprotect() with an address of 0. Check if error is set to ENOMEM.
 sub-test2: Invoke mprotect() with an address that is not a multiple of PAGESIZE.  EINVAL
 sub-test3: Mmap a file with only read permission (PROT_READ). Try to set write permission (PROT_WRITE) using mprotect(2). Check that error is set to EACCES

[2020-08-06 15:52] #730 closed, assigned to paulcallen

[2020-08-06 16:40] SeanTAllen commented on #733
Here's another that might be related:

https://dev.azure.com/sgx-lkl/ff25f828-9f87-48e4-94f0-7449609f7e8f/_apis/build/builds/1723/logs/148

during 'report/TEST-basic-global_vars_test-(nonrelease)-(run-hw)-(8-ethreads)-junit.xml'

[code]

[2020-08-06 16:58] paulcallen commented on #714
personally I think the default should be the same as the number of CPUs on the machine. However if this is part of the attestation and so running on machines with different number of cores then I can understand. Personally if a user added it to configuration I would think that should be part of attestation. If it is not added to the configuration then we should default ethreads=cpus and it should

[2020-08-06 18:10] paulcallen commented on #500
I believe this should be a p2 as it causes us to miss a number of tests and we cannot triage the individual tests to determine if they are important or not

[2020-08-06 18:25] paulcallen commented on #736
@prp has suggested we may not want to support this attribute on /tmp. Needs a triage discussion to determine if this is a by-design or P2/P3

[2020-08-06 21:12] paulcallen opened #740 "SIGSEGV: running basic/clone looping with 2 ethreads and OE debug allocator"
I enabled OE debug allocator  (-DUSE_DEBUG_MALLOC=ON) for building OE
Running on 4-core ACC VM with 2 ETHREADS
Running test tests/basic/clone with command `sudo make DEBUG=1 run-hw-gdb-clone-loop`
Crash is here:
[code]
All threads:
[code]

cannot include full log as it is too big!

[2020-08-07 07:55] vtikoo opened #742 "Buffer copying in linux mount code makes assumptions about heap layout"
In copying mount options [here](https://github.com/lsds/lkl/blob/upstream-refactor/fs/namespace.c#L2998-L3001), irrespective of the size of the source buffer, page size bytes are being copied. While this probably silently passes, the code is not accounting for the source buffer being < page size away from the end of enclave mmap region.

One instance of this overflow happening is in mounting overl

[2020-08-07 11:29] SeanTAllen commented on #224
This might be the same issue as #236. I'm checking now.

[2020-08-07 12:05] SeanTAllen commented on #224
This is fixed. It was fixed by #723.

[2020-08-07 12:36] SeanTAllen commented on #734
I believe this error is that fallocate doesn't work on the given filesystem, but it should work on tmpfs as of Linux 3.5.

I wonder if LKL is lacking such support for tmpfs.

[2020-08-07 12:50] wintersteiger opened #745 "Review use of shared memory"
All code that depends on the memory shared between host and enclave needs to be reviewed thoroughly. There were no checks to ensure shared memory regions reside outside of enclave memory. Since a malicious host can change the content of the shared memory at any time, we need to guard every access to shared memory regions to make sure the host doesn't trick the enclave into modifying its state with

[2020-08-07 13:07] KenGordon commented on #709
This is a catch all issue for things to do with signals.

See also

https://github.com/lsds/sgx-lkl/issues/680 Incomplete/unsafe signal handling with SGX1
https://github.com/lsds/sgx-lkl/issues/644 Signals not delivered to correct thread
https://github.com/lsds/sgx-lkl/issues/700 [TEST]: Signal mask is unset for the signal during its handler execution (maybe a dup of 644)
https://github.com/lsds/s

[2020-08-07 13:18] SeanTAllen commented on #224
PR opened to close this issue: https://github.com/lsds/sgx-lkl/pull/744

[2020-08-07 15:09] prp commented on #745
We should also avoid using `args->shm->env` and instead copy the environment variables referenced in the enclave_config explicitly.

[2020-08-07 15:13] bodzhang opened #747 "lthread _switch() only save/restore general purpose registers"
lthread [_switch()](https://github.com/lsds/sgx-lkl/blob/12fd34de68b88eefd16d27c9f07f7bcd89d89e65/src/sched/lthread.c#L103) does not save/restore FP, SSE or other CPU context. If the multiple lthreads running use FP, SSE or other advanced feature set instructions, the context switch between lthreads might corrupt the CPU context.

It's known that many crypto implementations use SSE or other advanc

[2020-08-07 16:09] paulcallen commented on #742
This sounds like an important issue

[2020-08-07 16:13] bodzhang commented on #732
This issue has security implication. Proposed to assign P1.

[2020-08-07 17:38] wintersteiger commented on #745
@prp all variables are copied to make sure they are in enclave memory and the host can't change them after initialization. We can't rely on the host giving us just the variables we're interested in. We could do the filtering currently done in `_prepare_elf_stack` into `_copy_shared_memory` though.

[2020-08-07 19:23] prp opened #748 "pthread_join test hangs occasionally"
A CI run of `basic-pthread_join-(debug)-(run-hw)-(8-ethreads)` led to the following hanging behaviour in the middle of the test:
[code]

[2020-08-07 19:28] prp commented on #742
@vtikoo Good catch! Would pre-allocating a page to maintain the current memory layout be a quick workaround and unblock your work?

[2020-08-07 19:36] vtikoo commented on #742
@prp Yup that does unblock - https://github.com/vtikoo/sgx-lkl/commit/1d6f5b8f080f152860a45d2e6778e0f465790476. Are there any other options to fix the root cause?

[2020-08-08 02:14] vtikoo commented on #742
@bodzhang @paulcallen  I'm not sure if this is a p0. To be clear this is not breaking any testcases in `oe_port`. But there is a hidden assumption in the code that the stack of the first lthread will be placed > 1 page size away from the end of enclave heap. This assumption when not true breaks overlayfs mounting.
This assumption was broken by changes introduced in #403, and there is a workaround

[2020-08-08 03:22] douglasmaciver commented on #732
@Arslan8 Kudos to you and those involved. This is good work. Please keep it up.

[2020-08-08 10:43] prp commented on #742
Hmm, isn't the problem here how we set `TASK_SIZE`? We should ensure that userspace cannot spill out of a safe enclave range. TASK_SIZE is a static setting though: https://github.com/lsds/lkl/blob/9cccce7f63fb1272949707c011e8419b8e0a96af/arch/lkl/include/asm/processor.h#L52

Perhaps we need an invariant where all of our userspace allocations are at least one page away form an unsafe boundary.

[2020-08-08 11:05] davidchisnall commented on #747
I don’t believe this is a bug. The lthread switch routine is a cooperative switch and so needs only to preserve callee-save registers. In the SysV psABI For x86-64, all floating-point and vector register are caller-save. The x87 CW register may need saving.

[2020-08-08 11:14] davidchisnall commented on #740
The cancelbuf field is gone from the lthread structure in the cleaned up layering. This may be a UAF of something allocated with the oe malloc allocator (so something aliases the lthread), or it may be a bug in code that is about to be deleted.

[2020-08-08 21:07] prp commented on #748
Here is a captured stack trace with PR #751:
[code]

[2020-08-08 22:17] vtikoo commented on #748
This is really helpful @prp!

Most kernel threads seem to be sleeping and the main thread `tid=1` has joined on the child thread.

The child thread's stacktrace seems interesting though -
[code]

[2020-08-09 02:03] vtikoo commented on #748
There is a potential deadlock situation in acquiring `_lthread_lock` in[ `lthread_join`](https://github.com/lsds/sgx-lkl/blob/oe_port/src/sched/lthread.c#L889) (main thread) and, in [_exec](https://github.com/lsds/sgx-lkl/blob/oe_port/src/sched/lthread.c#L183) (child thread).

If the main thread joins on the child and acquires its lock, the child lthread on finishing its function will not be able

[2020-08-09 09:21] prp commented on #748
@vtikoo Isn't the problem that we're not releasing the `lt` lock after `_exec` has run? Normally we would release the lock atomically by providing a callback when returning control to the scheduler.

[2020-08-09 10:24] prp commented on #748
Hmm, no, that seems fine.

[2020-08-09 17:06] prp commented on #748
Ok, it seems that the parent thread is not acquiring the lthread lock when it's destroying the child thread. The child thread may therefore still be exiting concurrently on another ethread. I'm testing a fix and so far had 1000 successful runs of the pthread_join test.

[2020-08-09 20:09] prp commented on #371
I think that there are two cases when `lkl_trigger_irq()` fails:
1. something else has the CPU lock -- in that case, it will mark the IRQ as pending, and it will be handled when the CPU lock is released;
2. LKL is shutting down -- in that case, the IRQ may never be handled.

It seems to me that the right thing should happen for (1) without any action in the virtio layer.

For (2), we need to ensur

[2020-08-09 20:15] prp commented on #559
@SeanTAllen as part of your timer work, did you come across anything in this call sequence?
[code]
It seems that something is re-enabling interrupts here, which makes `irq_work_run_list()` blow up.

[2020-08-09 20:24] SeanTAllen commented on #559
@prp nope. That's all new to me.

[2020-08-10 10:32] prp opened #754 "File systems unmounted using MNT_DETACH may become inconsistent"
We currently unmount the root file system using the `MNT_DETACH` option, otherwise we sometimes observe hanging behaviour (despite the timeout): https://github.com/lsds/sgx-lkl/blob/a1fb63f406557cb02123682efaa48d78018a3421/src/lkl/setup.c#L1276

We should check that this always cleanly unmounts the file systems and does not lead to data loss. It also not clear that the code correctly unmounts the

[2020-08-10 10:37] #748 closed, assigned to nobody

[2020-08-10 10:50] #224 closed, assigned to nobody

[2020-08-10 13:22] SeanTAllen commented on #559
@prp have you found anything to "consistently" trigger this?

[2020-08-10 13:23] davidchisnall commented on #303
@AntonioND, has done some testing and it appears that OE preserves these registers, they are just not copied to and from LKL, so aren't visible in the signal handler.  This is a problem for things driving userspace threading from synchronous signals and for anything wanting to report useful things about divide-by-zero exceptions, but that's about it.

[2020-08-10 13:24] prp commented on #559
@SeanTAllen no, this is rare, and I haven't seen it in a while...

[2020-08-10 13:42] SeanTAllen commented on #151
Updated to reflect changes from #604 and associated work.

[2020-08-10 13:58] AntonioND commented on #303
The test is here: https://github.com/AntonioND/sgx-lkl/blob/0aed3aa33101632ddf40634559c9b1ec9ba9db1b/tests/basic/signal_cpu_ctx/signal_cpu_ctx.c in branch [an/ctx](https://github.com/AntonioND/sgx-lkl/tree/an/ctx) in my fork of sgx-lkl.

It writes some values to MMX and SSE registers and reads from a NULL pointer to generate an exception. During the handler it writes other values to the registers.

[2020-08-10 15:22] SeanTAllen commented on #374
Based on reading docs in `virtio_dev_ops` struct...

[code]

We want to return a negative value (nothing is indicated so for now, I will go with -1 otherwise 0 for success).

The warning in the code seems pointless to me. I'm not sure of the utility.

I propose:

return values:

* -1 as return value indicating an error
* 0 for sucess

Also:

* writev should also be verifying that EINTR didn't happ

[2020-08-10 15:52] davidchisnall commented on #747
The SSE2 CSW also probably needs saving / restoring.

[2020-08-10 16:05] paulcallen commented on #754
do we know if any tests hit this issue?
Does it need to be fixed by September? I am assuming not.

[2020-08-10 16:42] davidchisnall commented on #374
Note that this is the bootstrap console, before we've really attaching the proper virtio console.  I don't think we care if we lose some output there.

[2020-08-10 16:47] SeanTAllen commented on #374
@davidchisnall it is? where is the "proper" one brought up?

[2020-08-10 17:19] davidchisnall commented on #374
Sorry, I was misreading the code and talking nonsense.  Ignore me.

[2020-08-10 17:44] SeanTAllen commented on #374
`virtio_process_queue` is called in a loop from `console_task` so I think we are good on that front.

[2020-08-10 17:51] SeanTAllen commented on #374
Elsewhere in the codebase we call `virtio_req_complete` on errors with a 0 for the byte-length. See `blk_enqueue` for example. So I believe it should always be called and with a 0, if we got an error.

And we are returning -1 for errors elsewhere and 0 for success (see for example `net_enqueue`)

[2020-08-10 17:59] prp commented on #374
Yes, @SeanTAllen, I think that, after a read or write error, `console_enqueue()` should not call `virtio_req_complete()` and return -1. My suspicion is that calling `virtio_req_complete()` with `len == 0` is equivalent to not calling it at all.

[2020-08-10 18:00] SeanTAllen commented on #374
@prp given we call it with 0 elsewhere for error, I'd feel more comfortable doing the same here. Are you ok with that?

[2020-08-10 23:40] paulcallen commented on #740
I am hitting this with every run right now of the clone-loop test

[2020-08-11 05:21] shaikshavali1 opened #760 "writev() system call causing segmentation fault with invalid vector"
**Original Test case writev02:**
The file is created and write() is called with valid buffer to write
at some 8k th offset. After that writev() will be called with invalid
vector. This should return EFAULT. And at the same time, try looking at
the 8kth offset whether the file is intact or not.

**Problem:** if invalid vector is passed to the writev syscall expected to return EFAULT. But it is caus

[2020-08-11 08:03] davidchisnall commented on #740
Are you running with lthread UAF checks enabled?

[2020-08-11 08:29] davidchisnall commented on #760
What is the invalid address? Is it inside the enclave? Until we are using LKL’s mmap, we have a very conservative response to access ok and will allow any access inside the enclave, even to kernel memory.

[2020-08-11 08:32] davidchisnall commented on #742
Would simply removing a page from the set enclave mmap can return work?

[2020-08-11 08:47] davidchisnall commented on #371
The try get lock call is confusing. This function returns 1 on success, <1 on failure. If the return value is less than 0, we shutdown is happening and we will not set the pending flag. If we fail to acquire the cpu lock but are not shutting down, the return is 0 and we will set the pending flag, hopefully then the right thing happens. If we do acquire the cpu lock, nothing happens, which confuses

[2020-08-11 08:58] davidchisnall commented on #209
Also part of #709

[2020-08-11 09:04] prp commented on #371
I don't understand. When `lkl_cpu_try_run_irq()` returns 1, it will execute the IRQs here: https://github.com/lsds/lkl/blob/73637e73a994005322e0d6b8909b25850d9caa1c/arch/lkl/kernel/irq.c#L98

[2020-08-11 09:36] davidchisnall commented on #371
Ah, sorry, I was only looking at the code in cpu.c.  That makes sense  - in that case I think it's fine to ignore errors for `lkl_trigger_irq`: as you said, this will only ever happen during shutdown and there's no correct handling for trying to deliver an IRQ to a kernel that's shutting down.

Looking at that code; however, I am concerned that we are holding a ticket lock while calling `lkl_trigg

[2020-08-11 09:59] davidchisnall commented on #371
The ticket lock issue is probably benign because it looks as if only one thread can ever attempt to acquire that lock, which then makes me wonder why we have the lock at all.  I think the goal of the lock is make the updates to the IRQ pending bit atomic.  Unfortunately, this seems to be assuming that this bit is updated only when the lock is held: when LKL clears the bit, that lock is not held an

[2020-08-11 10:58] davidchisnall commented on #371
#762 cleans up this code.  I propose closing this issue because there is nothing useful that we can do with this return value.

[2020-08-11 11:07] davidchisnall commented on #760
Okay, looking at the code, I understand this a bit better:

 - The test allocates a page with `PROT_NONE`
 - The writev call is called with a  pointer to this page.
 - LKL tries to read from it and receives a trap.

This is precisely expected with the current code.  The enclave_mmap implementation does not track page permissions (which causes some other issues as well) and so we can't usefully ret

[2020-08-11 11:13] SeanTAllen commented on #760
To add on, I think that fixing anything "largish" that isn't horribly broken in enclave_mmap would be time better spent on making #597 happen.

[2020-08-11 11:21] SeanTAllen commented on #191
This now has a higher priority than #190, that seems wrong. @prp @davidchisnall this is dependent on #190, yes?

[2020-08-11 11:41] prp commented on #191
This issue is about performance. #190 may be contributing to it, but I doubt that it is a major factor. Since we don't have evidence about how severe a performance issue this is, I would propose to make this P2.

[2020-08-11 11:42] SeanTAllen commented on #518
@prp @davidchisnall is this a duplicate of #644? To me, it feels like this could be closed and added as a note to #644 to reenable the test.

[2020-08-11 11:46] SeanTAllen commented on #191
I've removed p1 for now, added needs-triage label and added the the Issue Triage project as a Proposed p2.

[2020-08-11 11:49] davidchisnall commented on #191
I think there are two causes of this.  One is the virtio polling the other is the fact that we don't build Linux in tickless mode.  As a result, it asks for a regular timer tick, even if it has no work to do.  This means that, when idle, we will always wake up every few ms to enter the enclave, invoke the LKL idle routine, discover we have no work to do, and exit again.

[2020-08-11 11:50] SeanTAllen commented on #556
TIL that build logs go away at some point and in the future I should download them and attach directly to the issue.

[2020-08-11 11:54] davidchisnall commented on #327
I would like to cleanly separate the provided config format from the EEID format.  The former should ideally be [UCL](https://github.com/vstakhov/libucl), the latter should be sorted, minified, JSON.  This would also address the desire to have comments, defaults, and so on in the configuration.  `ucl_object_sort_keys` can recursively sort all keys in a UCL document before generating compact JSON.

[2020-08-11 11:56] SeanTAllen commented on #556
This still happens for me.

[code]

[2020-08-11 11:57] SeanTAllen commented on #556
@prp @davidchisnall given current priorities, I think this should be reclassified as p2. Agreed? If yes, I'll do as needs triage and put through as proposed p2.

[2020-08-11 12:24] prp commented on #556
I think that this issue is caused by https://github.com/lsds/sgx-lkl/issues/680.

[2020-08-11 12:55] prp commented on #499
Thread state when curl gets stuck:
[code]
I wonder if we are simply dropping some data on the virtio netdev path.

[2020-08-11 12:58] prp commented on #754
Didn't @jxyang report that he wrote to a file in the root file system, and this wasn't persisted across SGX-LKL restarts? We should add a CI test that checks that we are persisting root file system changes correctly.

[2020-08-11 13:06] SeanTAllen commented on #754
@prp I believe you mean: https://github.com/lsds/sgx-lkl/issues/713

[2020-08-11 13:34] SeanTAllen commented on #681
As of c4885aa7127099c5f95d9a6c86c655b0d93fadb2, I can't reproduce this. However, not for good reasons.

What appears to happen for me is that everything starts off working very well and then first during PING_BULK, the request rate started dropping rapidly. It appears from redis no longer responding but as of now, that is unclear. I killed redis-benchmark and restarted it and PING_INLINE had awful

[2020-08-11 13:35] SeanTAllen commented on #644
The `tgkill` LTP should be enabled when this is fixed.

[2020-08-11 13:36] SeanTAllen commented on #518
Closing in favor of #644.

I added a note about enabling the tgkill tests as part of work on 644.

[2020-08-11 13:36] #518 closed, assigned to nobody

[2020-08-11 13:39] prp commented on #681
@SeanTAllen We may have a general issue with the network layer. I suggest to first add a simpler test in which we use something like `iperf` to send different sizes packets between two sockets and check for any loss/problems.

[2020-08-11 13:42] SeanTAllen commented on #681
@prp that sounds like a reasonable approach. I'm not going any further with this one right now. I took a few spare minutes I had to do a quick triage to see if I could reproduce.

[2020-08-11 14:28] #434 closed, assigned to SeanTAllen

[2020-08-11 15:01] bodzhang commented on #745
`virto_dev`->`virtq`->`virtq_desc` contains the address/length of the buffer chain (ring buffers).

[code]
These buffers should be outside of the enclave so the host virtio driver can access them. [_copy_shared_memory()](https://github.com/lsds/sgx-lkl/blob/d26a6559b4a4ea64cc7ae72dac9fb894bd4f0f28/src/enclave/enclave_oe.c#L256) should parse all virtio devices and make sure each device's buffer cha

[2020-08-11 15:07] #221 closed, assigned to SeanTAllen

[2020-08-11 15:57] davidchisnall commented on #745
It doesn't help to verify most of these things early because they can be modified by the time that they are used.

We can verify the config_data and config_len according to the device type and keep a copy of those inside the enclave.  LKL only [reads](https://github.com/lsds/sgx-lkl/blob/871a2ed835c5a9579ab15ccb96bb01f98c0f5593/src/lkl/virtio.c#L65) and [writes](https://github.com/lsds/sgx-lkl/blo

[2020-08-11 16:09] paulcallen commented on #740
I am. UAF, OE Debug Heap, DEBUG and LKL_DEBUG. Running on 4-core machine with 2 ETHREADS and running in the debugger

[2020-08-11 16:46] hukoyu opened #766 "LTP fchown05 failed with OE_OUT_OF_THREADS error"
This looks like a regression. It doesn't fail everytime but recording this failure.
This LTP test (fchown05) is not pacthed, original test case enabled from the beginning.

[code]
Here is the log file:
[Standard_Console_Output fchown05.log](https://github.com/lsds/sgx-lkl/files/5058234/Standard_Console_Output.fchown05.log)

[2020-08-11 16:47] hukoyu commented on #766
cc @davidchisnall  @prp @paulcallen  @mikbras  @jxyang

[2020-08-11 16:50] bodzhang commented on #745
@davidchisnall, does the host need to modify the address of the allocated buffer chains specified in `virtq_desc` after the virtio device is initialized? If host only needs to modify `virtq`->`avail` and `virtq`->`used`, `virtq_desc` content can be copied into the enclave during the initialization time.

[2020-08-11 16:56] davidchisnall commented on #745
The host doesn't need to modify the descriptors at all, but it does need to read them and SGX doesn't have a mechanism for read-only sharing and the trust model that virtio was originally designed for doesn't assume malicious devices so the kernel's drivers may trust the device to not modify them.

[2020-08-11 17:00] prp commented on #499
I ran the `iperf3` test, and it shows that eventually the network throughput collapses. This would explain some of the networking issues that we have been seeing with `redis` and `curl` talking to particular endpoints:
[code]
I also saw that the issue is worse with `iperf` using multiple parallel network connections, so it could be a concurrency problem in the virtio layer. I wonder if PR #762 fix

[2020-08-11 17:02] bodzhang commented on #745
OK, so the enclave code sets up the descriptors. Does the enclave code need to modify the descriptors after the descriptors are initialized? If not, the solution can be copying the initialized descriptors (inside enclave) to outside the enclave.

[2020-08-11 17:05] SeanTAllen commented on #371
Closing per @davidchisnall comment above. This can be reopened if there is disagreement.

[2020-08-11 17:05] #371 closed, assigned to nobody

[2020-08-11 17:15] hukoyu opened #767 "LTP tests started failing with Exception SIGSEGV (page fault) received"
Lots of LTP tests started failing with SIGSEGV (page fault) exception. This is a regression.
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1798&view=results

[code]

[2020-08-11 17:21] davidchisnall commented on #745
I don't understand the question in the context of the virtio spec.  Descriptors need to be written in the descriptor table and the pointer to them needs to be in the ring request and response.

[2020-08-11 17:24] SeanTAllen commented on #742
David, am I understanding correctly that your idea is to set mmap_end not to:

`    mmap_end = (char*)mmap_base + (mmap_num_pages - 1) * PAGE_SIZE`

but to

`    mmap_end = (char*)mmap_base + (mmap_num_pages - 2) * PAGE_SIZE;`

is that wat you mean by removing a page from the set?

[2020-08-11 17:35] daperoni commented on #681
That was the issue I saw. The request rate drops (because new requests time out) and eventually it fails or needs to be canceled. Any further requests to the server, such as those issued through redis-cli, will time out.

[2020-08-11 17:38] SeanTAllen commented on #681
Thanks for the confirmation @daperoni. That's very good to know. ^5.

[2020-08-11 17:39] bodzhang commented on #745
@davidchisnall, assuming the enclave code initializes the descriptor table and doesn't need to change it at run time, here is the design I'm thinking about:

- The enclave code initializes the address/length/flag of each buffer in the descriptor table, with the buffers outside of enclave,  keeps a version of the descriptor table inside the enclave for its own use, and copies the content of the ini

[2020-08-11 17:57] hukoyu commented on #767
@KenGordon  this looks like related to your latest changes.

cc @SeanTAllen  @prp @davidchisnall @paulcallen @jxyang

[2020-08-11 18:04] hukoyu opened #768 "LTP tests symlink03 and truncate03 fails with SIGIOT/SIGABRT"
We reverted patches for tests symlink03 and truncate03 with https://github.com/lsds/ltp/pull/51 after issue lsds/sgx-lkl#297 is fixed
with PR https://github.com/lsds/sgx-lkl/pull/727

But these two tests are still failing.

[code]

@KenGordon  can you look at that. cc @SeanTAllen

Log file:
[Standard_Console_Output truncate03.log](https://github.com/lsds/sgx-lkl/files/5058612/Standard_Console_Outp

[2020-08-11 18:08] davidchisnall commented on #745
The descriptors point to memory in the region managed by the SWIOTLB.  This is allocated in different-sized chunks depending on the request being sent.  Preallocating the descriptors would require significant changes to the virtio driver and would not provide any benefit because the virtio layer does not need to read the contents of the descriptors back (though it may as an optimisation, we need t

[2020-08-11 18:14] davidchisnall commented on #742
Yes, if that's the end that's the problem (otherwise, move mmap_base up by one page).

[2020-08-11 19:03] SeanTAllen commented on #740
@paulcallen are you actively working on this? Should I assign you to it?

[2020-08-11 19:15] SeanTAllen commented on #742
#769 opened.

[2020-08-11 19:26] prp commented on #681
@daperoni @SeanTAllen yes, I see the [same](https://github.com/lsds/sgx-lkl/issues/499#issuecomment-672091989) for `iperf`, so it seems that there is the same underlying issue. We should try if we get the same behaviour with a simple client/server socket test. This should make it easier to find the underlying cause.

[2020-08-11 19:42] prp commented on #499
Here are the LKL syscalls when iperf throughput collapses:
[code]

[2020-08-11 21:10] prp commented on #733
This may get fixed by PR https://github.com/lsds/sgx-lkl/pull/770.

[2020-08-11 21:12] prp commented on #465
Why is this P1? This should be P2 or P3.

[2020-08-11 21:14] prp commented on #442
This looks more like P2 or P3.

[2020-08-11 21:55] prp commented on #499
So it gets stuck because the `pselect` call never returns any ready file descriptors and instead always times out:
[code]
Commenting out the ethread idle calls (`sgxlkl_host_idle_ethread(sleeptime_ns)`) in the lthread scheduler makes the problem less likely to occur (but it still happens). It triggers more quickly with multiple lthreads handling network connections.

Any thoughts @davidchisnall @S

[2020-08-12 02:40] paulcallen commented on #740
@SeanTAllen I am not sure I have the deep understanding of this code yet to be able to fix this.

[2020-08-12 03:50] #374 closed, assigned to SeanTAllen

[2020-08-12 09:16] KenGordon commented on #297
Reopen as it seems I failed to actually update the ltp submodule to point at my changes that test the (one line) fix.

[2020-08-12 09:53] wintersteiger commented on #327
There are other constraints than just sortedness and I don't think we should pull in an external library for the enclave side of this. On the host side it might make sense, but I think we gain so little that it's not worth the amount of effort and code duplication.

[2020-08-12 10:06] davidchisnall commented on #327
You gain a huge amount from using libUCL on host side.  It will output compact JSON, so does not need to be present in the enclave.

[2020-08-12 12:10] vamsikrishna935 opened #771 "Attempting to access the memory outside file is not raising SIGBUS error"
Testcase mmap13: https://github.com/lsds/ltp/blob/sgx-lkl/testcases/kernel/syscalls/mmap/mmap13.c

[code]

[2020-08-12 12:32] SeanTAllen commented on #499
@prp nothing jumps to mind. my first thought would be is that we are somehow losing event(s) for a fd being ready.

But for that to be the case, they would need to "stay lost". And how that might correlate to number of lthreads isn't something I could hazard to guess at the moment.

[2020-08-12 12:43] SeanTAllen commented on #740
@paulcallen can you leave your complete build command for sgx-lkl so I can try to reproduce on my machine?

[2020-08-12 13:23] #742 closed, assigned to SeanTAllen

[2020-08-12 13:52] KenGordon opened #772 "Various failing tests wrongly assigned to 297"
Some of the tests which have been enabled as part of fixing 297 (lkl_access_ok) still fail. They will be commented out to be fixed as and when. The comment will be "Enable when sgx-lkl github issue 772 is fixed."

[2020-08-12 13:55] KenGordon commented on #772
report/kernel-syscalls-creat-creat06-(debug)-(run-hw)-(8-ethreads).stdout.txt
	 report/kernel-syscalls-fstatfs-fstatfs02-(debug)-(run-hw)-(8-ethreads).stdout.txt [ unexpected signal SIGSEGV ]
	 report/kernel-syscalls-read-read02-(debug)-(run-hw)-(8-ethreads).stdout.txt
	 report/kernel-syscalls-clock_gettime-clock_gettime02-(debug)-(run-hw)-(8-ethreads).stdout.txt
	 report/kernel-syscalls-clock_adj

[2020-08-12 13:55] KenGordon commented on #772
The chmod one is where a NULL ptr is given as a filename.

[2020-08-12 15:11] davidchisnall commented on #771
This looks like expected behaviour for any nommu platform.

[2020-08-12 15:17] SeanTAllen commented on #771
There's some patches for ucLinux to LTP. We could upstream a fix for this eventually and in the meantime, build with ucLinux stuff on.

[2020-08-12 17:08] paulcallen commented on #754
anyone think this is not p2?

[2020-08-12 17:55] bodzhang commented on #745
Is [add_dev_buf_from_vring_desc(...)](https://github.com/lsds/lkl/blob/385f721b339fe48b188b4924c2663e1ea2cdeb13/tools/lkl/lib/virtio.c#L213) called inside enclave and reading buffer address/length from the share memory?

[2020-08-12 18:02] vamsikrishna935 opened #773 "Sysinfo syscall is throwing SIGSEGV, segmentation fault upon accessing invalid address instead of EFAULT"
Testcase : https://github.com/lsds/ltp/blob/sgx-lkl/testcases/kernel/syscalls/sysinfo/sysinfo02.c

[code]

[2020-08-12 19:52] davidchisnall commented on #745
All LKL code is inside the enclave, but I don't believe we're using the virio code in lkl/tools.  @prp?

[2020-08-12 20:01] prp commented on #745
I think that’s correct.

[2020-08-12 21:06] bodzhang commented on #745
@prp , can you point me to the virtio code inside enclave?

[2020-08-12 21:12] prp commented on #745
It should be src/lkl/virtio*

[2020-08-13 03:18] vtikoo opened #774 "Re-enable setresuid04 and setreuid07"
As part of PR #403 these two tests are being disabled, as merging the corresponding [ltp PR 42](https://github.com/lsds/ltp/pull/42) is blocked by #768 #767 #772.

Once those issues are resolved, merge ltp PR 42 and re-enable these tests.

[2020-08-13 06:03] hukoyu commented on #773
This is dupe of https://github.com/lsds/sgx-lkl/issues/767

[2020-08-13 06:03] #773 closed, assigned to nobody

[2020-08-13 08:21] KenGordon commented on #772
/kernel/syscalls/chroot/chroot03 - last one
/kernel/syscalls/clock/settime/clock/settime02 - first one
/kernel/syscalls/mknod/mknod06 - second
/kernel/syscalls/chmod/chmod06 - fourth
/kernel/syscalls/clock/gettime/clock/gettime02 - third on (3 sigsegv) all EFAULT ones?
/kernel/syscalls/link/link04 - 6th
/kernel/syscalls/gettimeofday/gettimeofday02 - NA - times out on my box anyway
/kernel/syscalls

[2020-08-13 09:08] davidchisnall commented on #745
@bodzhang, I already pointed you at the code [above](https://github.com/lsds/sgx-lkl/issues/745#issuecomment-672041884).

[2020-08-13 10:57] SeanTAllen commented on #745
AFAIK, there's code from lkl/tools that is in use. In particular `lkl_umount_timeout`. There might be other code.

[2020-08-13 13:27] vtikoo opened #779 "Fix detached pthread failures"
PR #403 is disabling these two tests:
/tests/basic/pthread_detach
/tests/languages/nodejs

These are disabled due to issues in detached pthreads support.

[2020-08-13 13:39] vtikoo opened #780 "Remove getenv calls before libc startup"
[lkl_start_init is using getenv](https://github.com/lsds/sgx-lkl/blob/oe_port/src/lkl/setup.c#L1378-L1410) fairly early in the initialization sequence. Which is requiring an early call to `__init_libc`.

According to @davidchisnall  -
When we parse the environment variables from the config file, we should pull the SGX-LKL ones into globals and skip them, then we wouldn't need that extra complexity

[2020-08-13 14:23] bodzhang commented on #745
I tried to look for the [register_iomem()](https://github.com/lsds/sgx-lkl/blob/41c2bac5dcfb0cd3a35fcb9f998c169faae64915/src/lkl/virtio.c#L323) call in src/lkl/virtio.c, and can only find it in [lkl_sub_module/tools/lkl/lib/iomem.c](https://github.com/lsds/lkl/blob/385f721b339fe48b188b4924c2663e1ea2cdeb13/tools/lkl/lib/iomem.c#L23). Is the iomem.c under tools/lkl/lib indeed the code used by the en

[2020-08-13 14:26] prp commented on #745
You're right. It seems that we're using `lkl/tools/lkl/lib/iomem.c` here.

[2020-08-13 16:46] bodzhang commented on #745
One solution to mitigate the potential attack of host side manipulating `base`, `config_data`, `config_len`, `queue` (ring buffer descriptors needs further protection, not fully addressed in this proposal), **without changing the upstream virtio code**,  is to implement a "shadow" virtio_dev structure inside the enclave and use sgx-lkl version of [reads](https://github.com/lsds/sgx-lkl/blob/871a2e

[2020-08-13 20:11] hukoyu commented on #713
This is a blocker for code coverage solution since code coverage creates files in image and then extracts and processes to generated the code coverage data.

cc @paulcallen  @bodzhang

[2020-08-13 21:46] prp commented on #766
@hukoyu This trace is from a version that didn't unmount file systems correctly. I presume that the problem was unrelated to the test. I'm closing this issue.

[2020-08-13 21:46] #766 closed, assigned to nobody

[2020-08-14 01:34] #156 closed, assigned to vtikoo

[2020-08-14 06:46] hukoyu opened #786 "Test failures after merging PR #403 (Lthreads disentangled from musl)"
With https://github.com/lsds/sgx-lkl/pull/765 we want to enable 15 new LTP tests.
All of these tests were passing before merging https://github.com/lsds/sgx-lkl/pull/765

After https://github.com/lsds/sgx-lkl/pull/765 merged, I rebased https://github.com/lsds/sgx-lkl/pull/765 and updated ltp submodule and in the pipeline https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1860&view=result

[2020-08-14 06:55] hukoyu commented on #786
LTP Test: read02
Debug - HW failure:
[Standard_Console_Output read02-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073022/Standard_Console_Output.read02-debug-hw.log)

Debug - SW failure:
[Standard_Console_Output read02-debug-sw.log](https://github.com/lsds/sgx-lkl/files/5073029/Standard_Console_Output.read02-debug-sw.log)

Nonrelease - HW failure:
[Standard_Console_Output read02-nonrelease

[2020-08-14 06:58] hukoyu commented on #786
LTP Test: pipe03
Nonrelease - HW failure:
[Standard_Console_Output pipe03-nonrelease-hw.log](https://github.com/lsds/sgx-lkl/files/5073060/Standard_Console_Output.pipe03-nonrelease-hw.log)

[2020-08-14 07:00] hukoyu commented on #786
LTP Test: fallocate01
Debug-HW failure:
[Standard_Console_Output fallocate01-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073066/Standard_Console_Output.fallocate01-debug-hw.log)

[2020-08-14 07:01] hukoyu commented on #786
LTP Test: unshare02
Debug-HW failure:
[Standard_Console_Output unshare02-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073073/Standard_Console_Output.unshare02-debug-hw.log)

[2020-08-14 07:04] hukoyu commented on #786
LTP Test: fchown04
Debug-HW failure:
[Standard_Console_Output fchown04-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073083/Standard_Console_Output.fchown04-debug-hw.log)

[2020-08-14 07:05] hukoyu commented on #786
LTP Test: renameat01
Debug-HW failure:
[Standard_Console_Output renameat01-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073095/Standard_Console_Output.renameat01-debug-hw.log)

[2020-08-14 07:11] hukoyu commented on #774
setresuid04 and setreuid07 only fail for debug and hw mode.
They passes for debug & sw, nonrelease & hw, nonrelease & sw.

setresuid04 debug-hw failure log:
[Standard_Console_Output setresuid04-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073117/Standard_Console_Output.setresuid04-debug-hw.log)

setreuid07 debug-hw failure log:
[Standard_Console_Output setreuid07-debug-hw.log](https://gith

[2020-08-14 07:12] hukoyu commented on #786
setreuid07 debug-hw failure:
[Standard_Console_Output setreuid07-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073125/Standard_Console_Output.setreuid07-debug-hw.log)

setresuid04 debug-hw failure
[Standard_Console_Output setresuid04-debug-hw.log](https://github.com/lsds/sgx-lkl/files/5073126/Standard_Console_Output.setresuid04-debug-hw.log)

These two test are also tracked by https://githu

[2020-08-14 08:36] hukoyu commented on #786
I disabled  7 tests: renameat01, fchown04, unshare02, read02, fallocate01, setresuid04 and setreuid07
and pushed commit for PR https://github.com/lsds/sgx-lkl/pull/765 and pipeline failed for debug-hw only for these 5 tests:
mount04
mount06
sync_file_range02
unshare01
lgetxattr02

https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1863&view=results

Logs:
[Standard_Console_Output mount04

[2020-08-14 10:03] davidchisnall opened #787 "Page permissions not visible to the kernel"
We have several open bugs with the same root cause, so I am filing a new bug and will close the others as duplicates:

The enclave_mem code can change the permission of a page (either with `mmap` or `mprotect`), but the kernel does not see this change.  The kernel will then call `lkl_access_ok`, see that it is a valid enclave page, and trap.  Userspace sees this as the system halting instead of re

[2020-08-14 10:04] davidchisnall commented on #767
I've filed #787 to track all of the bugs that have the same root cause.  Closing this as a duplicate.

[2020-08-14 10:04] #767 closed, assigned to KenGordon

[2020-08-14 10:04] davidchisnall commented on #772
I've filed #787 to track all of the bugs that have the same root cause.  Closing this as a duplicate.

[2020-08-14 10:04] #772 closed, assigned to nobody

[2020-08-14 10:05] davidchisnall commented on #771
I've filed #787 to track all of the bugs that have the same root cause.  Closing this as a duplicate.

[2020-08-14 10:05] #771 closed, assigned to nobody

[2020-08-14 10:05] davidchisnall commented on #768
I've filed #787 to track all of the bugs that have the same root cause.  Closing this as a duplicate.

[2020-08-14 10:05] #768 closed, assigned to KenGordon

[2020-08-14 12:37] SeanTAllen commented on #786
fallocate01 passes for me locally with latest oe_port and latest sgx-lkl branch of ltp.

[2020-08-14 15:27] davidchisnall commented on #182
@vtikoo, didn't you fix this?

[2020-08-14 19:04] #681 closed, assigned to nobody

[2020-08-14 19:11] vtikoo commented on #182
Yup, this is fixed by #403.

[2020-08-14 19:11] #182 closed, assigned to vtikoo

[2020-08-15 19:33] hukoyu opened #794 "[Test] Fix and enable 10 tests disabled with PR 789"
Below tests disabled with PR:
https://github.com/lsds/sgx-lkl/pull/789/files
- [ ] gettimeofday02
- [ ] mmap11
- [ ] futex_cmp_requeue01
- [ ] getcwd04
- [ ] send01
- [ ] setresuid04
- [ ] setreuid07
- [ ] symlink01
- [ ] fstat03 (Disabled in https://github.com/lsds/sgx-lkl/pull/812)
- [ ] chroot03 (Disabled in https://github.com/lsds/sgx-lkl/pull/812)

Fix the failure reason and enable back.
cc @

[2020-08-15 19:34] hukoyu commented on #774
These two tests covered in https://github.com/lsds/sgx-lkl/issues/794. This is dupe.

[2020-08-15 19:34] #774 closed, assigned to vtikoo

[2020-08-15 20:01] hukoyu commented on #472
This is passing now. Looks fixed. Closing.

[2020-08-15 20:01] #472 closed, assigned to nobody

[2020-08-15 20:10] hukoyu opened #795 "[Test] java hello world test failing with 1 thread in sgx-lkl nightly build"
If this is not a supported scenario we can disable this test with ETHREADS=1 in nightly pipeline

Java hello-world test is failing in sgx-lkl (nightly) pipeline with ETHREADS=1
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1888&view=results

Here is the full log:
[Standard_Console_Output - java-helloworld-1thread.log](https://github.com/lsds/sgx-lkl/files/5079392/Standard_Console_Ou

[2020-08-15 20:12] hukoyu commented on #795
If running tests with ETHREADS=1  for Java is not a supported scenario, we can disable these tests in pipeline for ETHREADS=1

[2020-08-15 20:17] hukoyu opened #796 "[Test] java thread & read tests are failing with ETHREADS=1 in sgx-lkl nightly build"
IF this test is not supported with ETHERADS=1 we can disable this test in pipeline for ETHREADS=1

java thread test is failing with ETHREADS=1 in sgx-lkl nightly build
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1888&view=results

Here is the full log:
[Standard_Console_Output - java-thread-1thread.log](https://github.com/lsds/sgx-lkl/files/5079403/Standard_Console_Output.-.java-t

[2020-08-15 20:20] hukoyu commented on #796
java-read test is also failing

This is the full log file:
[Standard_Console_Output - java-read-1thread.log](https://github.com/lsds/sgx-lkl/files/5079411/Standard_Console_Output.-.java-read-1thread.log)

[code]

[2020-08-15 20:24] hukoyu opened #797 "[Test] dotnet test is failing with 1 thread in sgx-lkl nightly build"
If this is not a supported scenario we can disable this test with ETHREADS=1 in nightly pipeline

https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1888&view=results

Full log file:
[Standard_Console_Output -dotnet-1thread.log](https://github.com/lsds/sgx-lkl/files/5079415/Standard_Console_Output.-dotnet-1thread.log)

[code]

[2020-08-15 20:45] hukoyu commented on #786
After getting the latest code and ltp submodule with PR https://github.com/lsds/sgx-lkl/pull/793 all of these tests passed.

[2020-08-15 20:45] #786 closed, assigned to nobody

[2020-08-17 02:49] douglasmaciver commented on #745
With the shadow approach, wouldn't all virtio_dev access need to go through the mapping routines?

[2020-08-17 08:18] davidchisnall commented on #745
The shadow routines are used for the memory mapped control registers. This includes the location that the driver writes to when it notifies the host that it has written entries to the ring. We could use that to copy the messages into the external ring. The only additional copying would be on the control plane, so this wouldn’t add very much overhead.

[2020-08-17 12:26] SeanTAllen commented on #794
gettimeofday02 passing previously would appear to be happenstance related to async signal bugs. Any test that depends on the delivery of an async signal is likely to fail. gettimeofday02 should either be heavily patched or left disabled with a note to enable once async signal handling is fixed (which is a p0 issue).

The test in its current states hangs as the alarm to stop the test "isn't being d

[2020-08-17 12:29] SeanTAllen commented on #794
mmap11 "failure" is unrelated to the functionality under test. It appears to be a deterministic shutdown hang. For me, it happens with both hw and sw modes.

Given that https://github.com/lsds/sgx-lkl/pull/788 exists and will change the shutdown sequence, I propose waiting to address the mmap11 failure until 788 is merged.

from @vtikoo:

mmap11 creates a detached pthread - https://github.com/lsds

[2020-08-17 12:52] bodzhang commented on #442
Debugging experience is important for SGX-LKL usage development as well as for the SGX-LKL project community members' productivity.

[2020-08-17 13:06] bodzhang commented on #191
Unexpected large number of ethread idle host call might be another indication of synchronization bugs, which can have security implication. I think we need to treat this one as P1.

[2020-08-17 13:08] SeanTAllen commented on #794
futex_cmp_requeue01 hangs because

[code]

never exits.

here's the full-test:

https://github.com/lsds/ltp/blob/sgx-lkl/testcases/kernel/syscalls/futex/futex_cmp_requeue01.c

[2020-08-17 13:11] SeanTAllen commented on #794
a PR has been opened to address the write05 test:

https://github.com/lsds/ltp/pull/73

[2020-08-17 13:15] bodzhang commented on #264
Does the work related to https://github.com/lsds/sgx-lkl/pull/403 address this issue?

[2020-08-17 13:17] SeanTAllen commented on #774
@vtikoo will you be handling as part of #794?

[2020-08-17 13:19] vtikoo commented on #794
mmap11 creates a detached pthread - https://github.com/lsds/ltp/blob/sgx-lkl/testcases/kernel/syscalls/mmap/mmap11.c#L101. Theres an open p0 for fixing detached thread support #779.

[2020-08-17 13:22] davidchisnall commented on #264
No, #403 makes this worse in the short term.

[2020-08-17 13:24] bodzhang commented on #231
Enhancing test coverage with the samples will help to discover bugs and stability issues. I think this issue should stay as P1.

[2020-08-17 13:26] prp commented on #231
The samples almost completely overlap with the existing CI tests.

[2020-08-17 13:27] prp commented on #191
The measurements above are several months old, so it is not clear if this is still a current issue.

[2020-08-17 13:29] vtikoo commented on #794
Regarding futex_cmp_requeue01, `sched_yield` now goes via LKL instead of directly calling `lthread_yield` - https://github.com/lsds/sgx-lkl-musl/pull/18/files#diff-687e538b71be7b81c2d4ddf641470487.

This could be a regression. Is this a determinsitic failure?

[2020-08-17 13:31] SeanTAllen commented on #794
@vtikoo it is for me.

[2020-08-17 13:31] prp commented on #794
I indeed believe that this is causing problems. I think it's one of the reasons why I see shutdown issues with DotNet here: https://github.com/lsds/sgx-lkl/pull/788#issue-467907462

[2020-08-17 13:38] bodzhang commented on #264
Should this issue be added to "Clean up layering" project and bumped to P1?

[2020-08-17 13:41] SeanTAllen commented on #794
getcwd04 exits because it checks to make sure there is not 1 cpu.

[code]

If that was fixed by removing the test for CPUs (I don't think it is needed given how we patched to to use threads), it then fails because it is relying on the delivery of an asynchronous signal. It should be able to be re-enabled once #209 is fixed.

[2020-08-17 13:46] SeanTAllen commented on #794
setresuid04 and setreuid07 are working and can be re-enabled.

[2020-08-17 13:54] vtikoo commented on #794
@prp there seem to be multiple ways which can cause cloned host tasks hangups. Could you clarify whether you think the DotNet failures are specifically related to `sched_yield` or cloned host task hangups in general?

[2020-08-17 14:09] davidchisnall commented on #264
No, it's not a layering violation, it just makes merging changes from upstream musl slightly harder.

[2020-08-17 14:11] davidchisnall commented on #191
@bodzhang, I'm not sure I understand your logic there.  ethread idle calls happen when there are no runnable lthreads.  We have a lot of them (we believe) because we hit the (low) timeout and spuriously return ealry, only to check the result in the end and then do the ecall again.

This is bad for production because it means we consume a lot of CPU time when idle.  It is unlikely to have any secur

[2020-08-17 14:12] prp commented on #794
In most cases, I see a deadlock in which the termination thread fails to obtain a CPU lock for syscalls but nothing else is running. The DotNet hang is different: one  of the DotNet userspace threads keeps invoking `sched_yield()` and making futex calls, while the termination thread is waiting for the CPU lock.

[2020-08-17 14:21] SeanTAllen commented on #794
send01 is failing because it hangs. there's a call in a thread to `select` that never returns. I'm not sure why it was passing previously.

a couple things that won't work to fix right now:

- using pthread_cancel to cancel the thread. currently it segfaults. pthread_cancel is using signals so its problematic.
- setting a timeout on the `select` call. it doesn't always timeout for reasons that I h

[2020-08-17 14:53] bodzhang commented on #191
@davidchisnall, [this post](https://github.com/lsds/sgx-lkl/pull/758#issuecomment-672338616) provided a speculation - if the potential sync issue pointed out indeed causes wake up event lose and sleeping lthreads not being waking up, it can explain idle ethreads situation. Synchronization bug can have security implication.

[2020-08-17 15:21] paulcallen commented on #797
should create a p2 issue to reenable when this is done

[2020-08-17 15:22] paulcallen commented on #796
when disabled this should create a P2 to reenable

[2020-08-17 15:22] paulcallen commented on #795
should create a p2 when this is disabled to reenable

[2020-08-17 16:22] #713 closed, assigned to nobody

[2020-08-17 16:22] #754 closed, assigned to nobody

[2020-08-17 18:06] hukoyu commented on #794
write05 patched with https://github.com/lsds/ltp/pull/73 and then with lsds/ltp#74

[2020-08-17 19:03] SeanTAllen opened #800 "Segfault when using pthread_cancel"
When running the following test:

[code]

Both myself and @vtikoo get a segfault fairly early on.

Backtrace follows:

[code]

Given the backtrace, this might be connected to our various signal problems. However, that isn't known yet so I wanted to open this issue to keep track of this problem.

---
A slight variation on this is that with the following version, the application will eventually hang

[2020-08-17 19:20] prp commented on #800
This will be broken because we are not delivering signals to the correct thread (see https://github.com/lsds/sgx-lkl/issues/644).

[2020-08-18 06:46] hukoyu opened #802 "[Test] Enable back 5 tests failing with ethreads=1 after bugs fixed"
5 tests are failing in sgx-lkl nightly build with SGXLKL_ETHREADS=1 ( 3 java, 1 dotnet, 1 ml/openvino)
We are disabling them with PR https://github.com/lsds/sgx-lkl/pull/801

https://github.com/lsds/sgx-lkl/issues/415 (ml/openvino)
https://github.com/lsds/sgx-lkl/issues/795 (java, helloworld)
https://github.com/lsds/sgx-lkl/issues/796 (java, read_file, thread)
https://github.com/lsds/sgx-lkl/issue

[2020-08-18 06:46] hukoyu commented on #802
cc @paulcallen @davidchisnall @prp @bodzhang @mikbras

[2020-08-18 11:40] SeanTAllen commented on #779
mmap11 LTP test hang may be related to this.

[2020-08-18 13:17] davidchisnall commented on #800
@vtikoo, I think the `syscall_cp` assembly was not yet ported over to LKL, which may be related here?

[2020-08-18 15:09] mikbras commented on #130
That is correct. The kernel formats integrity volumes and depletes memory when doing so (even with vicsetup).

[2020-08-18 22:06] bodzhang commented on #745
@davidchisnall , can you confirm my understanding about virtq below?

[code]

[2020-08-18 23:16] vtikoo commented on #800
@davidchisnall I tried adding a breakpoint at the entry of `__syscall_cp.s`, it doesn't look syscall_cp is called during this test.
The tkill syscall mentioned in the stacktrace is most probably from `cancel_handler` - https://github.com/lsds/sgx-lkl-musl/blob/oe_port/src/thread/pthread_cancel.c#L67

[2020-08-19 07:05] davidchisnall commented on #800
@KenGordon is working on fixing signal delivery to the correct thread.

[2020-08-19 08:06] davidchisnall commented on #745
@bodzhang, I believe this is correct.  See src/lkl/virtio.c for the places where the enclave can read / write these fields.  All accesse to this from LKL go via that interface.  We can add any validation here that we need to (in particular, we should do a copy of the fields once and use that in the callback from LKL, not the raw non-enclave pointer).

[2020-08-19 15:08] bodzhang commented on #745
If we are able to keep a shadow copy of the virtq_desc array and virtq_avail array inside the enclave and copy-through guest update to the shadow copy to the virtq_desc/virtq_avail arrays outside the enclave, "host read-only" policy can be enforced and the virtio code inside the enclave can't be affected by any potential malicious manipulation of  virtq_desc/virtq_avail array outside the enclave.

[2020-08-20 08:15] hukoyu commented on #500
Found 6 build problems with latest lsds/ltp/sgx-lkl (after removing some patches after fixing unblocking bugs)
and submitted a PR to fix 6 LTP test build issues: https://github.com/lsds/ltp/pull/74

[2020-08-20 08:19] hukoyu opened #810 "[Test] LTP test is not reported failed if binary is not built successfully"
As can be seen from PR https://github.com/lsds/ltp/pull/74
Some LTP tests were having build errors and binaries were not created, and test was enabled in sgx-lkl.

but ltp test runner script looks like cannot report test failed if test binary is missing. The test is not reported at all so it is not easy to catch such failures and one can assume test passed if there is no any failure.

Fix it an re

[2020-08-20 08:59] hukoyu opened #811 "[Test] Build only enabled LTP tests"
Currently all LTP tests are built under testcases/kernel/syscalls
But currently 106 of 344 syscall folders don't have any enabled LTPS tests.

So no need to build these non-enabled folders and it will be shorter to build ltp test binaries.

[2020-08-20 14:24] bodzhang commented on #745
@davidchisnall , can you take a look at the calling code of `virtio_notify_host_device` and see whether it's always invoked after any update to virtq_desc/virtq_avail arrays?

[2020-08-20 16:34] hukoyu opened #813 "[Test] Fix LTP tests for sync_file_range02 and fdatasync03"
Even if the two tests that I pointed out above sometimes pass, they are not implemented correctly. Given that, they are not testing anything useful.

- The test sync_file_range02 mounts an already mounted block device again.
- The test fdatasync03 tries to unmount a block device under an incorrect path.
- The enclave config mounts /dev/vdb under /data but this is not the path that the tests assume

[2020-08-20 16:55] hukoyu commented on #813
Disabled fdatasync03 and sync_file_range02 LTP tests for now in PR https://github.com/lsds/sgx-lkl/pull/812

[2020-08-20 17:03] hukoyu commented on #794
Tests fstat03 and and chroot03 are also failing due to SIGSEGV (page fault) signal issue. These two were not caught before since there were build errors and test binaries were not generated (Created issue https://github.com/lsds/sgx-lkl/issues/810 to track that). Fixed the build issue with https://github.com/lsds/ltp/pull/74 and disabled these two tests in PR https://github.com/lsds/sgx-lkl/pull/8

[2020-08-20 17:14] hukoyu commented on #709
Enable busybox ping network test when this bug is fixed. https://github.com/lsds/sgx-lkl/pull/809
cc @KenGordon @SeanTAllen

[2020-08-20 21:17] #811 closed, assigned to hukoyu

[2020-08-21 05:13] hukoyu commented on #810
I investigated this and if the test binary is not available, actually non-zero exit code is returned and test failed. It must be something else. I will have an eye on this issue. For now there is nothing to do. Lowering priority to p3.

[2020-08-21 05:14] hukoyu commented on #810
Closing this issue and will reopen if I see a repeatable case.

[2020-08-21 05:14] #810 closed, assigned to hukoyu

[2020-08-21 07:59] letmaik commented on #442
The linked PR should have closed this issue but didn't. If the unit test is not good enough, please open a new issue with details on what's missing.

[2020-08-21 07:59] #442 closed, assigned to vtikoo

[2020-08-21 12:24] bodzhang commented on #797
#802 to re-enable ethreads=1 tests recommended as p2, shouldn't this issue also be P2?

[2020-08-21 12:25] bodzhang commented on #796
#802 to re-enable ethreads=1 tests recommended as p2, shouldn't this issue also be P2?

[2020-08-21 12:27] bodzhang commented on #795
#802 to re-enable ethreads=1 tests recommended as p2, shouldn't this issue also be P2?

[2020-08-21 12:30] letmaik commented on #327
@davidchisnall I haven't heard of UCL before. I think what we really want is just JSON with comments. This would also work together with existing tooling like VS Code that can use the JSON schema for auto-completion etc. Having JSON with comments is a bonus though and shouldn't be a priority now.

@wintersteiger Your [notes](https://github.com/lsds/sgx-lkl/issues/327#issuecomment-650265020) are us

[2020-08-21 18:00] bodzhang commented on #745
It seems that the virtio_blk, virtio_console drivers do invoke `virtqueue_notify` (some code flow calls `virtqueue_kick`, some calls `virtqueue_notify` directly) after updating desc and avail arrays.  But the virtio_net code is harder to trace to be sure about `virtqueue_notify` call following desc and avail update.

I realized another challenge. The [virtio driver](https://github.com/lsds/lkl/blo

[2020-08-24 11:29] davidchisnall opened #816 "Dead code in sgx-lkl-musl"
We have several functions that were work-arounds for missing features that are now fixed.  These have complicated some of the code cleanup, as seen in #815, where we're adding code to support these hacks.  We should remove them and simplify the associated code:

- [ ] `init_sysconf` should be obsolete now that we're intercepting the sysconf system call.
- [ ] `init_clock_res` should be obsolete no

[2020-08-25 05:08] #733 closed, assigned to nobody

[2020-08-25 17:43] jxyang commented on #745
It seems we have to modify the kernel code, right?

[2020-08-27 16:38] douglasmaciver opened #821 "Linux kernel version 5.3 is no longer being updated with functional and security patches"
Linux kernel version 5.3 was end-of-life'd December, 2019 and is no longer being supported with patches. In addition to not receiving general bug fixes, version 5.3 is no longer being patched for security vulnerabilities.

The recommendation is to update to linux kernel version 5.4, LTS 2025.

[2020-08-27 20:46] bodzhang commented on #745
For packed ring, the code in lkl/drivers/virtio/virtio_ring.c does allocate the [desc ring](https://github.com/lsds/lkl/blob/385f721b339fe48b188b4924c2663e1ea2cdeb13/drivers/virtio/virtio_ring.c#L1575) in the host memory and read/write the desc ring, but it seems to keep a copy of the buffer addr/len in a private data structure ['desc_extra'](https://github.com/lsds/lkl/blob/385f721b339fe48b188b49

[2020-09-04 22:37] prp commented on #740
@paulcallen is this issue now outdated and can be closed? The code in question above has been removed due to the relayering work.

[2020-09-05 10:35] fnerdman opened #824 "Feature: multi party attestation"
As far as I understand the way sgx-lkl is currently built means that only a single party can verify what is running inside an enclave. Although multiple parties could use remote attestation to attest that sgx-lkl is actually running inside an enclave, only the party which sends the remote control config via wireguard can be sure about what is actually being executed by sgx-lkl. This prevents lots

[2020-09-07 11:13] davidchisnall commented on #568
This was fixed by #818.

[2020-09-07 11:13] #568 closed, assigned to mikbras

[2020-09-07 12:07] #821 closed, assigned to nobody

[2020-09-07 12:44] KenGordon commented on #297
Checking today, the fix is in the version of lkl which sgx-lkl is currently using.

[2020-09-07 12:44] #297 closed, assigned to KenGordon

[2020-09-10 15:42] AntonioND commented on #529
This PR partially fixes this issue: https://github.com/lsds/sgx-lkl/pull/798 It adds the host ops that can be used to populate cpuinfo, and fills it with mostly dummy information. The only values that are real are the number of CPUs, and the indexes of CPUs, which is obtained from the number of ethreads.

[2020-09-11 16:32] prp commented on #499
The original problem (rare broken network connections) appears to be coming from the LKL task scheduling. Sometimes LKL will perform many more context switches between tasks and then become caught in a loop:
[code]
After this has happened, it will not handle the virtio network IRQs quickly enough, which means that the other endpoint resends packets. Eventually `curl` decides that the connection ha

[2020-09-16 14:00] prp commented on #499
I managed to repro this without SGX-LKL, so this appears to be a `curl` issue or caused by throttling behaviour of www.microsoft.com. To repro without SGX-LKL, run `curl --trace-ascii - https://www.microsoft.com/` in a loop with a 2-second delay between invocations. After fewer than 50 runs, I get the following intermittent error:
[code]
Closing this issue.

[2020-09-16 14:00] #499 closed, assigned to nobody

[2020-09-16 14:02] prp commented on #559
I have not seen this in a long time, and this may have been fixed by the recent LKL update. I am closing this issue, and we can reopen it if we see this again.

[2020-09-16 14:02] #559 closed, assigned to nobody

[2020-09-16 14:04] prp commented on #740
Since we haven't had further reports of this (and the clone test is part of the CI and passes), I am closing this issue.

[2020-09-16 14:04] #740 closed, assigned to nobody

[2020-09-16 15:41] bodzhang commented on #681
@daperoni , did you retest redis performance after "Fix performance collapse in network"  was merged in?

[2020-09-16 16:24] AntonioND opened #831 "Fix broken samples"
While working on https://github.com/lsds/sgx-lkl/issues/231 I've found the following issues:

The following samples are broken: ``languages/nodejs`` (Abort), ``languages/openmp`` (The test program hangs).

Also, in ``containers/encrypted``, the Makefile targets ``run-hw-integrity`` and ``run-sw-integrity`` don't seem to work.

Finally, regarding ``languages/java``, it prints a test message and the

[2020-09-16 16:54] daperoni commented on #681
Yes, I am not seeing any issues after the fix.

[2020-09-16 18:07] prp commented on #831
* `languages/nodejs` is currently broken because of https://github.com/lsds/sgx-lkl/issues/779. Hopefully this will be fixed soon.
* `languages/openmp` is broken because of https://github.com/lsds/sgx-lkl/issues/535. This is due to a fundamental incompatibility, as documented here: https://github.com/lsds/sgx-lkl/blob/oe_port/docs/Incompatibilities.md#calling-system-calls. A possible workaround wo

[2020-09-17 17:38] prp commented on #191
This code has received more scrutiny, and I don't think that there is a problem beyond what is documented in https://github.com/lsds/sgx-lkl/issues/190. I am closing this issue.

[2020-09-17 17:38] #191 closed, assigned to nobody

[2020-09-18 09:16] AntonioND commented on #831
The ``languages/java`` sample has been fixed by setting the number of ethreads to 4 in https://github.com/lsds/sgx-lkl/pull/829.

[2020-09-21 15:38] KenGordon commented on #644
This is fixed as of https://github.com/lsds/sgx-lkl/pull/830 with the test re-enabled in https://github.com/lsds/sgx-lkl/commit/539b65af777fb832031fa98a098d32575fac88f0

/datadrive/kegordo/sept17/sgx-lkl/build/sgx-lkl-run-oe --hw-debug sgxlkl-miniroot-fs.img /ltp/testcases/kernel/syscalls/rt_sigqueueinfo/rt_sigqueueinfo01

[2020-09-21 15:38] #644 closed, assigned to nobody

[2020-09-22 04:50] vtikoo commented on #779
## /tests/languages/nodejs
The failing nodejs detached thread is https://github.com/nodejs/node/blob/1be7bbdc3b533759072cfc3d13766511197e3d01/src/inspector_agent.cc#L77-L92. This is created here - https://github.com/nodejs/node/blob/1be7bbdc3b533759072cfc3d13766511197e3d01/src/inspector_agent.cc#L121.

Pretty much the first thing the thread does is a futex wait syscall, and in doing so segfaults.

[2020-09-22 13:05] vtikoo commented on #779
## /tests/basic/pthread_detach
Here sgx-lkl goes into a context switch loop between `ksoftirqd ==> swapper ==> idle_host_task [==> ksoftirqd]`, after the last detached pthread has exited.

[code]

The app main thread in this case seems to be sleeping on a futex.
[code]

[2020-09-22 13:07] prp commented on #779
@vtikoo This may mean that the LKL termination sequence hasn't been triggered despite the fact that all application threads have exited.

[2020-09-22 13:17] vtikoo commented on #779
@prp is the LKL termination sequence triggered only by the app main thread exiting?

[2020-09-22 13:20] prp commented on #779
Hmm,  termination should be triggered by any application thread exiting: https://github.com/lsds/lkl/blob/e041aa71e03a142ecef542c005b07d13e2a3b722/arch/lkl/kernel/threads.c#L89

[2020-09-22 22:07] vtikoo commented on #779
Going by the stack traces above, it looks like the application main thread hasn't exited and is sleeping on a futex. This is causing LKL to have no runnable tasks after the last detached pthread exits.

[2020-09-23 13:13] wintersteiger commented on #816
See also #576

[2020-09-24 13:15] SeanTAllen commented on #816
init_sysconf isn't dead code. only doing init_clock_res

[2020-09-24 22:42] #370 closed, assigned to AntonioND

[2020-09-25 13:36] SeanTAllen commented on #816
PR opened #835

[2020-09-28 15:20] KenGordon opened #838 "A futex wait interrupted by a signal returns the wrong errno value (516 vs EINTR)"
The tests tgkill01 and rt_sigqueueinfo01 both fail (maybe requires ethreads > 1) due to a futex wait (see ltp/lib's tst_checkpoint etc) which sets errno to 516 rather than EINTR when wokrn by a signal. At least the tgkill01 test passes if a sleep is used instead of the futex scheme that the ltp provides.

This has caused issue 644 to be repopened and prevents some of the issues under 709 being res

[2020-09-28 15:22] KenGordon commented on #709
See also https://github.com/lsds/sgx-lkl/issues/838 for the futex issue that prevents tgkill01 and rt_sigqueueinfo tests passing.

[2020-10-07 14:25] fnerdman commented on #824
@prp Could you comment on this? The company I'm working for has significant interest in multi party attestation and would invest resources to provide a pull request for this feature. However, before we start, we would like to make sure whether you would consider this the correct way of implementation.

[2020-10-08 07:56] prp commented on #824
@lead4good The way attestation is now done in SGX-LKL in the new Open Enclave version (now in the default branch) is different from the "legacy" branch (see the code around the enclave_config). Ideally, we would like to focus new features on this new version. How could your design for multi-party attestation be adapted to fit with that?

[2020-12-18 22:51] flo-th opened #840 "branch cleanup-musl deleted ?"
Hi all,

To be able to compile the project sgx-spark, i need to clone the code from the branch cleanup-musl, but it seems deleted.
Has it been merged or renamed ?

Thanks in advance,

Flo

[2020-12-23 14:39] AsmX0r opened #841 "Benchmarking file system operations in the enclave; caching ?"
Dear SGX-LKL developers,

I would to benchmark some file intensive operations which may take from a couple of milliseconds to a few seconds. I'm aware that SGX-LKL protects the disk I/O calls using *dm-crypt* and *dm-integrity* (I currently use those when building the disk image).

When I measure some disk I/O in my program hosted in SGX-LKL (hawdware mode), should I assume the environment persist

[2020-12-29 10:58] prp commented on #841
Hi @AsmX0r, since LKL is the Linux kernel, it will maintain a regular page cache inside the enclave, which will buffer disk I/O operations and flush them to the disk device in the same way as Linux does. You can use direct I/O under Linux to bypass the page cache.

[2020-12-29 10:59] prp commented on #840
Hi @flothia, the non Open Enclave version of SGX-LKL has been deprecated, so you would have to try to migrate sgx-spark to the latest master version of SGX-LKL.

[2021-01-05 15:10] flo-th commented on #840
Hi @prp,

Thanks for your answer.
The compilation of the branch oe_port succeed for me on Ubuntu 16.04.

[2021-01-05 15:10] #840 closed, assigned to nobody

[2021-01-06 08:35] tregua87 opened #843 "problem with redis"
Hi, I am trying the samples in SGX-LKL, in particular redis.

I am in an Ubuntu 18.04. I manged to succesfully run `helloworld` from the sample folder. Morever, I use to develop SGX appliations with the Intel SGX SDK in the same machine.

When I try the redis sample with SFX-LKL, I run `make run-hw` (as indicated in the readme).

Then, I received this error:

[code]

Could it be a problem in the t

[2021-02-03 04:47] DrVoyager opened #844 "helloworld sample case failed in SGX1"
Hi,

While running the helloworld sample case, I got error message "FAIL: Could not initialise enclave". My machine can only support SGX1. I use the following command to install open enclave: sudo ansible-playbook scripts/ansible/oe-contributors-setup-sgx1.yml.

I suspect it could be related. Below is the execution output. Could you help to take a look? Thank you!

Joe
****************************

[2021-04-21 08:40] spalberg opened #846 "Unable to use JVM (openjdk-15) inside enclave"
Hi SGX-LKL developers,

I am struggling to run a minimal JVM inside the enclave. To be precise:
I am able to run the JVM based of the docker image `openjdk:8-jre-alpine3.9`.
I now want to run a minimal JVM of a newer Java version (v15 in my case).

This is my Dockerfile to build the image:
[code]
 I build and run the image using:
[code]

However, this does not work when I try to use the image with

[2021-04-23 12:58] AlonB644 opened #847 "Disk integrity protection status"
Hi,

I have found some conflicting references regarding the current status of integrity protection within this repo.
I would like to request a direct response whether it is currently supported or not and to what extent.

I have successfully managed to execute several small programs and would like to continue with more complex ones.

Thanks for your attention,
Alon

[2021-10-26 03:52] zhq9695 opened #849 "ERROR: Failed to map /geth: Resource busy"
### I use ethereum client "geth" inside the sgx-lkl, but it can't work.

I built a docker container to run the geth, it can work.

**I use the following cmd to create sgx-lkl image:**

sgx-lkl-disk create --docker=eth --size=2000M eth.img
sgx-lkl-cfg create --disk eth.img
sgx-lkl-run-oe --host-config=host-config.json --enclave-config=enclave-config.json --sw-debug

**but it can't work, and showed

[2022-04-06 06:57] shujiecui opened #850 "helloworld fails on SGX2"
I tested helloworld on SGX2 and get the following error:

How to make it work for SGX2?

[2022-09-11 13:34] randoruf opened #851 "SGX driver used by OpenEnclave is not supported by the latest Ubuntu 18.04 (kernel version 5.4.0)"
The openenclave can not install the SGX driver since SGX driver 1.33 does not support Linux kernel that is lower than 5.4.0.

When building the SGX driver 1.33, the compiler will report errors like

[code]

The default version of openclave used by sgx-lkl is at
 <https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/DCAP_1.6/driver/linux/encl.c#L137>

Intel updated the driver later, thi

[2022-10-17 02:42] randoruf opened #852 "Specify the Maximum Heap Size in Enclave"
In the legacy sgx-lkl, it is easy to tell the runner how much space the application wants by passing `SGXLKL_HEAP` environment variable.
But this option looks disappeared in SGX-LKL oe port.
I have attempted to build openenclave with `-DOE_HEAP_ALLOTTED_PAGE_COUNT=512000` and then pass `SGXLKL_OE_HEAP_PAGE_COUNT= 512000`, but the heap stress test here <https://github.com/randoruf/cs-nano-projects/

[2022-10-18 03:04] randoruf commented on #852
for anyone who is interested in this issue:
https://github.com/lsds/sgx-lkl/blob/oe_port/samples/languages/nodejs/nodejs-enclave_config.json

[2022-10-18 03:04] #852 closed, assigned to nobody