[2018-04-16 05:30] tatetian opened #1 "How does sgx-lkl support multi-process applications?"
I am excited to see a new, open-source library OS for SGX. Good job on supporting JVM on SGX.

Before sgx-lkl, the only open-source alternative is Graphene-SGX, which puts an emphasis on its support for multi-process applications. So, I am wondering **how sgx-lkl supports multi-process applications**.

I am asking this question because there seems to be a dilemma: all processes must share a common

[2018-04-16 09:10] prp commented on #1
Thanks for your interest. Currently SGX-LKL doesn't support multi-process applications. As you say, one option would be to execute multiple processes in the same enclave address space, but this would offer no protection. Alternatively, each process could obtain its own address space with a separate enclave, but it is hard to see how this could be implemented without a substantial performance overh

[2018-04-16 09:27] tatetian commented on #1
I see. Thanks for explaining :)

[2018-04-16 11:30] lshacham opened #2 "Build failure during musl git clone"
Build failure:

At sgx-lkl I run:

make

Phase "Submodule initialisation (one-shot after git clone)" fails while running
git submodule update --init

Fix/workaround:
I run:
git clone https://github.com/ifduyue/musl/  host-musl
Then run:
make

[2018-04-16 12:18] cpriebe commented on #2
Hi Liron,

thanks for your comment! I just tried with a fresh clone and initialising the host-musl submodule seems to work fine for me.

I assume either the official musl repository (http://git.musl-libc.org/cgit/musl) was down temporarily, or there is some other issue preventing you from cloning from the official repo. You might want to run the following to test whether it's a general issue:

`gi

[2018-04-16 21:26] thomasknauth commented on #2
Yes, if there's a way to fetch all the submodules via http(s), that'd be great. Corporations like to deploy proxies that only allow http(s).

[2018-04-17 08:26] lshacham opened #3 "README.md file typo: 'apps/jvm/helloworld' should be 'apps/jvm/helloworld-java'"
At README.md file:
"A simple Java HelloWorld example application is available in apps/jvm/helloworld."
Modify to:
"A simple Java HelloWorld example application is available in apps/jvm/helloworld-java."

[2018-04-17 09:07] cpriebe commented on #3
Thanks for reporting this! This is fixed now.

[2018-04-17 09:07] #3 closed

[2018-04-17 10:05] cpriebe commented on #2
@thomasknauth @lshacham We have now changed the host-musl submodule URL to use HTTPS with a github-hosted mirror. Fixed here: 28dcb2fcdfaa4bf1333a654b214c076b3a470d35

[2018-04-17 10:05] #2 closed

[2018-04-17 10:49] lshacham opened #4 "Update README.md file to install curl and openjdk-8-jdk before building helloworld-java"
When trying to build helloworld-java build fails twice:

Error 1:
...
/bin/sh: 1: curl: not found

Fix:

sudo apt-get install curl

Error 2:
...
make: javac: Command not found

Fix:

sudo apt-get install openjdk-8-jdk

[2018-04-17 11:10] lshacham opened #5 "Not clear if sample fails or passes"
**Summary**:
Running the jvm sample, I cannot tell if run passed or not. Could you please update either printfs or README.md to clarify?

**Details**:

I run:

<my path to sgx-lkl>sgx-lkl/apps/jvm/helloworld-java$ sudo ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld

And get:

[    0.000000] Linux version 4.10.0+ (my user name) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4

[2018-04-17 13:50] cpriebe commented on #4
Thanks for reporting this, Liron! I added these as prerequisites to the README file in https://github.com/lsds/sgx-lkl/commit/0359c84f4d5efcb8d7a47179b07b7d9030295991.

[2018-04-17 13:50] #4 closed

[2018-04-17 17:13] cpriebe commented on #5
Thanks Jiron!

First of all, yes, the example runs successfully.

I agree that receiving all these kernel messages is indeed a bit confusing. `tools/sgx-lkl-java` is a wrapper around `sgx-lkl-run` for which `SGXLKL_VERBOSE` was previously set to 1. I changed this to not print kernel/SGX-LKL debug information by default in https://github.com/lsds/sgx-lkl/commit/ba2cbca9e93e4637ec619c2a44d7985ca0c14

[2018-04-18 23:05] thomasknauth opened #6 "Python error: <stdin> is a directory, cannot continue"
When trying to run Python, it complains that stdin is a directory.

SGXLKL_VERBOSE=1 build/sgx-lkl-run apps/uwsgi/sgxlkl-miniroot-fs.img /usr/bin/python -c 'print "a"'

I'm curious where and how stdin is setup within SGX-LKL.

[2018-04-20 01:59] #1 closed

[2018-04-23 12:36] lshacham commented on #5
Summary: better but still not clear.

Details:

I cleaned and built again:
make clean
make

I then run:

sudo ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld

Output:

write to fd netdev fails: No error information
OpenJDK 64-Bit Server VM warning: Can't detect initial thread stack location - find_vma failed
Hello world!

[2018-04-23 12:41] lshacham opened #7 "Not clear if miniroot sample fails or passes"
I run make at: sgx-lkl/apps/miniroot
The output:
sudo SGXLKL_TAP=sgxlkl_tap0 SGXLKL_VERBOSE=1 ../../build/sgx-lkl-run ./sgxlkl-miniroot-fs.img /usr/bin/redis-server --bind 10.0.1.1
[    0.000000] Linux version 4.10.0+ (sem@sem) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9) ) #2 Mon Apr 23 14:25:43 EET 2018
[    0.000000] bootmem address range: 0x480f000 - 0x540e000
[    0.000000] Bui

[2018-04-23 12:44] #7 closed

[2018-04-23 12:44] lshacham commented on #7
Typo

[2018-04-23 12:58] lshacham opened #8 "Not clear if miniport sample fails or passes"
I run make at sgx-lkl/apps/miniroot

I then run:
sudo SGXLKL_TAP=sgxlkl_tap0 SGXLKL_VERBOSE=1 ../../build/sgx-lkl-run ./sgxlkl-miniroot-fs.img /usr/bin/redis-server --bind 10.0.1.1

The output:

[ 0.000000] Linux version 4.10.0+ (sem@sem) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9) ) #2 Mon Apr 23 14:25:43 EET 2018
[ 0.000000] bootmem address range: 0x480f000 - 0x540e000
[ 0.000000

[2018-04-24 06:58] lshacham commented on #8
**Summary**: Issue fixed.

**Details**:

The reason I got:

`write to fd netdev fails: No error information`

Is because I did not run the commands for a TAP interface on the host.

**Notice**:  the Helloworld-java sample worked without the TAP interface.
I recommend adding clarification to README.md that TAP is only required for solutions that use network.

**Result of a successful run**:

On the

[2018-04-25 15:28] #6 closed

[2018-04-25 15:43] cpriebe commented on #8
Thanks Liron,

sgx-lkl-java doesn't require a tap interface to exist by default anymore now. I am quoting my comment from issue #5 for completeness:

"SGX-LKL generally does not have to be run as superuser. I have done a few tests, and without superuser rights, execution should fail early on with an error message indicating that the specified network interface is unavailable on the host (either be

[2018-04-25 19:55] thomasknauth opened #9 "Internal mmap syscall fails"
I'm trying to run some Python program and running into some issue. When loading one of the dynamic dependencies a call to mmap seems to fail for some reason. My suspicion is that memory fragmentation leads to an OOM scenario, as the addresses returned by mmap are getting smaller and smaller while the failing mmap is for a fairly largish chunk of memory.

Alas, increasing SGXLKL_HEAP does not seem

[2018-04-25 21:03] thomasknauth commented on #9
I've noticed that playing around with SGXLKL_CMDLINE="mem=xxx" helps somewhat, since the default size is ~12MB. However, at around 80MB the same thing happens again: the internal mmap fails, albeit much earlier, when it tries to set aside said 80MB of kernel memory. I'm assuming that its internal pool cannot satisfy the request. How do I increase that internal memory pool, if my application needs

[2018-04-26 11:32] cpriebe commented on #9
Hi Thomas,

thanks for reporting this! There are a few things to say here.

First of all, as you have noticed there are currently two separate memory pools, one managed by the kernel, and one managed by an internal allocator/a custom mmap implementation (which can be found in `src/sgx/enclave_mem.c`). After enclave initialization, the enclave size is fixed. The enclave size is roughly determined b

[2018-04-26 16:55] thomasknauth commented on #9
Thanks for the explanation. I figured most of this out myself, after noticing the buried message of my heap setting being ignored due to the missing signing key. One thing that tripped me though, is that looking at https://github.com/lsds/sgx-lkl/blob/master/src/main/sgx_lkl_run.c it seemed like the default heap size should be plenty (>700MB). But I guess this is ignored, unless a signing key is p

[2018-04-27 18:17] #9 closed

[2018-05-08 08:02] lshacham opened #10 "New hello world sample fails"
**Summary**: new hellow world sample fails
**Details**: return value is 255
I run:
`sgx-lkl/apps/helloworld$ SGXLKL_TRACE_HOST_SYSCALL=1 SGXLKL_TRACE_LKL_SYSCALL=1 SGXLKL_HD_RW=1 ../../build/sgx-lkl-run sgxlkl-disk.img  /app/helloworld | grep -v clock_gettime `
And get:
[code]

[2018-05-08 09:15] cpriebe commented on #10
Hi Liron,

if you have recently updated SGX-LKL, can you make sure that host-musl is rebuilt before building and running the HelloWorld example? The commit that added the example, also changed the configuration of host-musl in order to allow it to build dynamically linked executables. Previously it would only build statically linked executables (or libraries) which we cannot support in SGX-LKL. Co

[2018-05-14 09:39] #5 closed

[2018-05-14 09:40] #8 closed

[2018-08-13 08:54] zavalyshyn opened #11 "SGX-LKL documentation (paper?)"
Hi,

I've tried sgx-lkl (jvm example) and it seems to run properly. There are few things that I'd like to clarify though.

First of all, is there any documentation available for this software? The Wiki section leads to the repo front page. There is no link to any documentation in the README file. Was there any paper published on sgx-lkl?

I mainly look for documentation to clarify my other concern

[2018-08-13 10:38] prp commented on #11
Hi,

Since SGX-LKL is an ongoing research project, we unfortunately don't have documentation beyond the README file and the source code. We are currently in the process of writing a research paper about it.

Regarding your questions, all of the source code of SGX-LKL is available, and you can verify that the code indeed is launched inside of the enclave. In general, the security guarantees are sim

[2018-08-13 10:38] #10 closed

[2018-08-16 12:12] zavalyshyn commented on #11
Great. Thanks for your explanation. I will stick to SCONE then.

[2018-08-16 12:12] #11 closed

[2018-09-22 05:10] mssun opened #12 "What is `src/libsgx/libs/{lible.a, lible.so}`?"
I guess it is the launch enclave, but I didn't find any source code for generating the `lible`.

[2018-09-22 13:13] cpriebe commented on #12
Hi Bob,

thanks for opening this issue! They are just wrappers around (an older version of) the Intel-provided launch enclave. We should switch to simply use the LE that comes with the Intel PSW. We'll look into that and push a corresponding change soon.

[2018-09-22 16:12] mssun commented on #12
Got it. Thank you!
--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2018-09-25 17:53] mssun opened #13 "Remote attestation"
This is an amazing project. However, I didn't find any support for remote attestation (including other projects like `libSEAL` and `TaLoS` based on some components of `sgx-lkl`). Remote attestation (or attestation) is one of the most essential feature of SGX.

Do you have any plan on this? Or, is there any implementation challenges on the attestation? I found you are developing some building block

[2018-09-25 21:41] cpriebe commented on #13
Agreed. Remote attestation definitely is an essential feature. Intel has actually done some work on remote attestation for SGX-LKL via TLS which you can find here: https://github.com/cloud-security-research/sgx-ra-tls

However, we are working on fully integrating remote attestation into SGX-LKL too, and hopefully will have something ready within the next month or so.

[2018-10-03 19:46] cpriebe opened #14 "Sync writes to disk image when terminating SGX-LKL"
Currently SGX-LKL does not sync writes to the root file system backed by the provided disk image when terminating which means that changes to the root fs can potentially get lost.

[2018-10-03 19:54] cpriebe opened #15 "Handle SIGINT/SIGTERM gracefully"
Currently, sending a SIGINT/SIGTERM signal to SGX-LKL will result in the enclave being exited and destroyed without allowing SGX-LKL to shut down gracefully. Instead, LKL should be halted and SGX-LKL be instructed to do any necessary clean up work, e.g. syncing writes to the disk image.

[2018-10-03 19:59] cpriebe opened #16 "Allow applications to install SIGINT/SIGTERM signal handlers"
Currently, SGX-LKL only supports application-specific signal handlers for segfaults (SIGSEGV). In order to allow interrupted/long-running applications to shut down gracefully, SGX-LKL should allow them to register signal handlers for SIGINT/SIGTERM to which the corresponding signals should be passed to.

[2018-10-03 21:20] cpriebe opened #17 "JVM can't protect protection page"
I am adding this issue for documentation purposes.

Recently, running more complex applications on the JVM on top of SGX-LKL fails with the following JVM error:

[code]

The JVM fails to protect the protection page via `mprotect([...], PROT_NONE)`. SGX-LKL forwards `mprotect` calls to the host as SGX version 1 currently does not support changes to the SGX-specific EPC page permissions, so we have

[2018-10-03 21:20] cpriebe commented on #17
This is most likely due to a Linux kernel bug introduced by the changes related to the L1TF/Foreshadow mitigations (see https://lkml.org/lkml/2018/8/14/887).

The actual bug and the fix are described here: https://lkml.org/lkml/2018/8/16/697

[code]

[2018-10-09 00:53] #14 closed

[2019-01-19 15:00] Zxiaoyu95 opened #19 "the issue: Segmentation fault (core dumped)"
When I run the instance of helloworld in the apps/jvm/helloworld-java, I execute the statement "../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld",and an error is reported each time-----"../../../tools/sgx-lkl-java: line 28: 13161 Segmentation fault       (core dumped)        env  LD_LIBRARY_PATH=${JRE_LIB_PATH} ${SGX_LKL_OPTIONS} ${SGX_LKL_RUN_EXEC} ${DISK_IMAGE} # /opt/j2re-image/bin/j

[2019-01-19 23:32] conz27 commented on #19
@Zxiaoyu95, could this be related to #17? I've run into this running against Ubuntu 16.04 with 4.10 and 4.15 Linux kernel. The patch that @cpriebe mentions may not have been merged into newer kernel branches. I'd try downgrading to a 4.4.0 kernel ... that worked for me.

[2019-01-20 00:06] cpriebe commented on #19
As mentioned by @conz27 this might be related to the kernel bug mentioned in #17. Which kernel are you running?

Do you see any JVM error message? Can you run it with `SGXLKL_VERBOSE=1`, i.e.

```SGXLKL_VERBOSE=1 ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld```

to see if it gets to the point where the JVM is running?

What's your OS/kernel?

[2019-01-20 05:19] Zxiaoyu95 commented on #19
My current working environment  based on cloud virtual machine with Ubuntu 14.04.5 LTS and Linux 3.13.0-163-generic kernel.And I used  a simulation mode to run it.As for the error message, I just saw the error"Segmentation fault " and I have tried the command line you mention,but it didn't work.
After reading #17, I doubt the crux is my lower version.What do you think? @conz27 @cpriebe

[2019-01-21 01:39] Zxiaoyu95 commented on #19
Ok thank you ,now the segfault has been resolved,but a new error happens:
The command line: sudo SGXLKL_GETTIME_VDSO=0 ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld
Output:  OpenJDK 64-Bit Server VM warning: Can't detect initial thread stack location - find_vma failed
../../../tools/sgx-lkl-java: line 28: 31412 Illegal instruction     (core dumped) env LD_LIBRARY_PATH=${JRE_LIB_PATH}

[2019-01-21 04:07] Zxiaoyu95 commented on #19
I got success with Linux master 4.8.0-36-generic kernel ，Ubuntu 16.04.2 LTS！Thank you for your help! @cpriebe @conz27

[2019-01-21 11:46] cpriebe commented on #19
@Zxiaoyu95 Thanks a lot for the feedback! Good to hear that the original issue is resolved now!

It would be interesting to know which instruction is causing this. If you would like to debug this, the best way would be to do the following:

[code]

In gdb, you should be able to use:
[code]

It should break when the illegal instruction occurs and you should be able to see which instruction is consi

[2019-01-22 05:36] Zxiaoyu95 commented on #19
Tahnk you @cpriebe ,I followed the command line you gave me to build SGX-lKL in debug mode,the lucky code works!

In addition, I would like to ask if the Hadoop program can run in this environment, and every task process can run in SGX environment. Do you have any good Suggestions?

[2019-01-22 08:50] Zxiaoyu95 commented on #19
When I run the helloworld instance in Hardware mode ,The command line prompts:
Failed open SGX device：
/dev/isgx:No such file or directory
/dev/sgx:No such file or directory
I want to ask what isgx and sgx mean? How can I solve this problem?Thank you very much for your useful answers! @cpriebe

[2019-01-22 09:04] Zxiaoyu95 commented on #19
When I run the helloworld instance in Hardware mode ,The command line prompts:
Failed open SGX device：
/dev/isgx:No such file or directory
/dev/sgx:No such file or directory
I want to ask what isgx and sgx mean? How can I solve this problem?(I have installed the SGX-master and Intel SGX driver) Thank you very much for your useful answers! @cpriebe

[2019-01-22 10:38] cpriebe commented on #19
If it works in debug mode it should also work in regular mode! I am not sure why SGX-LKL in simulation mode would fail to run in a VM. I vaguely remember having seen a similar issue before, but unfortunately I don't remember what caused it. It could be that the JVM was compiled to use certain instructions like SSE4 or AVX instructions that are not supported by the VM you are running on.

Regarding

[2019-01-22 12:38] Zxiaoyu95 commented on #19
![image](https://user-images.githubusercontent.com/40795016/51535770-62959f80-1e84-11e9-8c7b-e19d644eb6f4.png)

Thanks for your enthusiastic answer. I think my machine supports SGX because I have done experiments on SGX before. Could you please help me look at the operation result to determine the problem ?

Thanks

[2019-01-23 01:47] Zxiaoyu95 commented on #19
At present, we are doing experiments on hadoop and want to run the mapreduce program in your environment. Due to the distributed structure of cloud computing, we do not know how to run each Task in this environment. Do you have any Suggestions?Hope to get your reply, thank you! @cpriebe

[2019-01-23 20:48] cpriebe commented on #19
Regarding the `/dev/sgx` and `/dev/isgx` devices: Those aren't related to SGX-LKL. You should see at least one of those, otherwise I would be surprised if you could run other things (e.g. applications built with the SDK) on SGX.

We haven't done any work on running Hadoop with SGX-LKL. SGX-LKL does support JVM applications, so you could certainly give it a try. You can run multiple enclaves that c

[2019-01-24 11:59] cpriebe commented on #17
This seems to have been fixed in 14.04/16.04/18.04, so I am closing this issue.

[2019-01-24 20:53] cpriebe commented on #19
I'm closing this issue as the original issue has been resolved.

[2019-01-24 20:53] #19 closed

[2019-02-20 16:10] kanakraju73 opened #22 "Can't run Hello world apps"
My PC stats:
Dell precision 3630 Tower
Memory: 31,1 GiB
CPU: Intel:registered: Core:tm: i7-8700 CPU @ 3.20GHz × 12
OS: Ubuntu 18.04.1 LTS 64-bit
Kernel: 4.15.0-44-generic

Make finished without errors
But when i try to run the jvm hello world I got the following error

kanak@wp-04:~/sgx-lkl/apps/jvm/helloworld-java$ sudo SGXLKL_VERBOSE=1 ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld

[2019-02-20 16:17] kanakraju73 commented on #22
Make finished without errors
But when i try to run the jvm hello world  I got the following error

kanak@wp-04:~/sgx-lkl/apps/jvm/helloworld-java$ sudo SGXLKL_VERBOSE=1 ../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld
[    SGX-LKL   ] No tap device specified, networking will not be available.
Error while initializing enclave, error code: 1073741825

Then i tried to provide tap device us

[2019-02-21 09:36] cpriebe commented on #22
Hi @kanakraju73

Thanks for reporting this. The TAP message is just a warning and can be ignored in this case. The enclave initialization error should obviously not happen though. Have you verified, e.g. with the Intel SDK that SGX is set up correctly?

[2019-02-21 09:52] cpriebe commented on #22
Actually, there is no official 2.0 driver for Ubuntu 18.04, so you probably want to try either 2.3 or 2.4 (see https://01.org/intel-software-guard-extensions/downloads). I am aware we currently say we have tested SGX-LKL with versions 1.9 and 2.0 and Ubuntu 16.04. That information is a bit outdated though. I'll update that.

[2019-02-22 18:19] kanakraju73 commented on #22
Hi @cpriebe

Thanks for the reply. I've updated my sgx drivers and sdk to 2.4

SDK Sample Code works fine with the current setup

SampleEnclave:

kanaka@wp-04:/opt/intel/sgxsdk/sgxsdk/SampleCode/SampleEnclave$ ./app
Checksum(0x0x7ffcafb876a0, 100) = 0xfffd4143
Info: executing thread synchronization, please wait...
Info: SampleEnclave successfully returned.
Enter a character before exit ...

Local

[2019-02-28 01:07] cpriebe commented on #22
Hi @kanakraju73, apologies for the delay!

I'm still unsure what is going wrong. I have tested the following configurations which all work. I have tried to run the HelloWorld example, redis (see `apps/miniroot`), and the JVM HelloWorld example. The JVM example still fails with a JVM error (not an enclave initialization error) due to the kernel bug described in #17. This issue has been fixed in the

[2019-02-28 02:23] phyomaythet opened #23 "How to deploy secure docker container with SGX-LKL?"
Is it possible to deploy existing docker container to run with SGX-LKL support? e.g. I already have a working docker container without SGX support and I would like to integrate that docker container and SGX-LKL in simulation mode. Is it possible to integrate?Thanks for your suggestion.

[2019-02-28 10:27] cpriebe commented on #22
Two more questions:
1) Did you also update libenclave-common to 2.4?
2) Which of `/dev/sgx` and `/dev/isgx` are available on your system?

[2019-02-28 10:42] cpriebe commented on #23
Do you want to deploy SGX-LKL itself as part of a Docker container? If so you might want to have a lock at the [Dockerfile](https://github.com/lsds/sgx-lkl/blob/master/Dockerfile) and the corresponding [sgx-lkl-docker.sh](https://github.com/lsds/sgx-lkl/blob/master/sgx-lkl-docker.sh) script in the main repository. See https://github.com/lsds/sgx-lkl#building-sgx-lkl-using-docker.

In case you have

[2019-03-01 01:26] phyomaythet commented on #23
Thank you very much for your information. I will try again.

[2019-03-02 21:34] kanakraju73 commented on #22
Hi @cpriebe

Firstly thanks for the reply.
- I've updated my kernel to 4.17.17 and able to run all the sample apps.

And coming to your questions

Yes

I can only see /dev/isgx and you can see that below

kanaka@wp-04:\~/clones/python-sgx/tests$ ls /dev/isgx >/dev/null 2>1  && echo "ISGX" || echo "NO ISGX"
ISGX
kanaka@wp-04:~/clones/python-sgx/tests$ ls /dev/sgx >/dev/null 2>1  && echo "SGX" || ec

[2019-03-02 21:34] #22 closed

[2019-03-04 20:56] conz27 opened #24 "Remove --size requirement from sgx-lkl-disk when used with --docker flag"
Docker has built-in tools that can give the exact image size without having to make the user explicitly specify it.

`docker image inspect <image_name> --format='{{ .Size }}'` returns the image size in bytes.

Ideally, a user should only have to do the following:
`./sgx-lkl-disk --create --docker=<image_name|Dockerfile>`

In the case "Dockerfile" is supplied, sgx-lkl-disk may have to define a defa

[2019-03-05 16:28] cpriebe commented on #24
Hi @conz27,

Thanks a lot! I wasn't aware I could get the size of the image that way. Unfortunately it seems like this does not exactly reflect the size after creating a corresponding container and exporting it. See for example:

[code]
We could get the expected size from `tar` but I believe that still wouldn't cover the additional overhead from file / file system metadata that needs to be taken i

[2019-03-05 17:03] cpriebe commented on #17
This has been resolved a while ago in the official 16.04 and 18.10 Ubuntu kernels. This finally has been backported to the 4.15 kernel used by Ubuntu 18.04. The new kernel version that includes the fix has officially been released today.

See the corresponding bug report here: https://bugs.launchpad.net/ubuntu/+bug/1799237

For Ubuntu 18.04 the bug is fixed in kernel version 4.15.0-46.49.

I am cl

[2019-03-05 17:03] #17 closed

[2019-03-15 16:08] conz27 commented on #24
@cpriebe, good stuff with the action arguments change!

[2019-03-21 03:04] Zxiaoyu95 commented on #17
hi @cpriebe ，Recently,I meet the same error when i  running  applications on the JVM on top of SGX-LKL(ubuntu16.04  4.15.0-46-generic ),to resolve the probleam,i must update ubuntu 16.04 to ubuntu 18.04?

[2019-03-21 10:39] cpriebe commented on #17
Hi @Zxiaoyu95

I am not entirely sure whether the fix is available as part of the Ubuntu 16.04 4.15 image (4.15.0-46.49~16.04.1). But it should be fixed in the 4.4 kernel that is used by 16.04 by default. You could downgrade to that. As you suggested, you could also update to 18.04. In any case, you need to use a kernel with the fix applied. Upstream this has been fixed from I believe 4.17.17 and

[2019-03-21 12:01] Zxiaoyu95 commented on #17
Ok,thank you @cpriebe ,now after  update my ubuntu to 18.04,this problem has been resolved.
As the changelog shows,the 4.4.150 kernel and 4.17 kernel also resolved this bug.i believe it is available!
Thank you!

[2019-03-22 15:32] letmaik opened #26 "Document how to pass application environment variables to sgx-lkl-run"
I couldn't find any mention of how to pass environment variables to the executable within the enclave file system. Is this supported at all? If not, are there work-arounds?

[2019-03-22 16:15] cpriebe commented on #26
Right now you should be able to just specify them alongside the `SGXLKL_*` configuration variables as you would do for any application.

In the future you'll be able to explicitly specify the set of application-specific environment variables but that's still work in progress.

[2019-03-23 12:29] melbek opened #27 "No network interface, cannot connect to host (JVM)"
Hi everyone,

Background:
I am building an system consisting of one server sitting on the host and one client loaded into sgx-lkl. The connection is done via TCP sockets, so I need a connection from sgx-lkl to the host machine.
I followed the tutorial and got the JVM HelloWorld to run, adapted everything to load my jar application without networking at first and everything worked (after adjusting

[2019-03-23 13:26] cpriebe commented on #27
Did you specify `SGXLKL_TAP=sgxlkl_tap0` (adjust the name of the interface if necessary)? If you do so, a `eth0` interface (with IP `10.0.1.1` by default) should be accessible from within the enclave.

[2019-03-23 16:25] melbek commented on #27
Ah no! Thank you cpriebe!
I thought that's an optional step only after changing the IP, my bad.

[2019-03-23 16:58] #27 closed

[2019-03-25 09:13] avigail-oron opened #28 "How to modify the JRE so it can run in SGX-LKL enclave?"
The jre from https://lsds.doc.ic.ac.uk/files/sgxlkl_openjdk_jre_alpine_8.121.13-r0.tar.gz that is used in the jvm sample apps does not contain a module I need (nss).
Trying to create my own image with a JRE from existing alpine packages fails, even though it's working perfectly in docker alpine-based container.
What changes need to be made to adjust the JRE to run in SGX-LKL?
(One obvious change i

[2019-03-25 09:54] cpriebe commented on #28
There are two issues with the pre-packaged Alpine OpenJDK:
1. It uses 'execve' under certain circumstances which SGX-LKL currently does not support.
2. It requires file-backed mmap support which (this version of ) SGX-LKL currently does not support.

You can get around the first issue by making sure the LD_LIBRARY_PATH starts with a specific prefix which the JVM checks against when deciding whethe

[2019-03-25 09:59] avigail-oron commented on #28
Thank you!

[2019-03-26 08:04] Zxiaoyu95 opened #29 "How the application (running on the sgx-lkl) interaction with the local operating system"
Recently,i meet a problem when i run application on the sgx-lkl, and i have some confusion about sgx-lkl.I hope to get your reply.Thank you!
1) Is the Disk image named sgxlkl-java-fs.img  running in the sgx environment? How to understand /sgx-lkl-run to execute it?
2) When i start a jvm for an application process,the classpath I need a local temporary file,so i  am trying to link a local file with

[2019-03-26 15:43] cpriebe commented on #29
Hi @Zxiaoyu95 ,

Yes, the disk image you provide to sgx-lkl-run is exposed inside enclave as root file system. Once inside the enclave, you have no access to any file on the host file system (on purpose). You will have to modify the disk image if you want to expose additional files inside the enclave, or create them at runtime.

If you are using the helloworld-java Makefile as a basis, you can add

[2019-03-27 02:09] Zxiaoyu95 commented on #29
Thank you @cpriebe for your reply.
Now,because my application takes up too much space,so i just use sgx-lkl to start a JVM for an application process,the rest is executed outside of sgx-lkl ,and main file on the host file system is temporary,so i link the file with image file like command:
ln -s   $(MOUNTPOINT)/   /host/file/sytstem/myfile
the file is linked successfully,but when i run the process

[2019-03-27 03:12] Zxiaoyu95 commented on #29
Since I do not have a deep understanding of sgx-lkl, so is there any paper or document about it? I want to use this wonderful project to develop my own application, so i want to know more about it .
Thank you!

[2019-03-27 14:02] cpriebe commented on #29
As I said you will not be able to access files from your host file system from within the enclave. The only option you have is to copy the file to the disk itself. Or modify SGX-LKL. It would theoretically be possible to extend it to allow you to access the host file system but that also increases the attack surface which we don't really want to do.

Regarding your second point. We are working on

[2019-03-27 14:05] cpriebe opened #30 "Segfault on syscall(sched_setaffinity,...)"
Performing a `sched_setaffinity` system call via the `syscall` libc macro (instead of calling the corresponding `sched_setaffinity` libc function) causes a segfault. While SGX-LKL currently does not support CPU affinities, the syscall should correctly return `-ENOSYS`.

[2019-03-27 14:08] cpriebe opened #31 "Change default number of ethreads to match number of cores"
Right now the default configuration for the number of enclave threads (configured via `SGXLKL_ETHREADS`) is 1. SGX-LKL should use a number of enclave threads equal to the number of cores by default.

This does not affect the number of application/user-level threads usable by applications (which are configurable via `SGXLKL_MAX_USER_THREADS`, default 256).

[2019-03-27 14:20] Zxiaoyu95 commented on #29
ok ,looking forward to seeing more information about sgx-lkl in the future. Thank you @cpriebe  for your reply!

[2019-03-28 13:44] kekkaishivn opened #32 "Getting OutOfMemory exception when try to run a HelloWorld java file"
Hi,

I am trying to install sgx-lkl and run a modified simple java file with socket programming and get this exception:
Exception in thread "main" java.lang.UnsatisfiedLinkError: /opt/j2re-image/lib/amd64/libnet.so: Error loading shared library /opt/j2re-image/lib/amd64/libnet.so: Out of memory
	at java.lang.ClassLoader$NativeLibrary.load(Native Method)
	at java.lang.ClassLoader.loadLibrary0(Class

[2019-03-28 14:10] cpriebe commented on #32
You can increase the size of the enclave heap via `SGXLKL_HEAP`. By default, `sgx-lkl-java`, which is just a wrapper around `sgx-lkl-run` sets the heap size to 256MB. Try something like

`SGXLKL_HEAP=512M <sgx-lkl>/tools/sgx-lkl-java mydisk.img <java args>`

Depending on what your application does/requires you might also have to change some of the preconfigured JVM runtime parameters specified in

[2019-03-28 14:14] kekkaishivn commented on #32
Thanks, it works !!!

[2019-03-28 14:22] #32 closed

[2019-03-28 14:22] #26 closed

[2019-03-29 12:57] cpriebe commented on #28
With the most recent commit, SGX-LKL now supports the Alpine-packaged OpenJDK8 JRE. The HelloWorld example and the `sgx-lkl-java` wrapper have been updated accordingly.

Two important notes on this:
1) The LD_LIBRARY_PATH has to be set and has to start with `/usr/lib/jvm/java-1.8-openjdk/jre/lib/amd64/server:/usr/lib/jvm/java-1.8-openjdk/jre/lib/amd64:/usr/lib/jvm/java-1.8-openjdk/jre/../lib/amd64

[2019-03-29 12:57] #28 closed

[2019-03-29 12:58] cpriebe commented on #30
This should now be fixed with commits 73e802c and https://github.com/lsds/sgx-lkl-musl/commit/a9e746dde1fdc74d96ed22b7e708d9a0bbc1f5e8.

[2019-03-29 12:58] #30 closed

[2019-03-29 12:59] cpriebe commented on #29
I'll close this for now as the original issue has been addressed.

[2019-03-29 12:59] #29 closed

[2019-03-29 13:00] #23 closed

[2019-03-29 23:53] #31 closed

[2019-03-30 15:20] kekkaishivn opened #33 "JVM cannot handle https connections"
I am trying to run a simple java application establish https connection and I got this exception:

java.security.ProviderException: Could not initialize NSS
	at sun.security.pkcs11.SunPKCS11.<init>(SunPKCS11.java:223)
	at sun.security.pkcs11.SunPKCS11.<init>(SunPKCS11.java:103)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.n

[2019-03-30 16:54] cpriebe commented on #33
Hi @kekkaishivn,

thanks for opening this issue. As the error message implies the disk image is missing the nss library. Solving this is simply a matter of providing the libnss3.so library. I have fixed this for the HelloWorld example as people probably use it as a starting point for running the JVM with SGX-LKL and might run into the same issue as you otherwise.

https://github.com/lsds/sgx-lkl/b

[2019-03-30 17:15] kekkaishivn commented on #33
Hi @cpriebe,

It solved my problem.
Thanks a lot.

[2019-03-30 17:15] #33 closed

[2019-04-01 15:05] Zxiaoyu95 opened #34 "How to export the application environment variables into sgx-lkl running environment"
hi ,i don't know how to export the application environment variables when i running application on sgx-lkl,now,i need an application environment variables reference a file in the disk file system,Can you give me some advice? Thank you!

[2019-04-01 15:14] cpriebe commented on #34
For now you can just pass them to application the same way you would normally. Exported environment variables (or variables provided on the command line) should automatically be available to enclave code.

This is a duplicate of https://github.com/lsds/sgx-lkl/issues/26.

[2019-04-03 00:06] dimakuv commented on #13
Ping. Curious about the current status of remote attestation support.

[2019-04-03 00:14] dimakuv opened #35 "Does SGX-LKL support multi-threaded applications?"
I am confused whether SGX-LKL supports multi-threaded applications.

On the one side, from the presentation I found online, it looks like there is a SCONE-like user-level M:N threading support.

On the other side, the original paper on LKL has this quote: `Even though we do not need to implement support for user processes...`. The Google paper "User Space TCP - Getting LKL Ready for the Prime Time

[2019-04-03 00:58] cpriebe commented on #35
Yes, SGX-LKL has basically the same user-level M:N threading model as SCONE. LKL itself is not used for the creation/management of user-level application threads. It is true though that the current version of LKL is implemented as a "uniprocessor" architecture without SMP support. What that means for SGX-LKL is that the in-enclave kernel will handle only one (non-blocking) system call at a time. B

[2019-04-03 01:00] cpriebe commented on #13
We do have an internal working implementation. It still needs some work (clean up) but should make it into this repository pretty soon.

[2019-04-03 17:08] letmaik opened #36 "Allow applications to install SIGFPE signal handlers"
Some applications install them and currently SGX-LKL would exit instead of calling the installed signal handler.

[2019-04-04 18:21] dimakuv commented on #35
Thanks for the detailed answer!

I am not sure what you mean by this remark on "non-blocking syscall". What happens to blocking syscalls like `epoll` or `nanosleep`? What happens when two app threads issue two syscalls (either blocking or non-blocking)?

[2019-04-04 19:41] cpriebe commented on #35
In case of blocking calls like `epoll` or `nanosleep` the current thread will block at which point other threads will be able to call into the kernel without an issue.

When multiple application threads issue system calls, only one will be handled by the kernel at a time and the others will block until the previous thread's call returns.

All of that said, we are actively looking into re-adding SM

[2019-04-04 20:03] dimakuv commented on #35
Thanks, Christian! Would be great to see SMP support in SGX-LKL. I will close this issue.

[2019-04-04 20:03] #35 closed

[2019-04-12 21:18] melbek opened #37 "SIGSEGV Error"
Hi All,

I'm writing a Java Application to create a TLS Socket Server, which is working fine without sgx but makes problems with sgx-lkl.
The non-TLS socket was working out of the box, but for the TLS version I had to copy multiple files into the sgx image (nss.cfg, libnss3.so, libnssutil3.so, libplc4.so, libplds4.so, libnspr4.so).
After the last library libnspr4.so I got following error:

[code]

[2019-04-12 21:29] cpriebe commented on #37
Hi @melbek,

When you say you had to copy in those libraries where do they come from? Are those self-compiled or do they come from the Alpine package repository?

[2019-04-13 11:10] melbek commented on #37
Hi @cpriebe,

Thanks for your reply. Yeah the last file was the problem, I mixed it up with the file from my Ubuntu system. I installed alpine on a VM, installed openjdk8-jre and than copied the needed files to my machine. It resolved the error, but I got Exceptions indicating wrong versions between the libraries OpenJDK 8.121.13-r0 wants and the one I got installed (8.201.08-r1).

What are the st

[2019-04-13 12:08] cpriebe commented on #37
There is no need to do any of that if the libraries are available via the Alpine package repository.

All you should have to do is something like this:

[code]

Obviously you would replace HelloWorld with your own app and dependencies. `sgx-lkl-java` is just a wrapper around `sgx-lkl-run` to set some SGX-LKL and JVM parameters. Depending on what you want to run you might have to adjust them.

[2019-04-13 12:11] cpriebe commented on #37
Also, since you mention OpenJDK 8.121.13-r0. Make sure you use the latest version of SGX-LKL which works with the official Alpine OpenJDK8 JRE.

[code]

[2019-04-23 20:18] sudojimmy opened #38 "execv in SGX-LKL"
Is it possible to do something like execv in SGX-LKL?

I tried execv and it gives me an errno 22: invalid argument. The code works in alpine docker container.
[code]

Currently we have two seperate programs and we want to run them consecutively. Since it is not able to do fork, I'm wondering if there is a way to switch current process to another program. Thanks in advance.

[2019-04-23 20:46] cpriebe commented on #38
Hi @sudojimmy,

unfortunately SGX-LKL currently does not support `execve`. I could imagine that we implement it in the future (and I remember discussing it internally in the past), but for now it's not possible.

[2019-04-23 20:48] cpriebe commented on #37
I'm closing this for now as I assume the original issue has been resolved. If this is not the case, feel free to reopen.

[2019-04-23 20:48] #37 closed

[2019-04-23 20:49] sudojimmy commented on #38
@cpriebe Got it. Thank you for the quick reply!

[2019-04-23 20:49] #38 closed

[2019-05-06 07:55] mygithubsunny commented on #13
what is the current status of remote attestation support? any progress?

[2019-05-08 14:48] cpriebe commented on #13
Apologies for the late response. I am hopeful we can push some initial (remote) attestation support within the next week or so.

[2019-05-14 13:07] letmaik commented on #36
I stumbled over this again, any chance it could be implemented?

[2019-05-14 15:03] cpriebe commented on #36
Hi Maik,

apologies for the delay! Definitely. We have been busy working on a number of other things, in particular remote attestation, Wireguard support, and x86 hardware acceleration for disk encryption and integrity protection. All of that should be in a decent state now and I hope I can push those changes soon.

Once that's done, improving the signal handling and allowing custom signal handler

[2019-05-14 20:29] cpriebe commented on #36
I actually just had a look at this and added some rudimentary SIGFPE signal handling support. Maybe you can give it a try and let me know if this is enough for your use case? Right now, there is no support yet for advanced things like signal masking or alternative signal stacks though. If the change in this commit isn't enough it would be good to have some way of reproducing the issue to see what'

[2019-05-15 18:13] letmaik commented on #36
Thanks! It's working!

[2019-05-15 18:13] #36 closed

[2019-05-21 10:21] msuess opened #40 "SIGILL when trying to run a golang program"
I managed to make a go app run in simulation mode, but when I run it in SGX debug mode the application crashes with a `SIGILL`. I've traced the error  to golang's `runtime/sys_linux_amd64.s`:

[code]

This function is called during golang's startup and makes an arch_prctl system call passing ARCH_SET_FS as an argument to set a base for the FS segment register.

Is this something that is supported

[2019-05-21 11:21] #34 closed

[2019-05-21 13:51] cpriebe commented on #40
`SYSCALL` is considered an illegal instruction within Intel SGX enclaves (see https://software.intel.com/en-us/node/703005 for a full list) as it invokes an OS-specific handler on a higher privilege level. Typically SGX-LKL makes use of the fact that most executables are dynamically against a libc implementation, more specifically musl, and go through libc to invoke system calls. Either via the `s

[2019-05-21 15:30] prp commented on #40
Just to add: you could try replacing the direct `SYSCALL` instruction with a call to the libc `syscall` macro and recompile the Go runtime system. The libc `syscall` macro will be handled by SGX-LKL.

[2019-05-21 17:58] msuess commented on #40
Thank you for your thorough explanation! Closing this issue.

[2019-05-21 17:58] #40 closed

[2019-05-31 11:11] cpriebe commented on #13
We have now added remote attestation capabilities. They are described here in detail: https://github.com/lsds/sgx-lkl/wiki/Remote-Attestation-and-Remote-Control

I'm sure this does not cover all use cases, so feel free to open a new issue for specific requests. I will close this issue for now. if there are any questions regarding the existing implementation and/or how to use it, it probably makes

[2019-05-31 11:11] #13 closed

[2019-06-01 00:22] dimakuv opened #41 "Remote Attestation and Remote Control wiki page"
Thanks for the wiki page on RA!

Couple questions:
1. "The report data contains ... a nonce that can be specified when an SGX-LKL enclave is created." I do not understand how this nonce provides security. Given that it is provided in an envvar `SGXLKL_REPORT_NONCE `, the OS-controlling attacker can modify it to whatever value. Or maybe I misunderstand something about these `SGXLKL_...` variables?

[2019-06-01 16:30] cpriebe commented on #41
Hi Dmitrii,

thanks a lot for your comments/questions. I'll try to reply to them now and then also update the wiki to make things clearer.

1. Yes, they are under the control of the OS. The idea should be that the nonce is provided to whoever launches the enclave externally though and gives you a guarantee that when you receive a report with the nonce attached that it's fresh and not a quote/repor

[2019-06-01 17:47] dimakuv commented on #41
Thanks for quick and informative replies, Christian!

I should have first read about WireGuard, sorry. I assumed it's similar to OpenVPN, but now I understand it much better (very cool stuff!).

I also misunderstood the idea of the nonce. In your case, the nonce is generated by and/or known to the verifier (client) beforehand, so the attacker changing the nonce to old/random value has a consequenc

[2019-06-03 08:31] cpriebe commented on #41
Yes, that's all correct :) Right now it also relies on the fact that it will accept exactly one Wireguard peer configuration at startup in release mode. That means you provide the trusted client's public key at startup. Then, after attestation, with the enclave's public key you try to establish a secure connection. If you can, you can be sure that you are the only one that is able to talk to the e

[2019-06-28 08:54] kant111 opened #42 "JDK 11 Support?"
JDK 11 Support? The memory footprint is already much lower than 8.

[2019-06-28 14:49] cpriebe commented on #42
Hi @kant111,

Until very recently there were no official musl/Alpine-based builds of JDK11. It seems like this has changed with Alpine 3.10? I can see there is an Oracle OpenJDK 11 package here: https://pkgs.alpinelinux.org/package/v3.10/community/x86_64/openjdk11

The OpenJDK8 version available in the Alpine package repositories is an IcedTea build and runs with SGX-LKL without modifications. I h

[2019-07-05 12:05] fixerivan opened #47 "IAS API subscription keys support"
version 3 of the Attestation API switched from user certificate authentication to API subscription keys

does sgx-lkl support API subscription keys? couldn't find any reference to this anywhere

thanks!

[2019-07-05 16:20] fixerivan opened #48 "TLS support in HW mode"
I am trying to run nodejs via

 SGXLKL_HEAP=900M SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run ./sgxlkl-miniroot-fs.img /usr/bin/node --version

[    SGX-LKL   ] Warning: The application requires thread-local storage (TLS), but the current system configuration does not allow SGX-LKL to provide full TLS support in hardware mode. See sgx-lkl-run --help-tls for more information.

[2019-07-05 16:29] cpriebe commented on #48
This is a bug. You can access the help text via `sgx-lkl-run -t`. I have just pushed a fix, so `sgx-lkl-run --help-tls` should now work again as well.

Fixed in e3fc437.

[2019-07-05 16:40] fixerivan commented on #48
thanks, help text was displayed, but once i followed the instructions:

root@vitro ~/sgx-lkl/tools/kmod-set-fsgsbase # make set-cr4-fsgsbase
make -C /lib/modules/5.1.16-050116-generic/build M=/root/sgx-lkl/tools/kmod-set-fsgsbase modules
make[1]: Entering directory '/usr/src/linux-headers-5.1.16-050116-generic'
  Building modules, stage 2.
  MODPOST 1 modules
make[1]: Leaving directory '/usr/src/l

[2019-07-05 16:45] cpriebe commented on #47
Hi @fixerivan,

No, support for this has unfortunately not been added yet.

[2019-07-05 18:46] cpriebe commented on #48
What is `/bin/node`? Node.js?

[code]

[2019-07-08 14:31] fixerivan commented on #48
ok this works, thanks!

there is a slight problem with sgx-lkl-disk on newer ubuntu versions DNS will not work in chroot without something like: mount --bind /etc/resolv.conf /mnt/alpine/etc/resolv.conf

[2019-07-08 14:31] #48 closed

[2019-07-08 17:01] fixerivan opened #49 "node.js - Fatal process OOM in insufficient memory to create an Isolate"
tried to run a simple benchmark (https://www.npmjs.com/package/cpu-benchmark) in node.js installed as described in #48

without increasing Heap size node.js fails:

SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run ./nodesjs.img /usr/bin/node /root/bench.js

#
# Fatal process OOM in heap setup
#

with increased heap size - node.js fails (with full debug):

SGXLKL_VERBOSE=1 SGXLKL

[2019-07-11 10:56] cpriebe commented on #49
Hi @fixerivan,

Apologies for the delay and thanks a lot for reporting this! I had a quick look at this. The problem doesn't seem to be with node.js running out of memory (even though that's what the error message says). There seem to be two/three problems here:

1) madvise isn't fully supported right now (and potentially cannot be fully supported inside an enclave)
2) Alpine 3.9 and Alpine 3.10 a

[2019-07-11 11:00] cpriebe opened #50 "Add madvise support/Make madvise no-op"
Right now `madvise` system calls are handled by LKL. However, application memory is currently not managed by the kernel but independently by SGX-LKL resulting in `madvise` returning a corresponding error code. Most `madvise` calls can be implemented as no-ops anyway as there is not much we can do from within the enclave.

[2019-07-11 11:09] cpriebe opened #51 "sgx-lkl-disk: Use Alpine version with kernel version <= SGX-LKL kernel version"
The `sgx-lkl-disk` tool currently use an Alpine 3.10 root image and installs packages from the Alpine 3.10 package repository. However, both Alpine 3.9 and 3.10 are based on Linux kernel version 4.19 while SGX-LKL currently uses kernel version 4.17. This can cause problems when applications built on/for Alpine 3.9/3.10 rely on kernel features not yet available in 4.17, e.g. newly introduced system

[2019-07-11 11:12] cpriebe opened #52 "Missing statx syscall"
A new `statx` system call has been introduced in Linux 4.11. It's supported by the 4.17 kernel used by SGX-LKL but we currently miss the corresponding x86_64 <-> LKL system call mapping, so applications trying to perform the system call receive a `not implemented` error.

[2019-07-11 16:09] cpriebe opened #53 "Extend signal support"
Currently SGX-LKL has only limited signal support. Signal handlers can be installed for SIGSEGV and SIGFPE. SIGILL handling is currently only used for transparently handling `CPUID` and `RDTSC` instructions which are illegal in SGX v1. Custom handlers should be supported at least for the most common catchable signals.

Also, a number of signal related functions/system calls such as `sigsuspend`, `

[2019-07-12 16:10] fixerivan commented on #49
thank you, this works, i am just getting very strange numbers:

SGXLKL_ETHREADS=4 SGXLKL_HEAP=1G SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run disk.img /usr/bin/node /cpubench.js
Duration: 6577812770234163
Ops: 91

sometimes even negative duration

SGXLKL_HEAP=1G SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run disk.img /usr/bin/node /cpubench.js
Duration:

[2019-07-12 17:51] fixerivan opened #54 "building apps for SGX-LKL on alpine 3.8 (x86-64 syscall 332 is greater than known syscall table length 331)"
as instructed in #49 I build node.js from source (version 12.6.0, without extra config or build parameters) on alpine 3.8 (Linux 4.14.127-0-vanilla)

SGXLKL_ETHREADS=4 SGXLKL_HEAP=1G SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run disk.img /node /cpubench.js                                                                                              SGX-MUSL-LKL WARN: x86-64 sy

[2019-07-12 18:00] cpriebe commented on #54
Hi @fixerivan,

This is the same issue as the one described here: https://github.com/lsds/sgx-lkl/issues/52

I'll see if I can push a fix over the weekend. Should be a simple change.

[2019-07-12 18:10] cpriebe commented on #49
Yes, that looks very strange. It seemed to produce reasonable results on my machine, so it's hard to say what's causing this.

There are two things you could try:
1) Try to run it in simulation mode. Time in sim mode is more precise. I am not sure what exactly this cpu-benchmark module is doing, but in simulation mode `RDTSC` works (which is not the case for SGX version 1), and `clock_gettime` wil

[2019-07-14 12:57] cpriebe commented on #54
Duplicate of #52

[2019-07-14 14:30] #51 closed

[2019-07-14 14:30] #52 closed

[2019-07-14 14:30] #54 closed

[2019-07-14 17:26] fixerivan commented on #54
I confirm that after the most recent patches that you committed today the problem no longer exists

just running any command via skl-run "kills" the shell - output is displayed as it should but with warning:

SGXLKL_HEAP=1G SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run disk.img /node --version
v12.6.0
READLINE: WARNING: TURNING OFF OUTPUT FLUSHING

after that the console is d

[2019-07-14 19:36] fixerivan opened #55 "remote attestation - how to debug?"
following wiki instructions on remote attestation, I am getting:

SGXLKL_VERBOSE=1 SGXLKL_TAP=sgxlkl_tap0 SGXLKL_IAS_SPID=91335C178CFD2623B9F1965D907B2D72 SGXLKL_IAS_KEY_FILE=/root/client.key SGXLKL_IAS_CERT=/root/client.crt SGXLKL_IAS_QUOTE_TYPE=1 sgx-lkl-run ./sgxlkl-disk.img /app/helloworld
[    SGX-LKL   ] Maximum enclave threads (TCS): 8
[    SGX-LKL   ] Kernel command line: ""
[    SGX-LKL

[2019-07-15 07:18] fixerivan commented on #49
SGXLKL_GETTIME_VDSO=0 helps, it just adds 2 seconds to execution time of the benchmark:

root@vitro ~ # time SGXLKL_ETHREADS=4 SGXLKL_HEAP=1G SGXLKL_KEY=/root/sgx-lkl/build/config/enclave_debug.key sgx-lkl-run disk.img /node /cpubench.js 0>>out 1>>out 2>>out

real    0m8.635s
user    0m16.432s
sys     0m2.161s
root@vitro ~ # cat out
Duration: -2553405220506938
Ops: 35
root@vitro ~ # time SGXLKL_ET

[2019-07-15 07:18] #49 closed

[2019-07-15 08:00] fixerivan commented on #55
my issue was caused by disabled ipv6 on my system

i ended up commenting out lkl_if_set_ipv6 lkl_if_set_ipv6_gateway portions from src/lkl/setup.c

[2019-07-15 12:26] fixerivan opened #56 "Error: crypt_load(): No error information (-22)"
following "Full attestation and remote launch example" from wiki

on the client side:

sgx-lkl-ctl --server=10.0.1.1:56001 run --app=sgxlkl.redis.conf
Connecting to 10.0.1.1:56001... done.
[    SGX-LKL   ] Request successful.

on the server side:

SGXLKL_VERBOSE=1 SGXLKL_TAP=sgxlkl_tap0 SGXLKL_REMOTE_CONFIG=1 SGXLKL_REPORT_NONCE=1086786471072294837

[2019-07-15 12:26] #55 closed

[2019-07-15 12:27] fixerivan commented on #47
thanks, lets hope intel wont shut down the v3 api anytime soon :)

[2019-07-15 12:27] #47 closed

[2019-07-15 20:03] fixerivan opened #57 "high cpu usage"
following the redis example from wiki: "Running applications from the Alpine Linux repository"

I noticed that sgx-lkl-run "eats" all the CPU time it can get

![image](https://user-images.githubusercontent.com/29037777/61245187-3a5c6e80-a74c-11e9-92b9-6a87b99cf85c.png)

stracing seams to indicate aggressive ioctl / nanosleep loops

is there anything that can be done to reduce idle cpu usage? the r

[2019-07-15 22:11] cpriebe commented on #57
There is definitely a lot of potential for optimising this. For now, what you can already do is to specify how often enclave threads should spin when looking for something to do before going to sleep, and for how long they should go to sleep via `SGXLKL_ESPINS` and `SGXLKL_ESLEEP`. This should help to reduce the CPU usage.

[2019-07-15 22:15] cpriebe commented on #56
Presumably the correct key for the disk decryption is provided as part of the application configuration file? What happens when you try to run an application from the same disk via `sgx-lkl-run <disk> <command> and specify the key via `SGXLKL_HD_KEY=<keyfile>`? I assume you get the same error?

[2019-07-16 07:19] fixerivan commented on #56
interestingly this works:

root@vitro ~ # sgx-lkl-disk create --size=50M --encrypt --key-file --integrity --alpine="" sgxlkl-disk.img.enc.int
Creating base image from Alpine with packages ...
Reusing cached Alpine miniroot image /root/.cache/sgxlkl/alpine-minirootfs-3.8.2-x86_64.tar.gz...
Verifiying checksum of /root/.cache/sgxlkl/alpine-minirootfs-3.8.2-x86_64.tar.gz...
Creating disk image file..

[2019-07-16 09:49] cpriebe commented on #56
You can also test your application configuration file via

[code]

[2019-07-23 03:28] tatetian opened #58 "How large is the TCB of SGX-LKL?"
Hi,

Could you clarify the trusted computing base (TCB) of SGX-LKL? My understanding is that almost the entire Linux kernel (i.e., LKL) is inside the enclave.

Thanks.

[2019-07-23 06:36] prp commented on #58
Hi,

I would not say that it is “the entire Linux kernel”. Large parts of the Linux kernel are device drivers and functionality that directly interacts with the hardware. This is not meaningful or required for SGX enclaves, and we create an Linux kernel version that only includes the bare minimum of functionality that is needed to implement the POSIX system call interface inside the enclave.

Sinc

[2019-07-23 08:27] tatetian commented on #58
I understand that SGX-LKL does not need to include the part of Linux kernel that interacts with hardware directly. But it is still a bit of vague to me as to how much is "the bare minimum" of Linux. Could you give the total number of the lines of code of LKL that is included in the enclave? Or, you can just give me a list of directories so that I can do the math myself.

Thanks a lot.

[2019-07-23 08:41] prp commented on #58
Hmm, it's not that easy. You could look at an SGX-LKL build and consider all source files whose object files are linked into libsgxlkl.so.

The problem with this is that we haven't optimised the kernel configuration yet, and currently we are including functions that aren't necessary (e.g. parts of the USB stack, unnecessary file systems etc). We should update the kernel configuration to remove the

[2019-07-24 11:41] tatetian commented on #58
Given the complexity of Linux's build system, I don't think counting all the source files is a trivial task. So, looking for a quick answer, I built the sgx-lkl according to the README and found that **libsgxlkl.so is as large as 65MB**. I didn't use `DEBUG=1` so I don't think there are debug symbols in the resulting libsgxlkl.so. In my experience, a binary of size of this magnitude means **millio

[2019-07-24 12:26] cpriebe commented on #58
Hi @tatetian,

I think even when building without `DEBUG=true` the file does not get stripped and will contain some debug information. If you look at the output of `size` you'll get a better idea of the size of loadable segments that will actually end up inside the enclave. For me, it shows a size of 7.25MB.

I have previously tried to get an estimate of the lines of code of the Linux kernel that

[2019-07-26 01:19] tatetian commented on #58
Hi @cpriebe ,

I agree that different SGX LibOSes have different trade-offs. It is exactly for this reason that I raised this question, trying to figure out the TCB of SGX-LKL. Eventually, it is up to the end users to decide which tradeoffs are most suitable for them.

Thanks @prp and @cpriebe for your inputs. This clarifies the TCB issue for me and other people who are interested in the project.

[2019-08-09 11:00] kladkogex opened #59 "Encrypting disk image using a sealed key"
I am looking to use not the plaintext version by a sealed version of disk encyption key.

Basically :

0. Key is initially generated inside the encave and used to encrypt disk image.

1. Sealed key is input into the enclave by the user

2. Enclave unseals the key.

3. The plain text key is used to decrypt the disk image.

My question is - which modifications would I need to make to enable this? I

[2019-08-18 19:20] cpriebe commented on #59
Hi @kladkogex,

Apologies for the late response! I am not entirely sure if I understand the issue correctly but this seems to be quite close to the general remote attestation process:

1. You create an encrypted disk on a trusted client
2. You launch SGX-LKL and provide it with the disk image (but not the key)
3. You perform remote attestation
4. If the remote attestation was successful, you can p

[2019-08-27 09:48] t1470 opened #60 "Enclave launch hangs/fails with enabled networking (on kernel 5.*)"
I am currently trying to make my enclave available on the public network. For that purpose I made a script that sets up the environment (setting all iptable rules and creating a tap device as is described in the readme). In the past, this has worked fine. After rebooting one time, I had to reinstall the SGX drivers because the device was unavailable.

Ever since, the enclave will not launch if I s

[2019-08-27 10:10] cpriebe commented on #60
Hey @t1470,

Thanks a lot for reporting this! Someone else has recently reported similar issues after upgrading from Ubuntu 18.04.2 to 18.04.3 and with that to a 5.x kernel. Downgrading to a 4.18 kernel helped in that case. Of course that would just be a temporary fix. I am currently working on reproducing the issue.

As a first step, could you let us know which OS you are running?

[2019-08-27 10:18] t1470 commented on #60
Hi cpriebe,

Thanks for the swift reply. I am running Ubuntu 18.04.2 LTS, and a custom kernel (5.0.0-1016-azure) running on an Azure server. I did not actively upgrade the kernel, although I remember having seen the something like 4.*-azure. Maybe the VM has been auto-upgraded. I will try downgrading and report back if the issue persists.

Thank you.

[2019-08-27 12:18] t1470 commented on #60
Hi @cpriebe,

By downgrading the kernel version to 4.18.0-1024-azure everything is working again. The kernel upgrade also turned out to be the reason why the isgx device became unavailable and I had to reinstall the sgx driver. In my case, this is a satisfactory solution.

Thank you very much for your fast help! I will leave the issue open, but change the title. Of course, feel free to close the i

[2019-08-27 12:42] cpriebe commented on #60
Thanks a lot for testing this! That's very helpful. Other people will run into the same issue so it would definitely be good to figure out why 5.x causes problems. It makes sense to leave this open. Thanks for updating the title!

[2019-09-02 15:28] cpriebe commented on #56
I'm going to close this for now. Feel free to reopen if this issue still exists.

[2019-09-02 15:28] #56 closed

[2019-09-02 15:28] #58 closed

[2019-09-02 15:42] #60 closed

[2019-09-02 15:46] cpriebe commented on #60
I have looked into this a bit. The issue appears to be related with the IPv6 Duplicate Address Detection (DAD). I'm not sure why DAD hangs with SGX-LKL on newer kernels though. As there have been other issues with IPv6 (#55), I have decided to revert the recent commit adding IPv6 support (638c4aa) for now.

[2019-09-02 15:49] cpriebe commented on #59
Closing this for now. Feel free to reopen if my comment above did not address the original issue.

[2019-09-02 15:49] #59 closed

[2019-09-12 09:40] jjcollinge opened #62 "deploy Docker container missing libjson-c.so.2"
When following the build and deploy in docker instructions on an Ubuntu 18.04 machine I get an issue.

Building LKL in docker works ok
`./sgx-lkl-docker.sh -s build`

Deploying the sample Java app using
`./sgx-lkl-docker.sh -s deploy-app jvm-helloworld`
fails with the following error:
`/sgx-lkl/build/sgx-lkl-run: error while loading shared libraries: libjson-c.so.2: cannot open shared object file:

[2019-09-15 21:53] cpriebe commented on #62
Hey @jjcollinge,

Thanks a lot for reporting this (and thanks a lot @deadlyfingers for confirming)! I have to admit I rarely use the Docker build during development so things like these might go unnoticed. The dependency hasn't changed in a while though so I'm a little bit surprised this hasn't come up before. Which OS (version) is this on?

In any case, pull requests are very welcome and having a

[2019-09-16 08:36] jjcollinge commented on #62
Hi @cpriebe - no worries, I do think this probably needs me to do a little more investigation to work out when/why the dependency was dropped before putting in the PR. I'm running on `Ubuntu 18.04.2 LTS`. I'll try find some time to dig into this and if I don't find anything more insightful I'll open a PR with the above fix.

[2019-09-17 08:44] cpriebe opened #63 "Upgrade LKL to 5.2/5.3"
Currently, SGX-LKL uses a version of LKL based on kernel version 4.17. Kernel version 5.2 has recently been merged into the upstream repository (https://github.com/lkl/linux/pull/470) and a pull request exists for 5.3 (https://github.com/lkl/linux/pull/473).

We should upgrade the version of LKL. Among other things this would make SGX-LKL compatible with binaries and libraries from newer Alpine re

[2019-10-08 20:41] dimakuv opened #71 "Analysis of security/usability/performance"
Hello,

I am curious if you have any techreport or a blog post with some security/performance analysis of SGX-LKL? In particular, it is interesting to know:
1. Total lines of code (and the breakdown)
2. The required effort to port Linux (LKL backend lines of code, which parts of Linux must be changed -- if any -- and how it affects performance)
3. The analysis of the virtio interface in terms of s

[2019-10-09 07:50] prp commented on #71
Hi Dmitrii, you may find our arXiv paper helpful: https://arxiv.org/abs/1908.11143

[2019-10-09 07:50] #71 closed

[2019-10-09 23:48] dimakuv commented on #71
I didn't know you already have a paper, thanks!

[2019-10-15 12:48] cpriebe commented on #62
I'm closing this as this should be fixed after merging pull request https://github.com/lsds/sgx-lkl/pull/74. Adding the dependency seems to be the right thing to do.

Please re-open/create a new issue if there are any issues.

[2019-10-15 12:48] #62 closed

[2019-10-15 12:49] #57 closed

[2019-10-20 18:20] kanakraju73 commented on #29
Any update on this?

[2019-10-20 18:21] kanakraju73 commented on #11
Any update on this?

[2019-10-28 14:57] lead4good opened #76 "Timestamp inside simulated sgx enclave wrong"
For our application we need to have access to the correct timestamp. Currently the system time returns very weird values upon each call with no pattern recognizable. You can reproduce this by running e.g. ```date``` inside the miniroot container. Due to lack of sgx compatible hardware we were only able to test this inside simulated mode.

[2019-10-28 15:02] cpriebe commented on #76
Hi @lead4good,

Thanks a lot for opening this issue. I have just tested this on my system and wasn't able to reproduce the behaviour:

[code]

Could you say a bit more about your setup/system?

[2019-10-28 15:12] lead4good commented on #76
The setup is a domU Xen VM running Fedora 30. With ```SGXLKL_GETTIME_VDSO=0``` I do get the correct time however. This is sufficient for me, I do believe that the problem is due to my environment, so I'm closing this issue. Thanks!

[2019-10-28 15:12] #76 closed

[2019-11-08 08:59] fixerivan opened #77 "asylo"
you probably know about them but is there any reason why you don't mention (https://github.com/google/asylo) in your paper? can run existing SW too: https://asylo.dev/blog/2019/asylo-redis-sqlite.html and has fork implemented using DH: * ... these properties are guaranteed by the fork() implementation via a one-time authenticated EC-based Diffie-Hellman key exchange between the two enclaves.*

how

[2019-11-08 09:05] prp commented on #77
Hi @fixerivan,

We are aware of Asylo, but we would regard it more as an SDK for building enclave applications (similar to OpenEnclave and the Intel SGX SDK) and not a library OS for supporting existing Linux applications/containers inside of SGX enclaves. In particular, as far as I know, Asylo cannot execute unmodified Linux binaries inside of SGX enclaves.

[2019-11-08 09:05] #77 closed

[2019-11-08 09:14] fixerivan commented on #77
they claim that:

To make it easy to run an application in an enclave, Asylo now provides an
application wrapper, which enables users to easily run an existing
application in an enclave without any source code modifications.

On Fri, 8 Nov 2019, 10:05 Peter Pietzuch, <notifications@github.com> wrote:

[2019-11-08 09:26] fixerivan commented on #77
thanks for the clarification

On Fri, 8 Nov 2019, 10:23 Peter Pietzuch, <notifications@github.com> wrote:

[2019-11-13 11:08] fixerivan opened #78 "fork"
any plans of adding support for fork?

support for pre-built sw from alpine packages is quite limited without fork, almost anything i try ends with:

_fork: Function not implemented_

[2019-11-13 11:36] cpriebe opened #79 "Registers are not scrubbed on enclave exits"
Issue reported by Jo Van Bulck, KU Leuven and David Oswald, University of Birmingham.

SGX does not scrub registers when an enclave is exited via the EEXIT instruction which is used in the `leave_enclave` and `exit_enclave` functions which can leak sensitive information. See

https://github.com/lsds/sgx-lkl/blob/adc9f8933035c97d537e09e86210be0fce8ec663/src/sgx/sgx_enclave_config.c#L86

and

https:

[2019-11-13 12:29] prp commented on #78
Our experience has been that the majority of useful applications to run inside of SGX enclaves are single-process, so the lack of fork() is not an issue. Obviously shells and shell scripts cannot be run, but it is easy to work around this limitation.

The problem with fork() support on SGX1 hardware is that it cannot be implemented efficiently. Even if we were to provide an implementation of fork(

[2019-11-13 12:29] #78 closed

[2019-11-13 12:47] fixerivan commented on #78
i was thinking more about graphical applications using X server over network ...

[2019-11-13 15:11] ppourali opened #80 "Assertion failed error when running sgx-lkl-run"
Hello,

I am trying to run an image using the sgx-lkl-run but it throws the following error:

sgx-lkl-run: attestation/aesm.c:112: init_quote_response: Assertion `qr->has_targetinfo' failed.
Aborted (core dumped)

No matter what image I run, it throws this error even for the sample images given in the repo. My SGX service is also up and running (I assume since I can successfully run the attestatio

[2019-11-13 15:16] cpriebe commented on #80
Hi @ppourali,

Thanks for reporting this. We have received similar reports in the past but I am not entirely sure yet what causes this. (Re-)installing the latest driver and PSW (libsgx-enclave-common) seems to have helped at least in some cases. It might be worth to try that first.

Apart from that could you report your system configuration and which version of the driver and PSW you currently ha

[2019-11-13 16:20] ppourali commented on #80
Thanks for the reply. I tried to reinstall PSW (I have the /opt/intel/libsgx-enclave-common folder and seems to be working properly) but no luck!

Configurations: Ubuntu 16.04, Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz,  SGX 2.0 Linux Driver,
SGX-LKL version 1.0.0 Hardware Mode.

[2019-11-13 16:36] ppourali commented on #80
OK, it works only when I install the sgx-lkl in simulation mode. Not sure, why Hardware mode throws the error though.

[2019-11-15 00:52] cpriebe commented on #80
The error is related to the AESM service (installed as part of the PSW/libsgx-enclave-common). SGX-LKL talks to the service to initialise a quote for remote attestation. This only applies to hardware mode so you won't see the same error in simulation mode.

Technically, the quote is only relevant if you actually want to perform remote attestation so we might want to change the assertion here into

[2019-11-18 15:04] ppourali commented on #80
I see, Thanks for the info :)

[2019-11-19 14:08] ppourali commented on #34
Hi, I am also trying to pass export https_proxy variable into the sgx image. Could you please guide me how to do it? I have already set the environment variable in my docker image (from which I create sgx image) but apparently it is not being set.

Thanks.

[2019-11-19 15:16] cpriebe commented on #34
Hi @ppourali,

At the moment there is no way to embed environment variables into the image. I agree though that this would be a good thing to support.

For testing you can simply provide environment variables on the command line to sgx-lkl-run which are passed on to the enclave. You can also use the --app=path/to/appconfig flag to provide a configuration file that includes environment variables fo

[2019-11-19 15:37] cpriebe commented on #79
The issue was described in the research paper [A tale of two worlds: Assessing the vulnerability of enclave shielding runtimes](https://people.cs.kuleuven.be/~jo.vanbulck/ccs19-tale.pdf) along with a few other issues. Thanks again to Jo Van Bulck, David Oswald and the other authors for notifying us regarding these issues, in particular those that had not been known yet.

The other issues mentioned

[2019-11-19 15:53] ppourali commented on #34
Hi @cpriebe,

Thanks for the reply and thanks for the hint. I am trying to provide app config, just to confirm, is the below config file correct?
{
    "run": "/usr/bin/python3",
    "args": [
        "/myapp.py"
    ],
    "environment" : {
        "HTTP_PROXY": "http://USER:PASS@PROXYSERVER:PORT",
        "HTTPS_PROXY":"http://USER:PASS@PROXYSERVER:PORT"
     }
}

I run my image with the followi

[2019-11-19 17:01] cpriebe commented on #34
Thanks a lot for reporting this. I just reproduced the issue. When using the --app argument, the environment doesn't seem to get set (while it does work when providing the app config remotely). I have just pushed a small change. Maybe you could try again?

[code]

[2019-11-19 18:21] ppourali commented on #34
Thanks a lot @cpriebe , it's working perfectly now!

Parsa

[2019-11-20 01:51] ppourali opened #81 "How to connect to ip:port on host machine from within sgx image"
Hi,

It is not clear to me how the networking interface works. So, I was wondering if anyone can help with the following scenario:
 - I am trying to run a socket application where there is a (virtual) server that is binded to localhost:8888and listens to the application that is also connected to the same ip:port. The client connects to the server's ip:port and pass data through sockets. Now, I wan

[2019-11-21 16:23] ppourali commented on #81
Never mind, I just had to forward the incoming/outgoing traffic.

[2019-11-21 16:23] #81 closed, assigned to nobody

[2019-11-21 17:38] letmaik opened #82 "Docker: don't assume working directory = repository"
https://github.com/lsds/sgx-lkl/blob/a4fc0cc6fea39f30d33783e55626afbff3c7a871/sgx-lkl-docker.sh#L218

The end of this line has `.` which means running the script only works when the current working directory is the sgx-lkl repository.
EDIT: It may be necessary to use the `-f` flag as well.

[2019-11-21 17:51] letmaik opened #83 "deploy-container: libcurl missing"
[code]
I added `libcurl3` to the `min-deploy` part of Dockerfile to fix it.

[2019-11-25 14:28] andreluis034 opened #84 "Running applications inside sgx-lkl other than root"
Currently applications running inside SGX-LKL are, by default, ran as 'root'. This leads to some apps not starting as they require to be started as a user with less permissions.

An example of such application is postgresql, it does not run if it is executed as root. Does sgx-lkl provide any mechanism to change the user?

[2019-11-26 13:39] cpriebe commented on #84
Hi @andreluis034,

Thanks for opening this issue. Unfortunately, right now that is not a feature of SGX-LKL. That said, it should be pretty straightforward to implement. SGX-LKL does support `setuid`/`setgid`, so as long as the corresponding user exists (i.e. is listed in the `/etc/passwd` file on the disk image) it's simply a matter of calling `setuid`/`setgid`. Some applications support specifyi

[2019-12-03 18:50] ppourali opened #85 "Can SGX-LKL interact with image's outsid world to store retrieve from a shared memory?"
Hi there,

Let's say we run two pieces of code on the same machine. Can the code inside SGX read/write from/to a shared memory that is accessible for both pieces of code? I think at the moment the memory that is being written by SGX image is not accessible by the processes outside the SGX.
i.e.,
SGX-Image_Code Read/Write ===>  **SHARED MEMORY** <=== Outside SGX_Code Read/Write

One way of doing th

[2019-12-19 12:43] superajun-wsj opened #86 "How does SGX-LKL support jvm GC safepoint mechanism please?"
As we know, before JVM triggle a GC, it will STW by safepoint mechanism, but memory in Enclaves is always 'rw' priority in version 1, it means instruct “test   %eax,0x160100” should never
trigger a signal, right? if so, how to STW in time please?

[2019-12-19 13:25] prp commented on #86
With SGX version 1, we permit applications such as the JVM to do mprotect host calls to change page permissions. If the STW GC triggers a page fault, this is delivered to a handler inside of the enclave.

[2019-12-20 01:05] superajun-wsj commented on #86
@prp , Thanks very much for your response first. do you mean we could change page permissions in enclaves by host calling with SGX version 1?  do we need to make any changes towards OpenJDK please? I don't understand how could jvm trigger a signal by instruct "test %eax" in enclaves?

[2019-12-20 07:57] prp commented on #86
No, there are no changes required. It works transparently because SGX-LKL delivers the page fault that is raised by the host OS to the JVM inside the enclave.

[2019-12-23 00:56] markueni opened #87 "Is WireGuard IPSec endpoint inside Intel SGX enclave?"
Hi,

I have a scenario in which I have one server machine and one client machine. Up to now I run RAP between server and client machine and then I setup an IPSEC tunnel (using Strongswan)between client and enclave in order to transfer packets and then I placed endpoint of IPSEC tunnel inside enclave. That works but I do not want to use Wireguard since it is faster than Strongswan. The problem is t

[2019-12-29 17:18] kleirama opened #88 "When I try Full Attestation and Remote Control Example I can not connect on server with IP:192.168.10.1"
Hi,

I am trying to run the Full Attestation example and I am sure I have followed every step of the ReadMe file but I am not able to connect to the server. The problem is given below:

The server output

[    SGX-LKL   ] Maximum enclave threads (TCS): 8
[    SGX-LKL   ] Kernel command line: ""
[    SGX-LKL   ] Adding entropy to entropy pool.
[    SGX-LKL   ] wg0 has public key 8pK13oSJCVdFSnStRdn

[2019-12-29 17:24] cpriebe commented on #88
Have you set up the corresponding firewall rules and enabled port forwarding? See https://github.com/lsds/sgx-lkl#networking-support

[2019-12-29 17:56] kleirama commented on #88
Hi,
I figured it out the problem. I should have used the pubblic IPs of my own PCs instead of the one in the example. Now it is working

[2019-12-29 18:13] kleirama commented on #88
I have one question: When we execute _sgx-lkl-run_ in parameter _SGXLKL_WG_PEERS_ should we place the value of file **wgclient.priv** ?

[2019-12-30 18:36] kleirama opened #89 "How to check the interfaces of the Enclave in case you created an encrypted disk"
Hi,

I am trying to check the interfaces of the Enclave but I am not able to do that.

When I run on the Server machine which hosts the enclave

I got the output below

Then I run the command below in order to check the interfaces of the Enclave

I got the error below

This error does not make sense to me since I guess I have provided the right HEX passphrase.
Note: I have created the disk.img on

[2020-01-01 18:36] markueni opened #90 "Step "7. Client: Send application launch request" of Full Attestation and Remote Control Example does not work (Is not possible to connect at server 10.0.2.1)"
HI,
I have tried Full Attestation and Remote Lunch example of [](https://github.com/lsds/sgx-lkl/wiki/Remote-Attestation-and-Remote-Control) and the last step fails.
I have tried it in different bare metal machines and it always fails.

However below i describe every single step I followed in order to try the example. In my scenario I have two bare metal machines one acting as client (eniom) and a

[2020-01-05 11:26] cpriebe commented on #85
Apologies for the delay. SGX-LKL right now does not support shared memory. SGX-LKL aims to run single-process application with minimal reliance on the host system, so we try to minimise any interaction with the host. Also, we have focused on supporting unmodified applications. Such a shared memory abstraction would most likely require corresponding application changes.

That said, SGX-LKL can't pr

[2020-01-05 11:30] cpriebe commented on #87
Hi @markueni,

Just to clarify, IPSEC and Wireguard are completely independent and don't really have anything to do with each other, other than sharing similar use cases.

The Wireguard endpoint is inside the enclave, yes. Every SGX-LKL instance sets up a Wireguard interface inside the enclave and generates a random key at startup. The public key is attached to the attestation report. You can find

[2020-01-05 11:34] cpriebe commented on #88
Hi @kleirama,

When you specify peers, you always use the public keys (as you would when configuring Wireguard natively). Only `WG_KEY` requires the private key, and that should only be used for test purposes. If you don't specify `WG_KEY`, SGX-LKL generates a random Wireguard key inside the enclave on startup.

[2020-01-05 11:39] cpriebe commented on #89
Hi @kleirama,

I don't see anything wrong with your example. Could you try and see if this also happens to you with a minimal example (e.g. without copying the disk image or keys around):

[code]

If that does work, maybe something went wrong when copying the disk image or key?

[2020-01-10 11:47] fnerdman opened #91 "Remote Attestation: works with sgx sdk sample, fails with GROUP_OUT_OF_DATE for sgx-lkl"
We are using an infra-1 ovh server, microcode and bios is up to date.
When running the remote attestation sample of the sdk, output is successfull ([sdk-ra.txt](https://github.com/lsds/sgx-lkl/files/4045422/sdk-ra.txt))
When running remote attestation with sgx-lkl it fails with GROUP_OUT_OF_DATE ([lkl-ra.txt](https://github.com/lsds/sgx-lkl/files/4045430/lkl-ra.txt))

Any idea why this is happenin

[2020-01-13 12:34] fnerdman commented on #91
I've just run the attestation with the sgx-ra-sample project and it also reports problems with the TCB, so no sgx-lkl problem.

[2020-01-13 12:34] #91 closed, assigned to nobody

[2020-01-14 21:53] khiem111189 commented on #90
Does anyone know about this problem?

[2020-01-14 22:23] khiemfle commented on #90
Does anyone know about this problem?
I also got the same problem after following all steps in [full-attestation-and-remote-launch-example](https://github.com/lsds/sgx-lkl/wiki/Remote-Attestation-and-Remote-Control#full-attestation-and-remote-launch-example). I cannot connect to Server to do remote configuration.

![image](https://user-images.githubusercontent.com/5907652/72387903-4fcb4900-372d-11e

[2020-01-16 13:52] fnerdman opened #92 "Remote Attestation: Attestation Report Signing CA Certificate could not be verified"
Running `sgx-lkl-ctl attest` with `--ias-sign-ca-cert` pointing to the latest [Attestation Report Signing CA Certificate](https://certificates.trustedservices.intel.com/Intel_SGX_Attestation_RootCA.pem) throws a warning `Warning: Failed to verify certificate chain: certificate signature failure` and because of that ultimately fails: `Error: Verification of quote and attestation report failed!`

[2020-01-17 14:56] fnerdman commented on #92
This issue seems to be due to a bug in the old openssl library that is used in the default docker image which is used (with ubuntu 16.04).

I was able to figure out these things: the default CA certificate which is hardcoded into sgx-lkl is the same as intel is currently advertising. The  [signing certificate](https://github.com/lsds/sgx-lkl/files/4077325/intermediate.pem.txt) which I can see when

[2020-02-19 14:25] RobertZenz commented on #76
Just as a heads-up, we're seeing the same on Ubuntu 18.04 machines. The timestamps provided are all over the place, pretty much looks like it is reading random memory, but we did not have the opportunity so far to test in a "real" enclave, only debugging.

[2020-02-29 10:35] prp commented on #76
@RobertZenz We are working on a new version of SGX-LKL that won't have this problem. Please stay tuned.

[2020-02-29 11:12] RobertZenz commented on #76
Great to hear.

Out of curiosity, is mechanism kinda functional or only stubbed regarding the Enclave?

[2020-02-29 11:17] prp commented on #76
Are you asking about the new mechanism? The problem with using VDSO in this way is that the implementation is specific to the Linux kernel version. When there is a kernel upgrade, the layout of the VDSO page may change, breaking the support in SGX-LKL. Instead, a better design is to have a shared memory page that provides VDSO-like functionality, but is entirely under our control.

[2020-03-02 08:09] RobertZenz commented on #76
About the overall functionality. If I understood this right, the VDSO is a mechanism which allows to call kernel functions from userspace without having to switch to kernel mode. I'm a little bit fuzzy on the implementation details of SGX-LKL to be honest, so please forgive some inaccuracies, but as far as I understood it provides a LKL shim/implementation inside the enclave which can be used. If

[2020-03-06 11:36] RobertZenz opened #93 "Retrieve attestation from within the enclave."
I have a little trouble understanding the attestation process and I hope that somebody can shed some light on this.

We want to run a server inside the SGX-LKL enclave, ideally this process should be able to present an attestation to the client, to proof that it is valid, on demand. So the enclave itself should be able to request an attestation for itself (with a shared secret from the remote clie

[2020-03-06 20:01] prp commented on #93
You may be interested in this: https://github.com/cloud-security-research/sgx-ra-tls

[2020-03-09 08:26] RobertZenz commented on #93
So I take it there's not direct support in SGX-LKL?

But having it built into our application is not that much of a problem, especially not with the examples you've linked. Thanks.

[2020-03-28 08:26] prp opened #94 "Bug in timeout specification for timer callback"
https://github.com/lsds/sgx-lkl/blob/a4fc0cc6fea39f30d33783e55626afbff3c7a871/src/lkl/posix-host.c#L288

This line can overflow and then lead to the `pthread_cond_timedwait` rejecting the timeout specification.

A possible fix is adding:
[code]

[2020-04-28 11:31] xinuo opened #95 "Can't build the sgx-lkl"
When i run the command
`./sgx-lkl-docker.sh -s build
`
it show the error about :

/sgx-lkl/build/ctl/ctl/verify_report.o: In function `verify_report':
verify_report.c:(.text+0x5f3): undefined reference to `EVP_MD_CTX_new'
verify_report.c:(.text+0x657): undefined reference to `EVP_MD_CTX_free'
collect2: error: ld returned 1 exit status
Makefile:109: recipe for target '/sgx-lkl/build/sgx-lkl-ctl' fa

[2020-04-29 10:25] davidchisnall opened #96 "[Debug] tools/gdb/setup.sh fails silently if pkg-config fails"
This line will cause the script to exit without any error:
[code]
It should print a useful error message instead.

[2020-04-29 10:28] davidchisnall opened #97 "Re-structure SGX-LKL options with respect to attestation"
We need to clean up the configuration options of SGX-LKL:

1. We should go over the options supported by `sgx-lkl-run` and remove ones that are no longer necessary.

2. The remaining ones should be divided into three groups:

     a. **Debug options**,  which are only available in the DEBUG build of SGX-LKL.

     b. **Host options**, which only impact the operation of the launcher but otherwise h

[2020-04-29 10:34] davidchisnall opened #98 "Replace cryptsetup third-party dependency"
Our cryptsetup usage:
[code]
Alternative implementations:
- https://github.com/markuspeloquin/fluks
- https://en.wikipedia.org/wiki/FreeOTFE

Regarding out cryptsetup code usage, crypt_init lives here (https://gitlab.com/cryptsetup/cryptsetup/blob/master/lib/setup.c#L578) but it then calls dm-specific initialisation code and we are potentially using dm-crypt, dm-integrity and dm-verity. There is a

[2020-04-29 10:36] davidchisnall opened #99 "Derive dm-verity roothash offset"
Currently, the offset of the dm-verity roothash has to be specified in the app config. Since it always follows exactly after the end of the LUKS partition, couldn't we simply query the LUKS partition size and then set the roothash offset accordingly?

Related to #98

[2020-04-29 16:08] agowdamsft opened #102 "Suggest attestation details from the FAQ Docs"
For the current open source release attestation is not part of it and should be reworded or removed "Can I use a Confidential Linux Container on a normal Linux system?"

[2020-04-29 16:25] hukoyu opened #103 "sgx-lkl fails to start nodejs app with an assert"
SGX-LKL code that sets up the environment for the node process throws the assert.

Node expects the argv memory to be adjacent. The code that builds argv needs to be fixed.

Error:
[[ SGX-LKL ]] libc_start_main_stage2(): Calling app main: usr/local/bin/node
Assertion failed: process_title.len + 1 == size (../deps/uv/src/unix/proctitle.c: uv_setup_args: 65)
Aborted
[[ SGX-LKL ]] lkl_terminate(): te

[2020-04-29 18:27] jhand2 opened #105 "[Build] Should OE be built as a submodule of SGX-LKL"
Currently OE is included from its install location (/opt/openenclave) and the expectation is that it was previously installed on the machine on which SGX-LKL is being built.

OE should be included as a submodule of SGX-LKL and built as part of the SGX-LKL build process similar to other dependencies such as musl and lkl.

Please know that until this is done, SGX-LKL might break with no warning any

[2020-04-30 04:05] hukoyu commented on #103
@wintersteiger please let me know when you submit your PR to fix this issue so that I can submit my PR for adding nodejs test.

[2020-04-30 13:41] RobertZenz opened #116 "Dynamic memory management in SGX-LKL."
Is there support for the new extensions which allow dynamic memory management in SGX2?

[2020-04-30 18:37] letmaik opened #120 "[Tests] virtio/ping_test crashes intermittently"
(from https://github.com/lsds/sgx-lkl/pull/111#issuecomment-621899928)

The test is currently disabled in CI because it crashes sometimes with:
[code]

[2020-04-30 18:40] praenubilus opened #121 "Enclave Timing is Incorrect"
We have found time issue in sgxlkl oe_port branch.
The symptom: when starting enclave, the system time in the enclave will be set to
**Thu Jan  1 00:00:00 UTC 1970**
@jxyang can verify that.

[2020-04-30 20:18] #12 closed

[2020-04-30 20:19] #87 closed, assigned to nobody

[2020-04-30 20:20] #80 closed

[2020-04-30 20:21] #86 closed, assigned to nobody

[2020-04-30 20:21] #85 closed, assigned to nobody

[2020-04-30 20:23] #89 closed, assigned to nobody

[2020-04-30 20:23] #42 closed

[2020-04-30 20:24] #24 closed

[2020-04-30 20:27] SeanTAllen commented on #121
This is probably because https://github.com/lsds/sgx-lkl-musl-oe/pull/30 was moved over and the sgx-lkl work required to make that a reasonable change is currently hung up on some issue (I'm currently working on it).

Adding that change back in the syscall.h should fix the issue.

[2020-04-30 22:33] SeanTAllen commented on #121
@jxyang is currently confirming the fix for this.

[2020-04-30 22:36] jxyang commented on #121
Yes, the fix enabled the ocall workaround and the timing is correct now.

[2020-04-30 22:41] SeanTAllen commented on #121
@prp can you close this issue? I don't have permissions to close.

[2020-04-30 23:27] hukoyu commented on #121
How is this fixed? I don't see the related PR.

[2020-05-01 00:15] hukoyu opened #128 ""Test Plans" is not enabled for sgx-lkl CI pipeline"
In the Azure DevOps CI pipeline  https://dev.azure.com/sgx-lkl/sgx-lkl "Test Plans" is not enabled.
"Test Plans" should be enabled so that
1) we can see test runs
2) In the pipeline job in "Publish Test Results" the link to test run can be used. Now it gives 404

![image](https://user-images.githubusercontent.com/61761684/80770668-b53d1d00-8b05-11ea-882b-05ae287973c6.png)

Sample pipeline run:
htt

[2020-05-01 00:16] hukoyu commented on #128
@letmaik we need to enable "Test Plans" in pipeline to see test runs and be able to use test result links.

[2020-05-01 00:22] jxyang commented on #121
This is the PR: https://github.com/lsds/sgx-lkl/pull/126

[2020-05-01 06:32] prp commented on #94
This is fixed in the oe_port branch.

[2020-05-01 06:32] #94 closed, assigned to nobody

[2020-05-01 06:34] prp commented on #116
Hi @RobertZenz it is not yet supported but there are plans to support it down the line.

[2020-05-01 06:40] letmaik commented on #128
I don't think we need this. Can you check if the following works?

![grafik](https://user-images.githubusercontent.com/530988/80787605-dc840080-8b7e-11ea-8b8a-e42c3942f0ac.png)

![grafik](https://user-images.githubusercontent.com/530988/80787673-105f2600-8b7f-11ea-8e36-ca69314fad1c.png)

[2020-05-01 06:45] #121 closed, assigned to SeanTAllen

[2020-05-01 07:31] prp opened #129 "SGX-LKL sometimes doesn't terminate with multiple app threads"
When running a multi-threaded application using OpenMP, SGX-LKL doesn't terminate cleanly and blocks. To reproduce, run the [OpenMP sample application](https://github.com/lsds/sgx-lkl/tree/oe_port/samples/languages/openmp). When running it with `make run-sw`, it freezes as follows:
[code]
After the main thread has terminated, we set the lthread scheduler exit flag, so all other threads should also

[2020-05-01 07:57] letmaik opened #130 "Increase default LKL memory to 64M?"
cryptsetup allocates/uses LKL memory (and not enclave mmap memory). The default size for LKL visible memory is 32MB. Using dm-crypt+dm-integrity I stumbled over the following. Increasing the size to 64M fixed it. Should 64M become a new default? It may be nontrivial for users to diagnose this themselves.

[code]

[2020-05-01 08:03] prp commented on #130
I think that we should decide this based on the requirements of the cryptsetup replacement. @mikbras?

[2020-05-01 08:05] letmaik commented on #130
Isn't this independent of cryptsetup? The kernel-level dm-* modules would still be there.

[2020-05-01 09:41] AndrewMallinson opened #131 "setaffinity system call not supported"
SGX-LKL-OE currently doesn't seem to support applications or application runtimes setting thread affinities within the enclave, at least with OpenMP programs. It should be possible to reproduce this using the sample OMP app at: https://github.com/lsds/sgx-lkl/tree/oe_port/samples/languages/openmp

I was testing this with the LLVM omp runtime, which I had to build for the alpine docker containers,

[2020-05-01 09:49] davidchisnall commented on #131
Thanks.  Supporting this is something I'd like to see, but it's nontrivial.  We will need the following changes:

- [ ] Add an affinity mask to each lthread.
- [ ] Modify the lthread scheduler to skip lthreads that are bound to an ethread set that does not include the current scheduler.
- [ ] Intercept system calls that return topology information to provide the ethread state.
- [ ] Ensure that th

[2020-05-01 09:51] davidchisnall commented on #116
This depends on Open Enclave supporting EDMM.  It's definitely something that we'd like to support though and we're talking to the Open Enclave team to ensure that their APIs are something that we can usefully consume.

[2020-05-01 11:54] SeanTAllen opened #134 "Add shared page to replace brittle VDSO mechanism"
Currently the VDSO support in SGX-LKL is brittle and fails with particular versions of the host Linux kernel. This may break VDSO time-related calls, e.g. in Python, which fails with incorrect timestamps. (In such cases, the VDSO support can be deactivated with SGXLKL_GETTIME_VDSO=0 but this adds a substantial performance penalty.)

VDSO support is specifically broken in Linux 5.0 kernels.

The pr

[2020-05-01 13:34] davidchisnall opened #135 "CI is avoidably slow and inefficient"
CI speed is a limiting factor for merging PRs.  We require PRs to pass CI and be approved, but once one PR has merged the next PR to merge must wait for CI to re-run to ensure that it was not broken by the prior one.

We are currently running the LTP tests on two VMs.  These are 4-core VMs, but we are running only one test at a time.  We could split the LTP tests into more parts and run on more VM

[2020-05-01 13:45] letmaik commented on #135
I'm happy to take the first three items but would appreciate if someone could work on the last item (parallelising of LTP tests).

For the first three I would use the Debian package as artifact.

[2020-05-01 13:57] Pengpeng-Microsoft commented on #135
@letmaik , please help with first three.

[2020-05-01 16:43] letmaik commented on #128
Anyway, I enabled it now, even though I think it's not needed really. But maybe I'm missing something?

[2020-05-01 16:43] #128 closed, assigned to nobody

[2020-05-01 18:19] hukoyu opened #139 "The CI should also run tests with different ethread counts"
The CI should also run tests with different thread settings, like number of ethreads.
Pick one of the big application tests, e.g. JVM and run it with ethreads={1, 2, 3, 4, 8}.

SGXLKL_ETHREAD is used to pass thread count to sgx-lkl enclave

[2020-05-01 18:24] jxyang commented on #135
The EPC memory size specified for ltp tests is 512 MB. We should experiment with threading to find out how much time the parallelism will actually save in the face of EPC paging.

[2020-05-01 19:55] letmaik commented on #135
EPC size is fixed by hardware, I guess you mean heap size? Looking at the LTP script it seems it's actually the LKL kernel memory size which is set: https://github.com/lsds/sgx-lkl/blob/f0d4b2a54e45478d358a4c4ec922c81b8133446c/tests/ltp/run_ltp_test.sh#L59
Does this make sense? Do the tests really need so much?

[2020-05-01 20:12] hukoyu commented on #128
Now links are working properly. Yes this summary test result is also working but test result pages are more user friendly.

[2020-05-01 20:44] jxyang commented on #135
We are running the LKL kernel inside enclave. That effectively means EPC memory, right? Per a previous discussion, that amount of memory is required when we create a loop device for a ltp test case.

[2020-05-02 07:41] prp commented on #135
@jxyang I don't think that it's a good idea to increase LKL memory in this way for the LTP tests. Essentially this will mask other problems where particular tests/syscalls would otherwise run out of LKL memory. In a normal configuration, LKL memory is only 32MB (or 64MB), and we should stick with that (until we integrate the kernel and enclave memory allocators).

The correct solution here is to u

[2020-05-02 10:08] davidchisnall commented on #135
Not exactly.  The tests have a 1GB allocation that can be paged into EPC.  EPC needs to be large enough to contain their working set if we are to get good performance.  For most of the LTP tests, I would imagine that the working set if very small (considerably smaller than the total available EPC size).  I expect some parallelism will show a speedup, but if we increase parallelism such that EPC is

[2020-05-03 06:57] vamsikrishna935 opened #143 "The value of file descriptor is always zero for all the files inside enclave."
Created a three files and assigned file descriptor variables to each. All the file descriptor values are zero.

TestCase: Open13
Debugging details:
Thread 6 "ENCLAVE" hit Breakpoint 2, main (ac=<optimized out>, av=<optimized out>) at open13.c:86
86      in open13.c
(gdb) p fd
$1 = 0
(gdb) p fd2
$2 = 0
(gdb) p fd1
$3 = 0

Use the below patch code for creating files and verifying the values.
diff --

[2020-05-03 17:29] prp opened #144 "Add support for RELEASE builds of SGX-LKL"
Build types for SGX-LKL
=================

We want to support the following three mutually-exclusive build types for SGX-LKL:

1. `make DEBUG=true` **# DEBUG build**

This creates a debug build of SGX-LKL with full debug and tracing functionality, debug symbols and `-O0`.

This version should be used for development of SGX-LKL. It is not secure because it permits execution without attestation and

[2020-05-03 17:52] letmaik commented on #144
I don't think it's a good idea to have different launcher names. This will complicate any kind of automation. Why not simply use a different installation prefix and keep everything inside the same?

[2020-05-04 06:47] hukoyu commented on #143
This sgx-lkl product bug found while trying to fix LTP test kernel/syscalls/open/open13

[2020-05-04 07:05] hukoyu opened #147 "Fix the root cause of flaky test failures and enable disabled non-ltp tests"
We added mechanism to be able to disable a non-ltp test by adding Makefile path to this file: https://github.com/lsds/sgx-lkl/blob/oe_port/.azure-pipelines/scripts/disabled_tests.txt

For now we disabled these tests since they were failing randomly and causing pipeline fail. We disabled these tests until the root cause of falure(s) found and fixed.

We should fix these tests and enable by removing

[2020-05-04 07:47] letmaik opened #148 "Non-zero exit codes ignored in LTP tests"
When an LTP test exits with non-zero exit code (e.g. due to a segfault) then this is not captured. The current logic only scans through stdout/stderr, but doesn't look at exit codes. The only reason we still observe faults like that at all is that the upper level test runner scans the output of the ltp test "test suite" and would find "Segmentation fault" in it, but then it is impossible to figure

[2020-05-04 08:17] davidchisnall opened #150 "Remove stat syscall bypass"
Currently, sgx-lkl-musl has a work-around for the different stat layouts between x86-64 and LKL.  We should move that compat layer into `src/lkl` and wrap the system call.

Relevant musl code: https://github.com/lsds/sgx-lkl-musl/blob/22c91c211aaf4048a4f034084bb7fa202bd6071c/src/internal/syscall.h#L66

[2020-05-04 08:43] davidchisnall opened #151 "Remove libc dependencies from src/enclave"
As part of the relayering work, we should ensure that nothing in `src/enclave` depends on libc init.  Some of these changes are simple and mechanical:

 * Change `malloc` to `oe_malloc` so that we don't need musl's version of malloc to be working before we start.
 * Remove use of C asserts and use `sgxlkl_fail`.

Others are more complex.

We can't remove a small set of things that we expect to exi

[2020-05-04 08:44] davidchisnall commented on #151
@wintersteiger , FYI: please keep this in mind when replacing the config data.  I hope that we'll get a lot of the fixes in `sgxlkl_app_config.c` for free when we move to using JSON and @mikbras's JSON library.

[2020-05-04 09:11] davidchisnall opened #154 "Intercept `clone` to handle `CLONE_CHILD_CLEARTID`"
The `CLONE_CHILD_CLEARTID` flag to `clone` turns the return value into a futex that is signalled on thread exit.  We should intercept this and register the futex location with the lthread library so that it can be zeroed and sent a wakeup when the underlying lthread exits.  We need to also intercept `set_tid_address` in the same way.

[2020-05-04 09:22] prp commented on #151
Note that we have `SGXLKL_ASSERT` for assertions.

[2020-05-04 09:37] davidchisnall opened #155 "LKL does not support clone"
To fix the layering, we need to return to musl creating threads via the `clone` system call.  Currently, [LKL does not implement `clone` at all](https://github.com/lsds/lkl/blob/21cd7e192cf2a97ea69230b9c0c34da15d157579/arch/lkl/include/asm/syscalls.h#L21).

We need to provide an implementation that handles a the flags required for `pthread_create`.  The correct change in LKL may simply be to provi

[2020-05-04 09:38] davidchisnall opened #156 "Separate userspace TLS from lthreads"
As part of the relayering work, we should ensure that nothing in `src/sched` depends on libc.

- [ ] Extend OE to use %gs to store per-ethread state.
- [ ] Extend OE to provide a per-ethread pointer for library users to consume.
- [ ] Move the lthread scheduler to use that pointer.  Currently, it is stored inside TLS, which produces some interesting circular dependencies. The lthread scheduler is

[2020-05-04 09:57] wintersteiger commented on #151
My work is mostly between OE and LKL, i.e. before LKL starts up. Can I use all of OE's musl at those points in the code or just the *alloc functions?

The new json library also depends on libc (e.g. string functions), but I think we can work around them within reasonable effort.

Is anybody emotionally attached to `sgxlkl_app_config_t`? It would simplify all of this quite a bit if we just removed

[2020-05-04 10:06] prp commented on #151
@wintersteiger conceptually it makes sense to me to have a struct that contains the full app_config, the way it has passed attestation. Or do I misunderstand your proposal?

[2020-05-04 10:10] wintersteiger commented on #151
@prp basically, yes. I started with putting the entire configuration into the json configs, I think there will be very few settings that we don't want attested, so I don't think we'll need a separate config for that purpose. And all of the shared memory should go into a separate struct, not into `sgxlkl_enclave`.

[2020-05-04 10:18] prp commented on #151
@wintersteiger ok, I see. So the question is if the _parsed_ JSON app_config goes into a single app_config struct or into many separate structs/variables for the different SGX-LKL components.

[2020-05-04 10:26] vamsikrishna935 opened #157 "utime() fails to assign current time to file"
Utime03 is failing because of this issue. Please find the testcase details below.
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/utime/utime03.c

utime syscall : http://man7.org/linux/man-pages/man2/utime.2.html

Analysis :
Temporary file is created while setup and test tries to test utime syscall.
TEST(utime(TEMP_FILE, NULL)); This will call utime on temp_file and

[2020-05-04 10:49] letmaik opened #158 "Segfault on host-side virtio shutdown"
The following only happens in sw mode, and only when not having a tty (which is common when running things within a Docker container).

Repro:
[code]

[code]

I set a breakpoint just before `oe_terminate_enclave` and I was surprised to see many host threads still running, like `console_task`, `monitor_console_input`, `netdev_task`, `blkdevice_thread`. Shouldn't they all be shut down by then?

[2020-05-04 10:50] wintersteiger commented on #151
Yes, I think we should have a single struct that corresponds to the json config, otherwise it will be very tricky for users/reviewers to see what is in fact attested and what is not. I don't think we'll need an additional unattested config, but if it turns out we do, we should keep it separate (as opposed to the current merge of host, enclave, and app configs).

[2020-05-04 11:02] vamsikrishna935 commented on #157
https://github.com/lsds/sgx-lkl/issues/121 is not fixed , cannot able to reopen the issue 121 . So created a new issue to track it.

[2020-05-04 11:05] hukoyu commented on #121
This issue still exists. Issue https://github.com/lsds/sgx-lkl/issues/157 created since we cannot reopen this issue.

[2020-05-04 11:15] davidchisnall commented on #151
I agree, having a separate attested config makes a lot of sense, I don't have strong opinions as to whether we want attested vs nonattested config or a load of `foo_config_attested` and `bar_config_unattested` things.

We don't want to depend on OE's libc, not least because it also pulls in a load of oesyscalls dependencies, which increase our attack surface, but also because (assuming we can make

[2020-05-04 12:52] letmaik commented on #135
Points 1-3 are done in #159 ~~and I think point 4 is not necessary anymore as it turns out running an individual leg of LTP tests is rather fast and the bottleneck now are our own tests (notably the openvino test which takes long to build, if the Docker image wasn't cached).~~
EDIT: LTP tests weren't running, see https://github.com/lsds/sgx-lkl/pull/173. Point 4 will still be useful.

[2020-05-04 13:29] letmaik opened #163 "test_miniroot.sh"
.azure-pipelines/scripts/test_miniroot.sh is broken and not invoked from anywhere. Should this test be made into a proper test and moved to tests/ or is it obsolete?

[2020-05-04 14:31] letmaik opened #164 "Compute size if --size not passed to sgx-lkl-disk"
This is useful for read-only disks to get the most compact disk possible.

[2020-05-04 14:37] letmaik opened #165 "Remove sgx-lkl-java"
This is very application-specific and should rather be in the form of a sample/test using an app config.
Note that this relies on tests/containers/unencrypted/env being fixed first.

[2020-05-04 15:45] davidchisnall opened #167 "GDB should skip SIGILL for wrfsbase"
Since the changes to OE to support emulating the `wrfsbase` instruction, we now get a SIGILL on every lthread switch.  This causes gdb to stop.  Ideally, the gdb scripts should check if the faulting instruction is wrfsbase and, if so, resume automatically (or, perhaps, turn off tracing on SIGILL entirely and instead automatically put a breakpoint on the uncommon paths in the OE signal handler).

[2020-05-04 16:08] letmaik opened #168 "Merge LTP1 and LPT2 test suites"
Each LTP test job (one configuration, e.g. debug hw) takes 2-3min (only the testing step, not the rest). I propose merging the LTP1 and LTP2 suites into one to avoid having overhead from job creation itself. The runtime would then be 4-6min per LTP test job.

[2020-05-04 16:50] ashokchandran opened #169 "[Tests] system calls with NULL causes abort"
in umount02 when it test umount with null, it causes enclave to abort. Normally application is expected to get EFAULT. But the back trace is showing that in lkl it calls oe_abort when address is invalid.
[code]

[2020-05-04 16:57] prp opened #170 "Add support to redirect stdout/stderr to file"
We need to provide a configuration option (as part of the `app_config`) to redirect stdout/stderr to:
* the virtio console
* /dev/null
* a file on the (encrypted) root file system

This will be especially important for a RELEASE build, which cannot output to the host via the virtio console.

We should investigate if an in-kernel logging facility (as part of LKL) can be used for some of this.

[2020-05-04 17:00] prp opened #171 "Need to support debugging/trouble-shooting in NON-RELEASE/RELEASE builds"
We need to decide how to support debugging (using gdb) and trouble-shooting (stdout/stderr etc.) of applications running using the NON-RELEASE/RELEASE builds of SGX-LKL (see https://github.com/lsds/sgx-lkl/issues/144).

One aspect is debugging/trouble-shooting of SGX-LKL itself; the other is providing debugging/trouble-shooting support for the application run by SGX-LKL.

App (in-enclave) trouble-

[2020-05-04 17:03] prp commented on #144
I've updated the original issue per our discussion today. Please add other thoughts/suggestions, thanks.

[2020-05-04 17:21] letmaik commented on #169
@ashokchandran Please use ` ``` ... ``` ` for stack traces (and anything else like that) in GitHub, otherwise you create links to old issues.

[2020-05-04 17:28] ashokchandran commented on #169
Thanks updated.

[2020-05-04 17:28] letmaik commented on #144
Symlinking `/opt/sgx-lkl` to `/opt/sgx-lkl-release` will be problematic for the case when the former prefix would be mounted into a container. I'm pretty sure you wouldn't be able to run it without not also mounting the real folder.
I think in general we want to have a `/opt/sgx-lkl`, but do we care whether `/opt/sgx-lkl-release` exists? If not, we could make `/opt/sgx-lkl` the release variant and

[2020-05-04 17:30] prp commented on #158
It makes sense that you see those host-side threads, as the segfault happened during the host side termination sequence.

This should be fairly easy to fix, as I suspect that, due to the missing TTY, the host-side of the virtio console was not allocated correctly.

[2020-05-04 17:38] prp commented on #163
I believe that this is obsolete.

[2020-05-04 17:43] jxyang commented on #144
I am not clear about this statement:

By `locally`, you mean running the application without a peer which provide critical info such as keys? Maybe instead of saying this is impossible for release build, we should state how this is circumvented in non-release/debug build.

[2020-05-04 18:20] jxyang commented on #170
Could the log be saved on a non-root file system? My concern is that once we dump the log to the root file system (encrypted), the dmverity hash tree needs to be re-generated.

[2020-05-04 18:30] prp commented on #170
Note that dm-verity only supports read-only file systems. Yes, we could save it on any mounted file system.

[2020-05-04 18:31] jxyang commented on #168
Each LTP batch takes about half an hour. I am not clear what you are proposing.

[2020-05-04 18:32] hukoyu commented on #168
I didn't understand this issue. LTP tests splitted into 2 batches so that can be run in parallel for a shorter pipeline run time. There are 440 LTP tests and each suite runs 220 LTP tests. Aslo didn;t understand 2-3 min since it takes around 30 minutes each LTP tests job. Am I misunderstanding the target in this issue?

[2020-05-04 18:35] SeanTAllen commented on #157
This is definitely broken on oe_port and would have been for a while from the looks of it. utime03 and a couple more of the utime tests pass on my ongoing in-enclave-time-source branch. However, at the moment, that branch is breaking a couple of other things.

I'm trying to see if I can get a slightly abbreviated version of the "in-enclave time source" work to pass CI that would include the utime

[2020-05-04 18:39] hukoyu commented on #148
@letmaik as seen here https://github.com/lsds/sgx-lkl/blob/oe_port/tests/ltp/run_ltp_test.sh#L97-L100
For an LTP test to pass it must have "PASS" in its logs. You mean an LTP test is getting Segmentation fault and also have PASS/PASSED in its logs? Since when it gets segmentation fault it shouldn't be able to output PASS/PASSED to its logs which will cause this test to be marked as FAILED as well

[2020-05-04 19:00] letmaik commented on #168
Sorry I should have said this is with the re-designed CI. Have a look at https://dev.azure.com/sgx-lkl/ff25f828-9f87-48e4-94f0-7449609f7e8f/_build/results?buildId=167

[2020-05-04 19:15] hukoyu commented on #168
@letmaik  I checked the CI pipeline link you shared. It says for example ltp-batch1 debug hw tests run in 2-3 minutes. I don't think this is true. Also I checked test result https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=946&_a=resultQuery and test durations are zero.

Are you planning to run ltp tests for both debug and non-debug? Als

[2020-05-04 19:18] hukoyu commented on #168
@letmaik if you look at the test results zip file for the test suite you will see junit test xml file is similar for all tests and it has this info:
[code]
TestResults_946.zip in the attachments here https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=946&_a=runCharts

[2020-05-04 19:25] letmaik commented on #168
Thanks, I'll fix that. I wonder why the tests don't appear as failed though. Probably the same issue as #148.

[2020-05-04 19:42] letmaik commented on #168
Fix is up at https://github.com/lsds/sgx-lkl/pull/173. I guess we can close this issue since the tests won't in fact run as fast as I thought.

[2020-05-04 19:42] #168 closed, assigned to nobody

[2020-05-04 19:49] jxyang commented on #167
@anakrish I remember we had a patch for skipping SIGILL for `cpuinfo`. Was it merged?

[2020-05-04 20:31] letmaik commented on #148
@hukoyu Are you sure the test has to output PASS/PASSED? I could only find the failure identifiers in the run_ltp_test.sh.

[2020-05-04 20:32] prp commented on #144
That’s right. I’ve updated the original issue to reflect this.

[2020-05-04 20:35] prp commented on #144
An alternative idea would be to have:
- `/opt/sgx-lkl/release/`
- `/opt/sgx-lkl/non-release/`
- `/opt/sgx-lkl/debug/`

and also a `default` symlink?

[2020-05-04 20:43] letmaik commented on #144
Well, if you have `/opt/sgx-lkl/debug/`, how can you have a symlink at `/opt/sgx-lkl`? Or did you mean to use dashes? If so, then it's fine of course.

[2020-05-04 20:45] prp commented on #144
Right, the symlink would have to be called `default` or some such.

[2020-05-04 20:53] SeanTAllen commented on #157
This is fixed as part of https://github.com/lsds/sgx-lkl/issues/134 work.

I'll update this issue when those changes are merged.

[2020-05-04 20:58] letmaik commented on #148
Here's a sample: https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=183&view=ms.vss-test-web.build-test-results-tab None of the ltp tests is marked as failed, only the overall result.

[2020-05-04 20:59] letmaik commented on #144
Who would use the symlink?

[2020-05-04 21:04] prp commented on #144
It’s a default for people who are confused by the build types? :-) I guess we don’t need the symlink.

[2020-05-04 21:40] mikbras commented on #156
You probably already know this, but when I implemented a libos POC (based on MUSL) I had to handle the following syscalls generated by the pthread layer.

- SYS_set_tid_address
- SYS_tkill
- SYS_futex
- SYS_set_thread_area
- SYS_membarrier
- SYS_get_robust_list
- SYS_set_robust_list

[2020-05-04 21:41] letmaik commented on #148
@hukoyu I think the bug is in this line: https://github.com/lsds/sgx-lkl/blob/83c1342e8d9d28e4ee2b2dc0bd9e8e52316a0bb2/tests/ltp/run_ltp_test.sh#L97 For some reason there's an "i" at the end which would mean `$pass_count ==  0` never succeeds.

[2020-05-04 22:01] letmaik commented on #148
There are other bugs there as well:
https://github.com/lsds/sgx-lkl/blob/83c1342e8d9d28e4ee2b2dc0bd9e8e52316a0bb2/tests/ltp/run_ltp_test.sh#L101

`if [[ $total_failures == 0 && $pass_count > 0 ]]` doesn't make any sense. Bash would see `>` as file redirection.

Could someone take a pass over this file please?

[2020-05-05 06:59] #163 closed, assigned to nobody

[2020-05-05 07:08] prp opened #175 "Document limitations of application execution with SGX-LKL"
This is is a (not yet comprehensive) list of **differences/limitations** when applications are executed with SGX-LKL. This should be provided as part of the SGX-LKL documentation:

1. There is **no support for `fork()` and multiple processes**. Currently SGX-LKL provides a pure single process abstractions (although multiple LKL kernel thread can function in the role of separate processes). There i

[2020-05-05 07:42] #83 closed, assigned to nobody

[2020-05-05 07:43] #82 closed, assigned to nobody

[2020-05-05 07:56] prp commented on #155
Note https://github.com/lkl/linux/blob/58dc2025bf469d880d76250e682dd8e4ed225a6b/arch/lkl/kernel/syscalls.c#L64. `kernel_thread()` uses `_do_fork()` for the actual heavy lifting: https://github.com/lsds/lkl/blob/a0eb9abd8af92d1aa34bc1e24dfbd1ba0bd6a56c/kernel/fork.c#L2458, which is the same as `clone()`.

[2020-05-05 08:07] davidchisnall commented on #156
Thanks @mikbras.  A few comments for each one:

 - `SYS_set_tid_address` is equivalent to the issue in #154, we will need to intercept this and integrate it with our futex / lthread implementation.  I believe that the correct way of doing this is to store the `clear_child_tid` value in the lthread structure and make the lthread cleanup code clear the value and wake the associated futex.
 - `SYS_tk

[2020-05-05 08:09] davidchisnall commented on #155
Thanks.  It looks as if setting `__ARCH_WANT_SYS_CLONE` gives us a clone implementation, we can then intercept it and validate the arguments returning `EINVAL` if `CLONE_VM` is not set.

[2020-05-05 09:13] davidchisnall commented on #155
With that in mind, I believe that we should:

 - [x] Tweak LKL to expose clone
 - [ ] Extend lthreads to have a futex value for lthread exit.
 - [ ] Add a clone syscall wrapper that:
   - [ ] Checks if `CLONE_VM` is set, returns failure if not.
   - [ ] Checks `CLONE_CHILD_CLEARTID`. If it's set then sets the corresponding flag in the spawned `lthread` (probably clearing the flag)

This should als

[2020-05-05 09:22] davidchisnall opened #177 "Move ignored / unsupported syscalls into the kernel"
musl currently skips some syscalls entirely.  We should allow it to make them but return failure (or silent success) from the kernel layer.

[2020-05-05 09:25] davidchisnall opened #178 "Move sysinfo syscall bypass into the kernel"
Currently, musl bypasses LKL for sysinfo.  We should make these into proper syscall bypasses in the kernel layer.

[2020-05-05 09:29] davidchisnall opened #179 "Move mmap-related syscall bypasses into the kernel"
SGX-LKL provides its own implementation of the mmap family of APIs and musl calls these directly instead of via the system call layer.  This can't be done until we've removed all malloc / mmap dependencies from code that runs before LKL starts.

The relevant system calls are:

- [ ]  `mmap`
- [ ]  `munmap`
- [ ]  `mremap`
- [ ]  `msync`
- [ ]  `mprotect`

Currently, `mprotect` calls the host direc

[2020-05-05 09:31] davidchisnall opened #180 "Reove futex system call bypass"
This depends on all consumers of futex-related APIs that run before userspace init moving to calling the enclave futex implementation directly, rather than via musl.

[2020-05-05 09:34] davidchisnall opened #181 "Remove clock_gettime system call bypass"
Currently, when userspace calls `clock_gettime`, musl calls the host directly via an ocall.  This should be removed and the syscall be handled by LKL.

#162 addresses this.

[2020-05-05 09:37] davidchisnall opened #182 "Remove gettid syscall bypass"
Currently, musl skips the gettid system call and instead queries lthread state.  Once clone is implemented and userspace threads are created as kernel-owned threads that are backed by lthreads, then the kernel will return the correct value for gettid and this can be removed.

[2020-05-05 09:49] davidchisnall opened #183 "Split `lkl/setup.c` into kernel and userspace parts"
`src/lkl/setup.c` contains functionality that is roughly analogous to a bootloader and to userspace init.  we need to separate it out so that the init part is distinct.

[2020-05-05 09:53] davidchisnall opened #184 "Move libc init to after LKL init"
Once nothing in enclave initialisation depends on musl, we should move musl initialisation to after LKL init.

#161 removed init code dependency on the musl run-time linker to process relocations for most things.

[2020-05-05 10:07] davidchisnall commented on #151
OE core provides a number of these functions that we can use:

Functions expected in any freestanding C implementation:

`memcmp`, `memcpy`, `memmove` `memset`.

`oe_`-prefixed versions of some useful things:

`oe_strlen`, `oe_snprinf`, `oe_strchr`, `oe_strchrnul`, `oe_strcmp`, `oe_strcspn`, `oe_strdup`, `oe_strlcat`, `oe_strlcpy`, `oe_strlen`, `oe_strncmp`, `oe_strrchr`, `oe_strspn`, `oe_strstr`,

[2020-05-05 11:15] SeanTAllen commented on #134
PR is open for this that addresses this. There's a couple changes that can/should be made to it, but this is done from a functionality standpoint and will be merged soon.

https://github.com/lsds/sgx-lkl/pull/162

[2020-05-05 11:42] wintersteiger commented on #151
These are used in the new json parser without an `oe_*` version: `strcpy`, `strtoll`, `strtod`, `strtoull`.

Would it simplify things if we built `src/enclave` without sgxlkl-musl and only with oe-musl?

[2020-05-05 12:19] davidchisnall commented on #181
Fixed in #162

[2020-05-05 12:19] #181 closed, assigned to SeanTAllen

[2020-05-05 12:29] davidchisnall opened #185 "Time source update should be configurable"
Currently, the external time source has a periodic tick at a hard-coded constant rate.  This tick rate caps the maximum clock drift between the host and guest (the tick rate is the lower bound on the maximum drift, the upper bound is defined by scheduling latency on the host).

Currently, the value is [hard coded at 0.5ms](https://github.com/lsds/sgx-lkl/blob/5bb8a20a9567e7c2a77bf64957201704a3ca05

[2020-05-05 12:31] SeanTAllen commented on #157
This has been addressed. The utime03 ltp test is now on as part of the changes and will run for CI for everything going forward.

https://github.com/lsds/sgx-lkl/commit/5bb8a20a9567e7c2a77bf64957201704a3ca0545

[2020-05-05 12:32] SeanTAllen commented on #157
@vamsikrishna935 @hukoyu you are good to go.

[2020-05-05 12:34] #134 closed, assigned to SeanTAllen

[2020-05-05 12:40] davidchisnall commented on #183
@mikbras, we need the cryptsetup removal in here before I do this because that will impact whether we need to keep something equivalent to `lkl_run_in_kernel_stack`.  We can't actually use that, so we will need to either remove the enclave mmap and extend Linux's no-mmu mode, or figure out an alternative.

[2020-05-05 13:06] prp commented on #185
@davidchisnall yes, any configuration parameter that affects enclave execution but cannot be checked by the enclave and thus can be changed behind the back of the enclave should not be part of the attestation. Instead, this should be part of what we call the `host_config`, which only affects the launcher. (Does the enclave need to know this value?)

Doesn't a high tick rate affect performance, as

[2020-05-05 13:09] prp commented on #134
@SeanTAllen can we now remove all dead code related to the old VDSO mechanism, e.g.: https://github.com/lsds/sgx-lkl/blob/a4fc0cc6fea39f30d33783e55626afbff3c7a871/src/main/sgxlkl_run.c#L758, https://github.com/lsds/sgx-lkl/blob/5bb8a20a9567e7c2a77bf64957201704a3ca0545/src/main-oe/sgxlkl_params.c#L89 etc. Thanks.

[2020-05-05 13:12] SeanTAllen commented on #134
When can @prp. Can you open an issue for that and assign me?

[2020-05-05 13:12] davidchisnall opened #187 "Investigate adding MAP_FIXED support to Linux's nommu mm code"
Linux provides a variant of the the memory management code for non-MMU systems (`mm/mnommu.c` in the Linux tree).  We could use that with LKL but it does not provide support for `MAP_FIXED`, which Java (among other things) depends on.

Once the only things calling the `mmap` system call are userspace things (everything other than userspace that needs to call the `src/enclave` version is doing so d

[2020-05-05 13:17] davidchisnall commented on #187
Adding to the relayering project.  This may or may not be required to avoid the `lkl_run_in_kernel_stack` code once we have replaced cryptsetup.

[2020-05-05 13:35] prp opened #188 "Remove legacy VDSO code"
Now that time handling in SGX-LKL has been replaced, there is legacy VDSO code that should be removed, e.g.:
- https://github.com/lsds/sgx-lkl/blob/a4fc0cc6fea39f30d33783e55626afbff3c7a871/src/main/sgxlkl_run.c#L758
- https://github.com/lsds/sgx-lkl/blob/5bb8a20a9567e7c2a77bf64957201704a3ca0545/src/main-oe/sgxlkl_params.c#L89
- etc.

All other references to `SGXLKL_GETTIME_VDSO` should also be rem

[2020-05-05 13:58] vamsikrishna935 opened #189 "Failing to mount filesystem in read only mode"
Found issue while fixing chown04 testcase.
mount() is failing with EBUSY while trying to mount filesystem in read only mode.

Code Snippet:
SAFE_MOUNT(cleanup, device, "mntpoint", fs_type, MS_RDONLY, NULL);

[[  SGX-LKL ]] libc_start_main_stage2(): Calling app main: /ltp/testcases/kernel/syscalls/chown/chown04
chown04     1  TBROK  :  safe_macros.c:758: chown04.c:175: mount(/dev/vda, mntpoint, ext

[2020-05-05 14:06] prp opened #190 "Integrate virtio channel signalling with lthread scheduler"
Currently, lthreads indicate that they are sleeping on an event channel directly by setting the waiting flag in the event channel. This causes the host side to signal condition variables that may have nothing sleeping on them, because the lthread scheduler still has other work to do.

The correct way of doing this would be for an lthread to specify to the scheduler when it yields which event chann

[2020-05-05 14:07] prp opened #191 "Large number of ethread idle calls?"
We observe a large number of ethread idle host calls when running an application:
[code]
This may be due to a bug in the integration of the virtio layer with the lthread scheduler.

This may be related to https://github.com/lsds/sgx-lkl/issues/190.

[2020-05-05 14:15] wintersteiger commented on #185
A whole core just for the ticker? That seems a bit excessive.

Time is always tricky. Any enclave code basically has to assume that it can't rely on any timing information from the host, so I don't think it makes sense to attest it. Having a host-side option for it is the right thing to do I think.

[2020-05-05 14:31] prp opened #193 "Add support for x86 crypto modules to OE port"
The OE port of SGX-LKL should use hardware-accelerated x86 crypto instructions when performing encrypted block/network I/O. This will result in a substantial performance boost.

For this, we should consider the x86 crypto branch from the non-OE SGX-LKL version: https://github.com/lsds/sgx-lkl/tree/x86module-support

In the above branch, the x86 kernel modules in `src/lkl/x86mods` have signed 32-bi

[2020-05-05 14:34] prp opened #194 "Performance improvements to SGX-LKL"
There are a number of things that can be done to improve the performance of SGX-LKL:

- Use hardware crypto instructions (https://github.com/lsds/sgx-lkl/issues/193)
- Optimise/integrate the lthread scheduler and futex implementation (https://github.com/lsds/sgx-lkl/issues/190, https://github.com/lsds/sgx-lkl/issues/191)
- Improve the performance of the `dm-mapper` disk encryption configuration (h

[2020-05-05 15:40] davidchisnall commented on #185
A core is not dedicated to the timer ticking, a host pthread is dedicated to it.  That thread sleeps for 0.5ms, then wakes, updates the value, and loops.  The more often we wake up this thread, the less time the CPUs have for ethreads.

[2020-05-06 02:21] hukoyu commented on #148
@letmaik you are right, i is stayed there by mistake (I think i for insert mode in vim)
I will submit a PR for removing i and fixing greater than issues.

[2020-05-06 07:32] letmaik opened #198 "[Tests] basic/pthread_join test gets stuck"
This test finishes regularly in ~10s but in CI it timed out once after 60s:

[code]

[2020-05-06 08:33] letmaik commented on #147
I think having a generic issue like this doesn't help much. Why don't we create separate issues for each disabled test? Then it's also easier to search for it etc.

[2020-05-06 10:08] letmaik opened #200 "Update sgx-lkl-musl to more recent version (>1.1.21) for Alpine 3.11+ compatibility"

[2020-05-06 10:48] davidchisnall opened #202 "LKL syscall numbers do not match x86-64 Linux syscall numbers"
With a libc compiled for LKL, this isn't a problem most of the time, because most C programs use system calls via libc wrappers and our libc build uses the LKL headers to get the correct ones.  It is a problem for any user code that calls the `syscall` function (or, if we want to add emulation in the illegal instruction trap, anything that uses `syscall` instructions directly).

We should patch LK

[2020-05-06 11:13] letmaik opened #203 "Document supported Linux distributions and versions for apps"
SGX-LKL builds against a specific musl version (and hopefully at some point glibc). This version is the upper bound that apps can use, otherwise they might crash or fail with dynamic linker errors at run-time.

The docs should be extended to list the currently supported libc versions and the corresponding Linux distributions (to make life easier for users). The main use case is using a certain bas

[2020-05-06 11:25] letmaik opened #204 "Allow to override /etc/resolv.conf dynamically based on app config"
Currently, /etc/resolv.conf is baked into the rootfs disk images and cannot be changed when running SGX-LKL. For deployment purposes this is suboptimal and the user should have more flexibility on where the DNS servers are taken from:

The app config should be extended with two new optoins:
1. Use the DNS servers from the host.
2. Use the DNS servers specified in the app config.

Point 2 isn't str

[2020-05-06 11:28] letmaik opened #205 "Print host backtrace on unhandled signals"
For host-side segfaults etc. it's annoying to have to attach gdb if printing a backtrace would have done the job. This will also be useful for CI.

- Build host part with `-g` (all build modes, incl. RELEASE)
- Register signal handlers for SIGSEGV, SIGBUS, SIGABRT which print backtraces

Dependencies:
- https://github.com/lsds/sgx-lkl/issues/313 so that host compile flags can be set separately
- h

[2020-05-06 11:35] letmaik opened #207 "Environment variables from app config not visible in application"
See disabled test in tests/containers/unencrypted/env.

[2020-05-06 12:23] letmaik opened #208 "Misleading memory requirements"
As a user, if I want to evaluate how much memory SGX-LKL will consume then I may look at the verbose output and discover this:
[code]
I may assume that the enclave itself needs 1.042 GB of memory. Accounting for a tiny amount of host-side memory gives a rough estimate of 1.05 GB total memory.

However, this is a lie. Here is what actually happens:
- When OE creates an enclave, it aligns 1.042 GB t

[2020-05-06 12:33] SeanTAllen opened #209 "Async signals aren't always delivered as expected"
Asynchronous signals such as those that will be delivered by using the system calls `alarm` and `setitimer` are not delivered as expected.

This can result in unexpected behavior from applications, for example, busybox ping. It will use alarm to wait to send it's ping and during that time isn't executing system calls so it hangs in sgx-lkl after the first ping is sent.

@letmaik first reported thi

[2020-05-06 13:07] davidchisnall commented on #155
I tried enabling the clone system call.  Unfortunately, it then crashes in `__alloc_pages_nodemask`, I believe because the memory that we're passing to clone is memory that LKL doesn't think that it owns.   I think that means that we need to fix #187 before we can do this.

[2020-05-06 13:11] letmaik commented on #208
@jhand2 Can you check if what I said is correct? @prp has some doubts that the unused enclave memory is not actually counted towards process space.

[2020-05-06 13:17] prp commented on #155
@davidchisnall where exactly does it crash? Is it due to an access check?

[2020-05-06 13:39] letmaik opened #210 "Default for number of ethreads should not exceed num_tcs"
https://github.com/lsds/sgx-lkl/blob/ce88f974da24683bdf2903bf3c165724954a3dcc/src/main-oe/sgxlkl_run_oe.c#L1774-L1778

This will lead to `OE_OUT_OF_THREADS` if `SGXLKL_ETHREADS` hasn't been specified and `num_tcs` < `nproc` where `num_tcs` is currently set to 8 in [config/params.conf](https://github.com/lsds/sgx-lkl/blob/oe_port/config/params.conf).

[2020-05-06 14:14] letmaik opened #212 "Support relative path for app executable"
If a Dockerfile has `ENTRYPOINT ["python3"]` then this will work if the base image (some Ubuntu) includes `/usr/bin` in the `PATH` environment variable (I'm assuming the Docker daemon replicates the usual shell search logic). Similary, if the Dockerfile has `WORKDIR /foo` and `ENTRYPOINT ./myapp` then it will run `/foo/myapp`.

SGX-LKL takes neither the working directory nor `PATH` into account an

[2020-05-06 14:19] letmaik opened #213 ""reboot: Restarting system" printed without VERBOSE"
[code]
This is kernel output and it's printed without any verbose option enabled. In fact it's the only output apart from the app output. This should only be printed if SGXLKL_KERNEL_VERBOSE=1.

This requires an LKL change because LKL always prints this if it has access to the console. Alternatively we could turn off the console before issuing the reboot syscall.

[2020-05-06 14:24] letmaik opened #214 "Tweak overhead calculation for dynamically created disks"
Currently only a ratio is applied to the filesystem size, but LUKS also has a fixed-size header which should be accounted for. This becomes more important for smaller disks.

https://github.com/lsds/sgx-lkl/blob/ce88f974da24683bdf2903bf3c165724954a3dcc/src/lkl/setup.c#L727-L730

[2020-05-06 14:37] davidchisnall commented on #155
Oh, never mind, my clone userspace wrapper was misaligning the stack.

[2020-05-06 14:49] letmaik opened #215 "Improve logging infrastructure"
Before I go into issues and how to improve things, I first want to document the status quo:

## Host-side

Option | Access | Notes
--|--|--
`SGXLKL_TRACE_HOST_SYSCALL=1` &<br> `"trace_host_syscall": true` | `struct sgxlkl_config_elem[]` | **dead code, not used**
`SGXLKL_VERBOSE=1` &<br> `"verbose": true` | `struct sgxlkl_config_elem[]` &<br> `sgxlkl_host_verbose(..)` &<br> `sgxlkl_host_verbose_raw

[2020-05-06 15:36] davidchisnall commented on #155
Okay, it looks as if it ends up in LKL's [`copy_thread`](https://github.com/lsds/lkl/blob/21cd7e192cf2a97ea69230b9c0c34da15d157579/arch/lkl/kernel/threads.c#L245) function.  This creates a new lthread (yay!) but then jumps to the new thread's stack pointer, rather than returning.

That works correctly for `PF_KTHREAD` threads, it breaks for userspace threads.  We can probably handle userspace thre

[2020-05-06 20:31] letmaik opened #217 "Timeouts in LTP tests not marked as such"
Example: https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=219&view=ms.vss-test-web.build-test-results-tab&runId=1886&resultId=100091&paneView=attachments

This should print something to stderr if the test timed out. Currently no error is visible in the log in this case.

@hukoyu Could you have a look at that? The exit code has to be checked and if it is 124 then it timed out. Please se

[2020-05-07 06:58] prp commented on #155
@davidchisnall, the problem that you will now face is that the kernel scheduler will want to run these (now kernel-visible) user-level threads. This is inconsistent with the lthread scheduler being in control of their scheduling. You could modify the kernel threads that represent user-level threads to return immediately, but then you will still have the overhead of LKL doing many spurious context-

[2020-05-07 07:00] letmaik opened #219 "stderr is printed as stdout on host"
Any output to stderr within the enclave is forwarded to the host and printed as stdout. Should this not stay stderr?

[2020-05-07 07:04] prp commented on #219
Yes, there may be an issue how the virtio console device is set up and whether it correctly distinguishes between stdout/stderr.

[2020-05-07 07:10] hukoyu commented on #217
Sure @letmaik I will fix that in LTP test runner. I will submit a PR for that.

[2020-05-07 08:42] hukoyu commented on #217
@letmaik submitted PR https://github.com/lsds/sgx-lkl/pull/220 for this issue.

[2020-05-07 08:47] davidchisnall commented on #155
How does this work for kernel threads?  These are already created via the same code path and we have a lot of them.

[2020-05-07 09:06] prp commented on #155
When a userspace lthread does a system call, it assumes the identity of a unique host task (kernel thread) inside the kernel. After the system call has been executed, we have the LKL scheduler context-switch to all pending kernel tasks before returning to userspace.

IIRC the host tasks that represent the userspace lthreads are never selected by the kernel scheduler for execution. Perhaps it will

[2020-05-07 09:36] vamsikrishna935 commented on #157
@SeanTAllen , Verified in latest code in oe_port branch, issue still presents. Please find debugging details below.
(gdb) p modf_time
$3 = 64
(gdb) p access_time
$4 = 64
(gdb) p stat_buf
$5 = {st_dev = 11, st_ino = 612, st_nlink = 1, st_mode = 33270, st_uid = 1, st_gid = 1, __pad0 = 0, st_rdev = 0,
  st_size = 0, st_blksize = 4096, st_blocks = 0, st_atim = {tv_sec = 64, tv_nsec = 920000000}, st_mt

[2020-05-07 09:37] vamsikrishna935 commented on #143
@prp : Found product bug while fixing ltp test open13

[2020-05-07 09:38] vamsikrishna935 commented on #189
@prp : Found product issue while fixing chown04 testcase

[2020-05-07 09:56] davidchisnall commented on #155
I think I am still a bit confused.  When a new kernel thread is created, it goes into the `copy_thread` function in the LKL arch, which then spawns a new lthread.  These are switched to with the kernel's `__switch_to` routine, but are they also run concurrently with the lthread scheduler?  If not, how does the lthread scheduler know not to run these threads?

[2020-05-07 09:58] davidchisnall commented on #155
Also, which direction of mapping are you talking about?  The Linux task structure contains the lthread ID of the thread, which is set when the lthread is created in the LKL arch for any lthread created via the `clone_thread` call (currently only kernel threads, if we support `clone` then also userspace threads).  Is there also a mapping from lthread to Linux TID or is the mapping unidirectional?

[2020-05-07 10:43] letmaik opened #221 "Mismatching in-enclave stdout/stderr file numbers"
https://github.com/lsds/sgx-lkl/blob/ce88f974da24683bdf2903bf3c165724954a3dcc/src/enclave/enclave_util.c#L8-L17

However, in OE fd 1 is stdout:

https://github.com/openenclave/openenclave/blob/d5a7a8393a50e0613791187e4bc205c6b213ad0b/include/openenclave/internal/syscall/unistd.h#L16-L18
[code]

I noticed this because I wanted to change the non-error output to stdout in enclave_util.c:
https://gith

[2020-05-07 10:59] prp commented on #155
The kernel scheduler's `__switch_to` routine uses a host_ops semaphore associated with each lthread to signal to the lthread scheduler what can run. Only a single kernel-visible lthread will be unblocked at a time because LKL needs complete control over concurrency.

LKL retrieves the `task_struct` from the lthread's TLS.

[2020-05-07 11:35] SeanTAllen commented on #157
@vamsikrishna935 are you saying that the ltp utime03 test doesn't pass for you? It passes for me both locally and it passes CI.

[2020-05-07 12:55] vamsikrishna935 commented on #157
Yes utime03 is failing for me. Just verified with latest code in oe_port branch.
[[  SGX-LKL ]] libc_start_main_stage2(): Calling app main: /ltp/testcases/kernel/syscalls/utime/utime03
utime03     1  TFAIL  :  utime03.c:196: tmp_file access and modification times not set

[2020-05-07 13:06] SeanTAllen opened #223 "ltp fcntl/fcntl34 test is flakey"
When run multiple times in CI, it will pass sometimes, fail others.

[2020-05-07 13:14] SeanTAllen commented on #157
@vamsikrishna935 can you describe how you are building everything and your environment as it passes in CI on oe_port and locally for me.

[2020-05-07 13:39] SeanTAllen commented on #157
@vamsikrishna935 here is how I am testing locally:

[code]

then editing ../batch.mk to run off run-hw and run-sw running all tests so i can run one test followed by

[code]

I'm able to run the last command that runs the test repeatedly without any failures. I just ran it 10 times in a row without issue.

Each time I get:

[code]

[2020-05-07 14:50] vamsikrishna935 commented on #157
@SeanTAllen Let me verify with clean repo again and i will update you the status.

[2020-05-07 15:36] hukoyu commented on #157
@SeanTAllen are you using oe_port branch of sgx-lkl? In your steps you are not checking out oe_port branch, can you double check?

[2020-05-07 15:39] SeanTAllen commented on #157
Sorry, yes, I left that out. I am using that port. I will update the steps, my oversight in writing them up. Sorry for the confusion @hukoyu @vamsikrishna935.

[2020-05-07 15:47] hukoyu commented on #157
@SeanTAllen  I checked utime03 and actually it is timing out and since we were not checking exit code, it was hiding timeouted tests. I submitted this PR : https://github.com/lsds/sgx-lkl/pull/220
utime03 is also failing in this PR. Per @letmaik  's recommendtaion I will disable utime03 test for now until we understand why it is failing.

[2020-05-07 15:50] SeanTAllen commented on #157
@hukoyu it times out for you locally?

[2020-05-07 15:52] vamsikrishna935 commented on #157
@hukoyu : for me it is failing , i did not get any time out till now for utime03

[2020-05-07 15:53] hukoyu commented on #157
@SeanTAllen it is failed in CI pipeline. Check this: https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=224&view=logs&j=0d1659af-9dce-5414-770d-ef96fb05931d&t=81d6e709-66cb-5bbd-8ebe-3e7ad763e195

[2020-05-07 16:14] davidchisnall commented on #155
Thanks, that makes sense.  To check I understand how this all fits together:

LKL has a notion of a 'host task', which is a task that is externally scheduled, but still has LKL state associated with it.

When an lthread that was not created by LKL calls `lkl_syscall`, it allocates a new host task.  The kernel scheduler is aware of this thread, but it's not ever passed back to the scheduler, so it'

[2020-05-07 16:37] hukoyu commented on #157
@SeanTAllen  @vamsikrishna935  I disabled utime03 test in my PR for now. FYI
PR : #220

[2020-05-07 18:19] prp commented on #155
Yes, that makes sense to me.

One minor thing is that our threads don't share the parent pid of init, but rather have a different host parent task, otherwise the kernel wouldn't deliver certain signals to pid=1.

[2020-05-07 20:25] hukoyu commented on #157
@SeanTAllen @vamsikrishna935  I got confused between utime03 and times03. I disabled test times03 in my PR not utime03. times03 is timing out after 5 minutes. I enabled back utime03. @vamsikrishna935 please investigate times03 for timeout. Issue with utime03 is not time out issue, it must be something else.

[2020-05-07 20:33] SeanTAllen commented on #157
@vamsikrishna935 I am unable in any environment to produce utime03 failing. If you can provide information on how I can do that, I'd appreciate it. All I get it passing results.

[2020-05-07 20:36] SeanTAllen commented on #157
@hukoyu your times03 problem is probably related to #209.

[2020-05-08 09:16] vamsikrishna935 opened #224 "[Tests] nobody user does not have permissions to open /etc/passwd"
Identified issue while fixing setfsuid03 testcase.
In setfsuid03 test case at line no 55 : https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/setfsuid/setfsuid03.c#L55
getpwuid(uid) function is being called with nobody user.

From here it goes in the below mentioned pattern and reaches __getpw_a function at src/passwd/getpw_a.c:24 and tries to open /etc/passwd with **n

[2020-05-08 16:31] davidchisnall commented on #219
This is not directly connected to VirtIO. The first process created in Linux (or other *nix) system has all three of the first file descriptors opened to point to the default console device. The PTY layer has no idea whether a particular write comes from a file descriptors that the process thinks is stdout or stderr (it could find out by comparing against the fd number of the fd causing the write,

[2020-05-08 16:33] davidchisnall commented on #219
Removing the bug label, because this behaviour is entirely consistent with all other virtualisation platforms. Running a program in QEME, KVM, or whatever will see all console output sent to whatever fd 1 is for the process attached as the console driver.

[2020-05-08 16:37] davidchisnall commented on #191
How many ethreads are running? Until we fix #190 and can move to an entirely tickles implementation, ethreads with no work to do in the scheduler will keep exiting, hitting a small timeout, returning, finding nothing to do, and repeating the process. This is far from ideal, but shouldn’t impact throughout of the ethreads with real work to do.

[2020-05-08 19:46] prp commented on #191
@davidchisnall This was with 8 ethreads. Here is a table:

num of ethreads | num of idle ethread calls
--- | ---
8 | 99,028
4 | 69,193
2 | 38,544
1 | 0

Something isn't right here. Shouldn't this increase somewhat linearly? Also, note that this is the JVM initialising, so I would presume that there should be a fair amount of potential for concurrency.

[2020-05-09 07:28] letmaik commented on #219
OK, makes sense. I note though that from the perspective of shift-and-lifting a Docker container it would change semantics and may be unexpected. Having said that, I agree that there's currently no compelling use case for this since logging output in release mode would not go to the host anyway. So as long as it's possible to redirect stdout/stderr separately within the enclave to somewhere (two f

[2020-05-09 08:35] davidchisnall commented on #191
As I recall,  most of OpenJDK init is single threaded. The JVM itself will create a pool of threads, but these will be mostly idle until it’s either in a GC phase, doing a lot of async I/O, or running application threads. If you’re doing printf, Java will load and initialise a load of locale-related things. These involve a load of class loader things, which are all done with a big lock held.

[2020-05-09 08:42] davidchisnall commented on #191
Also, as the number of ethreads approaches the number of VCPUs, they will start to compete with host threads for CPU time, so I’d expect the number of ocalls to go down a bit, which does seem to be what’s happening. One ethreads is running the only runnable lthread (since there’s some I/O going on, there are probably 2 runnable lthreads some of the time), the others are checking, having nothing to

[2020-05-10 09:09] davidchisnall commented on #219
Yup, redirecting output should be fine. I would like to have a separate console channel that we can use for stderr in the future though. It’s probably not too much effort, if you want to have a go...

[2020-05-10 09:12] davidchisnall commented on #212
We probably need this for a lift and shift model, but I wonder if it’s better to build it into the tooling. I am a bit nervous of the idea that the binary to launch is not always fully explicit in the attested host configuration. I wonder if we could expand the path to a fully qualified path when building the wrapper?

[2020-05-11 08:51] letmaik commented on #212
I agree, I had the same concern. I'll have a look at how tooling can resolve the path. What I know is that the resolved path is not part of any of the Docker container metadata (which we use in `sgx-lkl-cfg` to generate app config files). I guess we can peek into the filesystem ourselves though and resolve it ourselves.

[2020-05-11 08:55] #217 closed, assigned to nobody

[2020-05-11 08:58] letmaik commented on #148
@hukoyu Could you check whether it's true in general that LTP tests return a non-zero exit code if there's a failure and zero if they pass? If that's the case then we could remove all the string matching logic and simply rely on that. Checking for non-zero would then also catch other unexpected issues like segfaults.

[2020-05-11 09:01] davidchisnall commented on #212
Assuming that we have (a copy of) the unencrypted filesystem at that point, it sounds like the best solution.  It's a bit more complex if we want to use the same confidential container image with multiple configurations, though it's a slightly strange idea to have people able to run arbitrary commands in a container without their having access to the default configuration.  We might want to add an

[2020-05-11 13:24] letmaik opened #230 "Cannot mount data disk if mount point folder is missing in read-only root disk"
Using read-only disks is useful and also a requirement for dm-verity. SGX-LKL creates mount point folders for additional disks if the root disk is writable, but fails if the root disk is readonly and the folder is missing.

When using Docker to create root disk images this is surprising as it prevents simple lift-and-shifting. Instead, the Dockerfile has to be modified to include `RUN mkdir /data`

[2020-05-11 13:26] letmaik opened #231 "Test samples in CI"
Samples are not tested in CI and will inevitable break over time if they are not run manually regularly. They should be tested in CI, which may simply be a crash test.

[2020-05-11 15:06] SeanTAllen commented on #151
malloc to oe_malloc is going to be a little tricky in a couple places. I'm still tracking it down.

When making some updates from calloc to oe_calloc, strdup to oe_strdup, and malloc to oe_malloc, some of the test suite segfaults. I spent a couple hours today looking at it and it's unclear to me at the moment why. I thought I had missed something important where perhaps memory allocated with oe_ma

[2020-05-12 15:21] vamsikrishna935 opened #236 "[Tests] Unable to create directory under /tmp with nobody user"
[code]
It is blocking 9 test cases. For more details: https://dev.azure.com/ConfidentialContainers/ConfidentialLinuxContainers/_queries/edit/352/?triage=true

[2020-05-12 15:21] vamsikrishna935 commented on #236
@prp Could you please help us

[2020-05-12 15:29] letmaik commented on #236
@vamsikrishna935 Please use GitHub's markdown code blocks for anything that's code or log output. See also https://guides.github.com/features/mastering-markdown/.

[2020-05-12 15:58] vamsikrishna935 commented on #236
Thanks @letmaik , modified

[2020-05-12 17:24] letmaik opened #237 "Versioning"
SGX-LKL should have official releases with version numbers.
Each release should be built within CI.
The release artifacts need to be permanently archived including metadata (git commit, enclave image hash, etc.).
Some Markdown doc should be created in this repo that explains the release process, including where CI builds happen etc.

Related issues:
- (non-)Compatibility across releases, e.g. addi

[2020-05-12 17:26] letmaik opened #238 "Encrypted disks with throw-away keys for /tmp"
Currently, AFAIK, /tmp is a tmpfs that is counted towards enclave memory. It would be nice to have the option of explicitly adding an encrypted /tmp disk of large size that's dynamically generated with a throw-away key that wouldn't be stored anywhere.

[2020-05-12 20:05] letmaik opened #239 "Provenance for dynamically created disks"
## Problem
Currently, it is not possible to verify that dynamically created disks were in fact produced by SGX-LKL. It would be good to have some kind of provenance embedded in such disks.

## Proposal
A solution to this problem is to create a quote over the hash of the disk and append it after the end of the disk before exiting SGX-LKL. A natural way to obtain such a hash is to use dm-verity. Sin

[2020-05-13 09:19] davidchisnall commented on #155
I have started working on this in the [wip-clone](https://github.com/lsds/sgx-lkl/tree/wip-clone) branch.  Current status:

 - Clone system call exists.
 - Calling it creates a new lthread.
 - The new lthread begins executing on the provided stack, with the PC set to the return address of the syscall caller.
 - The Linux `task_struct` created for the clone call is associated with the new thread.

[2020-05-13 11:53] davidchisnall commented on #155
@prp, do you know how LKL's `current` works?  I wasn't yet able to chase all of the macros.  I suspect that, when we copy the TLS from the parent thread, we may be copying accidentally the currently running task, so LKL gets confused on syscall entry.

[2020-05-13 12:27] davidchisnall commented on #155
Looking at the preprocessed source for syscalls.c, it appears that `current` is `current_thread_info()->task` and `current_thread_info()` just returns `_current_thread_info`, so this won't be affected by anything here.

[2020-05-13 13:15] vamsikrishna935 commented on #157
@SeanTAllen , Verified in latest repo today, the test is passing.
[[  SGX-LKL ]] libc_start_main_stage2(): Calling app main: /ltp/testcases/kernel/syscalls/utime/utime03
utime03     1  TPASS  :  Functionality of utime(tmp_file, NULL) successful

[2020-05-13 13:15] #157 closed, assigned to SeanTAllen

[2020-05-13 14:11] letmaik commented on #212
I'll close this for now as #228 provides a reasonable tooling work-around for this.

[2020-05-13 14:11] #212 closed, assigned to nobody

[2020-05-13 14:12] letmaik commented on #208
@jhand2 @jxyang Any insights?

[2020-05-13 16:09] jhand2 commented on #208
Honestly I'm not sure if the remaining unused size counts as taking up EPC (I would guess it does but I don't know). @CodeMonkeyLeet do you know?

[2020-05-13 22:00] letmaik opened #242 "CI: stdout/stderr missing for passing tests"
Only failing tests have their stdout/stderr stored as part of the test results. There are cases where I'd still want to have it available for comparison with a failing test and for sanity checking.

@hukoyu Could you have a look at this?

[2020-05-14 00:27] CodeMonkeyLeet commented on #208
My understanding is that in SGX1, the only EPC pages that are allocated to the enclave are whatever pages EADD had put into it prior to EINIT. The size of the linear address range of the enclave based on the alignment requirements does not incur EPC pages. The Linux SGX driver makes it a bit difficult to figure out since it permits overcommitment of EPC pages, but you could probably verify that on

[2020-05-14 00:37] hukoyu commented on #242
@letmaik actually all logs for passed and failed tests are available in the zip file for test summary. The logs are in junit xml for all tests regardless passed or failed but AzureDevOps doesn't display stderr and stdout logs for passed tests, it only shows for failed tests. I investigated a bit but couldn't find a way how to display it on AzureDevOps. But as workaround, you can download the zip f

[2020-05-14 01:44] hukoyu opened #245 "[Tests] Java Runtime Environment crashes with fatal error with network stream"
Added new java scenario test with this PR https://github.com/lsds/sgx-lkl/pull/244 and caught this exception. The test just opens a network stream to https://www.microsoft.com address and reads from the stream line by line.

Please look at the PR for sample code used and Makefile.

Exception:
[code]

[2020-05-14 01:46] hukoyu commented on #245
Here is the sample code in the https://github.com/lsds/sgx-lkl/blob/496384f4d6025ce94d13f3fa7825f0c54bc4a360/tests/languages/java/network/app/MainApp.java

[2020-05-14 01:46] hukoyu commented on #245
Here is the full log of run-hw for this sample java app
[java-network.log.log](https://github.com/lsds/sgx-lkl/files/4625589/java-network.log.log)

[2020-05-14 07:13] prp commented on #245
@hukoyu, could you do the following:
- run this with gdb and include a stack trace at the time when the SIGSEGV has happened?
- include a log with LKL syscall and signal tracing turned on to show the last syscall before the SIGSEV?
- do you see the same behaviour in hardware and software mode?
- do you see the same behaviour when running with a single ethread?

[2020-05-14 07:26] letmaik commented on #242
I see, didn't know it was a DevOps issue. I wonder if we should report that, seems like a bug to me.

[2020-05-14 08:27] letmaik opened #247 "[Tests] Reorganise tests into unit and integration tests"
Currently, there is no clear distinction between unit and integration tests in the tests/ folder. Most tests seem to test a single feature or functionality, even though they implicitly also test more than that. Some tests are more like integration tests, e.g. the ones in languages/ or ml/. We should make the distinction more clear and add a README in the tests/ folder to say where new tests go and

[2020-05-14 09:03] letmaik commented on #208
OK, so the working assumption is that in SGX the reported enclave size corresponds to allocated memory. What about simulation mode? The code path seems to be different there: https://github.com/openenclave/openenclave/blob/2490b0268f1dcf346dd977c81ac90ba73546ff9c/host/sgx/sgxload.c#L183-L196

[2020-05-14 09:18] hukoyu commented on #247
@davidchisnall @letmaik @prp I definitely want to work on adding scenario tests that will add value, I don't want to waste my time on useless scenarios per your explanation. Then my suggestion is please create issues for test scenarios for different languages that will add value to be implemented so that we can implement them and add to scenario tests.

[2020-05-14 09:29] hukoyu commented on #245
@prp the issue reproes with SGXLKL_ETHREADS=1. For run-hw we get same error I reported initially. For run-sw error looks a bit different:
[code]

[2020-05-14 09:36] hukoyu commented on #245
@prp with default SGXLKL_ETHREADS value (4 in my VM) it fails for run-hw  with the initial error I reported. But it passes for run-sw. Here is the log for run-sw:
[java-network-run-sw.log](https://github.com/lsds/sgx-lkl/files/4627340/java-network-run-sw.log)

[2020-05-14 09:42] hukoyu commented on #245
@prp here are logs with SGXLKL_TRACE_LKL_SYSCALL=1 SGXLKL_TRACE_SIGNAL=1
[java-network-run-hw-verbose.log](https://github.com/lsds/sgx-lkl/files/4627362/java-network-run-hw-verbose.log)
[java-network-run-sw-verbose.log](https://github.com/lsds/sgx-lkl/files/4627363/java-network-run-sw-verbose.log)

[2020-05-14 10:18] vamsikrishna935 commented on #143
Issue does not repro's in latest oe_port branch. Hence closing the issue.

[2020-05-14 10:18] #143 closed, assigned to nobody

[2020-05-14 11:15] SeanTAllen commented on #151
Status update...

This didn't end up where I expected it to. There's a `151_2` branch for this repo, plus a corresponding one for sgx-lkl-musl. It contains the additional calloc, malloc, strdup changes for this issue. However, a couple applications in the test suite (for example dotnet) segfault.

They only segfault in HW mode. Never in SW mode.

The initial thought was "we don't have enough memor

[2020-05-14 12:05] wintersteiger commented on #151
(Just in case you haven't come across it before: thread locals may be reinitialized upon ecalls. For some reason this was the default behavior when I last looked at it, but it may not be anymore. It's called the "TCS policy"; see e.g. https://github.com/intel/linux-sgx/issues/283)

[2020-05-14 12:15] davidchisnall commented on #151
@wintersteiger, I believe this is not an issue with the recent OE, which ensures that FS base is preserved across ecalls.

[2020-05-14 12:34] letmaik commented on #144
Regarding the properties of a release build, I don't think the following are required explicitly:

- removes support for execution of SGX-LKL in software mode;
- only permits execution of a non-debug OE hardware enclave;
- enforces attestation, so it becomes impossible to run an enclave application locally (without access to an attestation and key release service) for testing;

All of these would

[2020-05-14 13:02] davidchisnall commented on #239
As I understand it, the LUKS2 format allows arbitrary JSON to be embedded in the disk metadata.  We could potentially include the signature using that mechanism (@mikbras can correct me if I'm wrong).  This could embed either the dm-verity root hash or a hash of the dm-integrity tags, signed with something based on the attestation.

[2020-05-14 13:10] davidchisnall commented on #238
It's slightly worse than that.  The fact that we are currently not using LKL's mmap means that tmpfs is coming from the (very scarce)  32MiB area allocated to LKL.  #187 would improve this somewhat, though it would be nice to be able to use the increased space as buffer cache and swap to an encrypted (+ dm-integrity) backing store.

[2020-05-14 13:55] prp commented on #144
@letmaik to me, a RELEASE build is not about what attestation enforces but rather about removing unnecessary code and functionality from the enclave, and thus getting a smaller TCB. By removing this functionality, we reduce the attack surface.

[2020-05-14 14:50] letmaik commented on #238
Right, we could use an ad-hoc encrypted /tmp disk also as swap by storing a swap file on it and configuring it via the app config, which is probably the easiest. If you want to use an actual swap partition then this would probably require more changes and would likely be another encrypted disk. I don't know about the tradeoffs between the two approaches (file vs partition).

[2020-05-14 15:57] letmaik commented on #238
There are other temp folders as well. I found http://0pointer.net/blog/projects/tmp.html and https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html a useful read.

I could imagine that some apps use `$XDG_CACHE_HOME` (=`$HOME/.cache` if env var missing) or `$XDG_DATA_HOME` (=`$HOME/.local/share` if env var missing) for larger files.

`$XDG_RUNTIME_DIR` (on my system `/run/user/<ui

[2020-05-14 18:34] hukoyu commented on #245
@prp here is the call stack from debuging:
[code]

[2020-05-14 20:44] letmaik commented on #239
Adding it the LUKS headers won't work. The dm-verity merkle tree goes over the whole LUKS partition including the header. After that, it's considered sealed/read-only, so we can't embed the quote there.

[2020-05-14 20:50] prp commented on #165
@letmaik @hukoyu I think that it makes sense to keep the script, as it's otherwise cumbersome to run any Java application from the command-line, given the complex JVM options that must be passed. I agree that it could be moved out of `tools/` but the question is then where to put it. Java applications under `samples/` would use it, but also tests under `tests/`.

[2020-05-14 22:29] CodeMonkeyLeet commented on #208
For SGX, the reported OE `enclave_t` size should be the size of the linear address range of the enclave, not the size of the total allocated pages prior to EINIT. I don't believe we track the latter anywhere.

For simulation mode, yes, it just mmaps the entire linear address range of the simulated enclave region on Linux; on Windows it commits the entire linear range, even though it could just res

[2020-05-14 22:45] jhand2 commented on #208
mmap uses demand paging, there is no physical memory backing until that page is accessed. But like you said, I don't believe OE tracks how much memory is actually in use, it just tracks the size of the address space.

[2020-05-14 23:29] hukoyu commented on #165
@prp @letmaik I totally agree with Peter that we must keep sgx-lkl-java tool. It definitely simplifies running java apps. It doesn't sound too bad keeping it under /tools actually it is perfect folder IMHO for the script.

[2020-05-15 06:45] letmaik commented on #208
OK thanks you two, I'm going to do some more experiments to verify our assumptions. In the past I'm pretty sure I had issues with simulation mode where it would go OOM where with SGX it was fine, on the same VM.

[2020-05-15 07:47] letmaik commented on #165
sgx-lkl-java is unsuitable for real deployments, simply because it does not rely on an app config for specifying the necessary environment variables and JRE arguments. It makes sense for tests (simply to avoid duplication), but not for samples or real use cases.
For samples and tutorials/docs etc. we should converge to a single mechanism which scales from local testing to deployment, and that is u

[2020-05-15 12:34] letmaik opened #254 "Support host-side block devices for disks"
SGX-LKL currently only supports regular disk image files. It should also support block devices. This is useful in certain deployment scenarios where some or all disks are managed by other mechanisms (e.g. k8s block volumes).

[2020-05-15 13:08] letmaik commented on #238
SGX-LKL currently mounts `/tmp` and `/run` automatically, which I think is a bit of an outlier. Docker only mounts `/proc`, `/dev`, `/dev/shm`, `/sys`. `/tmp` and `/run` are part of the base image. Since we don't have an overlayfs, `/tmp` and `/run` would be unwritable if the root disk is read-only and they are not mounted as `tmpfs`, so it does make some sense, since by default things should just

[2020-05-15 13:31] letmaik commented on #242
I found https://developercommunity.visualstudio.com/content/problem/631082/printing-the-console-output-in-the-azure-devops-te.html:

How sad, but ok. The work-around you suggested does work.

[2020-05-15 13:31] #242 closed, assigned to nobody

[2020-05-15 14:02] letmaik commented on #208
I did some tests on a DC8 with 29G available memory.

`NumHeapPages = 7340032` (28 GiB):
- SGX: runs fine, virtual memory of SGX-LKL is shown as 32.115 GiB.
- Simulation: fails immediately with `mmap failed mmap_size=68719476736 mflags=0x21 [../../host/sgx/sgxload.c:_allocate_enclave_memory:202]`.

`NumHeapPages = 4456448` (17 GiB):
- SGX: runs fine, virtual memory of SGX-LKL is shown as 32.115 Gi

[2020-05-15 15:24] jhand2 commented on #208
Can you get the following values from your VM?

`$ cat /proc/sys/vm/overcommit_memory`
`$ cat /proc/sys/vm/overcommit_ratio`
`$ cat /proc/meminfo | grep CommitLimit`
`$ cat /proc/meminfo | grep Committed_AS`

There could also be some nuance in the flags we pass to mmap, I'd have to look more into that.

[2020-05-15 15:28] jhand2 commented on #208
Basically if the value of `/proc/sys/vm/overcommit_memory` is 1, mmap will always overcommit. But if it's 0, the kernel gets to choose

(if the value is 2 it will never overcommit)

It looks like we can pass `MAP_NORESERVE` to mmap to get it to always overcommit for this specific allocation as long as the policy values isn't 2.

[2020-05-15 15:48] letmaik commented on #208
[code]

[2020-05-15 16:05] jhand2 commented on #208
Ok, so an overcommit_memory value of 0 means that the kernel uses a heuristic-based approach to decide whether to overcommit and how much. Maybe it has some limits on how much it will let a single process overcommit or something like that, I don't really know the in-kernel details of how it decides.

If you want, you can change OE's simulation mode loader to add the flag MAP_NORESERVE to the mmap

[2020-05-15 17:29] letmaik commented on #208
I tried the flag, it works! Should I submit a PR to OE?

[2020-05-15 17:31] jhand2 commented on #208
That would be great, thanks! You can go ahead and submit the PR against master.

[2020-05-15 18:37] prp opened #256 "Provide complete support for app_config"
We need to improve the support for app_config JSON files, so we can use it to specify the full configuration. Currently large parts still need to be set using environment variables for `sgx-lkl-run` because the app_config doesn't have equivalent settings.

Blocker for https://github.com/lsds/sgx-lkl/issues/144.

Depends on https://github.com/lsds/sgx-lkl/issues/97.

Related to https://github.com/l

[2020-05-15 18:50] prp commented on #238
@letmaik Currently, the mounts in SGX-LKL are as follows:
[code]

So `/tmp` and `/run` are mounted as `tmpfs`. Since this uses LKL memory, the storage space would be rather limited, so we definitely need a mechanism to override, as you suggest.

I'm wondering if it would make sense to generalise this and provide something that looks like `fstab` as part of the app_config, so any of the mounts can

[2020-05-15 18:55] prp commented on #245
@hukoyu since this is a SIGILL, it's not the problem. You can continue execution here.

[2020-05-15 19:02] prp commented on #188
@SeanTAllen can this be closed? Thanks.

[2020-05-15 19:07] prp commented on #165
Eventually the `sgx-lkl-java` script should be replaced by an app_config mechanism for `samples/` while the current script could still be used for `tests/`.

Blocked by https://github.com/lsds/sgx-lkl/issues/256

[2020-05-15 19:08] prp commented on #198
This will be affected by https://github.com/lsds/sgx-lkl/issues/155.

[2020-05-15 19:25] #188 closed, assigned to SeanTAllen

[2020-05-15 20:25] letmaik commented on #208
Closing this issue and fixing upstream: https://github.com/openenclave/openenclave/pull/3041

[2020-05-15 20:25] #208 closed, assigned to nobody

[2020-05-15 21:05] letmaik commented on #238
Distros use systemd nowadays and the default mounts are actually hard-coded: https://github.com/systemd/systemd/blob/b4e1563ffb12c50ff89c063e721b76bfc89407b7/src/core/mount-setup.c#L63-L110. It also supports *.mount files which is an alternative to fstab apparently. fstab is also used at some point, and then there's initrd as well, which seems to have an effect on how systemd works if mounts exist

[2020-05-15 21:27] hukoyu commented on #245
@prp I skipped the SIGILL erros and got SIGSEV but call stack is still same
[code]

[2020-05-15 21:39] hukoyu opened #258 "[Tests] Timeout issue with java hello-world app with run-sw"
Test  languages-java-hello_world-(debug)-(run-sw)
is failing due to timeout exit code. When looking at logs of enclave I see exit code 0, but enclave doesn't terminate and times out after 300 seconds.

Here is the sample test failure:
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=3972&_a=resultSummary&resultId=100000

Here is the last

[2020-05-15 21:41] hukoyu commented on #258
Here is the log file:
[Standard_Console_Output (3).log](https://github.com/lsds/sgx-lkl/files/4637225/Standard_Console_Output.3.log)

[2020-05-16 07:31] prp commented on #245
This suggests that the problem is in the JVM code. The next step would be to run this with a debug build of the HotSpot JVM that includes symbols. Given that it only fails in HW mode, it must be caused by a new recent regression that we have introduced.

[2020-05-16 07:33] prp commented on #258
This appears to be a new regression that was introduced. What is the earliest commit when you see this?

[2020-05-16 23:33] hukoyu commented on #258
@prp strangely this passes in the latest PRs. For example:https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=346&view=logs&s=45a4dd8c-d89a-566b-d89f-6724086326ec
This also supports my theory that with @letmaik 's change to run run-sw on regular VMs (instead of sgx-lkl VMs which is very cost effective) but this might be causing some randim timeout failures like that since it might be gett

[2020-05-17 07:34] letmaik commented on #258
@hukoyu Please refer to my comment in https://github.com/lsds/sgx-lkl/pull/250#issuecomment-629434585. Both CI pools (SGX and non-SGX) are setup in exactly the same way. Also, the specific timeout in this issue is clearly from the test itself, not from a job timeout.  The timeout happens during SGX-LKL shutdown (see the logs you posted).

[2020-05-18 07:17] hukoyu commented on #258
Ok @letmaik I agree. So then the failure is kind of random. It sometimes passes and sometime sfails.

[2020-05-18 09:37] davidchisnall commented on #154
Once #259 is merged, this should be possible.  We need to:

- [ ] Add a field on the lthread structure to store the exit futex location.
- [ ] On `thread_destroy_host`, check that field and, if it is non-null, zero the value at that address and wake the futex.
- [ ] Add an interceptor for the `clone` system call that sets this field in the newly created futex.
- [ ] Add an interceptor for `set_tid

[2020-05-18 12:58] letmaik opened #260 "Use consistent Alpine version in Docker-based tests"
`sgx-lkl-disk` should be extended to accept Docker `--build-arg`s, then we can put `DOCKER_ALPINE_VERSION=3.10` in `tests/common.mk` and use that variable in all `sgx-lkl-disk` invocations in tests. The `Dockerfile`s of tests can then be changed to `FROM alpine:${ALPINE_VERSION}`.

[2020-05-18 13:12] letmaik commented on #260
@hukoyu Is this something you could work on? Supporting `--build-arg` would be quite useful, also outside of testing.

[2020-05-18 13:19] davidchisnall commented on #156
@vtikoo, please can you update us on how @jhand2 is getting on with the %gs things in OE?  This is now a blocker for other work.

[2020-05-18 18:32] hukoyu commented on #260
Sure @letmaik I will submit a PR for that.

[2020-05-18 19:57] letmaik commented on #258
@hukoyu Could you please disable this test for now? Many builds are failing because of it.

[2020-05-18 20:30] prp commented on #180
@davidchisnall thinking about it, I'm still not entirely clear how the interaction between the LKL futex implementation and the lthread scheduler would work. For example, after a futex_wake how would LKL wake up multiple lthreads?

[2020-05-18 21:48] hukoyu commented on #258
@letmaik submitted PR https://github.com/lsds/sgx-lkl/pull/263 to disable this test to unblock pipelines.

[2020-05-19 03:06] hukoyu commented on #260
Hey @letmaik
I need clarification for requirement. Can you share a sample command and expected behavior?

Will this work with --docker or --alpine or both?

I will add --build-arg as far as I understand

Is this a sample valid command:
sgx-lkl-disk create --size=100M --docker=./Dockerfile --build-arg=??? sgxlkl-disk.img
What is valid values for --build-arg and what is expected behavior? Shall we m

[2020-05-19 07:08] letmaik commented on #260
That's only for --docker. Your command is correct. See https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg for syntax of --build-arg. And yes, as I've written, the makefiles and Dockerfiles have to be changed to use the build variable like `--build-arg ALPINE_VERSION=3.10` and `FROM alpine:${ALPINE_VERSION}`, respectively.
@prp Is this syntax ok?

[2020-05-19 07:50] davidchisnall opened #264 "sgx-lkl-musl code interleaves x86-64 and LKL code"
Currently, we have a lot of code paths in musl where we've replaced the normal x86-64 versions with LKL versions.  We should eventually revisit these and try to clean them up so that we have a clean separation of upstream vs LKL code.

For example, lsds/sgx-lkl-musl#11 (my fault) replaced the assembly to call the clone syscall.  We need to extend the build system to allow musl to select the correc

[2020-05-19 10:11] davidchisnall commented on #180
As I understand it, it would call `__switch_to` on these threads.  This would `sem_up` their scheduler semaphore.  They would then wake up in whatever system call made them sleep initially, and return.  On their way out, they would call `lkl_cpu_put`, which would note that there are multiple runnable tasks and wake each one in turn.  Each one of these would go through the same process.  When the L

[2020-05-19 11:27] letmaik opened #265 "Use JSON schemas for host and app config files"
This would make writing those files a lot nicer in IDEs like VS Code.

- [x] Create schemas #324
- [ ] Validate all configs in tests during CI
- [ ] Allow easy use from VS Code

[2020-05-19 11:28] letmaik opened #266 "Add sample that uses host and app config files"
Similar to `tests/containers/cc`.

[2020-05-19 11:46] shaikshavali1 opened #267 "Add support to configure sysconf as part of app_config"
In SGX-LKL, we have a mechanism to set `sysconf` values here: https://github.com/lsds/sgx-lkl/blob/529f6ca86d9937dfb31685c65f78588cf5ff39fa/src/main-oe/sgxlkl_run_oe.c#L694 Currently this is untrusted, and it should be extended to take values from the app_config.

One of the LTP test cases (setgroups03) fails because it uses `sysconf(_SC_NGROUPS_MAX)` but musl sets this to 32 by default: build_mus

[2020-05-19 18:16] hukoyu opened #274 "Move Openvino test to nightly builds"
ml-openvio takes 16+ minutes. (debug|non-debug x run-hw|run-sw)

If you look at test results here : https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=4900&_a=resultQuery
you will see that ml-openvio test takes almost 16 minutes.

Here is the log for this test:
[TEST-ml-openvino-(nondebug)-(run-hw)-(8-ethreads)-junit.xml.txt](https://githu

[2020-05-20 13:18] davidchisnall opened #277 "[Tests] access02 test spuriously passes"
This test runs the `system` libc function:

https://github.com/linux-test-project/ltp/blob/5004658ae0cd0973fce8b2bb6e68d898812b254e/testcases/kernel/syscalls/access/access02.c#L130

This is implemented with `posix_spawn` in musl, which in turn, is implemented with `clone`.  In the `oe_port` branch currently, `clone` is not implemented and so the `system` call fails but the test passes.  Once the `

[2020-05-20 18:35] hukoyu commented on #139
This is addressed in this PR: https://github.com/lsds/sgx-lkl/pull/241

[2020-05-20 18:35] #139 closed, assigned to nobody

[2020-05-20 18:52] hukoyu opened #283 "Investigate pipeline-local run gap for java read file test"
@davidchisnall says this test passes locally everytime and only fails on pipeline randomly.
Investigate if there is gap between pipeline and local run that causing these flaky failures or this is a sgx-lkl product bug.

cc @hukoyu

[2020-05-20 18:59] hukoyu commented on #277
@ashokchandran can you investigate this?

[2020-05-21 03:03] qiyuangong opened #287 "jvm-helloworld libjson-c.so.3: cannot open shared object file"
I encountered this error when I was trying to run jvm-helloworld in docker container. Any idea?

[code]

[2020-05-21 08:48] shaikshavali1 opened #288 "[Tests] statfs() syscall return zero for total blocks, available blocks & free blocks fields"
In sgx-lkl, the file system information returned from statfs() syscall contains zero for the parameters total number of blocks(f_blocks), free blocks (f_bfree) and free blocks available to unprivileged user(f_bavail).

[2020-05-21 08:49] shaikshavali1 commented on #288
**background of the issue:**
Original LTP test case “kernel-syscalls-sendfile-sendfile09” check 5GB available free space in current directory path by invoking test framework function “tst_fs_has_free”. This test framework function reads the statefs details of file system and checks available memory (f_bavail * f_bsize) with 5GB.

Based on GDB logs it looks the statfs data returned from kernel has

[2020-05-21 08:52] davidchisnall commented on #274
This should be moved to our nightly test run set.

[2020-05-21 12:33] SeanTAllen commented on #283
I set up a new dev machine the other day.

On my previous machine, I was unable to recreate any problems with JVM tests. However, on the new box, all of them have problems with being very slow. However, the problem is intermittent. I can do many runs in a row of SW mode without issue before hitting on that hangs for a long period of time. It looks like it is deadlocked but when I am patient enough

[2020-05-21 16:57] jhand2 opened #291 "SGX-LKL tls area seems very small. Can cause OE to segfault on reads."
OE checks to see if SGX-LKL has changed %fs by checking for a magic number at %fs:168. Space before that is left for SGX-LKL (or any other application that cares about threading) to do whatever it needs.

When SGX-LKL changes %fs, it allocates a TLS area and then sets fs to that area. The issue is that the tls area is only 80 bytes (determined by libc.tls_size). If the tls area is allocated near t

[2020-05-21 17:07] SeanTAllen commented on #291
@jhand2 does this happen in both SW and HW mode or only HW?

[2020-05-21 17:13] davidchisnall commented on #291
I don't think we can guarantee this in the general case.  Linux programs can set %fs clone.  libc does this in pthread creation and the size of this depends on the .tdata and .tbss segments in the binary.  Other user code in non-C languages may opt out of TLS entirely for some threads and set %fs to 0 or something just big enough for the stack canary if it wants to call C code.  Even if we guarant

[2020-05-21 17:24] jhand2 commented on #291
@davidchisnall that would probably be fine. In the short term (to make sure this is actually what's causing the problem) I can just check if %fs:0 == %gs:0. If not OE would just use %gs.

That's also currently how we decide whether to save/restore fs on ocall.

Making a new API is a little more complicated since we currently don't have a concept of exposing an API which only applies to one archite

[2020-05-21 18:11] jhand2 commented on #291
This should be fixed here: https://github.com/openenclave/openenclave/commit/8fcf9b79d3855f9b7ed0bd42e510282813413d4e

Waiting on @wintersteiger to confirm everything looks good from his end. I'll open an issue in OE to track a longer term change to allow applications to reserve use of fs or gs

[2020-05-21 21:15] hukoyu opened #296 "Fix the LTP tests that failed after checking exit code"
LTP test script was not checking exit code of LTP test. The script only looks at failure identifiers and if any of them exists in logs, assumes test failed, otherwise if PASS keyword exists in logs, assumes passed.

Now checking exit code of the LTP test and we don't need failure identifier logic anymore.
Ran with exitcode checking and out of 461 LTP tests, 438 passed (since LTP test returns exit

[2020-05-22 06:57] vamsikrishna935 commented on #169
Enclave is getting exited when test is trying to access invalid address.
Same issue observed in fstat03 test case.

[2020-05-22 07:41] davidchisnall commented on #180
I have now written a test to verify that this works. The original thread spawns two children that wait on the same futex. These sit in a loop with no system calls (so can’t be context switched by lthreads) reading a global, checking in one if it is odd and in the other if it is even.  If the condition matches, they atomically increment it. When it reaches 100, both exit.

This test passes with the

[2020-05-22 08:44] vamsikrishna935 opened #297 "[Tests] lkl_access_ok() should return failure on test invalid access, not fatal exit."
LTP tests expects EFAULT error returned when trying to access an invalid address.
sgx-lkl doesn't return EFAULT but ABORTs.

Sample LTP tests:
https://github.com/lsds/sgx-lkl/pull/550
listxattr01,02

[code]

in umount02 when it test umount with null, it causes enclave to abort. Normally application is expected to get EFAULT. But the back trace is showing that in lkl it calls oe_abort when address

[2020-05-22 08:56] vamsikrishna935 commented on #297
Same issue is observed in fstat03 testcase

[2020-05-22 11:36] wintersteiger commented on #291
Confirmed! Everything's working on my end too. Thanks for the quick fix!

[2020-05-22 11:41] SeanTAllen commented on #291
Is this change picked up by CI immediately or does something have to be updated?

[2020-05-22 11:45] wintersteiger commented on #291
It's in OE `feature/sgx-lkl-support`, but I'm not sure whether all pipelines are set up to use that branch.

[2020-05-22 11:47] davidchisnall commented on #291
@jhand2, unless I'm misreading the code (given how badly I slept last night, around a 70% probability), the logic that does `if (gs == fs) fs else gs` is equivalent to `gs`.  If the user modifies `gs` but not `fs`, you'll still return `gs` and get the wrong value.

[2020-05-22 11:50] wintersteiger commented on #291
Good point @davidchisnall , I agree, it's just `return gs`. (I also slept quite badly though :-))

[2020-05-22 13:38] vamsikrishna935 commented on #224
@prp found an issue.

[2020-05-22 13:39] vamsikrishna935 commented on #297
@prp Found an issue

[2020-05-22 15:10] jhand2 commented on #291
@davidchisnall Yes, I made this change specifically to fix an OE bug based on the way SGX-LKL works today (this commit is not in master) to unblock folks quickly. A longer term solution is probably necessary but I don't have the time to invest in that right now.

As I understood it, SGX-LKL has no need to make use of GS. Is that still the case?

[2020-05-22 16:19] ashokchandran opened #301 "sgxlkl_enclave_init kernel panic"
Saw some tests randomly failing in the pipeline while creating an enclave with signature of a kernel panic in sgxlkl_enclave_init.  Individually they pass. I think it is related to multiple pipeline tests initiated in parallel as PRs are being submitted in parallel.
pipleline log:
kernel-syscalls-pipe2-pipe2_01-(nonrelease)-(run-hw)-(8-ethreads)
'kernel-syscalls-pipe2-pipe2_01-(nonrelease)-(run-hw

[2020-05-24 15:41] davidchisnall commented on #180
Renaming this bug, as I now believe that the correct path is to use the lthreads futex implementation solely for the LKL host layer and use the Linux futex for everything above the kernel.

[2020-05-24 15:45] davidchisnall commented on #291
SGX-LKL does not need to control %gs, but does need a place to store a (pointer to a) per-ethread structure. In the OE-managed %gs section would be ideal. For now, we can use an unused space in this structure, but ideally we’d like to have an API for accessing this (which, eventually, can be portable to other enclave technologies and architectures).

[2020-05-24 15:46] davidchisnall commented on #288
What is the bug here? Are these incorrect values? With a minimal disk image, these are the values that I would expect. Does the LTP test runner need an image with 5GB free for this to pass?

[2020-05-24 15:49] davidchisnall commented on #256
We also have a couple of things that are not part of our confit yet, but should be.  In particular, the valid CPUID leafs and the contents of /proc/cpuinfo.

[2020-05-24 15:52] davidchisnall opened #303 "Signal context does not deliver non-integer in mcontext"
The signal handling code in LKL does not handle any of the XSAVE context. This means that SSE / AVX / x87 state is destroyed by signal handlers.  This may be the cause of intermittent failures in Java.

[2020-05-24 15:57] davidchisnall commented on #191
It might be worth trying to compile LKL as a tickless kernel. Currently, LKL registers for a periodic timer callback and often doesn’t the do anything in the wake up. In tickless mode, the kernel scheduler will only ask LKL for a timer interrupt when it has some work to do. This will probably break things until #190 is fixed, but after that we should be able to completely suspend all ethreads unti

[2020-05-25 06:49] qiyuangong commented on #287
Anyone know this issue?

[2020-05-25 08:38] prp commented on #287
Can you try the oe_port branch of SGX-LKL?

[2020-05-26 00:41] jxyang commented on #97
We should have clear documentations for things we put inside app config, with indications of which ones are in the dynamic attestation report.

[2020-05-26 08:07] Zxiaoyu95 opened #304 "Error while initializing enclave, error code: 1073741825"
when i run command  sudo ../../../tools/sgx-lkl-java sgxlkl-java-fs.img HelloWorld

the error shows Error while initializing enclave, error code: 1073741825

4.15.0-66-generic  16.0.4 ubuntu  sgxsdk and driver are 1.9  SampleCode run correct

This is the result of the gdb:

sudo LD_LIBRARY_PATH=/opt/j2re-image/lib/amd64/server SGXLKL_HEAP=400M SGXLKL_KEY=../../../build/config/enclave_debug.key ../

[2020-05-26 09:25] davidchisnall commented on #154
This is no longer required.  If we move to using the LKL futex implementation for all of userspace, this works already.

[2020-05-26 09:25] #154 closed, assigned to SeanTAllen

[2020-05-26 09:25] davidchisnall commented on #155
This was fixed in #259.

[2020-05-26 09:25] #155 closed, assigned to davidchisnall

[2020-05-26 09:31] davidchisnall commented on #156
@mikbras, I'm curious that you needed to implement `set_thread_area`: this is a system call only on 32-bit x86 Linux.  On 64-bit, it uses `arch_prctl` to set the %fs register.  I think we can get away without that and just use `wrfsbase` from musl directly from musl's `__set_thread_area` and leave the C code unmodified.  We may have to implement `arch_prctl` for things that want to use %fs for ext

[2020-05-26 09:38] wintersteiger commented on #97
Yes, that's why we're doing this. It has to be absolutely clear what's attested and checked, and what's just copied over from/to the host.

[2020-05-26 10:25] davidchisnall opened #305 "syscall_SYS_futex does not implement FUTEX_WAKE_OP"
The FUTEX_WAKE_OP operation has existed since Linux 2.6.14 and is intended for efficient implementations of `pthread_cond_signal` (though it is quite rarely used).  This is probably low priority, but we should track it for Linux compat.

[2020-05-26 13:19] SeanTAllen commented on #151
malloc changes are now passing CI. there was a fix in OE that addressed the problem.

[2020-05-26 13:40] SeanTAllen commented on #283
This issue impacts all the java tests in HW mode.

[2020-05-26 15:06] davidchisnall commented on #151
Yay, ticks!

[2020-05-26 15:29] jhand2 commented on #291
@davidchisnall the first 168 bytes (other than the self pointer and stack pointer) are unused by OE (by design). Feel free to use any of that space.

As for an API/additional asks, would you be able to open issues on the OE github repo? I can't really make unilateral decisions about new APIs, so it would be best to get feedback from others as well.

[2020-05-26 15:30] SeanTAllen commented on #151
__assert_fail is done but I won't tick until its merged.

[2020-05-26 15:45] davidchisnall commented on #291
Thanks.  If the first 168 bytes is part of the ABI, can that be documented somewhere as a guarantee from OE?

[2020-05-26 15:51] SeanTAllen commented on #151
fprintf/__stderr_FILE is done but I won't tick until its merged

[2020-05-26 16:11] jhand2 commented on #291
It is a specific change made to support SGX-LKL. While it is in master, I'm not sure if we want to commit to that as part of the ABI. I think your proposal for an API is probably a better long-term solution.

[2020-05-26 17:57] hukoyu opened #309 "java-thread-(debug)-(run-hw)-(1-ethreads) fails"
java multithreaded test scenario fails when ETHREADS=1

https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6272&_a=resultSummary&resultId=100019

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [HARDWARE DEBUG]
[   SGX-LKL  ] nproc=4 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: con

[2020-05-26 18:01] hukoyu opened #310 "dotnet-(debug)-(run-hw)-(1-ethreads) fails"
.Net helloworld scenario test fails with ETHREADS=1

https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6272&_a=resultSummary&resultId=100018

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [HARDWARE DEBUG]
[   SGX-LKL  ] nproc=4 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: conf->

[2020-05-26 18:01] hukoyu commented on #310
This might be same root cause issue with https://github.com/lsds/sgx-lkl/issues/309

[2020-05-26 18:07] hukoyu opened #311 "basic-sleep-(debug)-(run-hw)-(1-ethreads) fails"
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6272&_a=resultSummary&resultId=100013

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [HARDWARE DEBUG]
[   SGX-LKL  ] nproc=4 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: conf->fsgsbase=1
[   SGX-LKL  ] Registering disk 0 (path='s

[2020-05-26 18:10] hukoyu commented on #274
This fails in nightly build with ETHREADS=1 as well
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6272&_a=resultSummary&resultId=100021

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [HARDWARE DEBUG]
[   SGX-LKL  ] nproc=4 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: conf->f

[2020-05-26 18:13] hukoyu opened #312 "basic-nonroot_halt_test-(debug)-(run-hw)-(1-ethreads) fails"
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6272&_a=resultSummary&resultId=100009

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [HARDWARE DEBUG]
[   SGX-LKL  ] nproc=4 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: conf->fsgsbase=1
[   SGX-LKL  ] Registering disk 0 (path='s

[2020-05-26 18:18] hukoyu commented on #274
This hanged for 1 hour and failed with ETHREADS=1 and run-sw in nightly pipeline

https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=6276&_a=resultSummary&resultId=100021

[   SGX-LKL  ] SGX-LKL (OE) Git version e5ed5ad-dirty LKL version 5.3.0 [DEBUG build (-O0)] [SOFTWARE DEBUG]
[   SGX-LKL  ] nproc=8 ETHREADS=1 CMDLINE="mem=32M"
[   SGX-

[2020-05-27 07:10] davidchisnall commented on #274
I’ve seen this crash a few times for different tests, but never been able to reproduce it in a debugger or with tracing enabled. It looks like a use after free, but that’s still a guess. It’s possible that we have something allocated with one allocator and freed with another.

[2020-05-27 10:01] letmaik commented on #205
When running in SW mode, then SGX-LKL registers host-side signal handlers which call the enclave signal handler:
https://github.com/lsds/sgx-lkl/blob/7da53539b24e85e6770b0151a484a9e892608436/src/main-oe/sgxlkl_run_oe.c#L1356-L1394

In hw mode, the existing OE mechanism is used (`oe_add_vectored_exception_handler`).

If I understood correctly, then the SW mode signal handling would also (incorrectl

[2020-05-27 10:28] letmaik opened #313 "Compile flag variables are confusing (SGXLKL_CFLAGS vs SGXLKL_CFLAGS_EXTRA etc.)"
The SGXLKL_CFLAGS/SGXLKL_CFLAGS_EXTRA makefile variables are quite confusing as it's not clear from the name which one is used where. It seems like SGXLKL_CFLAGS is used *only* for the *.c files in tools/ and SGXLKL_CFLAGS_EXTRA for all other SGX-LKL code (host and enclave), but excluding third-party dependencies (for which there is THIRD_PARTY_CFLAGS).

I suggest replacing the above SGXLKL_* vari

[2020-05-27 11:20] letmaik opened #315 "Should host code be compiled with glibc?"
The host code is currently built with musl from `host-musl/`. I couldn't find anything in the docs on whether this is strictly required or just a historic artifact. If the latter, wouldn't it be simpler to just use the default standard library from the system (glibc) and remove host-musl/?

@prp @davidchisnall

[2020-05-27 11:56] davidchisnall commented on #315
Host code shouldn't need to be compiled with musl.  The host-musl should be for things that are compiled to run in the enclave (they are built against host-musl, but actually end up linked against sgx-lkl-musl).

Unfortunately (I think), the current build system builds some libraries once and uses them both inside and outside the enclave.  In the wip-cmake branch I've started trying to disentangle

[2020-05-27 13:39] letmaik opened #319 "Support verbose in-enclave SGX-LKL logging for non-debug builds"
Currently, the SGXLKL_{VERBOSE|TRACE_*} macros are no-ops in non-debug builds. The reasoning behind this is likely to reduce compute overhead and code size.

I think that those are not good reasons and it is very useful to have verbose (and maybe even trace) logging in release builds as well.
To avoid overhead if verbose/trace logging is disabled (via the app config) any complex logging statements

[2020-05-27 14:28] letmaik opened #321 "Print enclave backtrace on unhandled exception in kernel-level SGX-LKL code"
Like https://github.com/lsds/sgx-lkl/issues/205 but for enclave kernel-side code.

EDIT: This is useful in combination with #170 for RELEASE builds as well.

[2020-05-27 15:18] letmaik commented on #170
@davidchisnall Do you have a rough idea on how redirection of the console streams would work in LKL?

[2020-05-27 18:34] wintersteiger opened #325 "ELF ABI stacks"
From  #115 via #103: We should support the full ELF stack layout for maximum compatiblity.

@davidchisnall says:

- 64-bit argc
- `argv` as an array of 64-bit pointers.
- 64-bit 0
- Environment pointers as an array of 64-bit pointers.
- 64-bit 0
- ELF auxiliary argument vector (array of pairs of 64-bit values)
- 64-bit 0.
- Platform-specific things, including all of the things that the pointer arr

[2020-05-27 22:36] simonycs commented on #310
Trying to run the DotNet example with a one Core VM and having the same issue. It is blocking us from moving forward with our development.

[2020-05-28 04:35] hukoyu commented on #236
@davidchisnall @prp this bug is blocking enabling 9 tests. Can you triage and prioritize this issue please.

[2020-05-28 08:44] prp commented on #315
@letmaik are you sure about this? For example, [this](https://github.com/lsds/sgx-lkl/blob/e842e1bbf2cdb5211de4b0723fd917bf97709990/src/Makefile#L102) suggests that we use `gcc` to build the launcher.