[2020-05-28 08:45] prp commented on #304
Did you try the `oe_port` branch of SGX-LKL?

[2020-05-28 08:56] prp commented on #319
I guess we're discussing here if this should be supported in `RELEASE` builds, as it is supported in all other build types.

The main argument is not about code size or performance but security. With SGXLKL_VERBOSE/TRACE, we are putting code inside the enclave for production, which can leak data from the enclave. Even if attestation requires this to be turned off, an attacker may compromise CFI an

[2020-05-28 08:59] letmaik commented on #315
Hm, you may be right. It's quite hard to understand what things are in the makefiles. It seems the host code is also using a special linker script tools/sgx-lkl.ld. Why is that necessary?

[2020-05-28 09:01] prp opened #326 "Update build system to use cmake"
We should update the SGX-LKL build system from hand-written Makefiles to something more modern, such as cmake.

This will make the build system more robust and easier to maintain in the long-term.

This should also support automatic code formatting with clang-format.

[2020-05-28 09:02] prp commented on #313
@letmaik won't this problem go away once https://github.com/lsds/sgx-lkl/issues/326 is done?

[2020-05-28 09:04] prp commented on #315
I believe that special linker script isn't needed anymore. All of this should simplify after https://github.com/lsds/sgx-lkl/issues/326.

[2020-05-28 09:07] davidchisnall commented on #236
What is the issue here?

- That the permissions on `/tmp` are wrong?
- That the `nobody` user cannot create directories?
- That no user other than `root` can create directories?
- That switching to the `nobody` user does not work?

A quick look at [the code](https://github.com/lsds/sgx-lkl/blob/oe_port/src/lkl/setup.c) suggests that the permissions on `/tmp` should be 0777 (which is not quite righ

[2020-05-28 09:11] jxyang commented on #315
I believe host musl is built with gcc, but the outcome is musl-gcc that is used to build all binaries eventually linked into libsgxlkl.so.

[2020-05-28 09:13] prp commented on #315
Right, but that is the enclave library. @letmaik's question was specifically about the host-side code.

[2020-05-28 09:14] davidchisnall commented on #315
FYI: In the wip-cmake branch, I am compiling the host code without a special linker script and linking against glibc.  This produces a working host binary.  I have not made this a PR yet because it can't build all of the in-enclave code.  The build system will need to change after the relayering work, so I have not yet prioritised it, but I'd be happy if anyone else wanted to work on it...

[2020-05-28 09:15] prp commented on #309
@hukoyu All the issues that you have opened are related to the following problem:
[code]

Can you close these issues and open a single issue on the bug above? Please document in detail how this can be reproduced. Thanks.

[2020-05-28 09:16] letmaik commented on #319
I guess my main argument would be that I don't see logging code in SGX-LKL as much different than logging code in LKL itself and other libraries, or other code in general. If CFI was compromised you could enable stdout forwarding to the host (instead of disabling or writing to encrypted disk) and do all kinds of security-critical things. I just don't see how logging code is more dangerous than oth

[2020-05-28 09:16] prp commented on #315
I think that it makes sense to finish the relayering first and then update the build system (once).

[2020-05-28 09:18] letmaik commented on #315
OK, I'm closing this, since host code apparently is already built against glibc.

[2020-05-28 09:18] #315 closed, assigned to nobody

[2020-05-28 09:48] letmaik commented on #313
I hope so :) You can very easily do nasty stuff in CMake as well though.

[2020-05-28 10:02] wintersteiger opened #327 "Canonical enclave config format"
@letmaik previously summarized:

Dynamic attestation relies on extra data being passed to the enclave start function which then becomes part of the final MRENCLAVE hash and can be used in attestation. In OE terms this will be called EEID and is worked on by @wintersteiger. For SGX-LKL, the extra data is a concrete canonical serialization of the app config JSON so that the final MRENCLAVE can be pr

[2020-05-28 10:06] wintersteiger commented on #327
Further: JSON does not support integers greater than 2^53, so many integers will have to be encoded into strings. I've started doing that consistently by hex-encoding all integers into strings. As a side-effect this also bounds the lengths of those strings. I'll likely go all the way and add leading zeros so that all 32/64 bit integers are encoded into exactly 8/16 characters.

[2020-05-28 10:10] davidchisnall commented on #326
There is [a branch](https://github.com/lsds/sgx-lkl/tree/wip-cmake) that contains some initial work in this direction.  So far it can:

- Download and extract all of the third party dependencies
- Copy the LKL source tree into the build tree and patch it, keeping it up to date if any source files change.
- Build LKL
- Build the host components
- Pick up OE components from the OE CMake packages.
-

[2020-05-28 11:40] letmaik commented on #327
We decided offline that all integers will be converted to a single decimal format wrapped in a string (`"1234"`), which allows to express numbers greater than 2^53 and keeps human-readability (compared to hex encoding). Small numbers are string-wrapped as well to make in-enclave parsing simpler (otherwise non-string integers have to be separately parsed and checked for out-of-range-ness).
One aspe

[2020-05-28 11:55] wintersteiger commented on #327
That's right, key release policies would have to know about that encoding. In a pinch, strings are also numerically comparable (lexicographically), which, for instance, would work fine for version numbers.

[2020-05-28 12:15] prp commented on #327
I think that starting to compare numbers lexicographically or not supporting number comparisons in policies is going to be painful and lead to difficult to detect problems. A limitation of the format (JSON) shouldn't lead to broken policies.

How many app_config fields do we have that need numbers larger than 2^53? Could we just treat those in a special fashion e.g. by not using JSON's numeric typ

[2020-05-28 12:32] wintersteiger commented on #327
That would complicate the parser and serializer code, making them harder to review for security and to predict for attestation purposes. I definitely don't want to treat some settings different from the others, that's bad even for user-readability. Note that this is for the (new) attested enclave config, not the json encoding for `sgxlkl_app_config_t`, which can stay user-readable.

I don't know h

[2020-05-28 12:45] wintersteiger opened #329 "Enclave configuration defaults"
When the enclave configuration is read from EEID, we may decide not to require all settings to be specified in the EEID, so that the enclave will fill in the missing settings with defaults. We do not currently have a decision on whether we want this filling-in of details inside of the enclave, or on the outside, by the launcher, such that the EEID config is always fully specified.

There are good

[2020-05-28 12:54] prp commented on #327
I didn't mean to change the JSON parser but, as part of the schema, we would say that particular fields in the app_config, which we know may be large, must be strings. For example:
[code]

[2020-05-28 13:02] vamsikrishna935 commented on #236
nobody user cannot create directories under /tmp folder, it is failing with EACCESS

[2020-05-28 13:04] wintersteiger commented on #327
That requires a change to at least one of the JSON parsers, which now also needs a list of keys that are expect to be strings (or worse, either string or integer). Much safer to just encode all numbers as strings, which doesn't require any magic lists and the parser complexity is significantly lower and future-proof, and even user-readable if we keep them in decimal.

Also, it doesn't depend on on

[2020-05-28 13:06] davidchisnall commented on #236
@vamsikrishna935, please will you try to explain the cause of this?  Repeating the original comment is not helpful.  *Why* is the nobody user unable to create directories under /tmp?  The directory is created with permissions 0777, is that still the permission?

[2020-05-28 13:15] prp commented on #327
I don’t understand. Doesn’t JSON parsing only parse values in quotes as strings?

[2020-05-28 13:20] vamsikrishna935 commented on #236
@davidchisnall , sorry david, i missed. Yes it is created with 777 permissions.
[code]

[2020-05-28 13:20] wintersteiger commented on #327
Yes, strings are quoted, but I don't understand your question. We have to check that they contain valid numbers (also in the parser), but it's the same for all numbers.

[2020-05-28 13:37] davidchisnall commented on #236
I have no idea what that means.  Have you confirmed that the /tmp directory has permissions 777?  Can another user (not root or nobody) create directories there?  Who is the owner of /tmp?

What analysis *have* you done to attempt to identify the root cause?

[2020-05-28 14:07] letmaik commented on #329
There are actually three options:

Full specification (EEID = full specification)
Partial specification & host-filled (EEID = full specification)
Partial specification & enclave-filled (EEID = partial specification)

Right?

[2020-05-28 14:13] wintersteiger commented on #329
Yes, that's right. My main concern is the EEID config, but the things passed to the host/launcher may also be partial (as it is today).

[2020-05-28 14:35] prp commented on #327
Well, at some point, SGX-LKL specific code needs to interpret the parsed values and check ranges etc. This code will understand that some fields are strings and others are numbers, and it could translate some strings into numbers. It's not pretty, but the alternative is, as you say, to represent all numbers as strings, and I'm concerned how this will impact the policies that users write.

[2020-05-28 14:50] davidchisnall opened #331 "Kernel stacks are probably too big"
We allocate 512KiB of stack space for all lthreads.  Kernel threads are typically allocated with 4-8KiB stacks (not sure what Linux uses by default but it discourages large on-stack allocations so 8KiB is probably ample), so we're burning a lot of memory that isn't needed and likely hitting EPC paging earlier as a result.

[2020-05-28 15:02] wintersteiger commented on #327
Yes, that's what the JSON parser (or our callback therein) does, but it does it in the same way for all numbers.

I don't think this would have a major impact on the policies that users would write. Do you expect that they would want to use many range checks, which they would be discouraged from if we use strings?

[2020-05-28 15:21] letmaik opened #332 "Simplify samples"
Samples are currently a bit hard to understand because they use makefiles and have sparse READMEs.

The idea is to simplify the samples as much as possible to make them easier to digest for humans. The README of each sample should be re-written to be more verbose, more like tutorials, and list all commands explicitly without relying on automation (except using SGX-LKL tooling). ~At the same time t

[2020-05-28 17:30] hukoyu opened #334 "FAIL: Bug: next_delay_ns already set for timer with SGXLKL_ETHREADS=1"
With SGXLKL_ETHREADS=1 below 4 tests fails in nightly sgx-lkl pipeline:

[[ SGX-LKL ]] FAIL: Bug: next_delay_ns already set for timer
[ SGX-LKL ] init (0: 19 exit=0) [ SGX-LKL ] FAIL: sgxlkl_ethread_init() failed (ethread_id=0 result=19 (OE_ENCLAVE_ABORTING))

**These tests fail with same failure**:
basic-sleep-(debug)-(run-hw)-(1-ethreads)
basic-nonroot_halt_test-(debug)-(run-hw)-(1-ethreads)
jav

[2020-05-28 17:31] prp commented on #332
Yes, I agree that the README should show all the commands, so a user understands how they are run. Given that, we can even dispense with having scripts at all?

[2020-05-28 17:46] hukoyu commented on #311
Dupe of https://github.com/lsds/sgx-lkl/issues/334

[2020-05-28 17:46] #311 closed, assigned to nobody

[2020-05-28 17:46] hukoyu commented on #312
Dupe of https://github.com/lsds/sgx-lkl/issues/334

[2020-05-28 17:46] #312 closed, assigned to nobody

[2020-05-28 17:46] hukoyu commented on #310
Dupe of https://github.com/lsds/sgx-lkl/issues/334

[2020-05-28 17:46] #310 closed, assigned to nobody

[2020-05-28 17:47] hukoyu commented on #309
Dupe of https://github.com/lsds/sgx-lkl/issues/334
@prp created issue 334 to track these test failures.

[2020-05-28 17:47] #309 closed, assigned to nobody

[2020-05-28 18:08] jxyang opened #335 "Stop installing FSGS kernel module in sgx-lkl-setup"
Most customers would work on a patched kernel with FSGSBASE enabled already. For the rest of them, we simulate WRFSBASE with exception handling. We don't need to install the custom build FSGS kernel module anymore.

The separate question is whether we should stop building the kernel module in Makefile altogether.

[2020-05-28 18:17] hukoyu commented on #334
@prp repro steps:
1. Build sgx-lkl
2. Go under /sgx-lkl/tests/basic/sleep
3. Modify Makefile and add SGXLKL_ETHREADS=1 to the beginning of SGXLKL_ENV
4. Run "make run-hw"
5. This doesn't fail every time. But if you run 5-10 times you will hit the bug.

Here is a sample log from local run when failed:
[[  SGX-LKL ]] lkl_start_init(): lkl_start_kernel() finished
[[  SGX-LKL ]] lkl_start_init(): crea

[2020-05-28 18:48] hukoyu commented on #103
This is fixed with PR https://github.com/lsds/sgx-lkl/pull/115

[2020-05-28 18:48] #103 closed, assigned to nobody

[2020-05-28 18:49] hukoyu commented on #147
I aggree. This issue is too generic. Closing this one and will create specific issues when needed.

[2020-05-28 18:49] #147 closed, assigned to nobody

[2020-05-28 19:00] SeanTAllen commented on #335
Don't need to but performance will be better with the module than without.

[2020-05-28 19:07] hukoyu commented on #301
@ashokchandran  in the description of this issue last sample you added is not Kernel Panic but tiemout issue. Is it really same bug? As far as I know, one pipeline agent runs on each VM, so there shouldn't be multiple tests running on the same VM at the same time. And tests run sequentially. Can you explain more what you mean by

" I think it is related to multiple pipeline tests initiated in para

[2020-05-28 19:18] hukoyu commented on #258
Looks related to issue https://github.com/lsds/sgx-lkl/issues/283

[2020-05-28 19:42] hukoyu commented on #334
cc @davidchisnall @prp @jxyang
Investigated the failures of nightly sgx-lkl pipeline
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=491&view=results
There are more tests failing due to this issue:
- basic-exit-(debug)-(run-hw)-(1-ethreads)
- basic-exit_status-(debug)-(run-hw)-(1-ethreads)
- basic-global_vars_test-(debug)-(run-hw)-(1-ethreads)
- basic-helloworld-(debug)-(run-hw)-(1-et

[2020-05-28 19:46] SeanTAllen commented on #334
I thought this might be related to something I've been looking at so I took a look. I can't reproduce.

Do you have the kernel module installed? That's the only immediate difference I could think of that might be it for local reproduction. I ran the sleep test in a loop in bash for about 30 minutes without issue.

I'm on e842e1bbf2cdb5211de4b0723fd917bf97709990

`SGXLKL_ETHREADS=1 SGXLKL_VERBOSE=1

[2020-05-28 19:50] prp commented on #327
Checking version/security numbers is the obvious one. In addition, there may be "safe" ranges for allocated memory amounts etc. Perhaps we should first come up with a full specification of an app_config and also think about what associated policies may look like?

[2020-05-28 20:11] hukoyu opened #336 "If sgx-lkl-run-oe process hangs after a timedout test test run script exits"
When a core test times out after 5 minutes and sgx-lkl-oe is still hanging around, pipeline test run script doesn't continue and rest of the tests are not run:

AzDevOps  75716  197  0.0      0     0 ?        RN   00:09   9:39 [sgx-lkl-run-oe]
AzDevOps  76186  0.0  0.0  14856  1060 ?        SN   00:14   0:00 grep sgx-lkl-run-oe

https://github.com/lsds/sgx-lkl/blob/oe_port/.azure-pipelines/scripts

[2020-05-28 20:30] jxyang commented on #335
The patched kernel achieves the same effect as the kernel module. ACC Linux VMs should have it very soon.

[2020-05-28 20:32] SeanTAllen commented on #335
If they dont have the patched kernel and use the exception handling approach, the performance will be worse than with the module. That's the point. It's not a right or wrong- it's the tradeoff.

[2020-05-28 20:56] wintersteiger commented on #327
That's a very good idea indeed! I think it would be helpful to have such examples in discussions/meetings with others too, so it makes sense to actually go through a number of them and write them down.
I'm close to having a "full" specification (in the sense of all the settings that the code actually depends on), I hope to finish that tomorrow.

[2020-05-28 21:18] hukoyu commented on #336
Here is a link to a sample pipeline run job with this issue:
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=491&view=logs&j=fe3b6e0d-c167-5b41-87de-7abc79e7e1d7&t=e462892c-9357-502e-648c-9a324ddcd30e&l=306

https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=7028&_a=resultQuery

[2020-05-28 21:31] hukoyu commented on #334
@SeanTAllen on my ACC VM, this is how I am building and running tests. Let me know if I am doing something wrong:

git clone git@github.com:lsds/sgx-lkl.git
cd sgx-lkl
git checkout oe_port
.azure-pipelines/scripts/checkout_submodules.sh
.azure-pipelines/scripts/install_prerequisites.sh
.azure-pipelines/scripts/install_openenclave.sh
source /opt/openenclave/share/openenclave/openenclaverc
DEBUG=tru

[2020-05-28 21:35] SeanTAllen commented on #334
That should install the kernel module.

@hukoyu which git sha did that build openenclave from?

[2020-05-28 21:43] hukoyu commented on #334
@SeanTAllen
https://github.com/lsds/sgx-lkl/blob/oe_port/.azure-pipelines/scripts/install_openenclave.sh#L10
git clone -b feature/sgx-lkl-support https://github.com/openenclave/openenclave.git

[2020-05-28 22:00] SeanTAllen commented on #334
@hukoyu that checks out a branch, which commit is that branch currently pointing to in your checkout?

[2020-05-29 00:53] jxyang commented on #283
Suggest a modified pipeline that runs Java tests only, and post a log here when the failure happens.

[2020-05-29 01:37] hukoyu commented on #334
@SeanTAllen https://github.com/openenclave/openenclave/commit/8fec3caf5acae75cd4657557d20f70d7e072f0ae

[2020-05-29 05:42] ashokchandran commented on #301
It was my initial thought. As you said if they are on different VMs then it is not a factor.  Both are failing in sgxlkl_enclave_init that is enclave initialization with similar signature. So i have used same issue to track them.

[2020-05-29 07:55] prp commented on #329
- I believe that we need to have defaults inside the enclave because an SKR policy that doesn't mention a particular app_config value needs to (implicitly) endorse the default value through the specified MRENCLAVE.

- If the app_config as part of the EEID isn't complete, an SKR policy can only refer to the values mentioned. The problem with making the app_config in the EEID complete is that we wou

[2020-05-29 08:33] letmaik commented on #332
Scripts are needed to test samples in CI. We don't need to reference the scripts in the READMEs, but they are important. Except if every sample uses the exact same commands of course, but I don't have a good overview yet if that's the case.

[2020-05-29 08:49] letmaik commented on #336
`timeout` first sends SIGTERM and if that doesn't work SIGKILL. I'm not sure what else you could do.

[2020-05-29 09:35] wintersteiger commented on #329
Yes, this definitely requires more discussion!

An SKR policy can always refer to values that weren't mentioned, but it would mean that the SKR service needs to know those defaults, so it can fill them in too (or similarly, the attestation service would have to fill them in before it goes to the SKR service). I think that would turn into a bit of a mess when different versions of all services use

[2020-05-29 10:00] prp commented on #332
As mentioned before, I would separate samples from tests because they serve very different purposes: samples are for human consumption, but tests need to integrate with the CI set-up.

[2020-05-29 10:48] davidchisnall commented on #334
This error is being raised from `posix-host.c` in the timer code.  The timer code is intended to deliver the equivalent of timer interrupts to the bottom of the Linux kernel.  It's a bit horrible at the moment because, rather than creating a list of timers and firing them in sequence, it creates an lthread for each timer and then makes that thread sleep on a futex for the specified delay.

I think

[2020-05-29 10:49] SeanTAllen commented on #334
It apepars that I'm one commit behind for openenclave. It's possible that that https://github.com/openenclave/openenclave/commit/8fec3caf5acae75cd4657557d20f70d7e072f0ae introduced an issue.

[2020-05-29 10:52] #305 closed, assigned to davidchisnall

[2020-05-29 12:19] letmaik opened #343 "Align configuration to OCI spec"
https://github.com/opencontainers/runtime-spec/blob/master/config.md

We should try to stay close to this spec and document when we need to extend it with new fields or change semantics of existing ones. The idea is to not reinvent the wheel.

[2020-05-29 15:12] letmaik commented on #332
I'm sorry, but I disagree. Testable samples/documentation is a thing, and we should do it as much as possible.

[2020-05-29 15:20] letmaik commented on #329
From our offline discussion, the current consensus is that the `sgx-lkl-cfg` tool would fill in defaults during canonicalization, while the launcher would not modify this JSON blob any further. Inside the enclave, any missing fields have to be filled in with default values (this may happen when updating SGX-LKL introduces new fields and the app/config/policy wasn't re-deployed). The general idea i

[2020-05-29 15:39] prp commented on #332
I agree with using the CI to test both the tests and the samples, but not with merging both into one.

[2020-05-29 16:55] letmaik commented on #332
Merging?

[2020-05-29 17:03] prp commented on #332
Not having separate directories (which is not what you suggest :-)

[2020-05-29 17:08] prp commented on #335
`sgx-lkl-setup` should check if the current kernel already supports FSGSBASE and, if so, not load the FSGSBASE kernel module.

In addition, loading the FSGSBASE kernel module should be optional, and the default should be not to load it due to the security implications.

I suppose that we should still build and install the FSGSBASE kernel module as part of the default host install.

[2020-05-29 18:42] hukoyu commented on #169
Sub test cases of some LTP tests designed to test generation of EFAULT
by passing/accessing invalid address values (“-1”)  to some syscalls.
Currently sgx behaviour is to call enclave ABORT, if address is
not within enclave address range. Because of this test program
is causing enclave abort and exiting with non-zero exit code.

[2020-05-30 02:08] hukoyu commented on #148
This is fixed with PR https://github.com/lsds/sgx-lkl/pull/294

[2020-05-30 02:08] #148 closed, assigned to nobody

[2020-05-30 02:16] hukoyu commented on #223
This test is disabled for now.

[2020-05-30 02:19] hukoyu commented on #336
Fixed with PR https://github.com/lsds/sgx-lkl/pull/337

[2020-05-30 02:19] #336 closed, assigned to nobody

[2020-05-30 02:21] hukoyu commented on #277
This test is disabled for now

[2020-05-30 07:24] hukoyu commented on #274
I ran this test locally in my ACC VM and took 22 minutes. Actually 21 minutes is taking to build the image and compile the dependent packages. When we rerun the test with created image it just takes 6 seconds to run. So actually it is normal this test taking 16 minutes if image is not in cache. Then I aggree either this test needs to be moved to nightly runs or a docker image can be created for th

[2020-05-30 07:24] hukoyu commented on #274
ETHREAD=1 is different issue. My above comment is with ETHREADS=4/8.

[2020-05-30 07:30] hukoyu commented on #296
PR https://github.com/lsds/sgx-lkl/pull/348 8 tests
PR https://github.com/lsds/sgx-lkl/pull/302 10 tests
We enabled 18 of 23 tests.

We are following up remaining 5 tests with other 270+ tests that trying to fix and enable for sgx-lkl.
There is no need to this issue anymore.

[2020-05-30 07:30] #296 closed, assigned to nobody

[2020-05-30 09:58] elianavan028 commented on #102
verwijzend naar een leuk artikel, bedankt voor een geweldig artikel. Het heeft me veel geholpen. Ga zo door Must Visit: [Avast klantenservice nummer](https://techhelpnumber.com/avast-antivirus-klantenservice-belgie.html) .

[2020-05-30 17:47] hukoyu commented on #334
cc @davidchisnall @prp @jxyang
To fix this issue PR https://github.com/lsds/sgx-lkl/pull/341 is merged and tested in sgx-lkl nightly pipeline https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=537&view=results

**We still see failures due to this issue:**
- It fails more in run-hw and rarely happens in run-sw but still happens.

1) debug & hw: 6 failures
https://tfsproduks1.visualstudio.

[2020-05-30 19:52] davidchisnall commented on #334
Thanks. Are you able to reproduce these in a way that would give a stack trace? I think that the assert is now correct in the timer logic, so there is likely a bug in the caller.

[2020-05-30 22:38] #102 closed, assigned to nobody

[2020-05-31 08:57] Zxiaoyu95 opened #350 "sgx-lkl-run img error"
hi, nowadays,  when i re-pull the sgx-lkl project, i found a (core dumped) error occurs in running helloworld sample:

../../../tools/sgx-lkl-java ./sgxlkl-java-fs.img HelloWorld
../../../tools/sgx-lkl-java:line 31:18710 Segmentation fault(core dumped)

other Sample also has the same error when i run ./build/sgx-lkl-run  ./disk.img

my host is ubuntu 16.04 with 4.15.0.91-generic
I guess whether th

[2020-06-01 04:25] Zxiaoyu95 commented on #350
i found my think-pad not support AESM service, is this incurs? @letmaik #350

[2020-06-01 09:58] letmaik opened #351 "Explain app config / host config and sgx-lkl-cfg"
From https://github.com/lsds/sgx-lkl/pull/333/files/bd1b516276b26f97961ac932a6796ce7d0efca6d#diff-ecf6ebea1088ef4b85771da37e9edeeb:

@prp wrote:

[2020-06-01 11:10] letmaik opened #352 "Allow limited forwarding of host environment variables"
Currently, all environment variables have to be specified in the app config. This prevents certain lift-and-shift deployment scenarios where some configuration is supplied in k8s yaml files. We should allow using host variables and extend the docs to make it clear that they are insecure.

In order for attestation/key release to have a chance to check that only a certain set of whitelisted variable

[2020-06-01 12:37] letmaik opened #353 "Shutdown: unmount /dev, /proc, ... before unmounting root disk?"
I noticed that during shutdown the root disk is unmounted but there's no code that unmounts /dev, /dev/shm /proc, /sys, /run, /tmp. Are those unmounted automatically? If not, why is it even possible to unmount / without unmounting the rest first?

[2020-06-01 17:54] vamsikrishna935 opened #357 "Remove directory is failing if directory created with non-root user"
In some original LTP tests some folders are created and removed with (non-root) nobody user.
However this was failing with SGX-LKL. When debugged the folder wasn't created physically although syscall returns success. As a workaround root user used to create folders since these tests are testing chmod and utime and not creating directory.

Will investitage further but this might be an sgx-lkl bug.

[2020-06-01 19:16] hukoyu commented on #357
With nobody user remove directory is failing.
/ltp/testcases/kernel/syscalls/chmod/chmod03
/ltp/testcases/kernel/syscalls/chmod/chmod04
/ltp/testcases/kernel/syscalls/utime/utime02
/ltp/testcases/kernel/syscalls/utime/utime05

PR https://github.com/lsds/sgx-lkl/pull/358 is submitted to create and remove directories with root user permission.

[2020-06-01 19:35] hukoyu commented on #236
@vamsikrishna935  any progress on that? I don't see your answer to David's question.

[2020-06-02 02:43] jxyang commented on #178
https://github.com/lsds/sgx-lkl-musl/pull/15
https://github.com/lsds/sgx-lkl/pull/362

[2020-06-02 07:05] davidchisnall commented on #178
Thanks. Please tag the issues in commit messages so that they are automatically associated.

[2020-06-02 16:06] letmaik opened #364 "Add test for dm-verity without dm-crypt"
Seems to be broken. A test should be created to reproduce this issue.
[code]

[2020-06-02 16:19] prp commented on #364
I remember seeing this when the disk image is corrupted or has an incorrect format.

[2020-06-03 00:32] jhand2 opened #365 "Stack protector support"
Are there currently plans to support random stack protectors in SGX-LKL code?

Currently the OE branch sets the stack protector for each ethread to the same value (0). This is because an lthread could start a function on one ethread, yield, and then be rescheduled on a different ethread. In this case, stack guard checks will fail if each ethread has a different stack guard.

[2020-06-03 03:06] jxyang opened #366 "Improve start up time"
Currently after sgx-lkl creates the enclave using `oe_create_enclave`, lots of initialization make the start up a lengthy process. We should identify the inefficiencies in the process and reduce the start up time as much as possible. One example is that don't initialize wiregate when there is no tap device passed in.

If `oe_create_enclave` plays a major role in slowing down the start up process,

[2020-06-03 09:46] letmaik opened #367 "Explicit unmounting during shutdown"
SGX-LKL currently doesn't unmount any special mounts (like `/proc` etc.) before unmounting `/`. It may be that this happens automatically in LKL. It would be nice to unmount those mounts explicitly.

In https://github.com/lsds/sgx-lkl/pull/346, overlayfs support was added. This means unmounting `/` as part of shutdown currently only unmounts the overlay, not the underlying host disk `/mnt/vda` (in

[2020-06-03 10:24] letmaik commented on #332
I've merged the first sample rewrite in #333 and am now looking at the other samples. I think we need to rethink them completely, even the hello world sample is not right in my opinion. It should be something much simpler not involving compilation of C code. In general I also don't want to replicate tests. I think it would be much nicer to have samples which focus on certain tooling tasks or goals

[2020-06-03 12:09] letmaik commented on #353
Duplicate of #367.

[2020-06-03 12:09] #353 closed, assigned to nobody

[2020-06-03 12:27] letmaik opened #368 "Remove sgx-lkl-disk --alpine"
I think `--alpine` is redundant given that the tool can convert Docker images as well. I suggest to remove it and change all tests and samples that still use it to `--docker`. This will remove one more thing that has to be understood and explained.

[2020-06-03 12:34] prp commented on #368
I think the benefit of `--alpine` is that it allows you to quickly create a disk image with a given application without having to create (and understand) a Dockerfile. I would keep it.

[2020-06-03 12:34] letmaik opened #369 "Move any non-Docker disk creation flows from README to separate docs"
I suggest to remove the following subsections in the "### 2. Creating SGX-LKL disk images with sgx-lkl-disk" section:
- "#### Creating Alpine-based disk images"
- "#### Creating plain disk images"

I also think the following sections can be removed:
- "### 3. Running applications from the Alpine Linux repository"
- "### 4. OpenJDK Java Virtual Machine (JVM)"
- "### 5. Cross-compiling applications

[2020-06-03 12:37] letmaik commented on #368
I understand the value, but it's very specific and doesn't allow much customization. I think it's only good for SGX-LKL developers. Endusers would be happier to see a Dockerfile, as that's what the world is used it. I would remove it. And the fact that you have to create an extra file is not a good reason to keep it I think.

[2020-06-03 12:39] prp commented on #369
I agree that Java and cross-compilation should go, and instead become sample applications. I still think that there is value in supporting a particular distro (Alpine) directly.

[2020-06-03 12:39] prp commented on #368
It's useful when a user wants to try out SGX-LKL quickly with a specific application that they have in mind, without faffing with Dockerfiles.

[2020-06-03 12:41] letmaik commented on #369
That doesn't scale. Either we offer generic mechanisms (e.g. Docker), or we have to add support for other distributions as well, like `--ubuntu` in the future, but I think that's a bad idea.

[2020-06-03 12:43] prp commented on #369
Right, I would only keep it for the moment when Alpine is the only supported distribution. Once that limitations has disappeared, I agree that it should be removed.

[2020-06-03 12:45] prp commented on #367
Just to add to this based on our offline discussion: we should also check if the current SGX-LKL unmount procedure when using an overlay file system indeed leaves the original root disk dirty or not.

[2020-06-03 12:45] letmaik commented on #368
Most common applications have ready-made Docker images on Docker hub. e.g. `nginx:alpine`, and I think relying on those images is better as they may have additional configuration/samples already in the image, compared to the Alpine package manager packages.
EDIT: And in that case you wouldn't need to write a Dockerfile.

[2020-06-03 12:48] letmaik commented on #367
The current implementation only allows overlays for read-only root disks, so it would never become dirty. But yes, you could remove that limitation for the sake of an experiment.

[2020-06-03 12:50] prp commented on #368
Sure, that makes sense. But this will also require some testing that we have sufficient support that these third-party containers will just work out-of-the-box when somebody wants to try them quickly. At least with the Alpine distribution, we have a concrete set of binaries that we know can be invoked directly (and thus tested easily). As you say, nobody would use these binaries for an actual depl

[2020-06-03 13:01] letmaik commented on #369
I would then (re)move the following:
- "#### Creating plain disk images"
- "### 3. Running applications from the Alpine Linux repository"
- "### 4. OpenJDK Java Virtual Machine (JVM)"
- "### 5. Cross-compiling applications for SGX-LKL"

Note that 3. is outdated and not working anyway, and I think superseded by Docker since that involves a more production type disk setup.

[2020-06-03 13:06] letmaik commented on #368
I don't buy the "quick" argument. As long as you have a template to copy from there shouldn't be a difference in time, maybe 20 seconds, at the expense of having something that you can't extend, but have to start over in Docker.

[2020-06-03 13:08] letmaik commented on #368
And regarding testing of third-party containers, definitely, but I see that as a good thing. The more production scenarios (=Docker) we test, the better. We should have a nightly pipeline that just tests 50 common Docker containers.

[2020-06-03 13:19] letmaik commented on #319
We discussed this offline last week but I forgot to update this issue. We agreed that verbose logging should be possible in release builds as well for the reasons stated in my previous comment. Having additional logging will aid immensely in troubleshooting.

[2020-06-03 13:41] SeanTAllen commented on #334
I have a fix for this. PR is coming.

[2020-06-03 13:48] letmaik opened #370 "lkl_virtio_netdev_add ignores errors"
- Return code of `lkl_virtio_dev_setup()` is not checked.
- Return code of `dev_register()` is checked but only leads to `sgxlkl_info(..)` on error.

[2020-06-03 13:50] letmaik opened #371 "lkl_deliver_irq ignores errors"
Return code of `lkl_trigger_irq()` is not checked.

[2020-06-03 15:24] letmaik opened #374 "console_enqueue() has incorrect error handling"
https://github.com/lsds/sgx-lkl/blob/6016fbc9eabda2799ac914c8278e37d2e2f385b2/src/host_interface/virtio_console.c#L172-L199

- No status code is returned.
- `virtio_req_complete()` is called with status code that may be a negative error code, but the function accepts unsigned integers only which is the length of data processed. Should `virtio_req_complete()` be called with length 0 in case of erro

[2020-06-03 15:27] SeanTAllen commented on #334
@hukoyu this has been merged.

[2020-06-03 15:37] letmaik opened #375 "virtio_process_one() ignores error during queueing"
https://github.com/lsds/sgx-lkl/blob/a674a8f6c6479fbfcb8578aded364b188c6b933e/src/host_interface/virtio.c#L233-L256

`enqueue()` returns a negative number if the request has not been queued and needs to be retried later.

Also, `virtio_process_one()` is supposed to return a status which actually gets checked in `virtio_process_queue`. That is probably meant to be the status from `enqueue()`.

[2020-06-03 15:56] prp commented on #366
When the work on the relayering (https://github.com/lsds/sgx-lkl/projects/1) is complete, the start-up sequence of SGX-LKL will be quite different, and I expect this to affect performance. We can then look at specific bottlenecks.

In the meantime, it would be good to reduce the delay of `oe_create_enclave`. For starters, I don't understand why it takes almost as long in simulation as in hardware

[2020-06-03 16:40] SeanTAllen commented on #371
in my limited testing, the lkl_trigger_irq for console returns a non-zero on almost every shutdown in sw-mode.

[2020-06-03 17:19] letmaik opened #376 "virtio_net_fd_net_free() unused"
https://github.com/lsds/sgx-lkl/blob/a674a8f6c6479fbfcb8578aded364b188c6b933e/src/host_interface/virtio_netdev.c#L233-L237

Should probably be called from somewhere?

[2020-06-03 18:27] jxyang commented on #365
I think if we bind a lthread to an ethread permanently, we lose quite flexibilities in scheduling, and would hurt the performance.

What about we set the stack protector for all ethreads to the same non-zero value? Is there value doing so?

[2020-06-03 18:42] jhand2 commented on #365
IMO from a security perspective, no.

My suggestion would be to track a per-lthread stack protector and set %fs:0x28 whenever the lthread gets scheduled. This does have a complication that eventually when the lthread exits you have to put back OE's stack protector on the ethread.

[2020-06-03 18:50] jxyang commented on #365
Isn't that should be the stack protector for the other lthread gets scheduled on the ethread?

[2020-06-03 19:11] jhand2 commented on #365
When you (an lthread) get scheduled on an ethread you could set %fs:0x28 to some value you hold in the lthread struct. Then on context switch, the next lthread would change to it's value.

This only matters in cases where an lthread does not have it's own tls area.

[2020-06-03 22:31] hukoyu commented on #334
Sean's PR https://github.com/lsds/sgx-lkl/pull/372 fixed this bug.  I verified all this bug related tests passed.
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_build/results?buildId=576&view=results

[2020-06-03 22:31] #334 closed, assigned to nobody

[2020-06-04 01:48] Zxiaoyu95 commented on #92
i have the same problem, when i update openssl version 1.0.2g to 1.1.0k on ubuntu16.0.4, it is not  work, do you address this issue?

[2020-06-04 02:14] hukoyu commented on #245
basic-network-(debug)-(run-hw)-(8-ethreads) also fails.
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=9086&_a=resultSummary&resultId=100009
[code]

[2020-06-04 02:27] hukoyu commented on #120
This happened with kernel-syscalls-pselect-pselect03-(nonrelease)-(run-sw)-(8-ethreads)
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=9078&_a=resultSummary&resultId=100048
[code]
[code]

[2020-06-04 03:24] hukoyu commented on #283
This issue doesn't repro with latest code. Looks like fixed.

[2020-06-04 03:24] hukoyu commented on #258
This issue doesn't repro with latest code. Looks like fixed.

[2020-06-04 05:36] hukoyu opened #380 "[Tests] gettimeofday syscall test hangs with ETHREADS=1"
This test fails in sgx-lkl nightly pipeline. In the pipeline it fails since test harness times out after 5 minutes. But when run locally it hangs forever. gettimeofday is called infinitely

Command:
SGXLKL_ETHREADS=1 make run-hw-single-gdb test=/ltp/testcases/kernel/syscalls/gettimeofday/gettimeofday02

Output:
[code]

[2020-06-04 05:38] hukoyu commented on #380
@SeanTAllen  I thought https://github.com/lsds/sgx-lkl/issues/334 is fixed with your PR https://github.com/lsds/sgx-lkl/pull/372
But debug command I shared in the description of this issue, it reproes 100% locally.

[2020-06-04 05:57] hukoyu commented on #380
@SeanTAllen this reproes with run-sw more easily.
SGXLKL_ETHREADS=1 make run-sw-single-gdb test=/ltp/testcases/kernel/syscalls/gettimeofday/gettimeofday02

[2020-06-04 10:04] SeanTAllen commented on #380
That error message no longer exists. If you are still getting an error related to next_delay_ns then you aren't running the most recent code.

[2020-06-04 10:14] SeanTAllen commented on #258
@hukoyu I can still repo locally. It just takes some time. I'm still trying to track it down. There's a hang that I can make happen across numerous test apps when given enough time. They may or may not be related.

[2020-06-04 15:50] SeanTAllen opened #384 "Possible lkl_cpu_put/lkl_cpu_get problem"
I found a bug in our existing sem_up/sem_down implementation, but one of the cases that I found to trigger it was quite surprising to @davidchisnall.

His belief is that with a sem_up implementation that adds 1 to a count for each time it is called and a sem_down that will subtract 1 from the count so long as the count is greater than 0, then, the count for any semaphore used by lkl_cpu_put/lkl_cp

[2020-06-04 21:49] hukoyu commented on #380
@SeanTAllen I cleaned and rebuilt with latest code. Yes I don't get this error now but it makes gettimeofday   system call infinitely, never stops.

I ran command:
SGXLKL_VERBOSE=1 SGXLKL_KERNEL_VERBOSE=1 SGXLKL_TRACE_LKL_SYSCALL=1 SGXLKL_TRACE_SIGNAL=1 SGXLKL_ETHREADS=1 make run-sw-single test=/ltp/testcases/kernel/syscalls/gettimeofday/gettimeofday02

It makes this system call infinitely: (This

[2020-06-04 22:07] hukoyu commented on #120
This happened with test as well: (Looks like it is happening randomly, not a test spepcific)
 kernel-syscalls-socket-socket02-(nonrelease)-(run-sw)-(8-ethreads)
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=9528&_a=resultSummary&resultId=100161

[2020-06-04 22:41] hukoyu commented on #384
@SeanTAllen is PR https://github.com/lsds/sgx-lkl/pull/385 to fix this issue?
I see in the tests of PR pipeline there are still timeout failures:
These two tests timed out:
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=9484&_a=resultSummary&resultId=100021
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-

[2020-06-04 22:42] SeanTAllen commented on #384
No. It isn't.

This is an issue to investigate one of the cases that triggered #385 because, that case might be a bug unto itself. It's unclear without more investigation if the case is in fact a bug or not.

[2020-06-05 06:58] glorysdj opened #389 "StringUtils.toLowerCase will cause problem when run as jvm app"
Hi guys, when I run some code as jvm app in sgx-lkl simulation mode , it will exit with no output or exception.
e.g.
[code]
in jdk, it's
[code]

Is this related to Locale class in Alphine?
And I also wander that how can I debug jvm app in sgx-lkl simulation mode?

please help here.
Thanks

[2020-06-05 07:15] prp commented on #332
I guess that we need to make a decision if we want the samples _only_ to be "lift-and-shift" deployments based on Dockerfiles or also show more developer-oriented workflows, e.g. where an application is cross-compiled for musl.

I think that it's fine if there is overlap between the used SGX-LKL features among the samples. When a user wants to understand "does SGX-LKL support an important applicat

[2020-06-05 07:32] davidchisnall commented on #389
I don’t know how the JVM implements the locale functions, but musl just has stubs for most locale related functionality, so it’s possible that this is the issue. Is this with master or the oe_port branch?

[2020-06-05 07:34] davidchisnall commented on #376
In theory, though we currently just exit the host process to clean all of this up. If we want to be able to run multiple enclaves in a single process, this will need fixing.

[2020-06-05 07:40] davidchisnall commented on #365
Once the relayering is done (specifically the pthread work that @vtikoo is doing), we will have two different kinds of %fs regions. For threads created in userspace, libc’s pthread implementation will set a random value in %fs:28. Other threads do not need tls, but we should ensure that they have something in the FS segment that contains a random canary value.

Note that the lthread scheduler swit

[2020-06-05 07:45] glorysdj commented on #389
With master branch.
It seems that musl does not have locale, need to install it.
BTW, is oe_branch ready for running java/openvino/tf/pytorch?
And another question is where can I find any example for sgx-lkl-disk with dockerfile, maybe I can install locales in docker image and then build the disk image
Thanks.

[2020-06-05 09:04] letmaik commented on #332
I don't understand what "developer-oriented workflow" really means. The default assumption should be that SGX-LKL is installed, and in that case there is no musl cross-compiler available. I don't see why you need to support cross-compiling anyway if you can build your app inside a Docker image from an alpine base image. Am I missing something?

I agree on overlap between samples.

[2020-06-05 10:56] SeanTAllen commented on #384
@hukoyu I dont have access to whatever the visualstudio.com link is going to.

[2020-06-05 11:15] SeanTAllen commented on #380
I'm able to reproduce locally.

[2020-06-05 11:31] SeanTAllen commented on #380
Interesting. The basic/clock test that also calls gettimeofday does not hang.

[2020-06-05 11:37] SeanTAllen commented on #380
@hukoyu ok, so this is probably related to https://github.com/lsds/sgx-lkl/issues/209.

The problem is that with 1 thread, the timer never goes off to end the test.

But, it only happens with 1 ETHREAD.

Was this test ever working before or was it always dying on startup due to next_delay_ns bug?

test code is here:

https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/g

[2020-06-05 13:30] SeanTAllen commented on #384
@davidchisnall @prp do you have any thoughts on the right approach for making it easy to debug "what else is waiting on this futex"?

gdb plugin?

functions that are in the codebase that are designed really to only be called from the debugger (Pony uses this approach and I've grown comfortable with it- at has certain affordances that I'm fond of)?

something else?

[2020-06-05 14:48] prp commented on #384
@SeanTAllen we used to have some support for dumping futex waiters in gdb, but this may be broken now: https://github.com/lsds/sgx-lkl/blob/d753888431a1eb05ee1b33bb1ba6f9471486e9b5/tools/gdb/sgx-lkl-gdb.py#L259

[2020-06-05 14:49] SeanTAllen commented on #384
I was unaware of that @prp.

I'll give it a try.

[2020-06-05 15:54] hukoyu commented on #389
@glorysdj  you can debug with this command:

sgx-lkl-java --sw-debug sgxlkl-java.img --debug
Ref: PR https://github.com/lsds/sgx-lkl/pull/252

You can look at this sample java test about how to use Dockerfile. Check the Makefile
https://github.com/lsds/sgx-lkl/tree/oe_port/tests/languages/java/hello_world

[2020-06-05 15:59] hukoyu commented on #384
@SeanTAllen I am adding log files here for you:
   SGX-LKL  ] SGX-LKL (OE) Git version 59bbbf4-dirty LKL version 5.3.0 [NON-RELEASE build (-O3)] [SOFTWARE DEBUG]
[   SGX-LKL  ] nproc=8 ETHREADS=8 CMDLINE="mem=32M"
[   SGX-LKL  ] HW TLS support: conf->fsgsbase=0
[   SGX-LKL  ] Registering disk 0 (path='sgxlkl-python.img', mnt='/', [RW   ])
[   SGX-LKL  ] No tap device specified, networking will not

[2020-06-05 16:00] SeanTAllen commented on #384
@hukoyu thanks

[2020-06-05 16:02] hukoyu commented on #380
@SeanTAllen yes it only fails with ETHREADS=1. It was failing in sgx-lkl nightly pipeline where we run tests with different ETHREADS values like 1, 4, 8. This test was always failing.

[2020-06-05 16:04] SeanTAllen commented on #380
How could CI be passing if this has always failed for all different numbers of ethreads?

I think I'm misunderstanding you.

[2020-06-05 16:27] hukoyu commented on #380
@SeanTAllen normal sgx-lkl pipeline runs with ETHREADS=cpu core count (which is 4 or 8)
It passes with ETHREADS=4 or 8
https://dev.azure.com/sgx-lkl/sgx-lkl/_build?definitionId=1

In nightly sgx-lkl build we run with different ETHREADS (1, 4, 8) and it fails for only ETHREADS=1
https://dev.azure.com/sgx-lkl/sgx-lkl/_build?definitionId=4

[2020-06-05 16:37] SeanTAllen commented on #380
Gotcha

[2020-06-05 17:15] letmaik commented on #380
(@hukoyu The normal pipeline uses ETHREADS=8 for everything. See also the default in template.yml.)

[2020-06-06 03:35] Zxiaoyu95 opened #393 "fork: Function not implemented"
This issue occurs when I run my application with a docker image I built. I think whether my applications to run inside of SGX enclaves are not single-process? for example, the Hadoop application.

Do you know the solution to the problem? If you have good Suggestions, do you recommend how I implement fork in this project to support my application?

Looking forward to your reply! Thank you!

[2020-06-06 03:38] #350 closed, assigned to nobody

[2020-06-07 07:42] jxyang opened #394 "Failed to run tests/containers/cc locally"
While investigating a pipeline failure, I couldn't run this test locally. The error message is rather useless:
[code]

[2020-06-07 08:04] letmaik commented on #394
This test requires an SGX-LKL installation from the Debian package that is then mounted into the container. Should probably add a comment at the top of the test.

[2020-06-07 16:11] davidchisnall commented on #393
Fork, in the general case, is impossible osssible to support in SGX. We do not have control over page tables and so cannot implement copy on write mappings.

We can potentially get enough of clone working to support multiple processes created via vfork. There is a lot of work still to do there. First, we need to address #187 so that we can make the kernel aware of all of the memory mappings within

[2020-06-07 16:12] davidchisnall commented on #389
@glorysdj, at present, the oe_port branch is more feature complete than master. I expect that we will switch over to making it the default branch soon.

[2020-06-08 01:33] glorysdj commented on #389
ok, that's great. @davidchisnall and @hukoyu , thanks. I will try this and close the issue.

[2020-06-08 05:27] jxyang opened #395 "Project home README issues"
This issue covers errors on the project home (for oe_port).

* Section [3. Running applications from the Alpine Linux repository](https://github.com/lsds/sgx-lkl/tree/oe_port#3-running-applications-from-the-alpine-linux-repository) is outdated. The contents are well covered by other sections, and we don't have a `miniroot` sample anymore.

[2020-06-08 05:37] jxyang commented on #395
* section [4. OpenJDK Java Virtual Machine (JVM)](https://github.com/lsds/sgx-lkl/tree/oe_port#4-openjdk-java-virtual-machine-jvm) is outdated.
   * the directory is moved to `samples/languages/java`
   * we don't require `curl` anymore
   * the warning message is more like :

[2020-06-08 05:44] jxyang commented on #395
* section [5. Cross-compiling applications for SGX-LKL](https://github.com/lsds/sgx-lkl/tree/oe_port#5-cross-compiling-applications-for-sgx-lkl) is outdated.
   * again it refers to the non-existing miniroot sample.
   * we should mention 2 ways to cross compile:
       * use musl-gcc
       * use Alpine Linux based docker container
   * The statement regarding limitation of `fork` should be moved

[2020-06-08 05:51] jxyang commented on #395
* section [E. Configuring SGX-LKL-OE parameters](https://github.com/lsds/sgx-lkl/tree/oe_port#e-configuring-sgx-lkl-oe-parameters):
   * should be `configuring the SGX-LKL launcher`. If we have to put the name, it should be `sgx-lkl-run-oe`.
   * the statement `Note that for the debugging options to have an effect, SGX-LKL must be built with DEBUG=true.` should really belong to section "G. Debuggi

[2020-06-08 17:33] jhand2 commented on #365
This isn't quite true though right? For lthreads without usermode threading (lthreads created before initializing libc), they do not change fs on context switch.

Agreed, the random value should be computed once per lthread. See above for what my concern was.

[2020-06-09 07:45] davidchisnall commented on #365
I don’t understand what you mean by ‘lthreads without usermode threading’. Lthreads switch fs if the new thread has an itls flag set. Since none of the kernel threads use itls, we can either have them all share an FS segment (and, thus, canary value) or allocate a small itls segment for each, with a different canary value.

[2020-06-09 08:32] prp commented on #105
I would like to revive the discussion if we should build the SGX-LKL fork of OE as a submodule of SGX-LKL. I think that it would make building more user-friendly and less error-prone while we are using a version of OE that isn't master. If we make this change, we just need to ensure that this will remain compatible with future modifications of the build system.

cc: @paulcallen @davidchisnall @let

[2020-06-09 09:35] letmaik commented on #105
Makes sense to me. As long as we add a build option like OE_PREFIX to optionally pick up an already installed OE it should cover all dev use cases.

[2020-06-09 09:51] wintersteiger commented on #105
Yeah, I agree; we need `OE_PREFIX` to override the path when necessary, but in general I think it's a good idea, at least until we depend on OE master instead of our own branches.

[2020-06-09 10:39] letmaik commented on #260
@hukoyu How are you getting on with this? Do you need any help?

[2020-06-09 10:43] letmaik commented on #313
Closing this, I'm trusting @davidchisnall to do the right thing.

[2020-06-09 10:43] #313 closed, assigned to nobody

[2020-06-09 11:30] SeanTAllen commented on #380
Thus far, what I've found is that calling syscall directly with 1 ethread breaks our signal handling.

If you call gettimeofday directly, there's no hang, everything works as expected.

[2020-06-09 13:21] ashokchandran opened #405 "LTP: socket shutdown fails"
Test:sendto01
purpose of the test: Verify that sendto() returns the proper errno for various failure cases
Issue: Test was using a parent child setup to test. patch was applied to make it thread-based.
But still one of the sub test related to local endpoint shutdown was failing.
The test does a shutdown and expect EPIPE . It was getting error ENOTCONN instead.
[code]
logs after adding threads : Su

[2020-06-09 13:35] ashokchandran commented on #405
additional logs
[code]

[2020-06-09 13:42] ashokchandran commented on #405
looks like a thread switching issue. Will check with mutex.

[2020-06-09 14:59] letmaik opened #406 "CI: Add new scaleset pools with auto-teardown enabled"
In https://github.com/lsds/sgx-lkl/pull/404 we had to switch from hosted agents back to the current scaleset pools (with VMs reused across builds) for the main branch and release pipeline. This is not ideal since PRs can influence the VM state negatively and any artifact that's published to some public package feed should be built in a fresh environment. Scaleset pools have an auto-teardown option

[2020-06-09 16:24] jhand2 commented on #365
I meant without usermode tls.

That would be my preference. This would avoid changing the ethread's stack protector. Changing the ethread's stack protector will cause stack check failures in OE code when the application exits.

[2020-06-09 16:49] hukoyu commented on #260
@letmaik I was busy with other tasks. Will submit a PR for that this week.

[2020-06-09 17:04] davidchisnall commented on #365
Hmm, that's a good point.  That means that @vtikoo will have to make sure not to replace the stack canary value in ethread TLS value (or, rather, to copy that value from the old TLS segment).

[2020-06-09 21:01] hukoyu commented on #384
@SeanTAllen we still see random hang/time out failures. You said you will submit a fix to address that. Any progress on that? ETA? Thanks

[2020-06-09 21:04] hukoyu opened #413 "[Tests] LKL bug in do_task_dead() during shutdown"
This test fails a lot:
containers-cc-(nonrelease)-(run-hw)-(8-ethreads)

[code]

Log file:
[Standard_Console_Output (6).log](https://github.com/lsds/sgx-lkl/files/4754850/Standard_Console_Output.6.log)

[2020-06-09 21:05] SeanTAllen commented on #384
The fix for one problem was merged Friday. I haven't found the source of anything else yet.

[2020-06-09 21:08] SeanTAllen commented on #380
So the problem here is with the cooperative scheduler.

The test in question will never yield the CPU. It calls gettimeofday repeatedly and there's nothing in the existing LKL codebase that will cause it to yield.

It works with more than 1 ETHREAD because, another core is available that will receive the signal from alarm and terminate the test.

I'm looking at how lthreads might occassionally yie

[2020-06-09 21:08] hukoyu commented on #413
Other failures:
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=10280&_a=resultQuery

[2020-06-09 22:15] hukoyu opened #414 "Hanging when unmounting root file system"
This test started failing a lot in the couple days. This is a regression.
Log file:
[Standard_Console_Output (7).log](https://github.com/lsds/sgx-lkl/files/4755156/Standard_Console_Output.7.log)

[code]
Pipeline test:
https://tfsproduks1.visualstudio.com/Ab5352d9a-5ed5-48f2-b767-7f273b55b53c/sgx-lkl/_TestManagement/Runs?runId=10178&_a=resultSummary&resultId=100021

[2020-06-10 04:30] hukoyu opened #415 "[Tests] OpenVino test hangs with ETHREADS=1"
If this is not a supported scenario we can disable this test with ETHREADS=1 in nightly pipeline

sgx-lkl nightly build pipeline fails for ml/openvino for SGXLKL_ETHREADS=1. It just hangs forever.

It just hangs here:
[[ LKL SYSC ]] [tid=47 ] getpid 172 (0, 0, 0, 0, 0, 0) = 36

I think this means thread id 47, where there is only 1 thread.
[code]

[2020-06-10 04:33] hukoyu commented on #415
cc @jxyang @letmaik @SeanTAllen

[2020-06-10 04:37] jxyang commented on #394
I don't think ask users to install sgx-lkl from Debian package is the right solution. Using the package, the test case exercises the sgx-lkl bits from the package but not the local build. I used the following command to fix the problem:
[code]
Yes, we should document this.

[2020-06-10 04:46] jxyang commented on #394
Even though I can run the other CC based tests such as `tests/basic/overlay`,  I am still have trouble with `tests/containers/cc`. The error message is the same as above. I am on the latest oe_port branch.

[2020-06-10 04:49] agowdamsft opened #416 "Add .NET Core and Java webserver samples"
Its very common to have .net core 3.1 or Java 11 based Web API hosted in a container. Can we please add couple of examples (also consider adding them to CI/CD) if possible.

[2020-06-10 05:14] agowdamsft opened #417 "Add popular OSS container applications to the samples/FAQ"
It's very common to use RedisCache, mongo DB,  Maria DB, PyPy. Would you consider adding these to the tested samples and/or FAQ list?

[2020-06-10 07:07] letmaik commented on #394
The Debian package contains a stand-alone distribution including bundled libraries that's suitable for mounting into a Docker container. Your local install isn't the same. See the .azure-pipelines/scripts/create_standalone_deb_pkg.sh script to create such a stand-alone package. It may be worth pulling this out of the CI scripts to allow easier local testing from a source build. Not necessarily the

[2020-06-10 07:10] letmaik commented on #414
@hukoyu The log you pasted in the issue description isn't useful. The attached stdout log is. It would make more sense to instead include that in the text.

[2020-06-10 07:14] letmaik commented on #413
@hukoyu Test run details aren't accessible publicly (due to DevOps limitations) and some members also don't have access. It would be more useful if you copy paste the relevant part of the log in here if it is different from what you already posted.

[code]

[2020-06-10 09:04] letmaik commented on #368
We discussed this offline and came to the conclusion that SGX-LKL can be seen from two perspectives, first as the raw runtime which really just supports disk images, and then second as a package (runtime + tooling) that can be used in high-level workflows involving Docker images or other ways (`--alpine`, tar archives etc.) to produce disk images. Forcing Docker as primary high-level workflow isn'

[2020-06-10 09:04] #368 closed, assigned to nobody

[2020-06-10 09:25] letmaik opened #420 "README cleanup"
This meta-issue tracks work related to fixing / simplifying / cleaning up the main project README.

The main idea is to have a short README explaining what SGX-LKL is, plus installation instructions (binary packages), an end-to-end "getting started" sample that's not too complicated, and pointers to other docs for any details or dev-focused topics (like building from source).

- [ ] Add Getting St

[2020-06-10 09:35] letmaik opened #421 "Debian packages: rename clc to sgx-lkl"
Currently the Debian packages are named "clc" for historic reasons, but I think it makes more sense to name them after the project, becoming `sgx-lkl-debug` etc.

@davidchisnall @paulcallen @jxyang @agowdamsft

[2020-06-10 09:45] letmaik commented on #332
Following from https://github.com/lsds/sgx-lkl/issues/368#issuecomment-641861361 I now agree that it makes sense to have examples for different kinds of deployment/usage scenarios, including non-Docker. As long as it's easy to find the way through the docs and samples to the suggested end-user flow (using Docker) it should be fine. Priority should be on the end-user flows first.

[2020-06-10 09:54] letmaik commented on #380
I'm marking this as p2 since using a single ethread is an edge case which likely won't ever be used in deployments.

[2020-06-10 10:16] letmaik opened #422 "Easily allow preparing container-mountable installation"
From https://github.com/lsds/sgx-lkl/issues/394#issuecomment-641777474:

[2020-06-10 10:16] letmaik commented on #394
Tracking this in https://github.com/lsds/sgx-lkl/issues/422. Feel free to submit a PR for that, otherwise I can also do that.

[2020-06-10 10:16] #394 closed, assigned to nobody

[2020-06-10 10:26] SeanTAllen commented on #414
Can you recreate this locally? I'm unable to do despite running for 30 minutes. I believe there's a problem but without being able to recreate, it is going to be pretty impossible to find a cause.

[2020-06-10 11:14] SeanTAllen commented on #413
I did a checkout of `oe_port` using the code as of 25 minutes ago. I did `make` and then tried `SGXLKL_ETHREADS=4 make run-hw`

I get a different error. My OE is from May 29, do I need a more recent version? If not, have dependencies changes in the last couple of weeks?

[code]

[2020-06-10 11:18] SeanTAllen commented on #380
I agree that single ethread can be considered an edge case. I do think that the underlying issue needs to be addressed as it can reappear with more ethreads and the correct program. Unless a thread in a user program calls sleep or similar, it won't yield the scheduler so if there are more of said user threads than ethreads, progress will probably halt.

We need additional cooperation points in the

[2020-06-10 11:18] letmaik commented on #413
@SeanTAllen There's a new runtime dependency as we do dummy quote fetching now. You need to install the Azure DCAP Client library:
[code]

[2020-06-10 11:32] SeanTAllen commented on #413
I'm trying to recreate python hello world failure from the attached log file in the original issue comment (which is different than the snippet that is part of the snippet).

[code]

I fixed the dependency problem. I can't recreate the issue using

`make` to build
and then `SGXLKL_ETHREADS=4 make run-hw`

Note, my OE is from May 29. Not sure if that might be an issue with recreating.

Ive run the

[2020-06-10 13:26] prp opened #424 "Integrate sgx-lkl-gdb with SGX-LKL source tree and Debian packages"
Currently the `sgx-lkl-gdb` tool relies on an Open Enclave install under `/opt/openenclave` on the host. We will no longer assume that such an installation exists.

Proposed changes:

1. `sgx-lkl-gdb` should be included in the Debian packages
2. The behaviour of sgx-lkl-gdb should be changed as follows:
     - if `sgx-lkl-gdb` is invoked from the SGX-LKL source tree, it should use the OE version i

[2020-06-10 16:02] SeanTAllen opened #430 "Local java-network test failure"
Happens for me with `make run-hw` (not `make run-sw`) with either debug or non-release build.

[code]

The segfault is caused by the network call in the Java program. I can recreate the error with this smaller program:

[code]

I've tested with 1 to 8 ETHREADS. Always the same result.

sgx-lkl commit: d3e0b9acbe3e56405ce8fc808ea11dc1060797ef
oe commit: 8fec3caf5acae75cd4657557d20f70d7e072f0ae

[2020-06-10 16:05] SeanTAllen commented on #430
@davidchisnall @hukoyu can you try recreating locally when you have time and let me know if you get the same issue?

[2020-06-10 16:29] hukoyu commented on #430
@SeanTAllen isn't this same issue with this one https://github.com/lsds/sgx-lkl/issues/245

[2020-06-10 16:36] SeanTAllen commented on #245
I ran into this today locally. Here's what I have for information. Much of it is supporting the previous information:

Happens for me with `make run-hw` (not `make run-sw`) with either debug or non-release build.

[code]

The segfault is caused by the network call in the Java program. I can recreate the error with this smaller program:

[code]

I've tested with 1 to 8 ETHREADS. Always the same res

[2020-06-10 16:36] #430 closed, assigned to nobody

[2020-06-10 16:36] SeanTAllen commented on #430
Added the information I found to #245

[2020-06-10 17:04] hukoyu commented on #413
@letmaik is this dependency installed in pipeline now?
I see "kernel-syscalls-getsid-getsid01-(debug)-(run-hw)-(8-ethreads)" test failed with similar error:
[code]
cc @SeanTAllen

[2020-06-10 17:27] letmaik commented on #413
@hukoyu Yes it is.

[2020-06-10 18:15] SeanTAllen commented on #413
I was attempting to recreate the issue using the wrong test, I thought from the log that it was for the python-hello world and that the log and snippet were two different instances of failures. I was incorrect on that.

[2020-06-10 18:29] prp commented on #105
Fixed by #423

[2020-06-10 18:29] #105 closed, assigned to prp

[2020-06-10 18:44] SeanTAllen commented on #414
I have a hard time reproducing this locally its very rare. However, it should impact on more than just the Python test. I'm still tracking down the final source but,  this calls to lkl_sys_umount in lkl_umount_timeout never returns very rarely.

https://github.com/lsds/lkl/blob/583b1ceb8b67fa469cbb4c222224abf0f1e6529f/tools/lkl/lib/fs.c#L276

My assumption is that when trying to execute the system

[2020-06-10 19:31] letmaik commented on #422
https://github.com/lsds/sgx-lkl/pull/428 got merged, what's missing now is developer docs. This should probably be part of #273.

[2020-06-10 19:47] jxyang opened #432 "Split `lkl_start_init` into 2 stages"
We should separate  `lkl_start_init`  into 2 stages:

* stage 1: set up the kernel to a point where syscalls from libc can be serviced. Pre-stage1, no calls to libs that triggers a syscall is allowed. Other functions, such as `snprintf`, are still possible.
* stage 2: set up user facing functionalities of lkl, such as `lkl_mount_disks`. In this stage, we are free to call all libc functions.

So th

[2020-06-10 19:52] jxyang commented on #432
@davidchisnall How do I link this to the relayering project?

[2020-06-10 21:56] SeanTAllen opened #434 "sem_up/sem_down interaction in posix-host.c needs documentation"
The interaction is kind of tricky and can take a while to figure out. There's documentation for each, but not how they interact.

[2020-06-11 06:54] glorysdj commented on #389
@davidchisnall and @hukoyu  Hi, I have problem to install or build sgx-lkl-oe following the readme in Ubuntu 18.04.
error occurs when "The FSGSBASE DKMS driver can be installed with:"
sudo apt install enable-fsgsbase-dkms
echo "enable_fsgsbase" | sudo tee -a /etc/modules
sudo modprobe enable_fsgsbase

apt install enable-fsgsbase-dkms will install enable-fsgsbase-dkms to /lib/modules/4.15.0-106-gen

[2020-06-11 07:06] letmaik commented on #389
@glorysdj Please open a new issue about this. It's not related to `StringUtils.toLowerCase`.

[2020-06-11 07:27] glorysdj opened #435 "Kernel version mismatch while enabling module installed from FSGSBASE DKMS driver inside Docker container"
Follow the readme in branch oe_port, I have problem to install or build sgx-lkl-oe.

Error occurs when "The FSGSBASE DKMS driver can be installed with:"
[code]
apt install enable-fsgsbase-dkms will install enable-fsgsbase-dkms to /lib/modules/4.15.0-106-generic/updates/dkms/enable_fsgsbase.ko
So modprobe enable_fsgsbase always fail, since it will find enable_fsgsbase from /lib/modules/4.15.0-72-ge

[2020-06-11 07:30] letmaik commented on #435
Could you please paste the complete terminal output?

[2020-06-11 07:39] glorysdj commented on #435
apt install enable-fsgsbase-dkms
[code]

modprobe enable_fsgsbase
[code]

[2020-06-11 08:13] letmaik commented on #435
What's the output of `cat /proc/version`?

[2020-06-11 08:19] glorysdj commented on #435
Linux version 4.15.0-72-generic
BTW I run all these in a Docker container, is that a issue?

[2020-06-11 08:32] letmaik commented on #435
Yes, that is not supported. You need to install the kernel driver on the host, not inside Docker.

[2020-06-11 08:32] glorysdj commented on #435
if i run all these in a host machine, sgx-lkl-setup will get error, "insmod: ERROR: could not insert module /opt/sgx-lkl/bin/../tools/kmod-set-fsgsbase/mod_set_cr4_fsgsbase.ko: Invalid module format"

cat /proc/version
[code]

sgx-lkl-setup
[code]

[2020-06-11 08:34] glorysdj commented on #435
ok. Thanks @letmaik

please help to check above issue.

And is there a Docker way to build and deploy apps like the master branch?

[2020-06-11 08:35] letmaik commented on #435
Right, please ignore the error. The sgx-lkl-setup script shouldn't try to install the kernel module, in fact it shouldn't even be part of the Debian package.

Docker support is undergoing some redevelopment and is not ready yet.

[2020-06-11 08:37] glorysdj commented on #435
so, that means i have isntalled sgx-lkl successfully now?

[2020-06-11 08:37] letmaik commented on #435
Yes.

[2020-06-11 08:42] letmaik opened #437 "Remove fsgsbase kernel module from Debian package"
(from #435)

The sgx-lkl (clc) Debian package currently contains the binary fsgsbase kernel module because `make install` puts it in the install tree. When a user then runs `sgx-lkl-setup` then this script actually tries to modprobe the module, which will fail due to kernel version mismatches.

The suggested way to install the driver is through the DKMS Debian package. Therefore the kernel module

[2020-06-11 08:45] letmaik opened #438 "Document that fsgsbase DMKS package must not be installed from within Docker"
(from #435)

Installing kernel modules from within Docker is a bad idea and will fail because kernel updates will not update the mounted kernel source folders in the Docker containers and then leads to version mismatches.

[2020-06-11 08:45] davidchisnall commented on #432
I think this is mostly captured already in #183 and #184.

[2020-06-11 08:45] letmaik commented on #435
I'm going to track this in #437 and #438. Thanks.

[2020-06-11 08:45] #435 closed, assigned to nobody

[2020-06-11 08:52] davidchisnall commented on #432
I'd like to replace all libc calls prior to kernel entry.  For example, `snprintf` can easily be replaced with `oe_snprintf` (see #151).  Once the relayering is done, I intend to introduce a new build system that will check that the SGX-LKL kernel component, when linked, does not have any undefined symbols.  The userspace bit will then be linked separately and checked to have only the `lkl_syscall

[2020-06-11 10:24] letmaik opened #442 "Add unit test for sgx-lkl-gdb"
This can be a crash test or something more clever.

[2020-06-11 10:27] letmaik commented on #413
@SeanTAllen Please don't look at this test at the moment, it needs a bit of dev docs to run this locally.

[2020-06-11 12:13] SeanTAllen commented on #384
I'm still running tests but this "possible bug" appears to have been caused by a bug in lkl_cpu_get/lkl_cpu_put that is addressed by https://github.com/lsds/lkl/pull/3

[2020-06-11 13:43] SeanTAllen commented on #384
As far as I can tell, this is fixed by https://github.com/lsds/lkl/pull/3.

[2020-06-11 19:45] mikbras commented on #183
@davidchisnall: I have finished my integration and it does not use **lkl_run_in_kernel_stack** at all. I will have a PR soon.

[2020-06-11 20:16] hukoyu opened #449 "[Tests] recvmsg/sendto fails with "bad file descriptor""
2020-06-11T19:06:41.000000Z [(H)ERROR] tid(0x7f9f23fff700) | :OE_BUFFER_TOO_SMALL [/agent/_work/1/s/openenclave/host/sgx/sgxquote.c:oe_sgx_get_supported_attester_format_ids:109]
Azure Quote Provider: libdcap_quoteprov.so [ERROR]: Could not retreive environment variable for 'AZDCAP_DEBUG_LOG_LEVEL'

[code]

[2020-06-11 20:21] hukoyu commented on #449
Several LTP tests failed with this new error. This is a regression.

kernel-syscalls-sendto-sendto01-(debug)-(run-hw)-(8-ethreads)
kernel-syscalls-fchmodat-fchmodat01-(nonrelease)-(run-hw)-(8-ethreads)
kernel-syscalls-pwrite-pwrite04-(debug)-(run-hw)-(8-ethreads)

cc @letmaik @davidchisnall @prp @mikbras @jxyang @paulcallen

[2020-06-11 21:34] letmaik commented on #449
Please report `Azure Quote Provider: libdcap_quoteprov.so [ERROR]: Could not retreive environment variable for 'AZDCAP_DEBUG_LOG_LEVEL'` [upstream](https://github.com/microsoft/Azure-DCAP-Client). This is only a warning and shouldn't really be printed as it's misleading.

[2020-06-12 04:23] Zxiaoyu95 opened #450 "Import the application dependency library from outside the image"
Hi, Recently I wondered if the dependent libraries needed to run an application in enclave must exist in the image and if there is a mechanism to import them from other servers over the network, or from outside the image.

Looking forward to your reply. Thank you!

[2020-06-12 06:28] jxyang commented on #414
I instrumented the kernel to print out message before and after `lkl_sys_umount`, and it shows even though the umount was finished in time, the hang still happens. Now I strongly suspect umount is not the cause of the hang, rather some events after it caused the hang.

Note I couldn't reproduce the failure locally either. I had to run mocked pipeline jobs to repro.
The logs are [here](https://dev.

[2020-06-12 06:30] prp commented on #414
@jxyang we noticed that we're running the CI pipeline with 8 ethreads, even though the VMs only have 4 cores. In local testing, you could also try running with oversubscribed ethreads, and see if this makes the issue more likely. Note that you may have to increase the TCS count in the config file before doing this.

[2020-06-12 06:34] jxyang commented on #432
Short term, and more realistically, I think we could have both musl and lkl co-exists in the kernel, but eliminate all code related to lthread,  enclave, and lkl from musl (except for the syscall interface). We still have a nice separation, but probably not as pure as we hoped.

[2020-06-12 07:13] glorysdj commented on #389
I have tried oe_branch and building disk-image from Dockerfile
In Dockerfile, i've tried to install locale
[code]

The java program is
[code]

And I built the Docker image (sgx-alpine-java:0.1) and disk image(sgxlkl-disk.img) from this Dockerfile.
When I run my java program with Docker image
[code]
it will print,
[code]
But when I run with sgx-lkl-java with the disk image
[code]
it will print only

[2020-06-12 07:15] glorysdj commented on #389
@letmaik could you please help to reopen this issue?

[2020-06-12 07:33] letmaik commented on #389
Thanks for the details, I'll try to repro it.

[2020-06-12 07:58] letmaik commented on #389
@glorysdj Could you provide a fully self-contained example? Your Dockerfile references a few files via `COPY`. It would be good if you could find a way to invoke an equivalent of `StringUtils.toLowerCase` outside Java, for easier reproducibility.

Also note that SGX-LKL doesn't support glibc currently, which you seem to be using from https://github.com/sgerrand/alpine-pkg-glibc.

[2020-06-12 08:02] letmaik commented on #450
They don't have to be part of the image but it's the simplest if they are. Can you explain your use case in more detail?

[2020-06-12 08:16] glorysdj commented on #389
@letmaik

[code]

Please try this?
Same results for this Dockerfile.

[2020-06-12 09:45] letmaik opened #451 "Docker Hub's statically linked hello-world fails with "Exec format error""
I'm not sure if this will ever work, but at least we know. The [hello-world](https://github.com/docker-library/hello-world) image contains a hello program that's fully statically linked (uses musl).

[code]

Output:
[code]

Diagnostics:
[code]

[2020-06-12 10:03] letmaik commented on #389
@glorysdj I don't understand. You already tried running `/usr/bin/locale` with SGX-LKL and it seems to work. Why should I run this?

[2020-06-12 10:19] glorysdj commented on #389
@letmaik /usr/bin/locale can get locales, but to run java program
[code]
It will stuck, and print nothing. I think maybe it has nothing to do with locale.

Please ignore the Dockerfiles, just run a java program to call StringUtils.toLowerCase to check if it can work. Thanks a lot!

[2020-06-12 10:48] letmaik opened #452 "Docker Hub's python:3-alpine fails with "copy_file_range: symbol not found""
[code]

I'm assuming this is caused by #200.

EDIT: Using `python:3-alpine3.10` works.

[2020-06-12 10:59] letmaik commented on #389
@glorysdj Could you try to adapt the existing hello world sample in samples/languages/java and see if you can reproduce your problem there?

[2020-06-12 11:01] letmaik commented on #449
@hukoyu Your test is failing because of "bad file descriptor successful". This is unrelated to the two things you mention in the title of this issue. Could you separate things to avoid confusion?

[2020-06-12 11:15] glorysdj commented on #389
Yes, still have the issue.
I have tried:
1. docker-deploy and javac on master branch
2. adapting samples/languages/java on oe_port branch
3. Dockerfile without locale related commands  on oe_port branch
4. Dockerfile with locale related commands  on oe_port branch

Unfortunately, it stuck and print nothing each time.

[2020-06-12 12:41] wintersteiger commented on #449
Yes, those warnings are spurious, you can ignore them. The `OE_BUFFER_TO_SMALL` is reported while computing the size of a buffer inside OE and the Azure DCAP driver reports that `AZDCAP_DEBUG_LOG_LEVEL`, isn't set, but it doesn't actually need it. I was planning to file an issue/submit a PR to OE for these, so they'll likely go away soon.

[2020-06-12 14:00] letmaik commented on #389
Good, can you post a minimal sample for us?

[2020-06-12 14:57] letmaik opened #456 "Unsetting FSGSBASE crashes VMs"
@mikbras @jhand2 @jxyang @davidchisnall @prp

The following can be observed in CI, both SGX and non-SGX VMs, and was reproduced locally by @wintersteiger and me.

EDIT: The old kernel without the issue was 1022, the new one is 1028.

[code]

[2020-06-12 15:06] wintersteiger commented on #456
CI builds fail with empty core test logs and an error message along these lines:

`##[error]We stopped hearing from agent .... Verify the agent machine is running and has a healthy network connection...`

[2020-06-12 15:07] letmaik commented on #456
David says the new kernel has FSGSBASE built-in, so us disabling this is unexpected for the kernel. I guess the solution is to remove the test.

[2020-06-12 15:10] davidchisnall commented on #456
I said it might have: your log makes it look as if it has:

[code]

It looks as if the bit was set before the kernel module tried to set it.

[2020-06-12 15:15] wintersteiger commented on #456
Yeah, it's enabled after a clean reboot on my VM too. I didn't expect that disabling it would lock up the machine though.

[2020-06-12 15:24] hukoyu opened #458 "Fix dotnet test: Couldn't find a valid ICU package installed on the system"
[[  SGX-LKL ]] libc_start_main_stage2(): Calling app main: /usr/bin/dotnet
FailFast:
Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.

   at System.Environment.FailFast(System.String)
   at System.Globalization.GlobalizationMode.GetGlobalizationInvariantMode()
   at System.

[2020-06-12 15:57] hukoyu commented on #450
@Zxiaoyu95  if I understand your question correctly, you can use Dockerfile to install anything you want and then you cna create image from your Dockerfile. Please look at https://github.com/lsds/sgx-lkl/tree/oe_port/tests/languages/java/hello_world for a sample. Check Dockerfile and Makefile. In Makefile this line creates image from Dockerfile:

$(DISK_IMAGE): $(PROG_SRC)
	${SGXLKL_DISK_TOOL} cre

[2020-06-12 16:19] wintersteiger commented on #458
Which branch are you working with? Just minutes ago I fixed exactly this issue in my attested config branch, where the underlying issue was that `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT` was not imported from the host.

[2020-06-12 16:49] hukoyu commented on #458
@wintersteiger oe_port branch. I submitted PR 459 and waiting result.

[2020-06-12 16:54] hukoyu commented on #458
@wintersteiger  https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=774&view=results
All 4 VMs running core tests stopped responding to CI pipeline, I think they crashed/rebooted. This looks related to https://github.com/lsds/sgx-lkl/issues/456

cc @letmaik @davidchisnall @jxyang

[2020-06-12 17:02] hukoyu commented on #260
@letmaik I won't be able to work on that for a while. If you have bandwidth I will appriciate if you take on this task. Thanks.

[2020-06-12 17:02] wintersteiger commented on #458
Yes, you need to rebase onto `oe_port` (or merge it) to disable the test that kills the CI VMs.

[2020-06-12 17:31] prp commented on #389
@glorysdj Can you run with `SGXLKL_TRACE_LKL_SYSCALL=1` to see what the last executed system call by the JVM is?

[2020-06-12 18:04] hukoyu commented on #458
PR 459 merged and fix verified.

[2020-06-12 18:04] #458 closed, assigned to nobody

[2020-06-13 01:52] Zxiaoyu95 commented on #450
OK, my question is that if i create a java image named sgx-lkl-java.img from my Dockerfile,
when i run command 'sgx-lkl-run  sgx-lkl-java.img    /opt/j2re-image/bin/java   -classpath /myhostPath/my.jar    myclass   args1'

i wonder if the classpath of jars in my application  must import inside the image, i see the source code the image file will be mmap into mermory,  if there is a mechanism to im

[2020-06-13 07:29] prp commented on #187
David wrote:

[2020-06-13 19:38] prp commented on #451
The `hello` binary is statically linked (https://github.com/docker-library/hello-world/blob/9ef4804c28679a416a445397f9b2e2b105005151/Makefile#L20), and we don't know how to load this.

[2020-06-13 19:55] prp commented on #187
Some findings:
* When removing the intercept for the `mmap` syscall in musl, it segfaults during the execution of the Stage 3 dynamic linker (here: https://github.com/lsds/sgx-lkl-musl/blob/92eaf58d34574d76745322af82c5f097c23e7b9f/ldso/dynlink.c#L1597).
* Calling the `execve` syscall fails due to the lack of `binfmt_elf` support in LKL, which requires an MMU (see https://patchwork.kernel.org/patch

[2020-06-15 00:32] glorysdj commented on #389
@letmaik
minimal sample is
[code]

@prp Hi, run with SGXLKL_TRACE_LKL_SYSCALL=1, some (No such file or directory) errors happen, too long to paste all the output, only list the errors.

[code]

[code]

[code]

[code]

[code]

[2020-06-15 07:00] prp commented on #452
Yes, we currently use musl version 1.1.21, and the `copy_file_range` wrapper was added in musl version 1.1.24.

[2020-06-15 07:03] prp commented on #389
@glorysdj Can you instead share the last 50 syscall lines that are executed? We want to see what the JVM is doing before it gets stuck.

[2020-06-15 07:14] glorysdj commented on #389
@prp last syscalls. Thanks!

[code]

[2020-06-15 07:20] prp commented on #389
Ok, this cannot work, as the application is invoking an `execve` syscall, which is not supported (see https://github.com/lsds/sgx-lkl/issues/175).

Is this happening while the Java application is already running (i.e. it already printed "Hello World" in your sample code above)? If so, we would have to understand why the JVM tries to invoke a shell.

[2020-06-15 07:22] glorysdj commented on #389
Yes, I have run ```System.out.println("Hello World");```  before it.
let me check #175. Thanks.

[2020-06-15 07:24] letmaik commented on #450
Currently there is no way to directly mount files/folders into SGX-LKL. They have to be packaged as disk images first. It would be good to understand your motivation/use case a bit better. This helps us prioritize features.

[2020-06-15 07:26] #421 closed, assigned to nobody

[2020-06-15 09:32] letmaik opened #465 "Reorganize test hierarchy"
The current hierarchy is organically grown and partially doesn't make sense. I suggest the following new structure which will also highlight areas that need more testing:

[code]

[2020-06-15 10:05] #456 closed, assigned to nobody

[2020-06-15 10:05] #437 closed, assigned to nobody

[2020-06-15 10:07] letmaik commented on #424
@prp For some reason the "fixes xx" GitHub syntax in PRs doesn't seem to close issues (anymore?). Is there something in the repo settings we need to change?

[2020-06-15 10:07] #424 closed, assigned to nobody

[2020-06-15 10:14] glorysdj commented on #389
But even I put only the ```String lowered = StringUtils.toLowerCase("ADSAFFDSzcxcx");``` in the java program, same error happens. It has nothing to do with the System.out.println("Hello World").
So why execve  to invoke a shell? And how can we support such codes.
I plan to run a bigdata/machine learning program in SGX-LKL, this is the first step to load a model from file system, and StringUtils is

[2020-06-15 11:07] SeanTAllen commented on #389
Which StringUtils package are you using? There are several.

Can you provide a minimal complete java program including import and main that is runnable that demonstrates the problem?

Thanks.

[2020-06-15 11:19] letmaik opened #468 "Add benchmarks"
Similar to tests there should be automated benchmarks that exercise either certain parts of the system (like virtio console, network, ...) or run complete end-user workloads like web server requests and ML training.

Requirements:
- Benchmarks should be written using Dockerfiles so that they can be easily run outside SGX-LKL and provide a baseline.
- Benchmarks should be run on Azure DC8 VMs (they

[2020-06-15 11:46] prp opened #470 "Support for non-FLC SGX1 machines broken"
**Summary:** Currently the support for SGX1 machines that do not support FLC is broken.

**Problem:** We compile OE with `HAS_QUOTE_PROVIDER=ON`, which is only supported on machines with FLC support/DCAP attestation. SGX-LKL then tries to obtain an attestation report as a test (even when running without attestation), which consequently fails.

**Solution:** Instead, we should check if the platform

[2020-06-15 16:56] hukoyu commented on #449
ltp2 (nonrelease, hw, 4 ethreads) / kernel-syscalls-recvmsg-recvmsg01-(nonrelease)-(run-hw)-(4-ethreads) failed with same error:
[code]

[2020-06-15 17:02] hukoyu opened #472 "[Tests] JVM test hangs with ETHREADS=1"
sgxlkl-nighlty build fails for test core (debug, hw, 1 ethreads) / languages-java-thread-(debug)-(run-hw)-(1-ethreads)

This is thread hang/deadlock/timeout issue again.

[code]

[2020-06-15 17:02] hukoyu commented on #472
Might be related to https://github.com/lsds/sgx-lkl/issues/414

[2020-06-15 17:52] wintersteiger commented on #449
A fix for the spurious `OE_BUFFER_TOO_SMALL` was merged into OE master earlier today: https://github.com/openenclave/openenclave/pull/3129. @jhand2 could you rebase `feature/sgx-lkl-support` again? Thanks!

The bad file descriptor is likely a real problem, but I have no idea what that file descriptor is for and whether some of the LTP patches that seem to be close to those error messages make a di

[2020-06-16 01:26] glorysdj commented on #389
@SeanTAllen
Thanks for reminding me, I've checked it, it's org.apache.hadoop.util.StringUtils;
@prp
There is a line of static code in org.apache.hadoop.util.StringUtils
[code]
This may invoke a shell.
[code]
and this will call java.lang.ProcessBuilder to start a process.

So, java's standard java.lang.ProcessBuilder is not supported by SGX-LKL because it is multi-process?

[2020-06-16 02:05] glorysdj commented on #389
@letmaik what does SGX-LKL doesn't support glibc mean? Can't I install it in the Dockerfile and then make a disk-image and run program in it?

I also plan to run OpenVINO in SGX-LKL, when I load model from OpenVINO, I may need libiomp5.so

Which will casue error.
[code]

[2020-06-16 02:19] shaikshavali1 opened #474 "[Tests] "write" syscall generates both SIGPIPE and EPIPE"
After analysis, I found that write system call on pipe is generating both SIGPIPE and EPIPE even though we register a sighandler for SIGPIPE. This behaviour differs from pipe documentation of linux(https://www.man7.org/linux/man-pages/man7/pipe.7.html) . Below text is from man page.

“If all file descriptors referring to the write end of a pipe have been closed, then an attempt to read(2) from the

[2020-06-16 06:51] letmaik commented on #389
See the summary text at https://github.com/lsds/sgx-lkl/tree/oe_port#c-running-applications-with-sgx-lkl: "Currently, applications linked against glibc are not supported by SGX-LKL. The simplest way to run applications with SGX-LKL is to use prebuilt binaries for Alpine Linux, which uses musl libc as its default C standard library."

We have an example for OpenVINO: https://github.com/lsds/sgx-lkl

[2020-06-16 10:22] SeanTAllen commented on #380
There's a tester application for this on the `seantallen/380` branch.

[2020-06-16 11:24] SeanTAllen commented on #414
I've tried oversubscribing ETHREADS. 16 ethreads, 8 nprocs.

There's no change for me. I still can't recreate locally based on just debug build and run-sw.

[2020-06-17 06:24] letmaik opened #479 "Run SGX-LKL inside Docker container as non-root"
The image created by `sgx-lkl-docker build` should allow SGX-LKL to be run as a non-root process. This may already be the case but the existing test should be modified to check that it works.

[2020-06-18 08:42] letmaik commented on #147
@hukoyu Please don't forget this. There are no issues for all the disabled tests and we are not noticing any regressions currently. Why don't we run the tests at least during the nightly builds?

[2020-06-18 11:13] SeanTAllen commented on #147
I think that a nightly run of "flakey" test would be great. Especially if we have an easy means to which are no longer flakey.

[2020-06-19 03:11] hukoyu opened #491 "Host network completely unreachable"
Trying to run tests/basic/network
It fails for both run-hw and run-sw
with error "Could not resolve host"

[code]

[2020-06-19 03:12] hukoyu commented on #491
cc @prp @davidchisnall @jxyang @letmaik

[2020-06-19 03:19] hukoyu commented on #491
I added www.microsoft.com to /etc/hosts file with ip
Now it is failing with error:

[code]

[2020-06-19 03:59] praenubilus commented on #491
Is that related to the self host tap network? Because I found I cannot connect through self host address 10.0.1.254

[2020-06-19 06:42] ashokchandran opened #493 "[Tests] SIGXCPU signal is unsupported"
Test: setrlimit06
Purpose of test:
This test sets cpu time limit for a process and check its behavior. After reaching the CPU time limit it checks
the process got SGXCPU .

Console logs:
 [   SGX-LKL  ] Calling app main: /ltp/testcases/kernel/syscalls/setrlimit/setrlimit06
tst_test.c:1106: INFO: Timeout per run is 0h 05m 00s
tst_test.c:1125: INFO: No fork support
Test was timing out.
code snippet:

[2020-06-19 07:32] davidchisnall commented on #493
What do you mean ‘product’?

This is likely to be quite difficult to fix, because the LKL scheduler is not aware of the amount of CPU time that userspace threads consume. This should be added to the list of things that we are not able to provide full compatibility for.

[2020-06-19 07:33] davidchisnall commented on #474
@SeanTAllen, this looks as if it’s related to the signal delivery. I suspect there may be something in how the syscall handler checks for signals that is wrong here.

[2020-06-19 07:35] ashokchandran commented on #493
Yes David. Just to clarify I was referring to ltp test classification. I will mark it as unsupported. Is there any other place where this should be documented?

[2020-06-19 07:36] davidchisnall commented on #472
With one ethread, a single thread that doesn’t yield can prevent the system from making progress. Please can you check whether there is a thread spinning? If it’s a userspace one, we can add this as a documented limitation, if it’s one of ours then we should fix it.

[2020-06-19 17:17] wintersteiger commented on #491
I noticed that too, that test has been failing for a while now. I think something must be wrong with the tap device setup or the routing tables.

[2020-06-19 17:28] praenubilus commented on #491
I remember the last working version(tap device) I used goes way back to April. I tested several May builds, they all failed tap device.

[2020-06-19 18:47] Francis-Liu commented on #491
My local repo has not been synced up with remote since the following commit. This test passes.
[code]

[2020-06-19 19:02] hukoyu commented on #491
I tried to build commit @Francis-Liu  mentioned but it fails to compile with latest submodules. We should also find the proper commit of submodule as well:

[code]

[2020-06-19 19:17] hukoyu commented on #491
I did following to get the commit submitted on May 26, 2020. Then it build successfully:
[code]

[2020-06-19 19:20] hukoyu commented on #491
@prp
This is the output when I run with above commit#s:
[code]

[2020-06-19 19:46] hukoyu commented on #491
@prp I tried with sgx-lkl commit https://github.com/lsds/sgx-lkl/commit/750e1300bf4391a3b7a86d0785239c0d24ca61d7 (Didn't change used sgx-lkl-musl)
And it was successfully getting all data.

[code]

[2020-06-19 19:52] hukoyu commented on #491
@prp I am taking it back. It is passing but it also fails randomly. But this might be a legit error since I was having network issue on my Linux terminal. Putting here just in case

This is a failing log:
[code]

[2020-06-19 19:52] hukoyu commented on #491
This is a passing log:
[code]

[2020-06-19 20:05] hukoyu commented on #491
@prp unfortunately this fails randomly. It is a bug.
[code]

[2020-06-19 20:13] prp opened #499 "[Tests] Rare failures due to broken network connection"
The curl test in the CI sometimes fails as follows:
[code]

[code]

This  suggests a VirtIO net bug.

The above problem disappears when `https://www.microsoft.com` is replaced with `https://en.wikipedia.org/wiki/Main_Page`.

It could also be related to #190.  If the lthread scheduler doesn't specify a timeout, it's possible that we miss wakeups for the event channel associated with the network int

[2020-06-19 20:15] prp commented on #491
@hukoyu Yes, we had the above problem before, and it is documented here: https://github.com/lsds/sgx-lkl/issues/499

The fact that the latest commit cannot get any network connectivity is different. Can you `git bisect` to find the commit that introduced this regression?

[2020-06-19 20:21] hukoyu opened #500 "[Tests] Investigate LTP test build issues"
When 1000+ independent LTP tests build, a few of them fails.
Investigate build failures and report them.

- Document such things (may be in Testing.md)
- Directly by outputting a note in the CI run after the compilation failure that this is a known issue.

[2020-06-19 20:22] hukoyu commented on #500
@prp @letmaik I created this issue to follow up.

[2020-06-19 20:50] hukoyu commented on #491
Hey @prp I am trying commits since May 26, and progressing. I will have regression causing commit in several hours.

[2020-06-19 23:32] hukoyu commented on #491
@prp this is regression is due to OpenEnclave.

[code]
It worked as expected. Then I deleted my /opt/openenclave fodler and ran the oe_install script (https://github.com/lsds/sgx-lkl/blob/d3e0b9acbe3e56405ce8fc808ea11dc1060797ef/.azure-pipelines/scripts/install_openenclave.sh) and then it gave the same error.

I verified latest commits with sgx-lkl and sgx-lkl-musl working properly. This is defini

[2020-06-19 23:59] hukoyu commented on #491
Turned on OE verbose logging export OE_LOG_LEVEL=VERBOSE and ran again

[code]

[2020-06-20 00:00] jhand2 commented on #491
I don't see anything in the OE logs that indicates a failure.

`[   SGX-LKL  ] FAIL: virtio_net_fd_net_rx: Write failed: -1`

This log seems to have nothing to do with OE. I think this needs to be debugged more on the SGX-LKL side. If the failure can be traced to some interaction with OE then I can narrow it down a lot more. The logs I'm seeing so far are too high level to be able to tell one way

[2020-06-20 00:00] hukoyu commented on #491
@jhand2 can you check the log files? The reason I beleive this is a regression on OE SDK side, it was working fine with my local /opt/openenclave and not working with latest OE SDK.

[2020-06-20 00:02] jhand2 commented on #491
Since OE is built as a submodule of SGX-LKL, changing the installed version of OE (in /opt/openenclave) should have no effect SGX-LKL.

[2020-06-20 01:39] hukoyu commented on #491
@prp  IMPORTANT INFORMATION:
Networking is working fine without OE SDK submodule PR.

This is the commit that OE SDK made a submodule: https://github.com/lsds/sgx-lkl/commit/1f2d92d664a257282dc8707ae02c5a841d8add01

I tried with previous commit that OE SDK is not a submodule and networking works fine.
(https://github.com/lsds/sgx-lkl/commit/b29f2fc5723c39325e4241a9d10321745475314e)

Here are my re

[2020-06-20 02:15] hukoyu commented on #491
@prp in the above explanation we are using latest OE SDK
So, I take back my claim that this is a bug/regression in OE SDK.
This is still a bug/regression in SGX-LKL. Just wanted to clarify.

[2020-06-20 02:31] hukoyu commented on #491
Tried after "Making OE SDK submodule PR" https://github.com/lsds/sgx-lkl/pull/423 merged
https://github.com/lsds/sgx-lkl/commit/1f2d92d664a257282dc8707ae02c5a841d8add01

Networking worked. So this was working on June 10, 2020 after PR https://github.com/lsds/sgx-lkl/pull/423 merged. It is a regression in SGX-LKL between June 10-19. Still investigating.  Also this has nothing to do with making OE S

[2020-06-20 03:09] hukoyu commented on #491
@prp found the regression causing commit:
Networking fails after this commit
https://github.com/lsds/sgx-lkl/commit/4547df170ebb2bfc7bc6deef5a56bedf6f3dfd93
(PR: https://github.com/lsds/sgx-lkl/pull/377)

It works fine with previous commit: https://github.com/lsds/sgx-lkl/commit/c707c2da3e403664891884ccd402d61f3503c118

cc @letmaik @jxyang @davidchisnall  @Pengpeng-Microsoft @Francis-Liu @paulcall

[2020-06-20 07:11] hukoyu commented on #491
Fixed with @prp 's PR https://github.com/lsds/sgx-lkl/pull/501

[2020-06-20 07:11] #491 closed, assigned to nobody

[2020-06-20 09:24] prp commented on #375
Addressed by #501

[2020-06-20 09:24] #375 closed, assigned to nobody

[2020-06-20 13:30] prp commented on #499
Event after commenting out the idle ethread host call, the above behaviour still occurs, so I do not believe that this is related to #190.

[2020-06-20 14:08] prp commented on #499
@SeanTAllen @davidchisnall I looked more into the above problem. In runs that exhibit the problem, there is a long sequence of calls that look like this:
[code]

Here curl keeps calling `ppoll` but does not receive a notification about a ready file descriptor. Eventually after about a minute, the ppoll calls return 1 and execution continues, but it will then abort with the error above about missin

[2020-06-21 02:33] Zxiaoyu95 commented on #450
Hi @letmaik
My intention is my machine running an application on the host, using only SGXLKL image program (such as Java) to protect the JVM process operation, some class files and dependent packages need to share to the image from the host machine, I now think of way is to use NFS technology, deployment of NFS server locally, and through external NFS mount the disk image files to access the host

[2020-06-22 02:00] glorysdj commented on #389
yes, thanks a lot, we will try this.

[2020-06-22 09:49] glorysdj opened #502 "OE_OUT_OF_THREADS when run apps in SGX-LKL on oe_port branch"
When I run a python app in SGX env, I got some error as OE_OUT_OF_THREADS.

With sw-debug mode,
[code]
will get errors
[code]
Why the path is /home/lisa/openenclave?

With hw-debug mode
[code]
The error is
[code]
Why the path is /home/lisa/openenclave?

Please help here. Thanks!

[2020-06-22 11:04] prp commented on #502
@glorysdj the above suggests that you are running this on a machine with more than 8 cores, and we are running out of TCS due to the configuration setting here: https://github.com/lsds/sgx-lkl/blob/4d322b3752d746f62a1b4f3e02ade6193286f212/config/params.conf#L11 You can increase this to a higher value and resign the enclave library.

@wintersteiger @letmaik @davidchisnall what did we say how we wou

[2020-06-22 11:57] letmaik commented on #502
I believe once the EEID/config PR is merged then the default num_tcs will be equal to the number of host cores, getting rid of this issue. The value in the params.conf will not be relevant anymore.

[2020-06-22 11:58] glorysdj commented on #502
@prp Thanks, How can I resign the values in
https://github.com/lsds/sgx-lkl/blob/oe_port/config/params.conf

At sgx-lkl setup time or sgx-lkl-run-oe runtime?
I tried
[code]
but failed.

[2020-06-22 12:00] prp commented on #502
Update the `params.conf` file and then `make DEBUG=true`.

[2020-06-22 12:35] wintersteiger commented on #502
Under normal circumstances, this:
[code]
means that the CPU does not support SGX (Error 0x1 from the Intel SDK). I don't think it has a way to tell whether it actually doesn't suppport it or it is disabled in the bios.

[2020-06-22 12:38] glorysdj commented on #502
@prp
```Update the params.conf file and then make DEBUG=true.```
I installed sgx-lkl-oe as the part A. Installing SGX-LKL-OE of https://github.com/lsds/sgx-lkl/blob/oe_port/README.md.

no params.conf file can be found
tree /opt/sgx-lkl/
/opt/sgx-lkl/
├── bin
│   ├── sgx-lkl-disk
│   ├── sgx-lkl-docker
│   ├── sgx-lkl-java
│   ├── sgx-lkl-run-oe
│   └── sgx-lkl-setup
├── lib
│   ├── external
│   │ 

[2020-06-22 12:50] prp commented on #502
Yes, when you use the binary package, there is no way to change this. Instead, you need to build from source. As @letmaik said, this will eventually disappear as a problem. (@wintersteiger can you confirm?)

[2020-06-22 12:59] glorysdj commented on #502
ok. btw, how can I uninstall sgx-lkl-oe, or do I need to uninstall it?
And what is the status of docker for sgx-lkl-oe?

Actually my CPU should support SGX. I will check more and cam back to this.

[2020-06-22 13:03] wintersteiger commented on #502
Yes, in future `numTCS` can be changed during enclave creation without re-signing the image. I have yet to work out whether it should be the same as the number of ethreads (now a config setting too), but I assume so.

For SGX support; The CPU being the right model number doesn't mean that it's enabled, e.g. most Surface Books have SGX hardware, but there is no way to enable it in the bios (or else

[2020-06-22 13:07] SeanTAllen commented on #414
I ran this for an hour and was unable to reproduce except for 1 scenario.

I can consistently recreate this bug on the first time I run on a given machine after reboot.
In order to recreate, I need to reboot after a hang.

After the first run (which seems to often hang for me), it will not hang/deadlock.

Note however, that after reboot, I have to

[code]

without the `make clean`, I don't get the

[2020-06-22 13:24] SeanTAllen commented on #413
@hukoyu the title of this issue says 8 ethreads. but the included log is for 4 (see `[   SGX-LKL  ] nproc=4 ETHREADS=4 CMDLINE="mem=32M"`). Is the PR title in error or this was an incorrect log included.

[2020-06-22 14:05] SeanTAllen commented on #413
I've gotten to here:

[code]

I can't find anything in the OE docs for how to increase the buffer size, but will continue looking.

[2020-06-22 14:33] SeanTAllen commented on #413
That code path only gets executed here:
[code]

So its related to the DCAP library and that new dependency triggering a new code path.

I can't as of yet however, figure out how the enclosing function `sgx_get_supported_attester_format_ids` is called.

[2020-06-22 14:55] prp commented on #502
@wintersteiger yes, it should be set to the number of ethreads at launch.

[2020-06-22 14:57] wintersteiger commented on #502
It does, but are ethreads the same concept as numTCS's, i.e. every ethreads requires one TCS?

[2020-06-22 14:59] prp commented on #502
Yes, I think so.

[2020-06-22 16:03] #479 closed, assigned to nobody

[2020-06-22 17:24] SeanTAllen commented on #413
The OE_BUFFER_TOO_SMALL is a red herring.

You can turn off the code triggering that by commenting out this block:

https://github.com/lsds/sgx-lkl/blob/9b94b1b26af1319d66461d67266c5bf1f7e75f4f/src/enclave/enclave_init.c#L155

per @wintersteiger, that is completely ok to do at this point in time.

This is the error you end up with (still virtio input/output error):

[code]

[2020-06-22 17:32] wintersteiger commented on #413
That's right. This error vaguely looks like it could be related to https://github.com/lsds/sgx-lkl/pull/501.

[2020-06-22 17:36] prp commented on #413
I wonder if this related to https://github.com/lsds/sgx-lkl/issues/499, as this also sometimes fails with `[   SGX-LKL  ] FAIL: virtio_net_fd_net_rx: Write failed: -1`.

[2020-06-22 17:53] SeanTAllen commented on #413
I stopped getting that error and oddly started getting:

[code]

I'm not sure how I got the tap unavailable. Nothing else was running. I ran sgx-lkl-setup again and the test passed. I've run it several more times and it either passed repeatedly or hung somewhere after printing "Network test successful".

[2020-06-22 18:30] prp commented on #470
@wintersteiger @letmaik @jxyang can we also remove the invocation of oe_get_report here:

https://github.com/lsds/sgx-lkl/blob/4419f27c4859bcec6abfa936963b1ff10c2aa975/src/enclave/enclave_init.c#L160

This not only breaks on SGX1 machines without FLC but also on SGX2 machines.

When not running with attestation, we shouldn't have a dependency on attestation.

[2020-06-22 19:00] wintersteiger commented on #413
@SeanTAllen this frequently happens to me when there are stray processes running in the background. In my case that usually happens while I work in vscode, which has a timeout (1 sec?) for the gdb cleanup now, so basically whenever it times out, the process keeps running in the background. Rarely, I also have to `kill` gdb or sgx-lkl-run.

[2020-06-22 19:01] wintersteiger commented on #470
Yes, this was a total ad-hoc test, which we will never need in this fashion and it adds confusing warning/error messages to the output. I will kill this completely now. @letmaik there will be a replacement that comes with the new configs.

[2020-06-22 19:07] SeanTAllen commented on #413
@wintersteiger that doesn't describe my situation, but its good to know. I checked to make sure I had no stray processes running.

[2020-06-22 19:09] wintersteiger commented on #470
PR here: https://github.com/lsds/sgx-lkl/pull/506

[2020-06-23 10:26] SeanTAllen commented on #413
@hukoyu after a recent PR from @wintersteiger, I'm no longer able to reproduce this problem. While I can't say that any underlying issue was resolved, I think this can be closed as an issue and reopened if it appears in another way. Can you try reproducing locally with the latest code and see if it works for you as well.

Note, I do sometimes get the shutdown hangs that we experience elsewhere and

[2020-06-23 10:27] SeanTAllen commented on #384
This was closed by #469.

[2020-06-23 10:27] #384 closed, assigned to SeanTAllen

[2020-06-23 12:09] SeanTAllen commented on #413
With #509 in place I was able to trigger the

[    0.628161] reboot: Restarting system
[    0.628161] BUG: failure at kernel/sched/core.c:3898/do_task_dead()!
[    0.628685] Kernel panic - not syncing: BUG!
[    0.628685] ---[ end Kernel panic - not syncing: BUG! ]---

error 1 time. Without #509, I was able to run hundreds of times without seeing it.

Given that there's a general "can hang a lot"

[2020-06-23 12:15] prp commented on #413
@SeanTAllen I wonder if you could add more instrumentation to the BUG error message above to better find out what is going on when this happens.

[2020-06-23 12:40] SeanTAllen commented on #474
Assigning myself so I don't lose track of this given it might be related to the signal handling stuff I've been looking at.

[2020-06-23 14:09] davidchisnall opened #510 "Dynamic testing mode for compatibility checking"
There are several categories of compatibility limitation with unmodified x86-64 Linux:

- Intrinsically impossible to support in an SGX environment (e.g. aliased memory mappings)
- Supported but insecure (`mprotect` without EDMM)
- Not supported yet (e.g. multiple processes within the enclave)
- Can be supported without a massive performance penalty and so probably won't be (e.g. issuing SYSCALL i

[2020-06-23 14:15] SeanTAllen commented on #499
I've seen this happen with the tests/containers/cc test on one occasion. It was (same as this) during shutdown after a successful network call.

Here's the output including my debug output from another problem

[code]

[2020-06-23 14:23] prp commented on #510
This makes sense to me. When using this dynamic mode, there should be a switch to clearly distinguish between:

(a) correctness debugging -- here we should only log things related to correctness, e.g. syscalls that return `ENOSYS`, which may be handled by the application but could still result in subsequent incorrect behaviour.
(b) security debugging -- things like `mprotect` etc, which are suppor

[2020-06-23 16:15] davidchisnall commented on #150
This was fixed in #381 .

[2020-06-23 16:15] #150 closed, assigned to jxyang

[2020-06-23 16:19] davidchisnall commented on #180
This was done in #306

[2020-06-23 16:20] #180 closed, assigned to nobody

[2020-06-23 16:23] prp commented on #499
The problem when accessing `http://www.microsoft.com` with curl is that we sometimes get stuck like this:
[code]
This will eventually unblock but we have lost data on the connection, which then leads to a curl error.

A correct execution looks like this:
[code]

So far, I have only observed this for `www.microsoft.com`.

[2020-06-23 17:07] davidchisnall commented on #432
Closing this as a duplicate of #183 and #184.

[2020-06-23 17:07] #432 closed, assigned to jxyang

[2020-06-24 01:41] glorysdj opened #514 "Out of memory when load a openvino model in sw-debug mode"
Hi I am tring to load openvino models with analytics-zoo(https://github.com/intel-analytics/analytics-zoo), I compiled analytics-zoo with openvino follow your example(https://github.com/lsds/sgx-lkl/tree/oe_port/samples/ml/openvino) with
[code]
And tried to load the model squeezenet1.1. (https://github.com/lsds/sgx-lkl/tree/oe_port/samples/ml/openvino/app/public_models)

**I can successfully run i

[2020-06-24 06:28] letmaik commented on #231
Example of where this would have helped: https://github.com/lsds/sgx-lkl/issues/514. We really need to test samples in CI.

[2020-06-24 06:58] prp commented on #500
@hukoyu when you look here (https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=921&view=logs&j=289c1492-6262-5ba1-59e0-a623a2e4156a&t=66dd73f4-5cb1-5a04-1123-cb2adebf7e9d), you will see several compilation failures, which is why LTP2 fails. This only happens sometimes, so I presume that the build environment is corrupted on one of the CI machines?

(cc: @letmaik)

[2020-06-24 06:59] glorysdj commented on #502
problem solved with re-install of sgx-lkl oe with above instructions.

[2020-06-24 06:59] #502 closed, assigned to nobody

[2020-06-24 07:48] ashokchandran opened #515 "[Tests] vmsplice fail"
Test name: vmsplice01

purpose of test: The test is is checking vmsplice ability to splice a user buffer to a pipe and check contents by splicing back from pipe.
code area:
[code]
Failure observed: vmsplice01 fails with errno EFAULT while splicing buffer stored in buffer iov at this address0x7fff40b3eca0
to a pipe
Analysis:
The errno returned is printed by test is EFAULT.
trace log:
[code]
Stack t

[2020-06-24 09:05] glorysdj commented on #514
How is the MEM control in SGX-LKL? Would you please introduce it to me or give me a link of the doc.

I tried to make and install sgx-lkl by modifying https://github.com/lsds/sgx-lkl/blob/oe_port/config/params.conf with 10G Heap
[code]
It seems same error:
[code]

[   10.634930] 5860 total pagecache pages
[   10.634930] 8192 pages RAM
are always the same?

[2020-06-24 10:48] shaikshavali1 opened #517 "[Tests] Syscall "gethostbyname_r" is not returning ERANGE error when we pass small buffer size"
When we executing the LTP test case found that gethostbyname_r syscall is not returning ERANGE when invalid buffer length is passed. As per the man page "https://linux.die.net/man/3/gethostbyname_r" it should return ERANGE error. Please find below text from man page.

 "In addition to the errors returned by the nonreentrant versions of these functions, if buf is too small, the functions will retur

[2020-06-24 11:30] rsrinivas01 opened #518 "[Tests] Issues with signal delivery using tgkill() to threads"
1. Explain what this test is doing, including a code snipped? We need to exact parameters when the system call is invoked ?

In LTP, There are total 3 files for tgkill related tests.

tgkill01.c:
This test verifies that delivery of a signal to a specific thread is successful.
This is done by
 - installing a SIGUSR1 handler which records the current pthread ID.
 - number of threads are started in p

[2020-06-24 13:20] davidchisnall commented on #182
@vtikoo, can you make sure that you're tracking this with the lthread disentangling work?

[2020-06-24 14:35] #178 closed, assigned to jxyang

[2020-06-24 14:41] SeanTAllen commented on #413
https://github.com/lsds/sgx-lkl/pull/519 fixes the hangs I was seeing with this.

[2020-06-24 14:42] SeanTAllen commented on #474
@shaikshavali1 do you have a minimal example that demonstrates the problem?

[2020-06-24 14:45] SeanTAllen commented on #414
This should be fixed by https://github.com/lsds/sgx-lkl/pull/519

[2020-06-24 14:52] letmaik commented on #274
@hukoyu This issue is about the openvino test being slow and that it should be moved to the nightly build.  If there are bugs then please create a separate issue. Are you able to work on the test scripts such that selected slow tests only run during nightly builds?

[2020-06-24 15:18] letmaik commented on #470
This won't work, since your build machine may not be the machine where it runs and may not have SGX at all.

I think the easiest would be to always build with FLC support (and require the Intel SGX libraries to be installed on the build machine). OE loads the SGX libraries dynamically, so if you don't request a quote, nothing bad will happen. I think the launcher should check if the system support

[2020-06-24 15:19] letmaik commented on #465
@prp @jxyang @hukoyu Any comments on this proposal?

[2020-06-24 15:22] letmaik commented on #450
@Zxiaoyu95 Sorry for the late response. I now understand what you're trying to do, but I'm still not sure why you want to do it like that. Could you explain the advantages (from your point of view) in storing the .jar files on an NFS mount instead of putting it inside the disk image loaded by SGX-LKL?

[2020-06-24 15:53] letmaik opened #523 "CI scripts create invalid JUnit XML files"
Example:
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=930&view=logs&j=289c1492-6262-5ba1-59e0-a623a2e4156a&t=cc03c25c-1345-5582-31dc-2b37ba39df2c

See the "Publish Test Results *.xml" step in the "Test: ltp2 (debug, sw, 8 ethreads)" job:
[code]
Because of this, none of the test failures are reported. CI would still fail, but individual tests wouldn't be reported.

@hukoyu Could you

[2020-06-24 16:44] prp commented on #470
If you build OE with FLC doesn't that break enclave creation on a non-FLC machine? The OE documentation says that this needs to be picked at build time. I think that we should allow the user to specify what they want at SGX-LKL build time.

[2020-06-24 16:45] hukoyu commented on #523
@letmaik is there a way to access this agent and look at problem casuing xml? Is it possible for you to attech it here?

[2020-06-24 16:45] prp commented on #465
@Pengpeng-Microsoft can you drive this? Thanks.

[2020-06-24 16:54] letmaik commented on #523
@hukoyu You can find the XML file in the build artifacts. Just download them from there.

[2020-06-24 17:00] hukoyu commented on #523
Found the generated junit xml file:
[code]

[2020-06-24 17:01] hukoyu commented on #523
At line 88 there are non-ASCII characters: €ñ
That causing problem in junit xml publish step in ADO.

[2020-06-24 17:06] SeanTAllen commented on #190
I'm picking up work on this.

[2020-06-24 17:16] letmaik commented on #470
Ah ok I wasn't aware of that. I'd like to avoid a build-time option as that would also mean having to distribute multiple package variants. I'll open an issue in OE to check whether this is really build time and whether it can be avoided.

EDIT: https://github.com/openenclave/openenclave/issues/3178

[2020-06-24 17:16] wintersteiger commented on #470
The OE instructions for non-FLC systems include `-DHAS_QUOTE_PROVIDER=OFF`, so it's disabled at build time.

[2020-06-24 17:19] prp commented on #470
Yeah, OE distinguishes between these cases: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/building_oe_sdk.md#1-determine-the-sgx-support-level-on-your-developmenttarget-system

They provide only binaries with FLC support.

[2020-06-24 17:27] wintersteiger commented on #470
Intel says it's easy to check FLC support at runtime: https://software.intel.com/en-us/forums/intel-software-guard-extensions-intel-sgx/topic/816625

I don't think we want to make our build dependent on that though, as containers will usually run on machines that are different from the dev machines.

[2020-06-24 17:54] letmaik commented on #523
Looks like `€ñ` is at the end of the `/proc/mounts` file. Your PR is fine, but it would be good to check what these characters are. Can you see what their hex encoding is so that we can easily look it up in ascii/unicode tables?

[2020-06-24 17:56] prp commented on #523
Ah, I think I’m not null-terminating the string. I will fix this.

[2020-06-24 18:45] prp commented on #523
@hukoyu I've pushed a fix -- can you try again? Thanks.

[2020-06-24 18:50] letmaik commented on #523
By the way, we still want the fix from this PR.

[2020-06-24 18:53] prp commented on #523
Do you want to merge https://github.com/lsds/sgx-lkl/pull/524 and I will then rebase?

[2020-06-24 19:19] hukoyu commented on #523
Hey @prp waiting pipeline to finish. Found some edge cases and submit fix for it. Once pipeline passes I will merge PR and let you know.

[2020-06-24 19:44] hukoyu commented on #499
@prp @SeanTAllen @davidchisnall  basic network test is failed with wikipedia.com url
Here is the detailed log file:
[basic_network_stdout.log](https://github.com/lsds/sgx-lkl/files/4827580/basic_network_stdout.log)

Here is the stack trace:
[code]

[2020-06-24 19:52] hukoyu commented on #523
This is fixed with PR https://github.com/lsds/sgx-lkl/pull/524
Pr merged.

cc @prp @letmaik

[2020-06-24 19:52] #523 closed, assigned to nobody

[2020-06-24 19:53] prp commented on #499
I think that's a different problem. My guess is that this is happening during shutdown: we are shutting down the enclave, but the network connection is still open. When a new packet arrives, the host fails to write it because the file descriptor has already shut down. As soon as the host has received a shutdown notification, a failed write to the virtio net fd should no longer be fatal.

By the wa

[2020-06-25 02:01] glorysdj commented on #514
Any idea? @letmaik @prp . Thanks!

[2020-06-25 08:19] #283 closed, assigned to nobody

[2020-06-25 08:25] #223 closed, assigned to nobody

[2020-06-25 08:30] prp commented on #376
Fixed by #511

[2020-06-25 08:30] #376 closed, assigned to nobody

[2020-06-25 08:42] letmaik commented on #514
@glorysdj Can you confirm that running the openvino sample without modifications works for you? If so, then to reproduce your issue we need the Dockerfile you used. I'm assuming you changed it.

[2020-06-25 08:52] letmaik commented on #214
@mikbras Do you have any insight on the overhead added by dm-crypt/dm-integrity?

[2020-06-25 09:37] prp opened #528 "Remove SGX-LKL FSGSBASE kernel module"
Since there are patched Linux host kernels with FSGSBASE support, and SGX-LKL emulates userspace FSGSBASE instructions when they are unsupported by the host, it makes sense to remove the (insecure) FSGSBASE kernel module. This requires the following steps:

- [ ] Remove the FSGSBASE module from the source tree (https://github.com/lsds/sgx-lkl/tree/oe_port/tools/kmod-set-fsgsbase)
- [ ] Remove the

[2020-06-25 09:44] prp opened #529 "Populate /proc/cpuinfo with complete and attested entries"
Applications such as OpenVINO (https://github.com/opencv/dldt) parse '/proc/cpuinfo' instead of using `sysconf` (which SGX-LKL supports) to obtain CPU information. Without valid entries in `/proc/cpuinfo', this is broken.

SGX-LKL has some limited support for `cpuinfo` by populating this with valid (static) values:

https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl

[2020-06-25 09:47] prp opened #530 "Add SMP support to SGX-LKL"
We should add the branch with experimental SMP support to the OE version of SGX-LKL after rebasing it on master: https://github.com/lsds/sgx-lkl/tree/smp-support

Future development should be done in a way that maintains compatibility with SMP support.

Here are some current performance results from the non-OE SGX-LKL SMP branch:

| Ethreads | pwrite (to page cache) |              | pread (to page

[2020-06-25 09:47] davidchisnall commented on #529
I think the right way to approach this is to add a hook in LKL that exposes host ops for populating `/proc/cpuinfo`.  We can then populate it from the same source that we use for emulating CPUID and for sysinfo, once we have that information in the attested configuration.

[2020-06-25 09:51] prp opened #531 "Mounting multiple encrypted file systems fails non-deterministically"
When running the encrypted container sample, a kernel stack trace is generated:
[code]

The same behaviour occurs for `make run-hw-integrity`.

This should be fixed by https://github.com/lsds/sgx-lkl/issues/98.

[2020-06-25 09:53] prp opened #532 "Global variables from shared libraries are not linked correctly"
Global variables in shared libraries are not linked correctly inside the enclave. We have a workaround for `getopt`, but we will still require a more permanent solution.

This may require linking `libsgxlkl.so` using `-fPIC` and not `-fPIE`. Currently PIC fails due to OE incompatibilities that need to be investigated.

[2020-06-25 09:55] prp opened #533 "Rewrite launcher (sgx-lkl-run-oe) in C++"
Little is gained by maintaining the launcher implementation (`sgx-lkl-run-oe`) in C. A C++ implementation would be shorter and less error-prone. It would be feasible to do this re-implementation with low effort, given the limited functionality that exists in the launcher.

This would also require rewriting the host implementation of the VirtIO layer in C++.

[2020-06-25 09:56] prp opened #534 "Review LKL configuration to be minimal"
We should review the features compiled into LKL, as defined here: https://github.com/lsds/sgx-lkl/blob/master/src/lkl/override/defconfig

The configuration should be minimal in order to reduce the TCB, yet ensure that key applications are supported.

[2020-06-25 10:01] prp opened #535 "GCC OpenMP applications fail due to direct futex syscall instructions"
When running the OpenMP sample application from [here](https://github.com/lsds/sgx-lkl/tree/master/apps/languages/openmp), it only runs correctly in sw mode. This is caused by a `syscall` instruction executed inside of the enclave:
[code]

OpenMP (at least under gcc) is directly making futex syscalls:

The same problem occurs when running certain version of PyTorch, probably also due to OpenMP.

W

[2020-06-25 10:07] prp opened #536 "Enhance SIGILL handling"
Currently only `cpuid` and `rdtsc` are emulated inside the enclave, and all other illegal enclave instructions result in an error message and `oe_abort()`.

This should be enhanced to instead deliver a SIGILL to the application and have it potentially handle the illegal instruction. The corresponding PR should be accompanied by an appropriate test. Doing this may depend on fixes to the LKL signal

[2020-06-25 10:09] prp opened #537 "Add glibc support to SGX-LKL"
This issue is to track the work on the glibc support for SGX-LKL.

The glibc library is located as the `sgx-lkl-glibc` git submodule.

Currently only the build system is integrated with SGX-LKL. It can be built using `make LIBC=glibc`.

[2020-06-25 10:17] davidchisnall opened #538 "CPUID should return only information provided as part of the attestation"
Currently, CPUID is emulated using an ocall, which allows an attacker to provide any information that they want. We should provide a set of CPU features in the initial configuration (subject to attestation) and whitelist a set of leaf nodes that we'll emulate. In particular, it's important that we don't return the wrong values for current core ID and instead map this to ethread ID.

The same infor

[2020-06-25 15:42] shaikshavali1 opened #542 "[Tests] getgroups system call causing SIGILL when size is “-1”"
This test case tests “getgroups01” system call behavior by passing different parameter values. Below are the test cases.
Sub-Test-Case-1: Check to see if getgroups(-1, gidset) fails and sets errno to EINVAL.

Sub-Test-Case-2: Check to see if getgroups(0, gidset) does not return -1 and gidset is not modified.

Sub-Test-Case-3: Check to see if getgroups(x, gigset) fails and sets errno to EINVAL, whe

[2020-06-25 21:19] hukoyu opened #544 "sgx-lkl direct install instructions in README.md doesn't work: "E: Unable to locate package sgx-lkl-debug""
sgx-lkl cannot be installed following the instructions in https://github.com/lsds/sgx-lkl/blob/oe_port/README.md

https://github.com/lsds/sgx-lkl/blob/oe_port/README.md#a-installing-sgx-lkl-oe

After below command it tells (Fails with sgx-lkl-nonrelease and sgx-lkl as well)
   sudo apt install sgx-lkl-debug

Reading package lists... Done
Building dependency tree
Reading state information... Done
*

[2020-06-25 21:32] #301 closed, assigned to nobody

[2020-06-25 21:54] letmaik commented on #544
You didn't say which package feed you used. I'm assuming the "stable" channel. There hasn't been an official release of SGX-LKL yet, that's why the package doesn't exist. You can use the development channel instead. If you want to drive a proper release process see also https://github.com/lsds/sgx-lkl/issues/237.

[2020-06-25 22:04] hukoyu commented on #544
@letmaik I tried with both. Both fails.
This development channel fails.
echo "deb [trusted=yes] https://clcpackages.blob.core.windows.net/apt-dev/1fa5fb889b8efa6ea07354c3b54903f7 ./" | sudo tee /etc/apt/sources.list.d/azure-clc.list

[2020-06-26 09:38] letmaik commented on #544
Works for me:
[code]

[2020-06-26 10:56] wintersteiger commented on #231
+1. I think this should be p0, it's the first thing prospective users will try!

[2020-06-26 11:25] SeanTAllen commented on #449
It's unclear to me what the resolution of this was that led to this being closed.

 What was the issue with the bad file descriptor message?
Was that the result of some code not correctly handling shutdown?

[2020-06-26 12:49] davidchisnall opened #552 "[Tests] fsync LTP tests should be run"
The patches to run the fsync tests are wrong and so #549 has disabled them.  The tests check things that should work and so we should enable them.

[2020-06-26 15:44] hukoyu commented on #465
@letmaik make sense. I aggree with your recommendation.

[2020-06-26 16:07] prp commented on #449
@hukoyu since you're re-opened this, can you clean up the issue? Output like this is not sufficient to debug the issue:
[code]
Can you:
- include details what the test is doing?
- describe what exactly is failing?
- list the exact call arguments that don't work? (You can use the SGX-LKL syscall tracing features to get more detail.)
- update the issue title to be more descriptive?

We can then tria

[2020-06-26 16:14] wintersteiger commented on #327
This discussion has run a bit dry, we should think about this at some point and see whether we can make the config format truly canonical.

Some notes from an out of band thread: I don't think we ever finished that discussion and just accepted the fact that JSON will never be truly canonical. For instance, strings would still allow leading zeros (although I think I disallowed them in the schema) a

[2020-06-26 16:30] prp opened #555 "[Tests] Rare failure of basic/global_vars_test due to wrong errno"
The following test "basic-global_vars_test-(nonrelease)-(run-sw)-(8-ethreads)" sometimes fails as follows:
[code]

This is odd because the code for the test expects the first `fopen` to return an `errno` of 2, which is what happens: https://github.com/lsds/sgx-lkl/blob/c09fde496d58fe4227bac2a5f0575ae7e602c027/tests/basic/global_vars_test/global_vars_test.c#L89

One guess would be that something el

[2020-06-26 17:11] SeanTAllen commented on #258
I believe this was fixed by @prp's umount fix.

[2020-06-26 17:16] SeanTAllen opened #556 "[Tests] java-network test hw-mode failure"
While testing turning back on some disabled tests, I encountered this error with the languages/java-network test.

I've done no additional triaging yet as it was out of scope for what I was doing.

[code]

Failure logs are:

- https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=989&view=ms.vss-test-web.build-test-results-tab&runId=16266&paneView=debug&resultId=100022
- https://dev.azure.c

[2020-06-26 18:01] SeanTAllen commented on #258
I'm closing this as #551 reenables the test as I believe the umount fix has taken care of this.

[2020-06-26 20:02] prp opened #559 "[Tests] LKL kernel panic in irq_work_run_list()"
Sometimes tests in the CI pipeline fail as follows (OpenVino SW 8 ethreads):

[code]
[code]

The above problem may also explain some of the OE enclave aborts in NON-RELEASE CI tests without verbose kernel logging.

[2020-06-27 09:48] prp commented on #414
Closing this now -- we can reopen if this reappears.

[2020-06-27 09:48] #414 closed, assigned to SeanTAllen

[2020-06-28 00:36] glorysdj commented on #514
@letmaik  I think the openvino sample is good. The issue I facing is I tried a java program to call openvino cpp via jni to do the model loading job. Sure I can provide the Dockerfile, but it depends a java dependencies I built.
[code]

My problem is how to manage the memory. Could you please kindly help to analyze the MEM info in the above posts to guide me how to set the conf? And if you can hel

[2020-06-28 02:45] glorysdj commented on #514
build sgx-lkl with config, heap 10g, stack 400M
[code]

debug with SGXLKL_TRACE_MMAP=1
[code]

[2020-06-28 02:50] glorysdj commented on #514
please check the debug infos, why it use 9946708KB before the first line code `System.out.println("hello world")```
[code]

[2020-06-28 03:56] glorysdj commented on #514
please check the debug infos, why it use 9946708KB before the first line code System.out.println("hello world")
[code]

[2020-06-28 06:36] glorysdj commented on #514
Does sgx-lkl support JNI?

[2020-06-28 08:57] prp opened #560 "[Tests] Failure to shutdown SGX-LKL after lthread_detach2()"
There is an random enclave error during the shutdown sequence that makes tests fail:
[code]

The following code is executed before the init ethread leaves the enclave:
[code]

We need to figure out what could be causing the enclave abort. How can we output details why OE is aborting the enclave?

(cc: @mikbras @jhand2)

[2020-06-28 09:00] glorysdj commented on #514
Several questions here. Thanks for any help.
1. Why always "Killed process 36 (host0)" and 36 times of "killed". Does this mean 36 processes?
2. Dose sgx-lkl support jvm to do jni loading so libs?
3. What do MMAP USED and ALLOCATED mean? Does the OOM happen because ALLOCATED is getting larger than USED? the FREE is not change, then why OOM?

Can we setup a meeting to debug this? Really appreciate

[2020-06-28 09:10] prp commented on #559
The failure happens in `irq_work_run_list`:
[code]

I haven't seen this problem before, and it happens immediately after LKL initialisation. I wonder this was introduced by the timer/clone/futex/LKL scheduler changes.

(cc: @SeanTAllen @davidchisnall)

[2020-06-28 09:17] prp commented on #297
@hukoyu @vamsikrishna935 as part of this issue, can you:
1. explain what this test is doing, including a code snipped? We need to exact parameters when the system call is invoked;
2. pick a more sensible title that explains the problem?
3. run this with gdb and provide a stacktrace that shows what is causing the abort()?

Thanks.

[2020-06-28 09:38] prp commented on #514
@glorysdj

(a) I don't see why JNI shouldn't work. It may be worthwhile to create a minimal Java test with JNI and check that it works fine. (You could then contribute this as a PR to to the CI tests.)
(b) In the above trace, you are running out of LKL kernel memory, which shouldn't happen. The LKL kernel memory is separate from the enclave heap memory configured through `params.conf`. The MMAP tr

[2020-06-28 10:27] glorysdj commented on #514
It seems that SGXLKL_CMDLINE='mem=128M' can solve my problem. Thanks a lot! @prp.
I will try more and try to finish the tests. And finish my integration analyitics-zoo with sgx-lkl asap.
Hope to contribute tests to sgx-lkl.

[2020-06-29 01:37] glorysdj commented on #514
verified. it can work now. close the issue. Thanks @prp  and @letmaik

[2020-06-29 01:37] #514 closed, assigned to nobody

[2020-06-29 07:37] prp opened #564 "[Tests] Rare segfault immediately after enclave_init"
The following has happened in CI for kernel-syscalls-times-times01-(nonrelease)-(run-sw)-(8-ethreads):
[code]

The above problem may also explain other issues immediately after enclave initialisation. I have not observed this for the DEBUG build (yet?).

[2020-06-29 13:05] vamsikrishna935 commented on #297
Duplicate of #169

[2020-06-29 14:37] davidchisnall opened #568 "Separate kernel and userspace components in build system"
Once #183 is done, we need to link the kernel components and strip all symbols except `lkl_syscall` and check that it has no undefined symbols.  This will prevent accidental regressions in the layering cleanup.

[2020-06-29 15:33] hukoyu commented on #169
Dupe of 297

[2020-06-29 15:33] #169 closed, assigned to nobody

[2020-06-29 15:43] hukoyu commented on #564
@peter this also happened for kernel-syscalls-fchown-fchown05-(nonrelease)-(run-hw)-(8-ethreads)
Here is log file:
[Standard_Console_Output (8).log](https://github.com/lsds/sgx-lkl/files/4846523/Standard_Console_Output.8.log)

[2020-06-29 18:10] prp commented on #564
@hukoyu thanks -- it's indeed the same problem. It would be good to see this for a DEBUG build though.

[2020-06-30 01:31] hukoyu commented on #500
[code]

[2020-06-30 01:32] hukoyu commented on #500
[code]

[2020-06-30 01:33] hukoyu commented on #500
[code]

[2020-06-30 01:33] hukoyu commented on #500
[code]

[2020-06-30 01:34] hukoyu commented on #500
[code]

[2020-06-30 01:35] hukoyu commented on #500
[code]

[2020-06-30 01:35] hukoyu commented on #500
[code]

[2020-06-30 01:36] hukoyu commented on #500
[code]

[2020-06-30 01:36] hukoyu commented on #500
[code]

[2020-06-30 01:37] hukoyu commented on #500
[code]

[2020-06-30 02:09] hukoyu commented on #500
9 out of 359 LTP executables fail to build.
I checked all runnable LTP tests cases in .c_binaries_list and none of these failed ones are part of.
So technically these 9 failures doesn't affect any LTP test we are running at the moment.

[code]

[2020-06-30 04:36] hukoyu commented on #224
@prp  @vamsikrishna935  provided code link, detailed problem description, gdb output, parameters. Please let me know if you need anything else.

cc @hukoyu

[2020-06-30 05:14] ashokchandran commented on #515
@prp updated please let me know if any further cleanup is needed for this issue

[2020-06-30 06:55] prp commented on #224
Thanks. Can you:
- update the comment to use proper markdown formatting? For example, code or debugging snippets should be escaped with back-ticks.
- include the permissions of `/etc/passwd` by running `ls -la /etc/passwd` inside the enclave?
- double-check what the uid is that the programs executes with?

I would like to understand if the permissions denied error is correct or not.

[2020-06-30 07:03] prp commented on #515
Thanks. Can you use proper markdown formatting?

Why does the comment mention the SGX device (`/dev/sgx`)?

Since `vmsplice` maps pages, I do not think that it can be supported by SGX-LKL until we start using the LKL mmap implementation. You should mark the test as unsupported by SGX-LKL.

[2020-06-30 07:10] ashokchandran commented on #515
Reference to /dev/sgx is output from gdb-> info proc mappings.
 I was trying to see  this address (0x7fff40b83c70) is in area mapped to /dev/sgx .
I will mark it as unsupported by SGX-LKL @prp

[2020-06-30 07:14] ashokchandran commented on #515
done. marked test with tag not supported feature.

[2020-06-30 07:21] vamsikrishna935 commented on #224
@prp Updated the code format.

Permissions for /etc/passwd:
[code]

The test is running with nobody user: Please find below reference.
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/setfsuid/setfsuid03.c#L23
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/setfsuid/setfsuid03.c#L41
https://github.com/linux-test-project/ltp/blob/master

[2020-06-30 08:25] ashokchandran commented on #405
@prp Updated. Kindly let me know if any further information needs to be updated.

[2020-06-30 08:26] prp commented on #224
The permissions of `/etc/passwd` look fine.

Can you check that it is indeed possible to run as user 'nobody'?

Can you write a program that opens and reads `/etc/passwd` successfully? Can you make that program run as user 'nobody'?

[2020-06-30 08:29] prp commented on #405
Please edit the original comment to use proper markdown formatting.

Can you check if the socket has or has not been connected correctly after `connect`?

What are the exact parameters that connect is invoked with?

[2020-06-30 09:20] vamsikrishna935 commented on #357
@prp : Added code lines and stack trace. Please let me know if anything else needed.
Supporting Code:
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/chmod/chmod03.c#L181

Stack Trace:
[code]
cc @hukoyu

[2020-06-30 10:24] prp commented on #560
Another example of this problem for `kernel-syscalls-getrlimit-getrlimit01-(nonrelease)-(run-hw)-(8-ethreads)`:
[code]

[2020-06-30 10:33] rsrinivas01 commented on #518
@prp @hukoyu I have updated the issue to include more technical information and corresponding gdb traces.

[2020-06-30 10:48] vamsikrishna935 commented on #189
@prp , Please let me know if anything else needed.

mount() syscall is failing while trying to mount the filesystem in read-only mode.
Code snippet:
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/chown/chown04.c#L174%20L175

Stack trace:
[code]
cc: @hukoyu

[2020-06-30 10:51] prp commented on #189
Yes, because it's already mounted. Why wouldn't this fail?

[2020-06-30 11:19] prp commented on #357
Can you provide a minimum C program that exhibits this problem? Thanks.

[2020-06-30 11:30] vamsikrishna935 commented on #236
@prp Please find the below information, let me know if anything else needed.

Failing to create directory under /tmp with non-root user (nobody)
Code snippet: Creating temporary directory with nobody user
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/chmod/chmod03.c#L149%20L157

\tmp permissions:
Command used: SGXLKL_VERBOSE=1 SGXLKL_KERNEL_VERBOSE=0 ../../build/s

[2020-06-30 11:32] vamsikrishna935 commented on #224
@prp Sure peter

[2020-06-30 11:43] prp commented on #518
Thanks. Can you also use proper markdown formatting in the initial comment?

Some of the documented errors should be addressed by the relayering work (e.g. https://github.com/lsds/sgx-lkl/issues/182). For now, this test will be broken and should be deactivated.

[2020-06-30 11:57] prp commented on #236
@vamsikrishna935 can you address @davidchisnall's original questions?

Can you write a minimal C program that exhibits the problem?

[2020-06-30 12:15] davidchisnall commented on #236
So it looks as if `/tmp` is *not* being mounted with the sticky bit set, but is world writeable?  So any user should be able to create files there.

[2020-06-30 12:17] vamsikrishna935 commented on #236
root user is able to create files.

[2020-06-30 12:18] ashokchandran commented on #493
@prp  Updated. Please let us know if any other information is needed.

[2020-06-30 12:22] vamsikrishna935 commented on #297
@prp , Please find the below details. Let me know if anything else needed.

Sgx enclave is getting aborted if invalid address accessed. Must return EFAULT

Code snippet:
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/listxattr/listxattr02.c#L50
https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/listxattr/listxattr02.c#L59
Stack trace:
[

[2020-06-30 13:14] letmaik commented on #544
Please re-open if this is still an issue.

[2020-06-30 13:14] #544 closed, assigned to nobody

[2020-06-30 15:06] prp commented on #297
The function `lkl_access_ok` should return false when an access check has failed instead of calling `sgxlkl_fail`:
https://github.com/lsds/sgx-lkl/blob/c0fd71f52151e76aeb8f605f1137934f031d71bc/src/lkl/setup.c#L1586

[2020-06-30 15:09] prp commented on #493
Signals such as SIGXCPU are unsupported because the LKL scheduler is currently unaware of the time that lthreads spent running. Addressing this issue would require a tighter integration of the lthread and LKL schedulers.

[2020-06-30 15:15] davidchisnall commented on #493
I think the most difficult bit of this is that we don't have time within the enclave at a granularity that's actually useful for this.  If we did, then we could make the lthread scheduler record the time that each lthread runs for and then update the statistics in the LKL scheduler's switch-to routine to collect this when we switch away from a thread.

In the short term, we should make sure that t

[2020-06-30 15:25] shaikshavali1 commented on #517
Test case Description:
This test case is to test the ERANGE error is getting returned when an invalid buffer length is passed.

GDB_Logs & parameters values:
[code]

When we execute the test case on other Linux machine this test case is passed. In sgx-lkl environment "gethostbyname_r" consistently returning ENOENT.

[2020-06-30 17:38] letmaik opened #573 "sgx-lkl-gdb non-functional for non-release build mode"
As discovered in https://github.com/lsds/sgx-lkl/pull/522/, sgx-lkl-gdb does not work at all if debugging symbols for SGX-LKL itself are missing. It should still be possible to debug an application with debug symbols though in this case.

`sgx-lkl-gdb.py` requires at least the following host-side symbols to be available:
- `__gdb_hook_starter_ready` (this is also guarded by `#ifdef DEBUG`)
- `SW_D

[2020-06-30 18:08] prp commented on #517
Can you fix the markdown formatting? Where is ENOENT returned?

[2020-06-30 19:23] shaikshavali1 commented on #474
Test case Description:
-----------------------------
The original test case is to check that the child process is killed due to “broken pipe” or not.
Code snippet (original file): https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/syscalls/pipe/pipe02.c

This test case is modified to work as a single process. In modified code,  below operations are performed.
1.	Signal handler

[2020-06-30 19:44] prp commented on #474
Thanks. Is the SIGPIPE received?

[2020-07-01 00:38] qiyuangong commented on #537
Does it mean that we don't need to re-compile application (compiled with glibc) when running with LKL?

[2020-07-01 05:11] ashokchandran commented on #515
@prp any other information needed here.

[2020-07-01 05:53] prp commented on #537
Yes, but the work on glibc support has not been done yet.

[2020-07-01 05:55] #515 closed, assigned to nobody

[2020-07-01 06:21] ashokchandran commented on #405
@prp With current build i enabled the test. I am seeing a slight change in behaviour. Now connect is failing with ECONNRESET.
The server uses INADDR_ANY. The connect is called with connect(5, 0.0.0.0:5813, 16) .

Server:
[code]
Client:
[code]

[code]
Full trace:
[code]

[2020-07-01 06:26] ashokchandran commented on #405
ifconfig
[code]

[2020-07-01 09:21] davidchisnall commented on #465
@Francis-Liu, please can you drive this?

[2020-07-01 09:56] letmaik opened #574 "Decide whether params.conf should be removed"
From https://github.com/lsds/sgx-lkl/pull/290#discussion_r445473271.

[2020-07-01 10:02] qiyuangong commented on #537
That's great!
Let me know if it is ready. :)

[2020-07-01 10:58] wintersteiger opened #576 "Clock resolutions"
The launcher currently gets an array of 8 clock resolution settings from the host and passes it to the enclave ([here](https://github.com/lsds/sgx-lkl/blob/fdde17433bff3cda32aab43c9175a874005468d5/src/main-oe/sgxlkl_run_oe.c#L709)). If the enclave execution depends on those settings, they need to be attested, or be declared "shared memory" with an attested option to disable that feature.

@SeanTAl

[2020-07-01 12:28] shaikshavali1 commented on #288
Original Test Case Description:
This test case is to test "sendfile09" system call on large files. Below specified sub test case.
	1. call sendfile(2) with offset at 0.
    	2. call sendfile(2) with offset at 3GB.
In both the cases 1GB data is send.
Link: https://github.com/linux-test-project/ltp/blob/c5311d26fb80988de010301c0855a5f65442c6c0/testcases/kernel/syscalls/sendfile/sendfile09.c#L139

Mo

[2020-07-01 12:43] shaikshavali1 commented on #474
@prp, Yes SIGPIPE received.

[2020-07-01 12:44] shaikshavali1 commented on #517
@prp , updated the details.

[2020-07-01 13:16] qiyuangong commented on #287
It working now. Seems like env problem.
Issue closed.

[2020-07-01 13:16] #287 closed, assigned to nobody

[2020-07-01 13:30] SeanTAllen commented on #576
@wintersteiger I don't know. I didn't touch anything related to how those clocks are provided. Only the source of nanos. Someone (could be be) would need to investigate how those resolutions are used in lkl.

[2020-07-01 13:59] wintersteiger commented on #576
I see, no worries. I think they are essentially just reported to callers of `clock_getres`, but the clocks should of course provide the resolution that's claimed.

@prp I think we definitely don't want to claim something we can't provide. What should be the strategy for this - turn it into shared memory with no guarantees, remove it completely, or maybe just support `CLOCK_MONOTONIC`?

[2020-07-01 14:05] SeanTAllen commented on #576
CLOCK_REALTIME is driven by that underlying source of nanos, same as CLOCK_MONOTONIC. So we definitely support both of those. @davidchisnall might know more about the others. I only looked at REALTIME and MONOTONIC as part of the work I did (writing tests to make sure that each worked as expected).

[2020-07-01 14:19] wintersteiger commented on #576
Great, that's good to know! Is that source of nanos configurable in some way or does it depend on ocalls or similar? Since they are nanos, I guess the resolution is by definition also nanos (that's what my host claims too), so we wouldn't need an attested config setting for this.

From where I look at this, only the coarse clocks report a different resolution (1 ms), but it feels like we should be

[2020-07-01 14:32] davidchisnall commented on #576
All of the clocks are now maintained by LKL.  The resolution is a bit fuzzy, it's somewhere between 1ns and 5ms (or worse if we're under attack).  We probably should advertise it as 5ms.  The old code pulling the clock resolutions from the host was used for the non-LKL clock implementation and is dead code now.

[2020-07-01 14:42] prp commented on #576
Isn't the clock resolution of the host clock that drives the new timer a lower bound for the resolutions of the derived clocks inside of LKL?

[2020-07-01 14:51] wintersteiger commented on #576
@davidchisnall that's great, that basically means we can remove that setting from the config and replace it with 5ms for all of them. The theoretical worst case would be higher I suppose, so the max for struct timespec would be another option (basically telling applications not to rely on it). Since the actual resolution is ultimately controlled by the host, do we need an attested setting that let

[2020-07-01 14:56] SeanTAllen commented on #576
the clock inside the enclave is "driven" mostly by the external clock, updating every 5 ms. any call to get the nanos in between those updates will result in 1 nano more than the last call being returned so that monotonic time is maintained.

[2020-07-01 15:03] prp commented on #576
As a defensive measure, we should allow the clock resolution for the enclave to be set to a value that is larger than 5ms. Also, on the host side, the 5ms should be configurable. All of this is probably a low priority issue, so for now, we could use a single hard-coded clock resolution setting.

What is not clear to me is how the Linux kernel calculates the clock resolution. Currently we return th

[2020-07-01 15:24] wintersteiger commented on #576
That's a good question @prp, I'll try and see if I can find out how the kernel does that.

[2020-07-01 15:55] SeanTAllen commented on #576
Re the 5ms, there's an issue open to making that configurable:

https://github.com/lsds/sgx-lkl/issues/185

And it isn't currently 5ms its 500 micros as anything more and the LTP tests for time start to fail.

[2020-07-01 16:53] prp commented on #449
@davidchisnall this keeps failing the `recvmsg/sendto` LTP tests in a non-deterministic fashion. Do we have anybody who can look into this? It may actually be a problem with the test itself -- I'm not sure.

[2020-07-01 17:10] prp commented on #576
@wintersteiger I found this:

I don't know if the above statement is correct but, if so, we can just remove the `SYS_clock_getres` bypass and have the syscall be handled by LKL without further set-up from the host.

[2020-07-01 18:16] wintersteiger commented on #576
Yeah, I found those macros in the kernel sources too, it looks to be completely static.

[2020-07-02 01:50] paulcallen commented on #449
@hukoyu @Pengpeng-Microsoft?

[2020-07-02 05:42] prp commented on #564
This is from PR #570:
[code]
[code]
[code]

Now with the segfault stacktrace from `vio_wait_for_host_event`:
[code]

[2020-07-02 07:36] davidchisnall commented on #576
I doubt very much code depends on this (I have never seen a call to this function for anything other than debugging) but we should make sure that we document it as a potential source of incompatibility.

[2020-07-02 07:42] prp commented on #576
@davidchisnall if we have LKL handle the `clock_getres` syscall, we shouldn't have a compatibility issue. The only problem is that, in an adversarial scenario, an attacker can make the clock precision arbitrarily low, but I don't see an obvious way how we could encode this in the value returned by `clock_getres()`.

[2020-07-02 07:52] letmaik opened #579 "Move all submodules into external/"
@mikbras Once that's done, `argon2` from #577 should be consumed as submodule as well (assuming it didn't require patching).

[2020-07-02 10:02] wintersteiger commented on #576
We could set it to the maximum value (seconds = `UINT_MAX`?). I can image that the host being in control of the ticker-threads is exploitable, but since I've never seen a use of `clock_getres` either, I can't tell whether it could be exploitable in a meaningful way.

[2020-07-02 10:58] prp commented on #576
This may actually break applications. I don't think that applications are generally designed to handle this in a meaningful way.

I suggest to remove the sys_clock_res bypass, remove any of the host/enclave clock resolution code and just document this as a potential security issue.

[2020-07-02 15:50] #177 closed, assigned to davidchisnall

[2020-07-02 21:50] hukoyu commented on #499
Hey @prp is this issue fixed with your PR 525? I didn't see this test failed for a while. Can I close this issue? Is there still a random bug we need to follow up?

[2020-07-02 21:55] hukoyu commented on #413
@SeanTAllen is this issue fixed with PR 519? Can I close this issue?

[2020-07-02 22:06] prp commented on #499
No, this has not been fixed.

[2020-07-03 06:29] hukoyu commented on #449
recvmsg fixed with PR https://github.com/lsds/sgx-lkl/pull/578
sendto will be fixed with another PR as well.

[2020-07-03 06:52] hukoyu commented on #449
Checking also if we have same issue with these patches as well:
recvfrom01
sendto
send01
sendmsg01
sendfile02,05,06,09

[2020-07-04 01:00] hukoyu commented on #405
Fixed with PR https://github.com/lsds/sgx-lkl/pull/587

[2020-07-04 01:00] #405 closed, assigned to nobody

[2020-07-04 01:10] hukoyu commented on #449
recvmsg fixed with PR https://github.com/lsds/sgx-lkl/pull/578
send01 fixed with PR https://github.com/lsds/sgx-lkl/pull/586
sendto01 fixed with PR https://github.com/lsds/sgx-lkl/pull/587
recvfrom01 fixed with PR https://github.com/lsds/sgx-lkl/pull/583
sendfile02 fixed with PR https://github.com/lsds/sgx-lkl/pull/588
sendmsg01 fixed with PR https://github.com/lsds/sgx-lkl/pull/585

sendfile 05,0

[2020-07-04 01:14] hukoyu commented on #560
@prp another example:
kernel-syscalls-flistxattr-flistxattr02-(debug)-(run-hw)-(8-ethreads)

[code]

[2020-07-04 04:15] hukoyu commented on #564
@prp  this also happened for kernel-syscalls-lchown-lchown02-(nonrelease)-(run-hw)-(8-ethreads)
[code]

[2020-07-04 04:18] hukoyu commented on #559
@prp @SeanTAllen @davidchisnall this also happened with
kernel-syscalls-read-read03-(debug)-(run-hw)-(8-ethreads)
[code]

[2020-07-04 04:21] hukoyu commented on #560
@prp this also failed for:
containers-cc-(debug)-(run-sw)-(8-ethreads)
[code]

[2020-07-04 04:24] hukoyu commented on #564
@prp this also failed:
kernel-syscalls-mmap-mmap08-(nonrelease)-(run-hw)-(8-ethreads)
[code]

[2020-07-04 07:49] prp commented on #564
@hukoyu there is no need to add additional logs if they don't show anything new. The issue shows up randomly, so the specific test is irrelevant.

[2020-07-04 07:51] prp commented on #560
@hukoyu the error in the above log isn't caused by this issue but probably rather by https://github.com/lsds/sgx-lkl/issues/499. Can you also move the log there? Thanks.

[2020-07-04 07:53] prp commented on #559
@hukoyu there is no need to add another log if it doesn't show anything new. Note that the failure happens for arbitrary tests.

[2020-07-06 08:47] prp commented on #321
Fixed by #589

[2020-07-06 08:47] #321 closed, assigned to nobody

[2020-07-06 08:51] prp commented on #555
[code]

[2020-07-06 11:22] prp commented on #564
Fixed by #591

[2020-07-06 11:22] #564 closed, assigned to nobody

[2020-07-06 13:23] #413 closed, assigned to SeanTAllen

[2020-07-06 13:43] prp opened #597 "Replace enclave mmap with LKL mmap implementation"
Currently SGX-LKL has a separate mmap implementation, and does not use LKL's `mmap()` for heap allocations. A drawback of this design is that LKL is unaware of userspace allocations and maintains its own fragmented memory space.

Instead, we should remove the enclave `mmap()` implementation and have all allocations be handled by LKL.

Currently, replacing the enclave mmap allocator with the LKL on

[2020-07-06 13:54] prp opened #598 "Add ELF loading support to LKL"
We want LKL to be able to load ELF executables and libraries using the `binfmt_elf_fpdic` format. This format supports the loading of regular ELF binaries on a non-MMU architecture.

This means that LKL must be compiled with `CONFIG_ELFCORE` and `CONFIG_ BINFMT_ELF_FDPIC` support. For this, we must include missing architecture-specific header files for ELF support under `arch/lkl`.

[2020-07-06 14:00] prp opened #599 "Use LKL execv to load ELF binaries"
Once LKL has ELF support, we can use the `execv` system call to load binaries.

This will require changes to the musl dynamic loader to reflect how binaries are loaded.

[2020-07-06 14:58] hukoyu commented on #499
This also failed for:
containers-cc-(debug)-(run-sw)-(8-ethreads)
[code]

[2020-07-06 15:41] hukoyu commented on #449
https://github.com/lsds/sgx-lkl/pull/595 fixed the sendfile 05,06,09 tests.
All of the enabled tests are addressed for bad file descriptor issue and fixed.

[2020-07-06 15:43] prp commented on #499
@letmaik @davidchisnall @paulcallen This issue where we have I/O problems when talking to some network endpoints  (including www.microsoft.com) is breaking more tests. Perhaps we should have somebody look into this too.

[2020-07-06 15:47] hukoyu commented on #449
I did a simple grep in the patches and we also use close() for file descriptors in these syscalls.
It doesn’t mean these patches have problem. We did a quick code review for the patches and determined if we have bad file descriptor issue for these patches or not. Total 21 tests listed below. Let’s first figure out which ones needs to be fixed and then submit PRs to fix them.

-    Fcntl24,25,32
-

[2020-07-06 15:48] hukoyu commented on #449
We addressed bad file descriptor for recvmsg, sendto and all other enabled tests. All tests are reviewed from this perspective and fixed.

[2020-07-06 15:48] #449 closed, assigned to nobody

[2020-07-06 16:03] hukoyu commented on #357
@vamsikrishna935 when can you provide the minimum c program @prp is asking for?

[2020-07-07 07:56] prp commented on #555
Fixed by #592

[2020-07-07 07:56] #555 closed, assigned to nobody

[2020-07-07 18:18] hukoyu commented on #552
fsync01 enabled with PR https://github.com/lsds/sgx-lkl/pull/601

[2020-07-07 20:18] mikbras opened #605 "vicsetup only supports a sector size of 512 bytes"
Currently **vicsetup** only supports a sector size of 512 bytes for crypt devices and hence integrity devices.

[2020-07-07 21:11] mikbras opened #607 "Integrate vicsetup tracing with sgx-lkl tracing"
Vicsetup needs to provide a way to integrate with the SGX-LKL tracing facility. One possibility is to implement a default tracing function based on stdout, and then make that symbol weak in libvicsetup. Then sgx-lkl can provide a strong version that overrides it.

[2020-07-07 21:35] mikbras opened #608 "Format integrity devices in user space"
Unlike **crypt** and **verity** devices (which are formatted in user space), **integrity** devices are formatted in kernel space the first time they are activated (by the **dm-integrity** kernel module). This operation consumes so much memory, that the kernel runs out of memory and panics. Kernel memory can be enlarged to work around this but even for medium-sized disk images, 128MB or more would

[2020-07-07 21:58] mikbras opened #609 "vicsetup: support other cipher types."
Currently **vicsetup** only supports **AES** ciphers. This satisfies current requirements, but other cipher types may be needed in the future.

[2020-07-08 11:08] prp opened #611 "[Tests] munmap LTP test succeeds unexpectedly"
We observe the following failure for `kernel-syscalls-munmap-munmap03-(nonrelease)-(run-hw)-(8-ethreads)`:
[code]
The reason for this should be investigated.

(cc: @davidchisnall)

[2020-07-08 12:54] prp opened #612 "Add full support for printing current stack traces for all ethreads"
**Problem**

PR #589 adds a feature to SGX-LKL where stack traces are printed on `sgxlkl_fail` and for exceptions that cannot be handled by LKL. PR #589 provides a full stack trace for the current lthread. For all other lthreads (blocked or running), it outputs stack traces at the time of the last lthread scheduler context switch (based on the saved %rbp pointers).

**Solution**

Instead, it would

[2020-07-08 15:25] letmaik commented on #608
Note that we'd like to keep supporting sparse in-enclave created disks, which is the equivalent of `--integrity-no-wipe` in cryptsetup. As far as I understood, the dm-integrity kernel module wipes blocks lazily instead of the whole disk at once. Because of that I'm a little surprised that we run out of kernel memory. It sounds more like a leak, but maybe there's another reason behind it.

[2020-07-08 15:45] prp commented on #542
@hukoyu this still needs cleanup.

[2020-07-08 15:58] hukoyu opened #613 "Investigate xml encoding issue for basic-network test in PR #563"
PR: https://github.com/lsds/sgx-lkl/pull/563

There are xml encoding issues here:
https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1246&view=results

basic network test gets wikipedia.org and returned html is output to console which has strange characters in it.
[code]
junit xml file: (Problem is at line 1556 and column 76)
[TEST-basic-network-(debug)-(run-hw)-(8-ethreads)-junit.txt](h

[2020-07-08 16:02] hukoyu commented on #611
@shaikshavali1 can you investigate this please.

[2020-07-08 16:28] hukoyu commented on #542
@shaikshavali1 can you do the cleanup Peter is asking for?

[2020-07-08 17:53] hukoyu commented on #552
fsync02 and fsync03 fixed and enabled with PR https://github.com/lsds/sgx-lkl/pull/602

fsync04 is not supported since
fsync04 test writes directly to block device. It's not proper to use /dev/vda as it can corrupt. sgx-lkl does not have any other block device inside enclave which we can use. So this test is not supported. It will remain disabled.

[2020-07-08 17:53] #552 closed, assigned to hukoyu

[2020-07-08 17:56] mikbras opened #615 "Treat libjson and vicsetup as external packages"
Currently **libjson** and **vicsetup** are located under **sgx-lkl/src/libjson** and **src-lkl/src/vicsetup**. Selected sources are included in the makefile above. Consider treating these as external dependencies (like **libdevmapper** and **cryptsetup**). They could be relocated to **sgx-lkl/third_party**.

[2020-07-08 19:27] #560 closed, assigned to nobody

[2020-07-08 19:36] shaikshavali1 commented on #611
@prp, I tried to reproduce this issue, but not successful in reproducing it.
Is this issue observed consistently/randomly?

(cc: @hukoyu )

[2020-07-08 19:43] shaikshavali1 commented on #542
@prp, Could you please suggest what more information I need to update here?

[2020-07-08 20:48] prp commented on #542
@shaikshavali1
1. Does only the first sub-test fail and the others pass?
2. Please use GDB to find out what the illegal assembly instruction is. Then provide a stracktrace with symbols for the location of the exception.
3. Use proper markdown formatting, e.g. terminal output should be in code blocks etc.
Thanks.

[2020-07-08 20:49] prp commented on #611
@shaikshavali1 So far I've only seen this once. Let's keep this issue open while we see if the problems appears again in other CI runs.

[2020-07-09 14:27] wintersteiger opened #617 "Memory leaks"
OpenEnclave has a debug memory allocator that checks for memory leaks. (It is now enabled in debug mode by default, but depending on what branch you're on it may not be enabled yet or suppressed actively. Build OE with `-DUSE_DEBUG_MALLOC=ON` to enable it.)

When I run the helloworld sample, it reports the following leaks. I think they are all innocuous, but we should stil fix them.

[code]

[2020-07-09 17:02] davidchisnall commented on #611
This test should be failing 100% of the time.  Our munmap implementation unconditionally returns success.  I don't see how this can ever pass.

[2020-07-09 17:19] hukoyu commented on #611
@davidchisnall this is a passing run log:
[code]

[2020-07-09 17:30] davidchisnall commented on #611
If you can reproduce a passing log, please step through the munmap call and find where the success return is coming from.  [The function that implements that syscall for us](https://github.com/lsds/sgx-lkl/blob/7802da2876944967938d2155a83bca04d4faf2a9/src/enclave/enclave_mem.c#L167) returns success unconditionally.  If we are seeing a failure result, we are hitting some very surprising code paths.

[2020-07-09 18:26] hukoyu commented on #611
@shaikshavali1 can you provide info David is asking for.

[2020-07-10 13:55] shaikshavali1 commented on #611
@davidchisnall, This test case performs below sub test cases and expects EINVAL from munmap.
1. Pass some random address.
2. Pass length as 0.
3. Pass lesser length than mapped size.

This test case checks both [return value and error number after returning from the system](https://github.com/lsds/sgx-lkl/blob/9dd6fb9213d9defb3c492f4a29ded2c3158fb838/tests/ltp/patches/munmap03.patch#L14). This err

[2020-07-10 15:29] #528 closed, assigned to nobody

[2020-07-10 17:13] hukoyu commented on #613
This causes warning in pipeline runs and need to be fixed. Not outputting fetched HTML can be a solution?
cc @letmaik @prp @jxyang @paulcallen

[2020-07-13 10:09] letmaik opened #626 "Shrinking LKL binary size"
There is a series of LWN articles which talk about shrinking the kernel through different methods. We should evaluate them in terms of effort, size reduction, and possible regressions.

- "[Shrinking the kernel with link-time garbage collection](https://lwn.net/Articles/741494/)"
- "[Shrinking the kernel with link-time optimization](https://lwn.net/Articles/744507/)"
- "[Shrinking the kernel with

[2020-07-13 14:54] SeanTAllen commented on #626
I would be wary link-time optimization, in the past it has been known to subtly change behavior. I feel comfortable with using LTO when I have a good test suite, but perhaps due to prior scars, it makes me nervous using without a good test suite where I can verify the same behavior with and without LTO.

[2020-07-13 17:01] vtikoo opened #627 "Race condition on deletion of detached cloned threads"
There is a race condition with detached threads created via `clone`, which can cause the parent thread's lthread structures to be free'd >1 times. This happens if the tid in thread_info for the cloned threads has not been restored at the time of `threads_cleanup` in the termination sequence. The [tid](https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/include/asm/th

[2020-07-13 17:02] vtikoo commented on #627
cc @jxyang @davidchisnall

[2020-07-13 17:07] jxyang commented on #627
Note this is an issue existed before lthread untangling.

[2020-07-13 18:53] davidchisnall commented on #627
@vtikoo, I don't see where the tid of the child is set to the parent.

[2020-07-13 19:52] vtikoo commented on #627
@davidchisnall the call to `switch_to_host_task` [here ](https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/syscalls.c#L223) with the child's `task_struct` and then setting the `tid` [here ](https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/threads.c#L201)to the current lthread achieves this.

[2020-07-13 20:25] davidchisnall commented on #627
Aha, I see, thanks.  We need that `switch_to_host_task` to make the thread scheduleable, but I hadn't realised that it unconditionally set the tid.  That won't matter *if* the newly spawned thread does any system call, because the next `switch_to_host_task` will then reset the `tid` to the correct lthread, but in your test, I understand correctly, LKL is shutting down before the new lthread issues

[2020-07-14 16:50] #627 closed, assigned to nobody

[2020-07-14 16:51] davidchisnall commented on #617
Most (all?) of the these look like things that are still live at program exit.  Are any of them real leaks?

[2020-07-14 16:55] wintersteiger commented on #617
They are alive at enclave termination, which OE classifies as "real leaks". We should of course fix them, but I don't think any of them are a "real problem" :-)

[2020-07-14 17:00] davidchisnall commented on #617
We absolutely should not fix most of these.  Leaking them does not harm anything, 'fixing' them requires very careful tear-down to avoid introducing use after free errors and security vulnerabilities.  If we are not freeing TLS on thread destruction, that's a problem.  If we are not freeing TLS because the threads have not exited, that's 100% the right thing to do.

[2020-07-14 17:34] wintersteiger commented on #617
Shouldn't the threads have exited by the time the enclave is terminated? Obviously, we can't free their state while they're still running. I assumed we will at least at some point in the future have a clean shutdown. If we're not planning to do that, we should probably keep the automatic leak checker disabled to avoid confusion.

[2020-07-15 07:29] davidchisnall commented on #617
Shutting down the threads on exit requires them to have a well-defined quiescence order. That’s not impossible, but it is complex to get right and getting it wrong may introduce security vulnerabilities. Doing it at all will introduce a performance penalty on enclave graceful shutdown. I don’t see any value in work that harms both security and performances and whose only benefit is making a tool h

[2020-07-15 08:21] wintersteiger commented on #617
Yeah, I agree, we should keep it off then. Those who need it can enable it if they are looking for specific leaks. I can't find an exception mechanism in OE's current debug malloc, so there's no immediate solution.

[2020-07-15 11:33] davidchisnall commented on #611
`enclave_mmap` should not be setting `errno`, that's a layering violation.  #597 removes that behaviour.  The syscall wrapper will set errno based on the return value of the syscall, so setting `errno` in the enclave layer is a problem anyway.

[2020-07-15 15:29] hukoyu opened #634 "LTP: Fix the patch file names with one pattern"
LTP patch filenames under tests/ltp/patches doesn't have a unique pattern. Fix them with one file name pattern with test name.

[2020-07-16 16:48] SeanTAllen commented on #611
This now fails consistently on #604 which is an improvement. I'm now working on this issue as part of #604.

[2020-07-16 18:03] SeanTAllen commented on #611
So at minimum, the patch that is being applied to this test is wrong.

It was made to attempt to get the test to pass but, unfortunately, the code in question is wrong.
It is always giving a return value of 0 regardless of if munmap succeeded. That's a bug. But the patch tried to adjust for it.

I've fixed that bit and am working on getting it completely correct.

[2020-07-17 11:38] SeanTAllen opened #640 "LTP: corrupt patches are very hard to notice, can lead to "incorrect" test code being run"
If a patch for a test is corrupt, it doesn't fail the build. It will report an error as part of the build process for LTP and continue on. It appears, although I haven't fully diagnosed that it might cause additional patches to not be applied.

The error is pretty much impossible to see in the course of normal output. I had it happen to me and if I wasn't expecting specific output from a given tes

[2020-07-17 11:53] SeanTAllen commented on #617
Should this be closed? It seems there's a resolution to not do anything related to this.

[2020-07-17 12:03] SeanTAllen opened #642 "munmap has incorrect return value for failure"
Currently munmap returns 0 regardless of it if failed or succeeded. That's a bug. From the manpage:

[2020-07-17 12:34] SeanTAllen commented on #611
#641 removes the incorrect test patch. Without that patch, this will always fail. Closing this in favor of #642.

[2020-07-17 12:34] #611 closed, assigned to SeanTAllen

[2020-07-17 12:44] letmaik opened #643 "Replace atomic.h and __atomic usage with stdatomic.h"
The following files include the internal musl header `atomic.h`:
- `src/enclave/enclave_event_channel.c`
  - `__atomic_fetch_add`, `__atomic_add_fetch`, `__atomic_load_n`, `__atomic_compare_exchange_n`
  - Note that no `a_*` functions are used, so the header include is redundant.
- `src/include/enclave/lthread.h`
  - `a_crash`, `a_spin`
- `src/include/enclave/ticketlock.h`
  - `a_fetch_add_uint`,

[2020-07-18 20:00] prp opened #644 "Signals not delivered to correct thread"
The following test uses `rt_sigqueueinfo` to send a signal to a thread: https://github.com/vtikoo/sgx-lkl/commit/7e539eeabb99973f2dda92ded49251db3ea86cab

When running the test directly, it succeeds:
[code]

When run with SGX-LKL, it fails as follows:
[code]

The problem seems to be that the assigned tid for the main thread is inconsistent with the pid.

(cc: @vtikoo @davidchisnall)

[2020-07-18 22:16] prp commented on #644
Ok, the above problem goes away when we remove the [syscall bypass for `gettid()`](https://github.com/lsds/sgx-lkl-musl/blob/13d6039488f62f39a5152a4818bc4529899ee9af/src/internal/syscall.h#L44). (The pid/tid assignment is then still not consistent, but this may be ok.)

The problem then is that the signal is always delivered to the thread calling `rt_sigqueueinfo` and not the thread whose tid is s

[2020-07-19 15:33] prp opened #645 "Some Java DaCapo benchmarks fail with unhandled SIGSEGVs in hw mode"
When running the Java DaCapo benchmarks, some of them fail with unhandled SIGSEGVs as follows:

<details><summary><code>$ SGXLKL_VERBOSE=1 SGXLKL_KERNEL_VERBOSE=1 SGXLKL_MMAP_FILES=Shared SGXLKL_TRACE_SIGNAL=1 sgx-lkl-run-oe --hw-debug --enclave-config=enclave_config-java-dacapo.json java-dacapo.img
</code></summary>

[code]
</details>

I wonder if this is caused by #644 because signals are not de

[2020-07-20 14:37] prp commented on #645
With LKL syscall tracing (ignoring clock_gettime and futex calls):
[code]

[2020-07-21 15:26] vtikoo opened #651 "mremap fails when remapping a page with permissions"
`enclave_mremap` does not take into account the protection settings of the page being remapped - https://github.com/lsds/sgx-lkl/blob/oe_port/src/enclave/enclave_mem.c#L503.

Sample program:
[code]

Above program when run with sgx-lkl-gdb:

[code]

[2020-07-21 15:27] vtikoo commented on #651
cc: @davidchisnall

[2020-07-21 19:34] SeanTAllen commented on #642
@davidchisnall given that the PR that I have fixed this on is hung up, I'm going to do this as its own PR.

[2020-07-22 06:59] vamsikrishna935 commented on #236
Sample code : for reproducing the bug
[code]

[2020-07-22 07:07] vamsikrishna935 commented on #357
Sample code for issue reproducing :
[code]

[2020-07-22 09:02] davidchisnall commented on #236
There is a lot to unpack here that could be broken:

 - Is the nobody user found?
 - Is the setuid to nobody working?
 - Are the filesystem permissions set up such that the UID that corresponds to the nobody user is allowed to create directories?
 - Does the same problem appear with other non-root users, or just nobody?

[2020-07-22 12:22] #642 closed, assigned to SeanTAllen

[2020-07-22 22:58] mikbras opened #659 "LKL does not use x86-64 Linux syscall numbers"
**lkl** and **sgx-lkl-musl** seem to be using the **ARM 64-bit** (aarch64) syscall numbers rather than the **X86 64-bit** (x86_64)  syscall numbers.

While debugging I noticed that **close()** passes **57** to **lkl_syscall().**

[code]

Syscall log from running helloworld:

[code]

[2020-07-23 00:59] mikbras commented on #659
Update: sgx-lkl-musl is getting its syscall number definitions from here:

[code]

[2020-07-23 01:00] vtikoo commented on #659
Its not clear to me where the [generator of that file](https://github.com/lsds/sgx-lkl/blob/oe_port/tools/lkl_bits.c) gets the syscall numbers from.

[2020-07-23 09:48] prp opened #661 "Node.js fails with invalid system call"
When trying to launch Node.js (from Alpine Linux 3.8), it fails as follows:
[code]

Node.js from Alpine 3.9 and 3.10 fails differently:
[code]

@davidchisnall do you have thoughts on the invalid system call mapping with Alpine 3.8? This used to work before.

Ok, it works with a container based on `node:lts-alpine3.9`.

The alpine 3.8 image fails due to a missing epoll_wait syscall.

[2020-07-23 18:18] SeanTAllen opened #665 "src/lkl/posix-host.c contains a mix of tabs and spaces for indentation"
It should be switched to all spaces.

[2020-07-24 04:09] vamsikrishna935 opened #673 "[Test] sigsuspend() is infinitely blocked/suspended the caller."
Original Test Case Description:
     Test Description:
        Verify that sigsuspend() succeeds to change the process's current signal
        mask with the specified signal mask and suspends the process execution
        until the delivery of a signal.

   Test procedure:

     Set a signal handler for SIGALRM.
     Read the current signal mask.
     Set the alarm for 5 seconds.
     Invoke sigs

[2020-07-24 06:55] hukoyu commented on #673
cc @davidchisnall @prp @paulcallen @mikbras

[2020-07-24 11:15] SeanTAllen commented on #673
@vamsikrishna935 this is probably https://github.com/lsds/sgx-lkl/issues/209

[2020-07-24 11:18] prp commented on #673
@SeanTAllen @vamsikrishna935 I think it's rather https://github.com/lsds/sgx-lkl/issues/644.

[2020-07-24 11:19] SeanTAllen commented on #673
@prp maybe both. :wink:

[2020-07-24 11:21] prp commented on #673
I think that the lack of proper stack frames (as mentioned in #644) is the underlying cause of the problems in #209.

[2020-07-24 11:28] SeanTAllen commented on #673
@prp I think you are probably right.

[2020-07-24 13:35] davidchisnall commented on #659
LKL uses a small tweak on the generic Linux syscall numbers.  x86-64 uses a large tweak to those numbers.  Linux does not standardise syscall numbers across architectures.  Musl has code that maps from x86-64 to LKL syscall numbers for callers of `syscall`.

It would be quite nice to move that into LKL and allow LKL to provide an x86-64 or AArch64-shaped syscall table, but given that the only way

[2020-07-24 13:36] davidchisnall commented on #665
It is based on a file from the LKL tree and so uses the Linux coding standards.  Someone with a clang-format config has inserted some lines with spaces in them, but it should be using tabs everywhere.

[2020-07-24 14:01] SeanTAllen commented on #665
It's using spaces almost everywhere at the moment, at least when I looked.

[2020-07-24 14:03] davidchisnall commented on #644
I don't think that we need a proper stack frame to have the correct behaviour, we just need to wake up the correct thread and allow it to pull the pending signal off the stack on syscall return.  Currently, we are handling all signals for any task on syscall return.

[2020-07-24 14:23] prp commented on #644
@davidchisnall I'm not sure. I think that the correct code path for signal handling is to create a stack frame and associate the pending signal with the correct thread (which can be done on the syscall return path -- for x86 it's done during a user/kernel space transition). The pending signal will then be picked up by the scheduler. I think that the problem with our current implementation is that

[2020-07-24 14:41] davidchisnall commented on #665
It wasn't, and the upstream version wasn't, someone must have partially reformatted it.

[2020-07-24 15:49] davidchisnall commented on #370
@prp, I thought you fixed this one?

[2020-07-24 16:25] prp commented on #370
@davidchisnall no, cleaning up the error handling throughout the virtio code is still outstanding. I only did the minimum amount of work to fix https://github.com/lsds/sgx-lkl/issues/491.

[2020-07-27 07:15] hukoyu commented on #634
PR https://github.com/lsds/sgx-lkl/pull/679 submitted to fix this issue

[2020-07-27 07:15] #634 closed, assigned to hukoyu

[2020-07-27 16:28] prp commented on #645
This appears to be caused by the fact that the in-enclave signal handler does not report the faulting address of a page fault correctly to the JVM. With SGX1, there does not seem to be a way to obtain the address that caused the page fault.

[2020-07-27 20:18] prp opened #680 "Incomplete/unsafe signal handling with SGX1"
Background
------------

With SGX1 enclaves, it is not possible to obtain information inside the enclave about #PF and #GP exceptions.

The current behaviour of OE is therefore to not deliver #PF and #GP exceptions to the enclave. This causes problems for applications running with SGX-LKL that need to register signal handlers for SIGSEGV to work correctly, e.g. the OpenJDK JVM.

Therefore the SGX-

[2020-07-28 00:05] daperoni opened #681 "Redis failure under benchmark stress"
I am profiling the redis sample code found in sgx-lkl/samples/containers/alpine/. When running the 'redis-benchmark' tool the redis container fails and attempts to connect time out.

Build sample and run using:
[code]

Output:
[code]

Sample benchmark command:
[code]

Sample output
[code]

The server cannot be pinged and refuses further connections.
Failures are related the the number of requests.

[2020-07-28 13:57] SeanTAllen opened #683 "mmap sets an incorrect errno when trying to mmap a non readable file"
The correct error is EACCES. However, that requires a level of API access that isn't available in syscall_SYS_mmap. Instead it returns EBADF. This is probably relatively harmless. LTP's mmap06 and mmap07 tests in part check that EACCES is returned, they have been updated to return EBADF and should be fixed if/when this issue is addressed.

While possible that some app out there is relying on the e

[2020-07-28 15:09] SeanTAllen commented on #640
Closing as we are no longer using patches.

[2020-07-28 15:09] #640 closed, assigned to nobody

[2020-07-28 15:23] davidchisnall commented on #673
Duplicate of #209

[2020-07-28 15:23] #673 closed, assigned to nobody

[2020-07-28 15:26] SeanTAllen commented on #209
We have another case that appears to be the same in #673. We've closed #673 at this time as a duplicate. Relevant information from #673 is that SIGALRM is never delivered as part of a test to verify that sigsuspend() is working. Additional details are available in #673.

[2020-07-28 15:29] davidchisnall commented on #651
Would be fixed by moving to LKL's mmap, we'll evaluate after September whether we want to do that or try to fix this.

[2020-07-28 15:33] #617 closed, assigned to nobody

[2020-07-28 15:34] SeanTAllen commented on #645
During triaging, it was decided to close this as a duplicate of #680.

[2020-07-28 15:34] #645 closed, assigned to nobody

[2020-07-28 15:47] SeanTAllen commented on #613
during the triage meeting, we agreed that @hukoyu's not outputting fetched HTML is a good solution as output isn't needed for the test.

[2020-07-28 15:50] davidchisnall commented on #517
@shaikshavali1, please put the failure message correctly formatted.

[2020-07-28 16:04] davidchisnall commented on #474
I believe the `write` call should return `EINTR`.  Because signals are not being delivered to the wrong Linux task (#644), we are not setting substituting `EINTR` for the syscall return value in `lkl_syscall`.  This is probably going to be fixed by the fix #644.

[2020-07-28 18:26] praenubilus opened #684 "json comment will hang program execution"
Comment is not officially supported in JSON. If comments has been put in the `enclave-config.json` file, application run through sgx-lkl-run-oe will hang at early stage, enclave init and other kernel information will not be printed out.
sample problematic `enclave-config.json` file:
[code]
The expected result should be exit w/ error code.

[2020-07-28 18:54] paulcallen commented on #659
I would like this to be re-triaged in our Triage meeting where all the folks related to this should be present.

[2020-07-28 23:41] hukoyu opened #685 "LTP: 2 tests enabled in both batches. Disable from batch2"
#/ltp/testcases/kernel/syscalls/statx/statx01
#/ltp/testcases/kernel/syscalls/utime/utime04

Disable them from batch2

[2020-07-29 03:33] hukoyu commented on #685
@shaikshavali1 can you submit a PR to disable these two tests in batch2. They are already enabled in batch1 and lets keep batch1 ones.

[2020-07-29 05:11] vtikoo opened #686 "Threads created via clone() intermittently cause application to hang"
## Test setup:
- Thread is created via `clone()` and the main thread waits on the child tid's futex. Repeat 10k times. https://github.com/lsds/sgx-lkl/commit/843c8d4e8bd516a55752f6dd691c3eb271b38d35

[code]

- H/W: SGXLKL_ETHREADS= 8 on a 2-core machine

## Observed behavior:
Sometimes the test will hang after a few thousand iterations.

Annotated LKL trace logs from a successful vs unsuccessful r

[2020-07-29 05:51] shaikshavali1 commented on #685
@hukoyu, Raised a PR. Link to PR -https://github.com/lsds/sgx-lkl/pull/687.

[2020-07-29 09:42] davidchisnall commented on #686
The cloned thread cleanup bit (t5) should reach this line:

https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/kernel/fork.c#L1307

This  should then reach the `futex_wake` call here:

https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/kernel/futex.c#L1598

Can you try adding some logging to see if the wake is actually happening here:

https://github.c

[2020-07-29 12:43] vtikoo commented on #686
Looking at - `[[    LKL   ]] lkl_syscall(): calling run_syscall() (no=98 task=host1 current=host1)` in the successful trace above, the futex wait syscall is serviced after futex wake.
And in the unsuccessful trace, futex wait has not yet reached the `run_syscall` stage.

I had added traces to the enqueue and dequeue operations on the futex wait queue, they aren't showing up here cause those code p

[2020-07-29 12:50] SeanTAllen commented on #665
I'm going to do this once #655 is merged.

[2020-07-29 15:07] #685 closed, assigned to hukoyu

[2020-07-29 15:09] SeanTAllen commented on #684
There's a PR #688 open to fix this.

[2020-07-29 15:29] SeanTAllen commented on #470
It was decided during triage that this is a "won't fix" but the issue is being left open so that we will document this as an incompatibility.

[2020-07-29 15:38] SeanTAllen commented on #389
We believe this has been fixed. If it hasn't, please reopen.

[2020-07-29 15:38] #389 closed, assigned to nobody

[2020-07-29 15:42] SeanTAllen commented on #380
Closing as a duplicate of #209.

[2020-07-29 15:42] #380 closed, assigned to SeanTAllen

[2020-07-29 15:50] SeanTAllen commented on #371
We took a quick a look at this during triaging.

From

[code]

It looks like this could cause bad things to happen including losing virtio related irqs. We should be retrying if we get a failure. We should be checking the return values and queuing up to try again.

Talk to @davidchisnall if you need more information.

[2020-07-29 15:58] SeanTAllen commented on #357
Closing as duplicate of #236.

[2020-07-29 15:58] #357 closed, assigned to nobody

[2020-07-29 16:03] SeanTAllen commented on #329
As part of triaging, it was decided to leave this as a p1 for now until it is determined if this is a security risk or not. If there is no risk, this should be revisited and lowered in priority.

[2020-07-29 16:19] SeanTAllen commented on #291
As part of triaging, it was believed this was fixed and no longer an issue. If that is incorrect, please reopen.

[2020-07-29 16:19] #291 closed, assigned to nobody

[2020-07-29 16:21] SeanTAllen commented on #277
This has been fixed, the test was turned off.

[2020-07-29 16:21] #277 closed, assigned to nobody

[2020-07-29 16:22] SeanTAllen commented on #274
Closing as fixed. @letmaik @hukoyu if that is incorrect, please reopen.

[2020-07-29 16:22] #274 closed, assigned to nobody

[2020-07-29 16:22] #258 closed, assigned to nobody

[2020-07-29 16:27] SeanTAllen commented on #245
Closing as a duplicate of #680.

[2020-07-29 16:27] #245 closed, assigned to nobody

[2020-07-29 16:29] SeanTAllen commented on #224
This needs investigation to be picked up.

[2020-07-29 16:34] hukoyu commented on #274
@SeanTAllen  yes ML/Openvino test marked as nightly build only.

[2020-07-29 16:39] SeanTAllen commented on #190
At this point, @prp believes this is an efficiency but not correctness problem.

[2020-07-29 16:43] SeanTAllen commented on #274
thanks for the confirmation @hukoyu.

[2020-07-29 16:48] SeanTAllen commented on #151
I'm as assignee so I don't lose track of checking what of this has been done once #604 is merged.

[2020-07-29 16:53] SeanTAllen commented on #144
This is p1 for the design doc at which point this should be reprioritized.

[2020-07-29 16:58] SeanTAllen commented on #120
We believe this is fixed. If that is incorrect, this can be reopened.

[2020-07-29 16:58] #120 closed, assigned to nobody

[2020-07-29 17:10] hukoyu commented on #120
@SeanTAllen  this doesn't look fixed. Just test disabled. https://github.com/lsds/sgx-lkl/blob/oe_port/.azure-pipelines/scripts/disabled_tests.txt#L7
I think we need to reopen this issue.

[2020-07-29 17:21] prp commented on #120
@hukoyu can you reactivate the test and then we can see if it still fails? It runs fine for me locally.

[2020-07-29 18:08] hukoyu commented on #120
@prp submitted PR https://github.com/lsds/sgx-lkl/pull/690

[2020-07-30 15:51] davidchisnall opened #694 "Test issue"
Checking that all of the triage-related automation works.

[2020-07-30 16:17] agowdamsft opened #696 "Add scone related licensing in the legacy branch read me file"
Files to mention references to scone license

https://github.com/lsds/sgx-lkl/blob/34b520e41de2069c24d1515bca6d40aa8eded7c8/src/sgx/sgx_sign.c
https://github.com/lsds/sgx-lkl/blob/9baedf3fa74a0b96e30a6c1fe318b020ae95012c/src/host/sgx_hostcall_interface.c
https://github.com/lsds/sgx-lkl/blob/9baedf3fa74a0b96e30a6c1fe318b020ae95012c/src/host/sgx_hostcalls.c
https://github.com/lsds/sgx-lkl/blob/maste

[2020-07-31 05:15] shaikshavali1 opened #700 "[TEST]: Signal mask is unset for the signal during its handler execution"
**Original Test case:**
Use sigaction(2) to set a signal handler for SIGUSR1.
There are 4 test cases:
1) Set SA_RESETHAND and SA_SIGINFO.
   When the handler runs, SA_SIGINFO should be set.
2) Set SA_RESETHAND. When the handler runs,
   SIGUSR1 should be masked (SA_RESETHAND makes
   sigaction behave as if SA_NODEFER was not set).
3) Same as case 2, but when the handler is established,
   sa_mask

[2020-07-31 09:13] shaikshavali1 commented on #542
@prp ,
1. Yes, only the first subtest case is failed, other subtest cases are passed.
2. Please find below GDB logs.
[code]
when I verified the file (after mounting and chroot the sgxlkl-miniroot-fs.img.master) "/usr/include/fortify/unistd.h". It looks this code is verifying the size. If size is <0 it invokes build in trap and which intern causing the illegal instruction.

[code]

3. I corrected t

[2020-07-31 10:28] davidchisnall commented on #179
@SeanTAllen, please close this if it's done.

[2020-07-31 10:44] SeanTAllen commented on #179
I don't believe this is done until #604 is done.

[2020-07-31 12:02] SeanTAllen opened #702 "test"

[2020-07-31 12:03] #702 closed, assigned to nobody

[2020-07-31 15:28] davidchisnall commented on #694
Automation didn't add any tags.  Sad.

[2020-07-31 15:28] #694 closed, assigned to nobody

[2020-07-31 15:30] davidchisnall commented on #696
I didn't see this issue because it wasn't assigned to me, but PR #701 should fix it.

[2020-07-31 15:30] davidchisnall commented on #700
I believe this is a duplicate of #644.

[2020-07-31 15:31] SeanTAllen commented on #694
But it will for new ones after you merged my fix this morning.

[2020-07-31 16:17] hukoyu commented on #207
We added new tests and we are using env variables in config file and it is working as expected.
I also verified that this test is passing with sw and hw mode. I will submit a PR to enable test.

cc @letmaik @davidchisnall  @paulcallen

[2020-07-31 22:07] #207 closed, assigned to hukoyu

[2020-08-03 08:35] #696 closed, assigned to davidchisnall

[2020-08-03 13:24] davidchisnall commented on #371
May be related to #559

[2020-08-03 13:32] KenGordon opened #709 "Everything that is bad about signal passing"
Catch all for fixes to hopefully solve a whole bunch of actual bugs.

[2020-08-03 13:36] davidchisnall commented on #303
This code should preserve all of the registers: https://github.com/lsds/sgx-lkl/blob/076d809e88c517bb4cb3765a3fa9b32c73056d5e/src/enclave/enclave_signal.c#L75

[2020-08-03 14:11] davidchisnall commented on #352
@wintersteiger, I think you fixed this with the attested config?

[2020-08-03 14:39] #684 closed, assigned to wintersteiger

[2020-08-03 14:43] wintersteiger commented on #352
That's right, this is covered by the new [host_import_env](https://github.com/lsds/sgx-lkl/blob/12456657c01b039405960b64dc30b398294988d7/tools/schemas/enclave-config.schema.json#L511) setting. In debug mode a few tracing variables ([these](https://github.com/lsds/sgx-lkl/blob/12456657c01b039405960b64dc30b398294988d7/src/main-oe/sgxlkl_params.c#L3)) are automatically added to that list.

[2020-08-03 14:43] #352 closed, assigned to nobody

[2020-08-03 15:32] davidchisnall commented on #681
May be related: #499

[2020-08-03 15:40] davidchisnall commented on #709
We run signals here: https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/syscalls.c#L234

This does a loop here, popping signals off the pending list and delivering them:

https://github.com/lsds/lkl/blob/86819ac5446e1fa31ca67db68aa165bbf07b90a9/arch/lkl/kernel/signal.c#L68

There are a few things wrong here:

 - Signals are not delivered to the right thread,

[2020-08-03 15:53] davidchisnall commented on #681
Thanks for the report.  Marking this as p1, but hopefully it's the same as #499.

[2020-08-03 16:10] prp commented on #709
Our code for injecting signals into LKL looks quite different from that of other Linux architectures:

- We handle signals by directly invoking a handler here: https://github.com/lsds/lkl/blob/eecb2a320f3f2dd85942526df0a3d3abd402912c/arch/lkl/kernel/signal.c#L38
- In contrast, other Linux architectures create a signal frame and then call into the kernel: https://github.com/lsds/lkl/blob/86819ac544

[2020-08-03 17:25] davidchisnall commented on #709
This is the correct thing to do for sync signals because they are delivered to an lthread, but the Linux scheduler may be pointing at the wrong thread.  This won't work with async signals because they'd run in the correct host task but the wrong lthread.

[2020-08-03 18:38] SeanTAllen commented on #665
It was decided on #711 to make spaces the default for posix-host.c like the rest of the project.

[2020-08-03 18:55] #661 closed, assigned to nobody

[2020-08-03 19:50] prp commented on #198
@vtikoo do you have any suggestions how I can trigger this?

[2020-08-03 21:12] SeanTAllen commented on #651
I'm unassigning myself as this got labelled p2.

[2020-08-03 21:13] SeanTAllen commented on #474
Unassigning myself as this is now a p2.

[2020-08-03 21:43] vtikoo commented on #198
@prp you could try the repro steps in #686. There is a difference in how threads are created in this issue and 686, i.e directly calling lthread_create vs clone() - but there is a good chance the root cause for hanging is the same.

[2020-08-04 00:03] #665 closed, assigned to SeanTAllen

[2020-08-04 04:00] jxyang opened #713 "Not able to write to files in the root disk image"
I modified helloworld sample so that in addition to reading from "helloworld.txt", it also writes to the file. Note the enclave_config.json file indicates this is a writable disk image:

{
  "args": [
    "app/helloworld"
  ],
  "root": {
    "readonly": false
  }
}
However, after I run the sample, and mount the disk image, file "/app/helloworld.txt" is not updated.

This seems to be blocking code

[2020-08-04 05:37] letmaik commented on #713
Could you change the existing hello world test (or some other test) to reproduce it in CI?

[2020-08-04 05:56] jxyang commented on #713
Sure. Let's see how it goes.

https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=1671&view=results

[2020-08-04 05:56] prp commented on #198
@vtikoo Hmm, I would first like to understand if this is indeed an old problem or a new regression introduced by clone. I ran the above test with 16 ethreads in hw mode in a loop, and so far had 10,000+ successful runs. If we can't repro this, we should close this issue and instead focus in #686.

@letmaik have you ever seen this happen again? Any suggestions on how to repro this?

[2020-08-04 06:00] prp commented on #210
@wintersteiger since we're choosing the number of TCS dynamically, this is a non-issue now, right? Can this be closed?

[2020-08-04 06:12] prp opened #714 "Need sensible default for number of ethreads"
Problem
--------

The current default for the number of ethreads is 1, as defined [here](https://github.com/lsds/sgx-lkl/blob/e8ad968fd25b410d37418263e370aa7eebbd924f/tools/schemas/enclave-config.schema.json#L376). This is not a good idea, as by default there would be no true parallelism when executing an application.

Solution
--------

We should decide on what the right default should be.

Befor

[2020-08-04 06:16] jxyang commented on #713
Oops, the branch seems have a wrong submodule. Anyway, it's easy to replace helloworld with the following code and see the crash in your local env.
[code]

[2020-08-04 06:40] prp opened #715 "[Tests] fallocate test fails to clean up correctly"
The LTP test `kernel-syscalls-fallocate-fallocate05-(debug)-(run-hw)-(8-ethreads)` can show the following failure:
[code]

I believe that this is a problem with the test. Looking at the code [here](https://github.com/lsds/ltp/blob/a98cdcbaa7da9adcbb0c684e6c602c408f031771/testcases/kernel/syscalls/fallocate/fallocate05.c#L80), it doesn't seem that all the created files are deleted before the direct